[2019-02-11 21:30] #1805 closed

[2019-02-12 12:38] #1528 closed

[2019-02-12 14:33] #1726 closed

[2019-02-13 17:40] btovar opened #2024 "golang binding Makefile's do not have a proper install"
make install does nothing for the golang bindings. I modify them to print a warning, but they should be installed to proper locations.

[2019-02-13 19:38] trshaffer commented on #2015
Closing, as there are no changes necessary here

[2019-02-13 19:38] #2015 closed

[2019-02-22 21:00] nhazekam opened #2026 "R Bindings for Work Queue"
Approached about interest in R bindings and to see what the distance exists to export them.

Prior to this we may need to explore the ease of export, stability of version/binding, and what examples would look like in R.

[2019-02-23 22:06] dthain opened #2027 "condor_submit_makeflow"
Greg Thain writes:

[code]

As it turns out, we have a command with exactly that name that does what is expected.  If you installed cctools, it's already there, however:
1 - It isn't documented in our manual or man page index.
2 - It hasn't been tested in a while, and could use a quick run through that it behaves as expected.  (In particular, I wonder if the right thing happens when the makeflow i

[2019-02-23 22:06] dthain commented on #2027
@trshaffer please a look at this one.

[2019-02-25 19:44] dthain commented on #2027
@btovar I think you already started on this, yes?

[2019-02-25 19:51] btovar commented on #2027
Yes

[2019-02-26 16:03] dthain commented on #2026
@trshaffer @charleszheng44 as discussed yesterday, please get this going this week.

[2019-02-26 16:05] dthain opened #2029 "Split Off Work Queue Examples"
@nhazekam @btovar please split off the work queue examples into a separate repo.  I think that includes apps/*, allpairs, wavefront, sand, and perhaps others.  Please complete this weekl.

It looks like Ben already created it: https://github.com/cooperative-computing-lab/work-queue-examples

[2019-02-26 16:15] dthain opened #2030 "Synchronize Help/Options/Manual"
While looking into some recent user issues, I realized some of our help info is getting rather unsynchronized and difficult to read.

Everyone listed here, please take **one** of the following tools.  (Add a comment here so we know which one you are working on)

@trshaffer @nkremerh @nhazekam @charleszheng44 @btovar

- makeflow
- makeflow_viz
- work_queue_factory
- work_queue_status
- catalog_serv

[2019-02-26 16:18] nkremerh commented on #2030
I will take work_queue_factory.

[2019-02-26 16:19] nhazekam commented on #2030
I will take makeflow.

[2019-02-26 16:19] trshaffer commented on #2030
I'll take the `catalog_server`

[2019-02-26 16:23] charleszheng44 commented on #2030
I will take wq

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-28 04:08] charleszheng44 commented on #2026
I just added the swig r binding for work_queue and chirp #2033. @trshaffer Could you help me to review the PR ?

[2019-03-01 15:09] btovar opened #2035 "Test suite outside compilation process"
Develop a test suite that runs outside the building process of CCTools. These test should run on the result of make install.

[2019-03-07 15:44] nhazekam opened #2036 "Makeflow caching reused files."
Makeflow has foreknowledge of which files are reused and therefore cache-worthy in Work Queue. It would be useful to define this information and exploit this.

This would require changes to:
- `makeflow_module_caching.c` to identify files as unique vs cache-worthy. This could be done in `makeflow.c`, but this would be a good enhancement to do in a module.
- `batch_job_file.c` to define a file as c

[2019-03-11 12:44] dthain commented on #2030
@charleszheng44 @nhazekam Please finish up your doc updates today so we can wrap this one up today and move forward...

[2019-03-13 20:53] yudongqiu opened #2039 "work_queue compile error with Python 3.7"
Hi there, we recently encountered a project that uses a python package requiring `Python=3.7`. I tried the latest release `7.0.10` but got some errors during compilation.

I used the following configure command:
[code]

Then when I tried to compile by `make`, I got the following error related to swig:
[code]

The python environment was created using Anaconda. Could you please let me know if there

[2019-03-13 20:56] yudongqiu commented on #2039
As a side note, in a previous PR https://github.com/cooperative-computing-lab/cctools/pull/2002 @btovar helped us to get it work with Python 3.6, and he mentioned that Python 3.7 was not working at that time

[2019-03-14 12:52] btovar commented on #2039
I was able to reproduce with anaconda/python3.7.

[2019-03-14 15:31] btovar commented on #2039
Could you give https://github.com/cooperative-computing-lab/cctools/pull/2040 a try?

[2019-03-14 16:46] yudongqiu commented on #2039
@btovar Thanks a lot for the quick fix! I can confirm that it now compiles successfully and I'm able to import the `work_queue` module in python 3.7. 👍

[2019-03-14 16:47] btovar commented on #2039
Excellent, thanks for letting us know. Please don't hesitate to contact us if you find any other issue.

[2019-03-29 18:34] annawoodard commented on #1617
@btovar I think we should consider re-opening this, considering Parsl/parsl#771

[2019-04-05 18:47] nhazekam opened #2049 "Makeflow allow grouped containers/wrappers"
In discussion on the forum, the question has been raised about the ability apply specific containers per rule or to a group of rules. I think this could be addressed in a number of ways, but we may decide that this functionality breaks with Makeflow's design, hence opening this to discussion.

There is a related issue #1542, but this views the topic more widely including containers.

First Questio

[2019-04-16 19:58] trshaffer opened #2051 "JX Object Implementation"
Continuing from #2050

There are several related issues with objects in JX at present:
- non-string keys are allowed (this is forbidden in JSON)
- duplicated keys are allowed (this is allowed in JSON, but awkward to work with)
- the implementation uses an ordered list of pairs

For point 1, there weren't objections to restricting JX to string keys. Doing this, however, we might lose the ability to

[2019-04-25 15:06] rkkautsar opened #2052 "resource_monitor: Compile error in OSX 10.14"
From the [manpage](http://ccl.cse.nd.edu/software/manuals/man/resource_monitor.html):

But it's not packaged in the stable version for Darwin. So I tried to compile it manually:

[code]

`make`-ing the whole cctools executes successfully but `resource_monitor` is not generated. This is different from when I tried to compile it in Linux. Is this intended?

[2019-04-25 15:18] btovar commented on #2052
@rkkautsar, thank you for your report. Yes this is expected, as the resource monitor is no supported in Darwin, as it will not really measure anything useful. It is a documentation bug...

[2019-04-25 17:37] #2052 closed

[2019-04-29 21:57] yudongqiu opened #2054 "work_queue Python Binding Error with Swig 4.0"
Dear Developers,

I recently found that the `conda-forge` channel has upgraded `swig` to version 4. This caused the `work_queue` package to have an error:
[code]

Steps to reproduce:

1. `conda create -n cctools`

2. `conda activate cctools`

3. `conda install -c conda-forge python swig`
  (This will install swig 4.0 now by default)

4. Clone the latest cctools repo from github, using the master b

[2019-04-30 12:02] btovar commented on #2054
@yudongqiu, thanks for your report!

[2019-04-30 13:19] btovar commented on #2054
some notes: cctools + pyton3.6 + swig4.0 work correctly. Trying now python3.7.

[2019-04-30 14:32] btovar commented on #2054
@yudongqiu  commit  1274c8b093c712621f56e853c00d08310956a9e2 seems to work for me. Could you give it a try?

[2019-04-30 14:43] yudongqiu commented on #2054
@btovar Thanks a lot for the quick fix! I can confirm that the error is solved now!

[2019-04-30 14:44] btovar commented on #2054
Excellent, thanks for letting us know!

[2019-04-30 14:44] #2054 closed

[2019-05-01 13:50] btovar opened #2056 "use docker images with condor docker universe"
Trying to run a docker container for a work queue application at CHTC fails, as user processes do not have permissions to talk to the docker daemon.

However, docker can be executed automatically by condor when using the docker universe.

I propose to add a --docker-condor=someimage to condor_submit_workers and later to work_queue_factory, that if present, sets universe = docker, and the image nam

[2019-05-08 13:00] lidd77 opened #2059 "Got a erro to execute this command 'makeflow -T sge bwa.mf'"
HI,
my file 'bwa.mf‘  included the makeflow contents as the below :
bwa=～/bwa-0.7.17/bwa
genome=～/hg19_UCSC_pure.fa
bam_dir=～makeflow_tests
samblaster=～/samblaster
samtools=～/samtools

$bam_dir/abc.markduped.bam : ~/SRR_1.fastq.gz  ~SRR_2.fastq.gz
	$bwa mem -M -t 16 $genome ~/SRR_1.fastq.gz ~/SRR_2.fastq.gz | $samblaster | $samtools view -Sb - > $bam_dir/SRR.markduped.bam

when I executed this com

[2019-05-08 13:21] lidd77 opened #2060 "Unable to run job: job rejected: the requested parallel environment "smp" does not exist. Exiting."
HI,
 My command is "makeflow -T sge " ,but  a error happened as the below ,
"Unable to run job: job rejected: the requested parallel environment "smp" does not exist.
Exiting.",
I checked my cluster ,there is no smp ,so how to solve this problem ??? thanks !:
 $ qconf -spl
mpi
mpich
orte

[2019-05-08 14:35] nhazekam commented on #2060
The first thing you can try is to add the `--safe-submit-mode` option `makeflow -T sge`. This will disable to resources from being specified, which is the source of the error, as `smp` is the configuration we use at Notre Dame.

If this resolve the current issue, but creates another, the `-B, --batch-options` lets you pass a string that will be append to the batch submission after Makeflow's creat

[2019-05-09 00:39] lidd77 commented on #2060
HI, @nhazekam
I really got another error，　＇Unable to read script file because of error: error opening CORES=1: No such file or directory， notice: job submission failed: no output from sge＇，
after I executed "makeflow --safe-submit-mode -T sge " ,
How to resolve this ?

[2019-05-09 00:48] lidd77 commented on #2060
HI, I checked makeflow help information,
--safe-submit-mode          Excludes resources at submission.(**SLURM, TORQUE**),
My cluster system is /opt/gridengine/, so  I shouldn't add  --safe-submit-mode ??

[2019-05-09 01:02] lidd77 commented on #2060
@nhazekam
when I tried this below command ,I also met a error : 'qsub: Numerical value invalid!
The initial portion of string "sge.wrapper" contains no decimal number '
makeflow  -T sge  -B '-pe mpi' justBwa.mf ,

I’m not sure whether MAKEFLOW cannot run in my cluster system .

[2019-05-09 02:20] lidd77 commented on #2060
I have told my cluster manager to open the mpi for me , so I can use mpi now .
for BATCH_OPTIONS,  the below setting is  correct  for specifying  many parameters  ?
BATCH_OPTIONS=-q  qu.q  , -cwd, -V , -e xx.e , -o xx.o

[2019-05-09 16:02] #2056 closed

[2019-05-09 16:26] nhazekam commented on #2060
@lidd77 can you email me at nhazekam@nd.edu so I can get more concrete information about your setup. In addition to this can you also try adding the `-d all` option to Makeflow so we can get a better sense of what Makeflow is submitting. Do you have a command that successfully submits on your resources? We can then use this as a reference for what information needs to be submitted.

[2019-05-09 19:05] nhazekam opened #2061 "Work Queue task result not set in submission failure."
If a task submission failures submitting files (such as the case where the file does not exist) the tasks result should be set to reflect that, setting a result of:
WORK_QUEUE_RESULT_INPUT_MISSING = 1

Currently, the debug is reporting FILE does not exist, but does not set task result. This leaves the task with a return code of -1 and result of 32 which is :
WORK_QUEUE_RESULT_UNKNOWN = 4 << 3

@bt

[2019-05-10 15:53] btovar commented on #2061
Solved by #2062

[2019-05-10 15:53] #2061 closed

[2019-05-10 17:09] #2039 closed

[2019-05-10 17:09] #2030 closed

[2019-05-24 14:55] nhazekam commented on #437
This created a patch for the issue, but limits the size of `off_t` to `INT_MAX`.
If the bindings are used and a file piece starts or ends at a location higher than `INT_MAX`, the
bindings will throw an `OverflowError'.

[code]

The size of end_byte for this was 2795680124.
This can be addressed by handling `off_t` as something larger than an integer, but I am not sure what is suitable.

[2019-05-24 16:23] btovar opened #2067 "work_queue_worker cannot execute tasks if PATH does not include 'sh'"
See line:
https://github.com/cooperative-computing-lab/cctools/blob/2a3e285a59a59d9158378db1bcd86976e1cc427e/work_queue/src/work_queue_process.c#L273

Problem becomes evident when the worker runs inside docker images that do not set PATH.

A quick fix is for the master to set per task the environment variable PATH to /bin.

[2019-05-24 16:31] btovar commented on #437
It seems we need to check whether a compile-time macro definition before we can switch to off64_t. I am investigating how to that safely.

[2019-06-03 17:54] #2067 closed

[2019-06-07 14:22] tjdasso opened #2072 "Work Queue Manual Resource Specification needs updating"

[2019-06-07 14:24] tjdasso commented on #2072
The Work Queue User Manual states that only one resource needs specification per task in order to limit its use (under Running Multiple Tasks per Worker). However, I needed to specify all three resource requirements in order to run multiple tasks on one worker.

[2019-06-07 14:30] dthain commented on #2072
Great, please make a PR!

[2019-06-07 15:12] btovar commented on #2072
fixed by #2073

[2019-06-07 15:12] #2072 closed

[2019-06-24 18:07] dthain opened #2077 "Update Release Procedure"
@btovar please update our release/deploy procedure to match the current infrastructure, and also include whatever bits are needed to update the Conda deployment package:
http://ccl.cse.nd.edu/internal/deploy.php

[2019-06-24 18:44] dthain commented on #2029
@nhazekam How close is this to complete?

[2019-06-24 18:47] dthain commented on #2000
Appears to be fixed.

[2019-06-24 18:47] #2000 closed

[2019-06-24 18:49] dthain commented on #1804
The moment has passed...

[2019-06-24 18:49] #1804 closed

[2019-06-24 18:54] dthain commented on #1605
Not a development priority...

[2019-06-24 18:54] #1605 closed

[2019-06-24 19:09] dthain commented on #1617
@eamonlm when you are ready, please share instructions here and make a PR with the Condor config files in `cctools/packaging/conda`

[2019-06-24 19:09] dthain commented on #1617
Condor -> Conda

[2019-06-24 19:33] dthain opened #2078 "Some Travis Builds Fail at Curl Step"
Autobuilds for cctools fail in the test stage on docker image cclnd/cctools-env:x86_64-centos7 when the basic makeflow test attempts to use curl to download capitol.jpg from ccl.cse.nd.edu.

For example:
https://travis-ci.org/cooperative-computing-lab/cctools/builds/549881197?utm_medium=notification&utm_source=email

This appears to be some sort of environmental problem, like dns or networking not

[2019-06-28 11:58] btovar opened #2082 "resource_monitor under reports cpu time for cmsRun in RH7"

[2019-06-28 16:00] btovar opened #2083 "blacklist hostnames from wq factory config file"
Feature request from Andrew Wightman (NDCMS). Currently, blacklisting can only be done by an API call from the master, that then communicates the blacklisted hosts to the catalog.

Adding a blacklisted hostname in the config file does not necessarily has to be communicated to the catalog.

[2019-07-01 16:13] dthain commented on #2083
Sounds like a useful idea.  Should the file be periodically re-scanned?  What about removing previously blacklisted workers that are no longer listed?

[2019-07-01 16:56] btovar commented on #2083
The file is already periodically re-scanned, thus if a host is removed from the list, such host will not be blacklisted anymore.

[2019-07-02 13:46] btovar commented on #2082
The bug was not related to RH7 or cmsRun. It was a recent change to the monitor that discarded the cpu time of finished 'grand' children processes. We simply noticed first on cmsRun/RH7.

[2019-07-02 13:46] #2082 closed

[2019-07-03 14:07] dthain commented on #2078
To clarify, this is an intermittent problem.

[2019-07-03 14:10] dthain commented on #1617
@eamonlm please post the conda install instructions here, so interested parties can give it a test out.

[2019-07-03 14:24] annawoodard commented on #1617
I'm happy to test when this is ready. Very excited about this work!

[2019-07-03 15:06] eamonlm commented on #1617
Hello all, sorry for the delay. To install via conda, use the command "conda install -c cclnd cctools".

[2019-07-03 22:33] annawoodard commented on #1617
Conda installation went off without a hitch! Thanks, @eamonlm! Output below.

[code]

[2019-07-05 14:11] eamonlm commented on #1617
Thank you @annawoodard!

[2019-07-05 14:14] dthain commented on #1617
@leeping would you like to give this a try?

[2019-07-05 17:49] nhazekam commented on #437
Re-addressed in #2070. `off_t` is now converted to `long long int` from python instead of `int`.

[2019-07-05 17:49] #437 closed

[2019-07-05 17:49] nhazekam commented on #1872
@stemangiola Please let us know if this is still an issue for you.

[2019-07-05 17:49] #1872 closed

[2019-07-05 17:51] nhazekam commented on #2060
@lidd77 Please let us know if this is still an issue for you.

[2019-07-05 17:51] #2060 closed

[2019-07-08 16:12] btovar opened #2086 "run tests against binaries, not against source directory"

[2019-07-10 17:19] dthain opened #2089 "Python Dependency Analysis"
Now that we have a better understanding of packaging technologies, what we need are three commands that wrap up our capabilities in a way that can be used by WQ easily:

- python_package_analyze -- should examine a python program statically and produce a JSON output file that describes the python version, all dependent modules and their versions.
- python_package_create -- should take that JSON fi

[2019-07-10 17:20] dthain opened #2090 "Resource Monitor Update to Catalog"
Update the resource monitor so that it can send a periodic UDP message to a catalog server to report the resource consumption of a task over time.  Then, demo using Parsl + WQ.

[2019-07-10 19:07] dthain opened #2091 "Pip Packaging"
@eamonlm please put together a python pip package for cctools (in addition to the conda package) and let's see how that compares in time/complexity/usability/etc.

[2019-07-11 13:28] tjdasso commented on #2089
We have implemented the bare-bones structure of each program, but we are trying to determine where python_package_create should be run to get the best performance. Would it be better for python_package_create to take the JSON file at the worker and create the environment there, or is it more efficient to run python_package_create at the master and send a packed version of the environment to the wo

[2019-07-11 14:52] btovar commented on #2089
@tjdasso: both options are interesting, and in terms of efficiency, it does depend on the nature of the tasks. If there are at most a handful of different environments, then it is more efficient to create them at the master. Since also this seems the approach easier to test and deploy, I would choose it as the next step.

Creating the environment at the worker has the advantage that the environmen

[2019-07-16 16:35] dthain opened #2094 "Catalog Update Processing Bug"
We have periodic instances of garbage data in the catalog server, starting on May 14th and continuing through July.  It appears to happen to several different kinds of updates, both wq_master and chirp, where we get lots of duplicated JSON fields, almost as if the parser/printer is stuck in an infinite loop.

JX per se hasn't changed much recently, except for the jx_merge PR, which was merged in A

[2019-07-16 16:37] dthain commented on #2094
It just occurred to me that our backup catalog is running a slightly older version, so we can do some differential diagnosis:

backup-catalog.cse.nd.edu is running this binary:

[code]

And it received the same UDP update at the same time and recorded it as follows:

[code]

So, that narrows it down: it's definitely a problem at the catalog (not the sender) and it's the result of a code change sin

[2019-07-16 16:37] dthain commented on #2094
@btovar adding you for context

[2019-07-16 21:07] dthain commented on #2094
FYI, I'm running the backup catalog with the new binary and MALLOC_CHECK enabled to see if something unusual happens.

[2019-07-16 21:15] dthain commented on #2094
Oh wow, it exploded quickly, but didn't throw a malloc error.

I am returning the backup catalog and the main catalog back to the last known good catalog binary until we figure this out.

[2019-07-16 21:24] dthain commented on #2094
Ok, I think I see the problem now.
The issue here is that the _semantics_ of `jx_merge` changed.

When a recovering `jx_database` is attempting to read its log, it invokes `jx_merge` to combine an M log event into an existing record:
https://github.com/cooperative-computing-lab/cctools/blob/master/dttools/src/jx_database.c#L286

It is expecting that `jx_merge( {a:A,b:B,c:C} , {a:X} , 0 )` will thr

[2019-07-16 21:27] dthain commented on #2094
And now going back to look at the PR discussion, I think the underlying issue here is that there are two different use cases for `jx_merge`, so fixing it for one breaks the other.

@trshaffer does that make sense to you?

[2019-07-17 14:09] trshaffer commented on #2094
Yes, that seems to be what's happening here. I can reproduce a minimal case.

First, start up a catalog server with logging and history turned on.

    $ catalog_server -L updates.log -H history

Now we can send some data,

    $ echo '{"data":5}' | nc -u 127.0.0.1 9097
    $ echo '{"data":6}' | nc -u 127.0.0.1 9097
    $ echo '{"data":7}' | nc -u 127.0.0.1 9097

which gives the expected result on

[2019-07-17 14:10] trshaffer commented on #2094
Also note that this weirdness can occur without stopping the server (and thus without `jx_merge()` being called). Starting over with a clean history and fresh server,
we can send a weird update to do the same thing.

    $ echo '{"data":5,"data":6,"data":7}' | nc -u 127.0.0.1 9097
    $ curl http://127.0.0.1:9097/query.json
    [
    {"name":"localhost","lastheardfrom":1563371042,"address":"127.0.

[2019-07-17 14:11] trshaffer commented on #2094
This happens because the code to compute the difference between an update and the current state ([here](https://github.com/cooperative-computing-lab/cctools/blob/master/dttools/src/jx_database.c#L213)) loops over every entry in the old object and adds an update record for each occurrence. Each update record does a lookup on the new object to find the updated value,
which results in many copies of

[2019-07-17 14:18] dthain commented on #2094
That's a good summary of the problem. Can you please look at all of the call sites of jx_merge and determine the behavior desired by the caller?
- Mode 1: jx_merge(A,B) should simply concatenate all entries in A and B  (fast)
- Mode 2: jx_merge(A,B) should override fields in A with properties from B (possibly slow)

[2019-07-17 14:34] trshaffer commented on #2094
There don't seem to be any cases in the code where it's actually desired to retain the previous entries; the caller always expects Mode 2, and functions like `jx_lookup()` don't show observable difference.

[2019-07-17 14:46] dthain commented on #2094
That suggests reverting to the prior behavior.
What was the reason for the new implementation, initially?

[2019-07-17 15:01] trshaffer commented on #2094
There was a correctness issue that was causing problems with Makeflow/JX. The previous implementation reversed the order of pairs during a merge (and *sometimes* removed duplicates, making it potentially expensive). If objects didn't allow for duplicated keys, this would be fine. `jx_insert()`, however, simply prepends, so overriding a value and then calling `jx_merge()` would cause the previous v

[2019-07-17 15:26] dthain commented on #2094
Ok, how should we fix it?

[2019-07-17 15:39] dthain commented on #2086
Dup of #2035

[2019-07-17 15:39] #2086 closed

[2019-07-17 15:44] trshaffer commented on #2094
Depends on how we proceed with the implementation of objects. If we switch to another structure like a hash table, these problems disappear. Alternatively, we could add checks to `jx_merge()`, `jx_insert()`, the parser, and possibly elsewhere so that duplicate keys aren't created in normal circumstances, but this would make these operations more expensive.

I'm also wondering if we could add a fun

[2019-07-17 15:55] dthain commented on #2094
Tim, we need a targeted fix with high confidence so we can get the catalog server back in action,
and issue a bug fix release ASAP.  What would be the most focused change that accomplishes this?

[2019-07-17 16:00] trshaffer commented on #2094
Adding a `jx_compact()` function and calling it during the log replay after each merge ([here](https://github.com/cooperative-computing-lab/cctools/blob/master/dttools/src/jx_database.c#L290)) would fix this bug without requiring heavy changes to the codebase or requiring a decision about #2051.

[2019-07-17 16:19] btovar opened #2096 "custom id field for records in the catalog"
Records in the catalog server are identified by a key constructed from the address and port of the client. This limits the use of deltaDB as a client cannot submit and query different types of records. The particular desired use case is a client sending resource information per function. In the current implementation there is not a way to separate historical information per function.

For this use

[2019-07-17 19:58] #2027 closed

[2019-07-18 15:45] dthain opened #2100 "Future Factory Evolution"
The current `work_queue_factory` is effective at starting WQ workers, but we are seeing an increased need for scaling up arbitrary applications.  Evolve the factory into a more generalized tool that does the following:

_Start N instances of program P on batch system B using container C.  The number of instances may vary according to the concurrency needs expressed in the catalog and modulated by

[2019-07-18 15:49] dthain commented on #2090
Nice demo, please add this as an option to the C resource monitor so we can use it from all environments.

[2019-07-18 17:06] dthain opened #2101 "Makeflow Wrappers Cleanup"
Change all remaining makeflow wrapper modules into hook modules, and then remove the wrapper abstraction.  (Remove any dead wrapper modules while you are at it.)

[2019-07-19 21:48] dthain commented on #2049
IMHO, there is really only one way to get this in the current architecture:  Allow individual rules to state a property like `container` or `sandbox`, and then modify the hook infrastructure slightly to fire individually on jobs with that property.  The user would still have to mark them individually in some way.  (Or perhaps by category.)

Looking farther ahead, we could thing of a different sort

[2019-07-22 14:08] nkremerh opened #2106 "Work Queue Factory --wrapper-input Does Not Transfer Input"
The file specified by --wrapper-input is correctly added to Condor submit script (when using Condor), but the file is not copied over to the /tmp directory used to submit the workers.

[2019-07-22 20:32] trshaffer opened #2107 "JX String Formatting"
cc @dthain @btovar @nhazekam

In using JX for some of our workflows, the current string formatting is sort of a rough patch. Especially with highly-parametric workflows, things can get ugly for users (see the [BWA example](https://github.com/cooperative-computing-lab/makeflow-examples/blob/master/bwa/bwa.jx)). We currently have a few ways to work with strings:
- `format()` function
- Concatenation

[2019-07-23 13:43] dthain commented on #2107
Hmm, I can definitely see that this is easier to read.

After thinking about it some more, I'm not so concerned about `f"xyz"` vs. `f("xyz")`  My main concern here is that it's taking us back to shell strings and all that attendant mess with escape characters, dollar signs, etc, that causes so much confusion when substituting complex values.  For example, a substituted JX expression could validly

[2019-07-23 13:44] dthain commented on #2107
Ah, but now I see that my example would eliminate the use of shell constructs in the command, so you couldn't do output redirection, pipes, etc in the command.  Hmm.

[2019-07-23 14:17] dthain opened #2108 "Spack Packaging"
Good project for a new student:

Learn about the Spack packaging tool used by HPC centers:
https://spack.readthedocs.io/en/latest/

Make a Spack package for cctools, test it, and get it added to the Spack repository.

[2019-07-23 14:33] tjdasso commented on #2089
I have submitted a PR #2109 with the basic implementation of these scripts. It also includes a README file that contains more details on their structure and some of the problems that I have run into/outstanding problems.

[2019-07-23 14:44] trshaffer commented on #2107
In the string part, you **must** double braces to include them literally, e.g. `f"literal {{ brace"`. If you use a brace in the expression part, it will be matched within the expression. A stray brace would throw an error at parse time. This differs from shell-style quoting in that when you hit an opening brace, you parse a full expression and ensure that the next character is a single closing bra

[2019-07-23 14:44] trshaffer commented on #2107
JavaScript Template Literals
-------------------------------------

As another point of comparison, JS supports a similar thing, branded as [template literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals). The functionality is pretty much the same as f-strings, but with quoted with backticks rather than prefixed.
1. `` `String ${VAR}, number ${42 + i}` ``
2.

[2019-08-05 06:51] gilv opened #2115 "Python module work_queue not found"
I am not sure if this is an issue or some step I missed.
I successfully installed cctols from source. I also added PYTHONPATH and pointed it to cctols/lib/python-2.7/site-packages

However when I use Python and write

      from work_queue import *
I am getting

    ImportError: No module named work_queue

How to install work_queue into Python?

[2019-08-05 11:16] btovar commented on #2115
Gil,

If you are installing from source, you have to make sure that you have 1) [swig](http://www.swig.org); and the 2) development files for your version of python, which are readily available if you installed python from source or from conda, or as packages from linux distributions, such as, python-devel or python-dev.

You can check whether the configure script is picking up the necessary files

[2019-08-05 13:35] gilv commented on #2115
@btovar thanks...that's very helpful. So I am using pyenv and following your suggestion:

gilv1-mac:cctools gilv$ ./configure | grep -E '(python|swig)'
checking for /usr/bin/swig...no
checking for swig.../usr/local/bin/swig
checking for /usr/bin/python2...no
checking for /usr/bin/python...yes
python version is 2.7.10
checking for /usr/include/python2.7/Python.h...no
*** skipping python bindings su

[2019-08-05 14:07] btovar commented on #2115
Yes, in particular the lines:
 checking for /usr/include/python2.7/Python.h...no
 *** skipping python bindings support

indicate that the development files for python are missing.

[2019-08-06 05:44] gilv commented on #2115
@btovar thanks a lot. Issues is resolved.
As a general note for those who use pyenv, you need to provide python path, for example

     ./configure  --prefix ${HOME}/cctools --with-python-path=/Users/me/.pyenv/versions/2.7.15

[2019-08-06 05:44] #2115 closed

[2019-08-06 11:26] btovar commented on #2115
Excellent, thanks for including the note!

[2019-08-08 18:07] dthain commented on #2094
Fixed.

[2019-08-08 18:07] #2094 closed

[2019-08-08 18:09] dthain commented on #2077
More broadly: write out our overall deployment procedure that maps out the steps from issuing a release in github to seeing packages deployed in condor/pip/spack/cvmfs, and then performing tests on the installation.

[2019-08-08 18:12] dthain commented on #2035
Some initial thoughts:
1 - Move all of the `*/test` files into `/test`.
2 - Modify the tests to rely on the existing PATH and PYTHONPATH, rather than relative paths.
3 - Take the various test programs (`auth_test`,`jx_test`,etc) out of the source tree, and put them in the test tree to be built upon demand, not installed.
4 - Set up the top-level test script to perform a make install, then set the

[2019-08-08 18:16] dthain opened #2118 "Convert Documentation to readthedocs.io"
- Explore technology/language choices at readthedocs.
- Convert existing manuals/pages to new format (try to automate as much as possible.)
- Update `make docs` to build pages automatically.
- Connect cctools repo to readthedocs to deploy docs automatically as needed.

[2019-08-12 17:43] trshaffer commented on #2107
From the discussion today in the meeting, here's a summary of the string formatting functions in Python. F-strings are covered above, and there's also the `%` operator that's similar to the current JX `format()` function. There is also the [`string.format()`](https://www.python.org/dev/peps/pep-3101/) method, which follows a specification syntax similar to f-strings. Python's full formatting langu

[2019-08-15 15:09] btovar opened #2121 "LOCAL access control in parrot's mountlists has no effect"
We can either remove it in favor of --disable-filesystem, or make it work exactly as --disable-filesystem.

I like the latter, as it shields a mountlist against services included when compiling parrot.

[2019-08-15 16:27] trshaffer commented on #2121
It looks like it would be a fairly small fix for `LOCAL` to skip services on specific paths. I'm not sure if there are cases where this is useful, but specifying via mountlist rather than `--disable-service` would allow finer control over service dispatch.

[2019-08-20 12:53] #2121 closed

[2019-08-21 13:31] dthain opened #2124 "Parsl-WQ Throughput Improvements"
The initial Parsl-WQ integration works, but has low task throughput due to the cost of pickling.  Figure out how to improve the performance.

@tjdasso has a working solution and a PR against parsl, but there is still some cleanup work to push the PR through to completion:
https://github.com/Parsl/parsl/pull/1152

[2019-08-21 13:38] dthain opened #2125 "Do we still need cctools-build-list?"
Proposed:
- Change the travis config to go back to the default: email the PR author with results, show results on the PR page.
- Delete the cctools-build-list listserv.

@btovar what do you think?

[2019-08-21 13:41] btovar commented on #2125
Sounds good to me.

[2019-08-22 14:12] #2125 closed

[2019-08-23 13:57] btovar opened #2128 "Prune fails if base_dir directory does not exist"
E.g.:

prune = client.Connect(base_dir = "/some/dir")

fails if /some/dir  does not exist.

client.Connect should create the directory if necessary.

[2019-08-23 13:59] btovar opened #2129 "Prune does not import python modules correctly"
The following works:

[code]

This does not:
[code]

But they are expected to work in the same way.

[2019-08-26 15:20] btovar opened #2131 "Missing parrot man page: parrot_mount"
It is referenced in the parrot manual, but the corresponding m4 file does not exist.

[2019-08-26 15:21] btovar opened #2132 "Missing parrot man page: parrot_run_hdfs"
Similar to #2131, the man page is referenced, but we do not have the corresponding m4 file.

[2019-08-26 15:23] btovar opened #2133 "perl api doc's are not being generated"
It seems that when we re-organized the bindings directories, we did not update the paths in doc/Makefile for perl.

E.g., for work_queue, they point to src/perl, rather than src/bindings/perl

[2019-08-29 13:57] btovar opened #2134 "perl chirp test has out of date paths"
Similar to #2133, paths point to the previous location of the bindings `src/perl`, not to `src/bindings/perl`

[2019-08-30 13:26] btovar opened #2137 "rmonitor and chirp test for perl and python are skipped by travis in centos6 and centos7"
These tests should be executed, and not skipped.

[2019-08-30 16:38] btovar commented on #2090
Done in #2114.

[2019-08-30 16:38] #2090 closed

[2019-08-30 16:39] #2059 closed

[2019-09-04 16:47] benclifford commented on #2124
Parsl/parsl#1152 has been merged

[2019-09-05 08:34] gilv opened #2139 "how to display results from replica exchange example?"
I executed example from
https://github.com/cooperative-computing-lab/cctools/tree/master/apps/wq_replica_exchange

It worked great, generated bunch of output files, like

         ww_exteq_nowater1.0-1.pdb
         ww_exteq_nowater1.0-1.vel
          ......

Can someone please explain me how "read and understand" results of this replica exchange example? I know that VMD tool can be used to show gr

[2019-09-05 13:47] dthain commented on #2139
Hello @gilv - Glad you got Repex working.  I'm afraid we aren't experts on the PDB data; this code was developed with some collaborators who do molecular dynamics that knew how to deal with the data.  That said, I think that just simply viewing a PDB file in VMD should not be difficult (once VMD is installed).  There are a number of introductions to VMD online, here is one that I found:
https://ww

[2019-09-05 18:30] #2107 closed

[2019-09-06 14:47] #2129 closed

[2019-09-06 14:47] #2128 closed

[2019-09-06 15:54] #2134 closed

[2019-09-06 15:55] btovar commented on #2134
Fixed with #2140.

[2019-09-06 16:28] btovar commented on #2096
Fixed by #2113

[2019-09-06 16:28] #2096 closed

[2019-09-06 16:56] #706 closed

[2019-09-07 10:18] #2139 closed

[2019-09-09 18:52] zsurma opened #2141 "Work Queue User's Manual C example will not compile"
When working through the Work Queue User's Manual, attempting to compile the C example with command:
[code]
it fails and yields this error message:
[code]

[2019-09-09 18:54] btovar commented on #2141
Could you try:

[code]

?

It seems that a `-lz` is missing from the manual.

[2019-09-09 18:55] zsurma commented on #2141
@btovar That works perfectly, thanks!

[2019-09-09 18:56] dthain commented on #2141
@zsurma now you can make a PR to update the manual.  :)

[2019-09-09 19:55] zsurma commented on #2141
@dthain Is the manual page `cctools/doc/workqueue.html`? It seems like [line 94](https://github.com/cooperative-computing-lab/cctools/blob/master/doc/workqueue.html) already shows a corrected version of the command (with `-lz` flag).

[2019-09-09 19:59] dthain commented on #2141
Aha, it does.  Perhaps the latest version just hasn't been deployed to the web yet.

[2019-09-10 14:49] rykermcintyre opened #2142 "Typo in makeflow manual"
In /cctools/doc/makeflow.html on line 282, "produceds" should be "produces"

[2019-09-11 16:33] btovar opened #2146 "on resource exhaustion, Work Queue only returns logs from the resource monitor"
Currently Rachael from ND CMS has some tasks which fail given resource exhaustion. The exhaustion may be a result of a bug in the tasks, as the task are running for an unexpected 20+ hours before failing. On failure all the user logs the tasks writes are not brought back to the master, which makes debugging more difficult.

[2019-09-11 16:37] dthain commented on #2146
What's the behavior that we should expect:
Should the task outputs be returned to the user?
Should the task be retried or returned to the user?

[2019-09-11 16:56] btovar commented on #2146
It is not clear to me what we want.

In the final retry, we most likely want to treat it as any other task failure, that is, return everything to the user.

With intermediate retries, it is not clear. We do not want to return them as final outputs, as they will be overwritten by further retries. However, we do want to return them to the user in some way to ease debugging, perhaps with something si

[2019-09-12 13:55] dthain opened #2147 "Document Python Installs"
We already have a Conda package and repository, but it isn't visible to end users.  Highlight this (and pip when it's ready) in the install instructions, so people can actually use it.

[2019-09-12 13:57] dthain opened #2148 "Deploy Jupyter and Work Queue Together"
Figure out how to deploy Jupyter and Work Queue together, and develop a simple and easy set of instructions.

Users will initially "play" with Jupyter/WQ applications by running a single worker locally to test things out, then deploy additional workers on clusters via the usual ways.

Add in some graphing mechanism so that users can easily and interactively see the number of workers, tasks running

[2019-09-12 13:58] dthain opened #2149 "Convert Everything to Python 3"
Work through all of our various python modules and programs, and ensure that everything is ready and working on Python 3.

[2019-09-18 13:22] btovar opened #2150 "wq factory --worker-binary is broken"
The factory copies the executable at --worker-binary, but always tries to execute `"./worker_queue_worker"`, instead of the value of `worker_command`.

[2019-09-18 16:10] #2150 closed

[2019-09-18 22:38] wmayner commented on #2147
This would be great!

[2019-09-20 17:11] dthain opened #2153 "Update Amazon Driver to Reuse Machine Images"
Update batch_job_amazon, so that when jobs end, the virtual machine is held at the ready, until (possibly) another job comes along to use it.

Challenge: Make sure that too many machines don't sit idle in the module.

@epyifany

[2019-09-23 19:24] rykermcintyre commented on #2148
I don't think I can assign myself to this, unless I'm missing something. @dthain @btovar could one of you look into doing this for me?

[2019-10-03 21:16] btovar opened #2157 "nest resource_monitor invocations to group sets of processes"
Currently with nested invocations of `resource_monitor`, the inner instance does not do any monitoring, and simply executes its payload. With this, the outer instance does all the work.

A better solution is to let the inner instance to monitor the processes of its payload, and communicate summary information to the outer instance.

[2019-10-07 18:03] dthain opened #2159 "Ensure Package is Relocatable"
In order to play well with new build environments (like Spack, Conda, etc) we must ensure that the whole cctools build package is relocatable.  That means, even if built and installed in the path /home/xxx, there should be nothing wired into the binaries regarding that path.  It should be possible to copy the whole package to /somewhere/yyy and (after setting the PATH) expect the software to work

[2019-10-09 14:06] #2142 closed

[2019-10-09 20:48] epyifany opened #2161 "Makeflow Gets Stuck if Submit Always Fails"
Without specifying a remove job limit of 20(-J 20), makeflow -T amazon will be stuck in a loop of requesting for instances and amazon responding InstanceLimitExceeded.

This is a specific issue on amazon as other sources hold on to the jobs submitted.

It would be helpful to adjust part of makeflow_run in makeflow.c to wait after continuously failing to submit.

YY

[2019-10-10 15:32] dthain opened #2164 "Update Install Instructions"
Now that the readthedocs format has been merged into master, we need to do a major update of the install instructions.  Here is what I want it to look like:

1 - Install via Conda
2 - Install via Spack
3 - Install via Git
4 - Special Cases (as already given)

And then let's drop the source/binary tarball installation instructions, I think that's outmoded.

@tjuedema please make a PR with the Spack

[2019-10-10 15:42] dthain commented on #2161
More generally, the problem here is that Makeflow expects any failure in batch_job_submit to be a temporary one: if submit fails, then makeflow just keeps retrying.

This assumption is not correct in the case of Amazon EC2, when the user has run out of available instances: batch_job_submit() will just fail over and over again.

What needs to happen is that, in the case of submit failure, the makef

[2019-10-10 15:43] #2141 closed

[2019-10-10 15:44] #2124 closed

[2019-10-10 17:27] #2118 closed

[2019-10-10 17:28] dthain opened #2166 "Update Webpage with Doc Pointers"
Once the new build methods are in place and documentation is switched over, edit the main website so that existing URLs are redirected to the readdthedocs page, and the deployment methods are highlighted as the primary ways to get the software.

[2019-10-10 17:34] dthain opened #2167 "Coffea and Work Queue"
Build a prototype of the Coffea data analysis framework using Work Queue as an underlying execution method.

(@zsurma you are already working on this, but I want to make sure it is captured in git properly.)

Ben's initial instructions:
[code]

[2019-10-24 18:53] btovar opened #2178 "WORK_QUEUE_PREEXIST is confusing in the API documentation"
We use it internally to prevent `WORK_QUEUE_THIRDGET` files to be deleted, however, a user should not be able to set it manually. This is not clear from their documentation:

[code]

In fact, `WORK_QUEUE_THIRDGET` does not care whether the file is in a shared filesystem, only that the path is accessible at the worker.

Currently, it seems that  `WORK_QUEUE_THIRDGET | WORK_QUEUE_SYMLINK` is closer

[2019-10-25 03:22] 97xuzy opened #2179 "Memory Leak - work_queue.c rmsummary"
I have discover 3 possible memory leak with `struct rmsummary` when testing my work_queue master with valgrind.
I have compiled with both v7.0.19 library and the library from compiling master branch, the problem exist in both.

In `work_queue.c`, function `add_task_report()`, line ~3266,
`tr->resources = rmsummary_copy(t->resources_allocated);`
a `struct rmsummary` is allocated via `rmsummary_copy

[2019-10-25 11:03] btovar commented on #2179
Thanks for your report!

[2019-10-25 14:31] 97xuzy commented on #2179
Well, that was quick, thanks, I was hoping I could contribute :smile:
I just recheck with the PR, the errors are gone.

[2019-10-25 14:31] #2179 closed

[2019-10-25 14:34] btovar commented on #2179
John, you already did contribute with your report! Thanks again.

[2019-10-25 15:54] btovar opened #2182 "makeflow memory leaks"
The new code for jx parsing and hooks has some memory leaks as detected by valgrind. From `cctools/makeflow/example` these can be seen with:

[code]

[2019-10-28 13:26] btovar opened #2185 "makeflow's DAG_FILE_TYPE_TEMP does not delete temp files"
Test TR_makeflow_040_sub_workflow_jx.sh is not deleting its arguments file `makeflow.jx.args.XXXXX` created [here](https://github.com/cooperative-computing-lab/cctools/blob/29c37b84c3b34a471907cfc079f97678914077e1/makeflow/src/makeflow.c#L216).

That file is registered with `makeflow_hook_add_input_file` as a temp file, but that does not seem to have any effect.

[2019-10-28 17:16] nkremerh opened #2188 "Work Queue Transaction Log Task Done can be Ambiguous"
When using Work Queue's transaction log, it lists when tasks are finished (done) with the following syntax:

`# time master-pid TASK taskid {RETRIEVED|DONE} {SUCCESS|SIGNAL|END_TIME|FORSAKEN|MAX_RETRIES|MAX_WALLTIME|UNKNOWN|RESOURCE_EXHAUSTION limits-exceeded} [resources-measured]`

The SUCCESS tag is ambiguous because failed tasks can report SUCCESS upon completion. SUCCESS in this case refers to

[2019-10-28 17:31] dthain commented on #2188
@btovar can you suggest who to evolve the log format?

[2019-10-28 18:22] btovar commented on #2188
Transactions results map then enum work_queue_result_t. A SUCCESS in work_queue_result_t indicates that the task ran to completion, regardless of the exit code.

I think we can safely add the exit_code after resources-measured, as:

.... DONE SUCCESS {} exit_code
or
..... DONE SUCCESS {....actual resources when measured....} exit_code

[2019-10-29 14:12] btovar opened #2190 "wq factory -Twq is confusing"
With -Twq, the factory runs itself as a work queue master, that is, in order to run workers, a worker should connect to the factory, which is unexpected behavior.

I propose to either remove -Twq from the factory, or make it the same as -Tlocal, which is most likely the expected behavior.

[2019-10-29 14:17] dthain commented on #2190
Did someone get bitten by this mistake?

I would like to retain the possibility of running WQ on top of WQ (meta-pilot jobs) but I'm ok if we make that option harder to find so people don't stumble over it...

[2019-10-29 14:19] btovar commented on #2190
Yes, a student of Nirav asked me over slack.

[2019-10-29 15:47] dthain commented on #2190
How about -T wq exits with a helpful suggestion to use -T local,
but can be overridden with an embarrassingly long option?

[2019-10-30 15:44] zhxu73 opened #2195 "work_queue_factory -T local -w not working as intented"
-w option seems to always spawn 1 less worker (-w 1-> 0 spawned, -w 2 -> 1 spawned), and I have double checked I have no other work_queue_worker running at the same time.

I have tested both on my laptop and on a cloud vm, with both master branch and 7.0.19, the problem persist

When using with option -w 1, meaning there need to be at least 1, however none is spawned
[code]

With -w 2, only 1 work

[2019-10-30 15:54] btovar commented on #2195
I think something else is going on. Could you try without the = in -w?

work_queue_factory localhost 9123 -T local -w1

When I do it that way, I do get the expected behavior:
[code]
Just to make sure it is a problem with the factory, and not some stale information in the catalog, please use a port number where a master **did not** recently run.

[2019-10-30 16:09] zhxu73 commented on #2195
[code]

[2019-10-30 16:13] btovar opened #2196 "Incorrect number options are silently read as 0."
A user tried '-w=1' to set the minimum number of workers in the factory. Since it is a short option format, the number specification read was "=1", which was silently converted to the number 0 by atoi. A warning is needed when incorrect number specifications are needed (e.g., change atoi when reading options to a utility function that exits on error.)

Should we also skip by default a "=" followin

[2019-10-30 16:24] zhxu73 commented on #2195
Just to clarify, In the case which work_queue_factory does not spawn worker as intended, I run my own WorkQueue master before startup the factory. Since the wq master will be constantly running and receiving task from its frontend, it is a common use case for me, which means the master is constantly running and server instance that runs factory can be shutdown or startup at will.

[https://github.

[2019-10-30 16:48] btovar commented on #2195
Given that the interactions between the master, the factory, the catalog, and the creation of workers are not instantaneous, the number of workers maintained by the factory  will not immediately reflect the quantity you are expecting.

What you are observing here is:

1) The master reports to the catalog that one worker connected.
2) The first instance of the factory sees this information in the c

[2019-10-31 16:17] btovar commented on #2190
Fixed by #2192

[2019-10-31 16:17] #2190 closed

[2019-10-31 16:18] btovar commented on #2188
Fixed by #2193

[2019-10-31 16:18] #2188 closed

[2019-10-31 16:21] btovar commented on #2137
Fixed by #2155

[2019-10-31 16:21] #2137 closed

[2019-10-31 16:25] btovar commented on #1617
Fixed with #2176.  Any further issues should be filed as individual bugs.

[2019-10-31 16:25] #1617 closed

[2019-10-31 21:55] zhxu73 commented on #2195
https://github.com/cooperative-computing-lab/cctools/pull/2197#issuecomment-548584570

[2019-10-31 22:04] #2195 closed

[2019-11-04 18:35] dthain commented on #2166
@btovar does this look about right to you:

Drop an .htaccess file in the root of our web server, with:

RewriteEngine On

# Top level page
Redirect /software/manuals/ http://cctools.readthedocs.io/en/latest

# Specific cases of: X.html -> X
RewriteRule ^/software/manuals/([awe|catalog|chirp|confuga|makeflow|jx|network|parrot|prune|resource_monitor|umbrella|watchdog|work_queue)\.html$ http://cctoo

[2019-11-04 18:37] #2132 closed

[2019-11-04 18:37] #2131 closed

[2019-11-04 18:48] btovar commented on #2166
It looks good.

[2019-11-04 19:25] leeping opened #2199 "Custom timeouts in Work Queue"
Hello there,

I've been using Work Queue for ~7 years now, and I have always compiled the programs, libraries and Python bindings from source.  More recently I found that it was possible to install CCTools via `conda install -c cclnd cctools`; that is really great!  This will greatly benefit my research projects and make a lot of our workflows more sustainable.

Before making the switch, I'd like

[2019-11-04 19:35] leeping commented on #2199
On a related note, please let me know if you have updated links to the API documentation.  I'm getting 404 errors at these links:

https://cctools.readthedocs.io/en/latestapi/html/classwork__queue_1_1WorkQueue.html

[2019-11-04 19:47] dthain commented on #2199
Ah, sorry, you caught us right in the middle of a documentation transition.

The API docs should be in the usual place:
http://ccl.cse.nd.edu/software/manuals/api/html

You may need to clear your browser cache to eject a (temporarily) bad link.
If it still doesn't work, please let us know.

[2019-11-04 20:01] #2166 closed

[2019-11-04 21:04] dthain commented on #2199
@leeping no problem, we can easily modify `work_queue_tune` to do what you want.
One question: are you actually making use of the worker in `--foreman` mode?

[2019-11-04 21:33] dthain commented on #2199
After taking a quick look at the code, most of the capability you need is already there, it's just not documented very well.  You should be able to do this right away from inside your main program:

[code]

(If you are using Python, the equivalent is `q.tune(name,value)` for each of those.)

I think that two of those changes don't have much effect:
- The 5 second wait after "Invalid wait" only occ

[2019-11-04 21:57] leeping commented on #2199
Hello Doug,

Thank you for the quick reply!

I'm currently not using the foreman feature, so I guess it is not necessary to upgrade.  It seems we should be able to use your existing API to set the timeouts.  It's too bad I don't have a unit test for this, because it's hard to "craft" the situation that was leading to timeouts a while back.

I'll start switching over to the conda installable packag

[2019-11-04 22:13] leeping commented on #2199
(BTW, you may close the issue after seeing this.)

[2019-11-05 14:02] dthain commented on #2199
Ok, keep us posted.

[2019-11-05 14:02] #2199 closed

[2019-11-05 14:05] dthain commented on #2167
(@zsurma I meant to assign you to this early, but you weren't in the system.)

Working code:
https://github.com/zsurma/coffea/commits/workqueue

[2019-11-11 21:59] dthain commented on #2196
While I can see how someone might run into this, I think it may be adding too much complexity to add parsing and exception cases for every place we take a number as an option...

[2019-11-12 16:15] dthain opened #2205 "API Page not Linked"
Please add a link to the CCTools API Documentation in the reference section of the main documentation page.  @camicarballo

[2019-11-12 20:00] btovar commented on #2196
Sounds good.

[2019-11-12 20:00] #2196 closed

[2019-11-13 14:49] #2205 closed

[2019-11-18 14:24] btovar commented on #2159
This was achieved with the integration with conda.

[2019-11-18 14:24] #2159 closed

[2019-11-22 13:37] btovar opened #2209 "Taks retries history is not kept explicitely kept"
The reasons for retrying a task (i.e., resource exhaustion, and workers' disconnection, failures, and fast aborts), are not explicitly recorded in any structure, or in the logs. The history of retries can be reconstructed from the transactions log, but this can only be done by an expert.

Here are some suggestions:

- On the final transaction of the task, that is the DONE transaction, we can also

[2019-11-22 13:38] btovar opened #2210 "Fast abort and non-homogenous categories"
In a workflow from NDCMS the fast abort statistic where skewed by fast finishing tasks. Many slower tasks where retried because of fast abort until they failed by hitting the number of max retries. No slower tasks were able to influence the statistics, as they were terminated before they could finish.

The problem was hard to debug because of the history of retries was not explicitly kept (#2209)

[2019-11-25 20:20] btovar opened #2214 "Add the len() function to JX"
Given a JSON array A, len(A) should return the number of elements in the array.  For any other type, len should signal an error.

(This should be done in dttools/src/jx_function.{h,c}.)

[2019-11-25 21:30] dthain commented on #2214
And just as important: update the documentation in jx-reference.md and jx-quick.md

[2019-11-26 14:21] camicarballo commented on #2214
How should I go about testing this to make sure it does what I am expecting it to do?

[2019-11-26 14:32] btovar commented on #2214
You can take a look at  dttools/test/TR_jx.sh.

Your input file would look something like:
[code]

with the expected file for comparison showing that both those expressions should be true.

[2019-11-26 16:33] camicarballo commented on #2214
It looks like the function jx_array_length is incorrect. For an array of any length it consistently returns a length of 1.

[2019-11-26 16:40] btovar commented on #2214
The iteration does there does seem suspect. Could you file an issue on it, and then change the iteration to use jx_iterate_array as shown in jx.h?   Thanks!

[2019-11-26 16:44] camicarballo opened #2215 "jx_array_length function returns 1"
It seems that jx_array_length always returns a value of 1 when called correctly on arrays of varying lengths.

[2019-11-26 16:48] dthain commented on #2215
Yikes!  Well, this is a good one for you to fix too.

(Perhaps it just hasn't been used elsewhere.  It would be a good idea to grep the sources just to see who/what is depending upon it.)

[2019-11-26 17:06] btovar commented on #2215
@camicarballo, I've just tested jx_array_length, and it does work as it should. Is it possible the error is somewhere else?

[2019-11-26 17:10] camicarballo commented on #2215
@btovar it seems that in TR_jx.sh when adding the line `"count" : len([1,2,3])` returns the length of an array where the single element is the array [1,2,3] for some reason.

[2019-11-26 17:24] btovar commented on #2215
I think the issue is in the `jx_function_len` function. It receives an array of arguments (say [ [1,2,3] ]) which is passed to jx_array_length. However it should only give the first element to  jx_array_length (that is [1, 2 ,3]).

In other words, jx_function_len should check that args has length 1, and pass that single first element of args to jx_array_length.

[2019-11-26 18:48] camicarballo commented on #2215
That is exactly the problem. Should I close this?

[2019-11-26 18:49] #2215 closed

[2019-12-02 20:03] btovar commented on #2214
Fixed by #2216

[2019-12-02 20:03] #2214 closed

[2019-12-05 06:59] gilv opened #2218 "How to exchange results of tasks in WorkQueue"
I want to submit two tasks - t1, t2 to the workqeue and i have two workers each running on separate machine (with good network between them), such that worker 1 pull t1 and worker 2 pull t2. I want to use MPI to exchange output results that were generated by t1 with t2. Then I want to resubmit tasks again to workqueue and pull them again automatically by the workers. I basically want to create sor

[2019-12-05 12:59] btovar commented on #2218
Our task abstraction assumes that they do not communicate with other tasks, and that any task in the queue is ready to be executed to completion.

You could make your scenario work by implementing yourself the following logic:

- You guarantee that at all times either exactly two tasks are submitted, or no tasks are submitted.
- The tasks themselves know to wait for the other tasks.
- The work que

[2019-12-05 14:02] gilv commented on #2218
@btovar thanks...is there some easy way to submit "mpi tasks"?

[2019-12-05 15:52] btovar commented on #2218
work queue's design assumes that tasks don't communicate with each other during their execution, thus there is not a way to coordinate mpi tasks that need to communicate to other mpi tasks.

Of course,  mpi tasks that execute in a single host using multiple process are supported, but in such case the fact that the tasks use mpi is not very relevant.

[2019-12-09 14:17] btovar opened #2219 "makeflow log recovery segfaults for deep dags"
Workflow example chained.jx:
[code]

[code]

[2019-12-09 18:57] btovar opened #2221 "Inefficient parsing when using jx and --args"
The following takes less than a second to parse:

[code]

If instead we generate DATA_FILE_LIST to use in an args file as:

[code]

$ jx2json file_list_raw.jx > file_list.jx
$ jx2json main_external --args file_list.jx

it takes about 40 s (which is much more than 1s when not using --args).

Any ideas @trshaffer, @dthain ?

[2019-12-09 19:11] dthain commented on #2221
Nothing immediately jumps to mind, but I might guess that some internal `eval` is either too lazy or too eager, resulting in n^2 behavior for the double-for.

I would be inclined to jus run both examples through gprof to see where time is being spent.  A different number of calls to `jx_eval` would be a good hint.

[2019-12-09 19:20] dthain commented on #2219
I'll take a crack at it.

[2019-12-09 19:45] btovar commented on #2221
Many functions that evaluate jx do a jx_copy on the context.  The variables defined in --args end up as the context of the workflow.

For the examples above, using --args there are 197076363 calls to jx_copy. Without args, there are only 1613046. An increase of three orders of magnitude.

Fixing this one will require some thought...

[2019-12-09 19:58] dthain commented on #2221
Actually, I don't see that many instances of copying the context.

There is one in the top-level `jx_eval` that doesn't make sense to me.
And then there is one in `jx_eval_comprehension` that is more understandable.

It seems to me there is a substantial difference between `jx_eval(jx_copy( big list ))` and `jx_copy(jx_eval(list comprehension))`

Does that make sense?

[2019-12-09 20:09] btovar commented on #2221
Yes, by commenting out the jx_copy/jx_delete in jx_eval parsing is done in 2.5s.

@trshaffer, do you see any problems with this?

[2019-12-09 20:40] annawoodard opened #2222 "Fix executable path mismatch in work_queue_factory with Torque"
I'm trying to run the WQ [example](https://cctools.readthedocs.io/en/latest/work_queue/examples/work_queue_example.py) on a Torque system at University of Chicago. I've installed cctools following the conda install instructions. Submitting workers via
[code]

works as expected. Starting a factory via:

[code]
results in exit 127s for all submitted workers:
[code]

By default, the wrapper script is

[2019-12-10 15:06] btovar commented on #2222
The problem seems to be that we do a chdir inside the wq factory, then we do a cd getenv("PWD") inside the cluster batch module.  chdir does not update PWD, therefore the work_queue_worker executable is not found.

The solution is to change that getenv to a getcwd, which fixes the inconsistency.

[2019-12-10 15:18] btovar commented on #2222
@annawoodard could you give #2225 a try?

[2019-12-10 17:05] btovar commented on #2185
One problem is that the args.XXXXX file is created while parsing, but the cleanup code is only called on node completion. For example, if makeflow is called with the -c option, the file is created but never cleaned as no node ever runs.

[2019-12-10 19:48] annawoodard commented on #2222
@btovar I've tested #2225 and everything is working as expected now. Thanks for the fix!

[2019-12-11 16:59] btovar opened #2227 "makeflow_monitor fails to parse logs"
Example error:

unable to parse main_workflow.json.makeflowlog: could not convert string to float: #

The problem seems to be a race condition, where the monitor reads a line:
[code]
before a line such as
[code]
is written.

[2019-12-12 15:59] #2222 closed

[2019-12-13 15:57] annawoodard opened #2229 "WQ example script fails with full monitoring enabled"
Context: I'm trying to debug a separate issue I'm having getting the `WorkQueueExecutor` working on my system. In trying to make a minimal example (preferably without Parsl in the loop) that reproduces that issue, I've encountered this one, which seems related. Note I've tried this both compiling from source and installing via conda, with the same result.

Here are the steps I've taken:

1) Modify

[2019-12-13 16:06] annawoodard commented on #2229
One other observation: running the same modified script (with monitoring enabled) works as expected at ND, where I've set up cctools as:

[code]

[2019-12-13 16:22] btovar commented on #2229
what is your argument 'dirname' when you run at ND?

Is it possible that you don't have permissions for '/home/t.cri.awoodard/wq-hello/resource_logs'?

[2019-12-13 16:34] annawoodard commented on #2229
To simplify things, I've re-tested with `q.enable_monitoring_full(dirname='resource_logs')` where the directory doesn't exist prior to the test (so WQ creates it in the PWD), with the same result.

Here's UC:
[code]

Here's ND:
[code]

[2019-12-13 17:01] btovar commented on #2229
Could you check the contents of

-rwxr-x--- 1 t.cri.awoodard t.cri.awoodard 588 Dec 13 10:28 wq-75413.summaries  ?

Does it look like tasks are being measured? My hunch is that the resource_monitor is not being sent with the task, and therefore no monitoring is being done.

[2019-12-13 17:20] annawoodard commented on #2229
It does look like things are being measured-- confusingly, it also says 'exit code 0'.
[code]

[2019-12-13 17:24] annawoodard commented on #2229
Ah nevermind I see now that is all pertaining to the main script, not the task. Should I specify the monitor executable by hand as an input file?

[2019-12-13 17:24] btovar commented on #2229
What you see there is the information for the master.

Do you see in the debug log, or in stderr a message that looks like:
"Could not find the resource monitor executable. Disabling monitoring."
?

[2019-12-13 17:27] btovar commented on #2229
If it is in the PATH it should find it. Before running your master, what do you get with:
$ which resource_monitor

Also, to test now, you can try:

$ export CCTOOLS_RESOURCE_MONITOR=/path/to/resource_monitor
$ ... run your master...

[2019-12-13 17:38] annawoodard commented on #2229
My executable is here:
[code]
Setting that var first, I get the same result:
[code]

Here is the full debug log:
[code]

[2019-12-13 17:50] btovar commented on #2229
Could you also send me the debug output of a worker?

Are your workers running on the same machine as the master?

[2019-12-13 18:03] annawoodard commented on #2229
Yes, in this example I start a single worker on the same machine with:
[code]
Here is the worker debug output:
[code]

[2019-12-13 19:49] btovar commented on #2229
This
[code]
is interesting. It means that the worker found the resource monitor executable, but it could not execute it for some reason. Could you repeat the test setting:

export CCTOOLS_RESOURCE_MONITOR=/bin/echo

The task will fail, but I want to see if we still get exit code 126 in the worker log.

[2019-12-13 20:21] annawoodard commented on #2229
Thanks for the suggestion! I repeated the test after setting
[code]
and got the same result:
[code]

I'm including the master and worker logs below. One possibility: since it is returning exit code 126, is it possible this is a permissions issue-- that the resource monitor is being copied, but doesn't get set as an executable? I'm not sure how to check this as the worker's temporary directory gets

[2019-12-16 13:15] btovar commented on #2229
@annawoodard:

- When you type umask at your terminal, what do you get?
- Does it work when you do  enable_monitoring() rather than enable_full_monitoring(...)

[2019-12-16 13:39] btovar commented on #2227
Fixed by #2230

[2019-12-16 13:39] #2227 closed

[2019-12-16 17:29] zhxu73 opened #2232 "Feature request - Short Job Bundling"
When jobs are relatively short and there is a large number of them, Makeflow (running in `wq` mode) will be overloaded to the point that most workers are not able to connect the the master at all (can not even `telnet` the master). In the worst case, we only see 15~30 1-core workers connected, which is less efficient that running in `-T local` on a large instance). The issue is there are too many

[2019-12-18 18:14] btovar commented on #2229
The problem was that /tmp was mounted with the no noexec option.  By default, a worker tries to create its scratch directory on /tmp. When the worker creates this directory somewhere else, the example works

[2019-12-18 18:14] #2229 closed

[2019-12-18 18:19] dthain commented on #2229
@btovar While this may not be our "fault" per se, it does seem like a situation that we are likely to encounter again, and it would be helpful to give a specific error message.  Is there anything that we can do to detect that a specific directory is mounted noexec?

[2019-12-18 18:26] annawoodard commented on #2229
Ben and I iterated on this over chat. It turns out that on my system, `/tmp` is mounted with the `noexec` flag, so (after starting the worker without `-s` specified such that the workspace was defaulting to `/tmp`) the example command was failing with a permission denied error. Instead running `work_queue_worker -s <directory in different filesystem, mounted without noexec> <hostname> <port>` work

[2019-12-18 18:26] annawoodard commented on #2229
Oops, I crossed paths with you guys :)

[2019-12-19 15:43] btovar commented on #2221
solved by #2224

[2019-12-19 15:43] #2221 closed

[2019-12-20 18:02] dthain commented on #2219
Recovery is now dramatically improved in several dimensions:
1 - Traversal of the DAG.
2 - Checking of only files expected to be created.
3 - Resetting of nodes that depend up on changed files.
4 - Documentation and organization of recovery.

[2019-12-20 18:02] #2219 closed

[2019-12-20 18:09] dthain commented on #2101
Completed, the hook abstraction has everything covered now.

[2019-12-20 18:09] #2101 closed

[2019-12-20 18:10] dthain commented on #2091
After several attempts at this, we have decided that pip provides the wrong abstraction.
We are now using Conda for deploying cctools in python environments successfully.

[2019-12-20 18:10] #2091 closed

[2020-01-08 22:26] trshaffer opened #2242 "Name error on cancellation in WQ futures"
I'm playing with the new WQ futures interface, and I'm getting an exception when trying to get the result of a cancelled task.

    Error when executing future object callback:
    Traceback (most recent call last):
      File "cctools/work_queue/src/bindings/python3/work_queue_futures.py", line 324, in _invoke_callbacks
        fn(self)
      File "./wq_tool", line 70, in _taskcb
        t.result

[2020-01-09 13:28] btovar commented on #2242
Tim, yes, it seems that way.

[2020-01-09 15:48] btovar commented on #2242
It is actually concurrent.futures.CancelledError, submitting a pr shortly.

[2020-01-09 16:07] #2242 closed

[2020-01-15 18:33] #2149 closed

[2020-01-15 18:33] btovar commented on #2149
Done.

[2020-01-16 12:59] #2147 closed

[2020-01-16 21:01] epyifany commented on #2153
I believe this issue/feature has been resolved/implemented on PR#2191

Thanks,
Yifan

[2020-02-07 19:54] dthain commented on #2164
The current instructions indicate "Warning! This command currently fails."
Is that really the case?

[2020-02-07 19:54] dthain commented on #2161
Fixed.

[2020-02-07 19:54] #2161 closed

[2020-02-07 19:55] dthain commented on #2153
Fixed by #2191

[2020-02-07 19:55] #2153 closed

[2020-02-07 19:56] dthain commented on #2148
Fixed by #2239

[2020-02-07 19:56] #2148 closed

[2020-02-07 19:57] dthain commented on #2108
#2172

[2020-02-07 19:57] #2108 closed

[2020-02-07 19:58] dthain commented on #2089
Now working!

[2020-02-07 19:58] #2089 closed

[2020-02-07 20:25] btovar commented on #2164
See #2252

[2020-02-07 20:27] dthain commented on #2232
Thanks, we appreciate the feedback.

The mechanism here is reasonably straightforward, but it's hard to come up with a policy that
applies in a wide variety of situations, since it depends considerably on the length of the tasks,
the amount of data, and the performance of the network.

Could you tell us a little more about your scenario?  e.g. runtime of tasks, size of data, etc..

[2020-02-07 21:46] dthain commented on #2010
Done: /afs/crc.nd.edu/group/ccl/software/status

FYI @btovar

[2020-02-07 21:46] #2010 closed

[2020-02-11 13:42] dthain commented on #2185
Odd b/c the TEMP flag is added here:
https://github.com/cooperative-computing-lab/cctools/blob/master/makeflow/src/makeflow.c#L306

And then TEMP files are deleted on job completion here:
https://github.com/cooperative-computing-lab/cctools/blob/master/makeflow/src/makeflow.c#L909

[2020-02-11 13:50] btovar commented on #2185
I think that's the problem. The cleanup is done only on job completion, but with -c or -k no job is ever completed.

That is why I added the manual fix to delete args.XXXXX files, which are created during parsing. A better solution would be to delete all temps regardless of job completion, but I did not want to do that just now because you were studying how slow is to stat files in the disk when i

[2020-02-11 13:57] dthain commented on #2185
Ok, I see what you mean now -- the underlying architectural problem is that
clean on a sub-makeflow doesn't really "submit" and "complete" a job.  I
see a couple of ways forward on this:
1 - Make the clean operation really use the job execution interface in the
normal way.
2 - Duplicate some functionality from job execution into the sub-makeflow
clean operation.
3 - Pass arguments to sub-makeflows

[2020-02-13 17:43] zhxu73 commented on #2232
I was a student in Eric and Nirav's class last semester.
It was related to our final project of the class, most task takes about 1~3 mintues, the size of a single data set is about 20MB, and we have ~9000 data sets for one of the pipelines.
Just give more context, this is related to an issue we encountered during the final project. The issue is that we seems to encounter a limitation of the Makefl

[2020-02-13 19:03] dthain commented on #2232
Thanks for the details.
One more question: about how big was the output of each task?

On Thu, Feb 13, 2020 at 9:43 AM John Xu <notifications@github.com> wrote:

[2020-03-10 13:58] btovar opened #2255 "wq factory double counts workers needed when using --foreman"
For simplicity, assume that each worker runs only one task at a time, and that the only provider of workers is the factory. Then, the number of workers needed is:

tasks waiting at master + tasks waiting at foremen + tasks running according to foremen

However, the current computation is:

tasks waiting at master + tasks running according to master +  tasks waiting at foremen + tasks running accor

[2020-03-11 15:09] #2255 closed

[2020-03-16 18:38] dthain opened #2262 "Worker Resource Detection and Hyperthreads"
Currently, the worker detects the number of "virtual CPUs" which corresponds to hyperthreads.  It should probably detect physical cores instead, or at least have an option to do so.

[2020-03-16 18:41] btovar commented on #2262
In `dttools/src/load_average.c` we use `sysctlbyname("hw.ncpu",....`.  For physical cores we want `hw.physicalcpu`.

[2020-03-17 22:44] tmarkhuang opened #2263 "cvmfs not enabled in 7.1.0 with --with-cvmfs-path"
cvmfs is not enabled in parrot_run, when building 7.1.0 with --with-cvmfs-path

Details:
I am interested in using parrot_run with cvmfs.  The [pre-compiled binary for 7.1.0](https://ccl.cse.nd.edu/software/files/cctools-7.1.0-x86_64-centos6.tar.gz) doesn't support cvmfs.  So, I decided to build it from source, with this configuration and GCC 4.8.5 on CentOS 6.10

<pre>
./configure --prefix /home/u

[2020-03-18 11:22] btovar commented on #2263
Thanks for your report! I am working on reproducing it on our side.

[2020-03-18 14:45] btovar commented on #2263
@tmarkhuang, could you give version 7.1.1 a try?

cvmfs should now be correctly enabled in all cases.

[2020-03-18 15:24] tmarkhuang commented on #2263
Thanks for fixing the bug/issue.  cvmfs is now enabled in parrot_run for 7.1.1 with --with-cvmfs-path.  I tested both source tgz from CCL web site and cctools release page on Github, and both work correctly.  I noticed that source tgz files from these two locations have different top level directory names, 'cctools-7.1.1-source' (CCL) vs 'cctools-release-7.1.1' (Github).  This is a minor issue.

I

[2020-03-18 15:47] btovar commented on #2263
Great, thanks for letting us know!

About #1880, indeed. As you probably noticed, with this new release we updated our distribution channels. The older version is one that we could easily statically compile to include in the parrot binary. We just need to revise this procedure for a newer cvmfs version.

[2020-03-18 15:47] #2263 closed

[2020-03-19 18:30] leeping opened #2265 "Conda package issues"
Hello there,

I hope everyone is staying safe and healthy during this crazy time.  I just wanted to report an issue I found with installing cctools via conda.  There's no particular reason why I'm seeing this issue today; I was previously building from source and installing using a custom script.

This is in a clean Python 3.7.6 environment, using miniconda downloaded and installed just a few minu

[2020-03-19 18:49] leeping commented on #2265
I was a bit confused by the version numbers and thought there might be a name conflict with another package named cctools.  Does the `cclnd` channel have to take a higher priority than the default channel in order to install the correct package?

[2020-03-19 19:42] btovar commented on #2265
Lee-Ping,

Unfortunately for use the name cctools was already taken! The official conda distribution for our cctools is:

conda install -c conda-forge ndcctools

We do not have any files available at cclnd in anaconda, so my guess is that you are picking up that other project.

[2020-03-20 14:03] btovar commented on #2265
If you do try it, note that as of  March 20 you should get cctools version 7.1.0, rather than the most recent 7.1.1. I have not been able to update the version in conda, as currently conda-forge is trying to globally update pypy.

That said, the only change in 7.1.1 from 7.1.0 is a bug fix when linking parrot, which I don't think you use.

[2020-03-26 15:01] btovar opened #2267 "catalog updates tcp port always uses udp port + 1"
For example:

CATALOG_UPDATE_PROTOCOL=tcp   makeflow -C mycatalog:9097

Updates will be sent to mycatalog:9098, which is confusing. There is no way to specify the tcp port by itself.

[2020-03-30 13:33] dthain commented on #2267
This design was an imperfect compromise in order to get TCP updates quickly implemented without disrupting the code too much.  Here is how it works now:

A catalog is named by a single port P (usually 9097).  The catalog server then listens on:
- port P/tcp for HTTP queries.
- port P/udp for UDP updates.
- port (P+1)/tcp for TCP updates.

P+1 is clunky, but it has the nice property that we didn't

[2020-03-30 13:52] dthain opened #2269 "Check Condor Log Analyzer"
It's likely that the [Condor Log Analyzer](condorlog.cse.nd.edu) also needs to be updated for the same reason as #2268 due to the recent change in the HTCondor user log format.

[2020-03-30 16:22] btovar commented on #2269
Done.

[2020-03-30 16:22] #2269 closed

[2020-04-14 16:26] #2262 closed

[2020-04-23 16:51] PerilousApricot opened #2284 "parrot_run leaves a remaining process if it doesn't have the correct caps"
Hello,

While trying to bolt chirp+parrot into spark on the CERN SWAN service, the process dies because the container they launch the user in doesn't have the right caps, which is OK. I then noticed, however that there is a process leftover which spins @ 100% cpu indefinitely:

[code]

This is with cctools-7.1.2-x86_64-centos7. Here's info about the environment if that helps:
[code]

[2020-04-23 17:14] PerilousApricot commented on #2284
A bit more context:
[code]
I presume that since they have sequential PIDs, this a fork child/parent

[2020-04-23 17:18] btovar commented on #2284
@PerilousApricot  thanks!

I have been able to reproduce your report.  A parrot_run process does seem to keep alive after the main process terminates.

[2020-04-28 12:50] btovar commented on #2284
Fixed with #2285

[2020-04-28 12:50] #2284 closed

[2020-04-28 13:00] btovar opened #2288 "Convert python bindings documentation into docstrings"
Currently we use the doxygen-only syntax. Most projects and IDEs expect python docstrings.
doxygen also works with python docstrings.

[2020-04-30 17:50] btovar opened #2289 "work queue has inefficient input directory transfers"
Right now we give a name a cache name to each of the files, when only the top directory should get one. This also stops us from streaming the contents when copying making it inefficient.

The transfer behavior should be similar to chirp's transfer of directories.

[2020-04-30 19:46] dthain commented on #2289
After looking at it a little more, the problem is not so much the network representation per se.  A hierarchy still gets "streamed" inasmuch as the files and directories are all packed into the stream without response.  The problem is that each file is processed separately by the worker, with a call to `create_dir` to create the directory hierarchy for every single file.  So, if you have a deep di

[2020-05-05 18:14] btovar opened #2291 "Uncachable files of a forsaken task are not deleted at the worker"
When a task is returned to the master as foresaken because it does not fit the worker anymore, we are not deleting the uncachable files of that task. If that task is sent to that worker again (with a new value of allocated resources), then the transfer fails as the worker tries to overwrite already existing files.

Found while testing #2290

[2020-05-06 15:22] btovar commented on #2291
Fixed by #2292

[2020-05-06 15:22] #2291 closed

[2020-05-06 15:56] btovar opened #2294 "how to handle python environments in work queue"
Consider a python environment generated by a tool such as conda-pack. The environment is saved to a tar file. In order to use the environment, the file needs to be expanded to a directory (via tar), followed by a conda-unpack, which updates absolute paths in the contents of files inside of that directory.

The current work queue model cannot handle these environments in a satisfactory manner:

- I

[2020-05-07 13:40] btovar commented on #2294
I did a small test to turn conda-pack into a filter, with a command such as:

[code]

Some notes:

- conda-unpack filtered is based on the particular conda-unpack contained in my-env.tar.gz. Thus, the streaming cannot be done right away. Getting conda-unpack and transforming it into conda-unpack-filtered can be done once at the master, though.
- Unlike conda-pack, conda-pack-filtered has to assume

[2020-05-07 14:17] dthain commented on #2294
Ok, I appreciate the investigation, but it sounds like it can't really be done in a "streaming" mode.  (Where "streaming" means only writing the final output to local storage.)  And, it would create new execution dependencies at the master, in particular, python.

What we need here is a model where the tarball is unpacked, and then something inside the tarball is executed to bring it to a final st

[2020-05-07 14:44] btovar commented on #2294
Indeed. The only case I can see conda-unpacked-filtered being marginally useful is if the master streams the tarball and the worker modifies the files before writing them. In this way, the worker would not have to have space for both the tarball and the expanded directory.  However, this increases the number of dependencies (python), and the size of the data to transfer.

Otherwise, sending a tar.

[2020-05-07 15:04] dthain commented on #2294
Earlier, we talked about three different general abstractions:

- Stream: the worker provides a process P that reads the incoming data and writes the final version into target T.
- Transform: the worker provides a process P that reads the stored version S and writes a new version to target T.
- Mutate: the worker provides a process P that modifies the stored version S to become the final version S

[2020-05-07 15:15] btovar commented on #2294
The mutate operation could be done after the task has been sent, but before it is about to start at the worker (e.g., just before the fork). Should mutate fail, it can be charge as a failure to the task with an appropriate error code. In this way the master does not have to wait for the mutate operations, and failed mutates are only tried once per task. Further, since it is done before the fork, w

[2020-05-07 15:19] dthain commented on #2294
In that case, who is responsible for tracking that the mutate has been done once (and no more than once), taking into account task failures?

[2020-05-07 15:50] btovar commented on #2294
The worker would remember whether the mutation was successful. If it was a failure, the worker can immediately return any new tasks sent to it that depend on the mutation. Note that this does not prevent the master sending new tasks that depend on the mutation, and this is important to guarantee that the master keeps making progress. When a task fails because of a failed mutation, it is not retrie

[2020-05-07 15:58] dthain commented on #2294
I think I'm uncomfortable associating the mutation with the task, rather than the file.

The master sends tasks to locations where the needed files are present.  It seems to me that if the mutation is not complete (or failed) then the master should not be sending tasks there in the first place...

[2020-05-07 16:13] btovar commented on #2294
I agree with you if we are talking about Data Swarm.

However, I think that in the work queue model things are a little different:

- Files are always associated with tasks. There is no way no specify a file outside a task.
- As far as the master is concerned, it did the transfers it needed to: data + mutator.
- No execution happens outside a task. Thus, it is natural to tack the mutation to the e

[2020-05-12 16:10] dthain commented on #2294
Your comment that "Files are always associated with tasks." isn't quite so simple.  That is certainly true at the API level.   But at the level of the master-worker protocol, they are two separate things:  A `file` operation puts a file into the cache with a given them.  Then, a `task` operation specifies a task, and the `infile` sub-command binds a name in the sandbox to the cached file name.

[2020-05-12 16:29] btovar commented on #2294
Yes, I think you are correct. I think what I had in mind is that files do not know about anything but themselves. The master knows which files each task has, and which files are at which worker. To ask for the status of a file, we would need to transverse the list of tasks and workers.

It seems that we need the reverse mapping: a file should know at least on which workers it is. In that way, it c

[2020-05-12 16:54] dthain commented on #2294
Ok, I think I am understanding your point now.
How about this:

Same proposal as before:
https://github.com/cooperative-computing-lab/cctools/issues/2294#issuecomment-625310950

Except that:

The master sends the file over as normal via `put` or `url` and then follows it up with a `mutate` command. The worker accepts the mutate command silently and buffers it up.

As you suggested, when a task is

[2020-05-12 17:07] btovar commented on #2294
Sounds good!

We still have the ugly case of sending doomed tasks to a worker that failed to mutate a file, but I don't see how we can treat all tasks consistently otherwise.

We could send tasks only to workers that have not failed the mutation, and when no such worker exits, fail the task. But if the only worker that successfully mutated the file disconnects, then we probably do not want to fail

[2020-05-12 17:13] dthain commented on #2294
Oh, but that leaves an interesting question.
If the mutation fails, the task fails, obviously.
But then what is the state of the file?

[2020-05-12 17:25] btovar commented on #2294
Yes, it is even more interesting because it is not a single state, but there is a state per worker of mutation tried.

[2020-05-12 18:46] dthain commented on #2265
@leeping does this work for you now?

[2020-05-20 18:09] btovar opened #2301 "valgrind dumps core when testing statically linked work_queue_worker on ubuntu16.04"
The rest of our distributions tested do not have this problem. It is also not a problem for dynamically linked workers.

[2020-06-08 18:11] btovar opened #2307 "chirp source: make clean does not delete all .o files"

[2020-07-02 15:29] dthain opened #2312 "JX Schema Behavior?"
Nate, is this the intended behavior of the schema function?  It appears to return an object on its output for every object on its input:

[code]

Returns:
[code]

My first inclination would be that it returns one object describing the schema of the entire list, perhaps with duplications and variations collapsed in some way:

[code]

Or am I misunderstanding how this is used?

[2020-07-02 15:34] nkremerh commented on #2312
I made the assumption that we may be asking about multiple different component types which share keys. In the case that we are querying from two different software authors, they may use the same key name with different meaning, so I made the decision to keep each object's schema as a separate object to be pushed to an array.

Perhaps this is more of a corner case than an expected scenario (it may

[2020-07-02 16:07] dthain opened #2313 "JX Project Behavior"
Likewise, either I'm misunderstanding the behavior of project or what it's expected to do:

Using jx_test:

[code]

More simply:

[code]

I was expecting this to return:

[code]

What's the expected behavior here?

[2020-07-02 16:13] dthain commented on #2312
I think it all depends on the intended use case.

If the objective is simply to describe the type of a expression, then I would expect it to just recursively substitute values with type names, like this:

[code]

On the other hand, if the goal is to summarize a dataset before querying it, then I would expect it to collapse all members of a list:

[code]

Because if you are attempting to understand

[2020-07-02 16:54] nkremerh commented on #2313
Interesting. I will have to look into this.

[2020-07-03 15:00] #2164 closed

[2020-07-03 15:01] dthain commented on #2077
Catching up on some old tickets...  Is this process suitably documented, and if so, where?

[2020-07-03 15:08] dthain commented on #2167
Just updating the issue to close things out.

Working and committed!

https://coffeateam.github.io/coffea/wq.html#coffea-wq

[2020-07-03 15:08] #2167 closed

[2020-07-03 15:16] dthain opened #2314 "JX Parse HTML Oddity"
I missed this the first time around: `jx_parse_from_html` is a very strange function:
https://github.com/cooperative-computing-lab/cctools/blob/d4aefcdb3d11c86cbd587ace1bf282581ea16018/dttools/src/jx_querytools.c#L18

If I am understanding it correctly, it fetches JSON from a web server by assuming that there is some HTML terminated by a very specific H1 tag, and then assumes all the JSON is entir

[2020-07-03 15:23] dthain commented on #2265
@leeping I'm assuming that this is fixed, since we were able to reproduce the problem, and we have been using the Conda package for some time.  Let us know if you have any further problems.

[2020-07-03 15:23] #2265 closed

[2020-07-03 15:23] dthain commented on #2218
Closing b/c conversation seems to have died out.

[2020-07-03 15:23] #2218 closed

[2020-07-03 15:28] dthain commented on #2133
You already fixed this one:
https://github.com/cooperative-computing-lab/cctools/commit/64b3c0a2e09f0ac29bde0a06d6277ca7f77302f4

[2020-07-03 15:28] #2133 closed

[2020-07-03 15:29] dthain commented on #2209
Let's keep this in mind for dataswarm.  Easier to make a running record in a JSON document for the task.

[2020-07-03 15:31] dthain commented on #2178
Let's just clarify this in the documentation, or perhaps even leave it undocumented.

[2020-07-03 15:41] dthain commented on #2026
Changing approach to use JSON-server for multi-language bindings.

[2020-07-03 15:41] #2026 closed

[2020-07-04 05:14] nkremerh commented on #2314
You were reading my mind. This is already in the works.

[2020-07-06 11:44] btovar commented on #2077
It is documented in  ccl-technotes (internal ND page).

[2020-07-06 11:44] #2077 closed

[2020-07-07 11:37] sprock opened #2318 "Compilation on FreeBSD with MPI"
Hello,

I have been able to compile cctools on FreeBSD (11.3) without MPI after making a few changes (= crude hacks) to the git source (ed44c33d1ffb810acdc79b13fc8dd1f7064777fa).   I ran a few simple examples and makeflow, at least, seems to work fine.

I tried enabling MPI (mpich-3.2.1_6):

./configure --with-swig-path /usr/local/bin/swig3.0 --with-readline-path /usr/local \
--with-mpi-path /usr/

[2020-07-07 12:00] btovar commented on #2318
@sprock,   libforce_halt_enospc  is not essential for the main components to run. You could set
[code]
in `dttools/src/Makefile` around lin 65 and see where that takes you.  You probably will also need to run

[code]

as those components are pretty linux specific, or also need shared libraries.

MPI is only optionally used in makeflow, thus it may also not be essential for you. In fact, in our bin

[2020-07-07 14:28] nkremerh commented on #2313
The simple example is failing because the context is empty when it is evaluated (https://github.com/cooperative-computing-lab/cctools/blob/master/dttools/src/jx_eval.c#L596). This top-level evaluation occurs _before_ project merges the context and each object being considered ({"a": 10}, ...).

If we bypass this by checking if context is empty in jx_eval (if so, skip lookup), we can essentially pa

[2020-07-07 15:06] dthain commented on #2313
Hmm, I don't think that's it.  `jx_lookup` does the right thing if `context` is null or the wrong type: it just returns `NULL` indicating no such item:
https://github.com/cooperative-computing-lab/cctools/blob/master/dttools/src/jx.c#L173

I think this is another instance of lazy versus eager evaluation, right?  In `project(a,[x,y,z])` you don't want `a` evaluated until `project` begins to run and

[2020-07-07 15:12] nkremerh commented on #2313
We are saying the same thing.

[2020-07-07 15:14] dthain commented on #2313
Ok, propose a solution?

[2020-07-07 16:12] nkremerh commented on #2313
Either enforce lazy evaluation only for JX querying functions (select, project, fetch, schema) _or_ switch to all lazy evaluation for JX. The former I am willing to wrestle with, the latter is honestly far afield from my research goals and a guaranteed time sink.

Do you have an alternative?

[2020-07-07 16:25] dthain commented on #2313
I don't think it's necessary to do it for all JX functions.  In fact, I'm not sure that you should even make a blanket change to all the query-related functions.  Just determine the minimal change needed...

[2020-07-07 16:39] nkremerh commented on #2313
On it.

[2020-07-07 18:22] #2307 closed

[2020-07-07 18:38] dthain opened #2320 "WQ-JSON Server Port Selection"
As written, the WQ-JSON Python client works by *telling* the server what port it should listen on.  This won't work in general production, since there are many reasons why those ports might already be in use.  (The most likely is that another WQ is already running there.)

Instead, have the server listen on port zero (means any port is OK), observe the port actually obtained then print a little me

[2020-07-07 18:41] dthain opened #2321 "WQ-JSON Worker Port Detection"
As written, the WQ-JSON client tells the server to use a fixed port number for workers.  Again, this won't work due to collisions between port numbers.

Native WQ applications handle this by telling the manager to listen on port zero, (meaning any port) and then read back the actual port via `work_queue_port`.

Fix this up in WQ-JSON by adding a new API operation `status` that reads back all the h

[2020-07-09 18:07] sprock commented on #2318
Hello,

Benjamin Tovar <notifications@github.com> writes:

Thanks for the response.

I could not get it to compile, but MPI is not essential, so I am
content.

Cheers,
Roger

[2020-07-15 15:59] bcdarwin opened #2326 "Compilation error with GCC 8 and above"
Compiling from source with no special flags using GCC 8.x and glibc 2.31 (not triggered with GCC 7.x and glibc 2.31):

[code]

[2020-07-15 17:20] bcdarwin opened #2327 "compilation error ("conflicting types for 'gettimeofday'")"
Compiling with various GCC versions from 4.9 to 7 and with glibc 2.31 on Linux (NixOS):

[code]

[2020-07-15 20:31] dthain opened #2328 "SLURM MPI Dispatch"
Makeflow does not currently dispatch MPI jobs to SLURM correctly.
The underlying issue is that SLURM expects a somewhat different invocation for MPI vs non-MPI jobs.

For example, a 4-core multithreaded job should be submitted like this:
[code]

While a 4-process MPI job (each process using one core should be submitted like this:
[code]

Further, `job.sh` must include a call to `srun --mpi=pmi2` i

[2020-07-15 20:36] dthain commented on #2327
@bcdarwin thanks for the bug report.  It looks like trouble is occurring in places where we are overriding existing system calls.  Always tricky to do this in a maximally portable way.

@trshaffer please set up a suitable Nix environment and see if you can reproduce.

[2020-07-15 23:15] bcdarwin commented on #2327
To reproduce:

 - install Nix on a Linux system
 - clone the Nixpkgs repo (NixOS/nixpkgs or bcdarwin/nixpkgs) and checkout my (`bcdarwin`) `cctools` branch
 - run `nix-build -A cctools /home/ben/nixpkgs --show-trace -K` (this will print the location of the temporary build directory after it fails for further inspection)

[2020-07-16 12:49] dthain commented on #2326
@trshaffer same as #2327, thanks.

[2020-07-16 13:00] dthain commented on #2106
Fixed by #2110

[2020-07-16 13:00] #2106 closed

[2020-07-16 13:56] nkremerh commented on #2312
Fixed.

[2020-07-16 13:56] nkremerh commented on #2313
Fixed.

[2020-07-16 13:56] nkremerh commented on #2314
Fixed.

[2020-07-17 02:18] bcdarwin commented on #2326
To reproduce, use the same steps as detailed in #2327, but in pkgs/top-level/all-packages.nix in the Nixpkgs repo, replace `cctools = callPackage ./pkgs/applications/science/misc/cctools { stdenv = gcc7Stdenv; };` with a `gccXStdenv` of your choice higher than 7 (or simply use `{ }` to get the current one, currently gcc 9).

[2020-07-17 20:15] #2312 closed

[2020-07-17 20:15] #2313 closed

[2020-07-17 20:15] #2314 closed

[2020-07-17 20:58] trshaffer commented on #2327
@bcdarwin I can reproduce this issue (and #2326). Looks like there are quite a few places (especially in some of our less used code) that trigger warnings and block compilation. I'll let you know when I work through all of them.

[2020-07-20 14:56] btovar commented on #2328
We have .MAKEFLOW_CORES to set the number of cores. One thing we could do is to add .MAKEFLOW PROCESSES. The example above would look like:

.MAKEFLOW CORES 1
.MAKEFLOW PROCESSES 4

I am not sure about the `srun --mpi=pmi2`, as it is modifying the command line for a specific batch system. For slurm we could have it so that  `srun ...` etc. is automatically added if  PROCESSES > 1.

We would also n

[2020-07-20 15:05] dthain commented on #2328
I think that's on the right track.  Are the resources then divided among the processes, or is each process assumed to consume the stated cores, memory, and disk?

Perhaps we should be explicit about an application being MPI?

Agreed about the resource disabling.  Isn't that what `--safe-mode` does?

[2020-07-20 15:10] btovar commented on #2328
I think we need to assume that each process consumes the stated resources.  For example, the resource monitor would have to check for --max-concurrent-processes=4 --cores=4.   Otherwise, we would get --cores=1, which probably is not what we want.

[2020-07-20 15:13] dthain commented on #2328
That makes sense.

How about we make `PROCESSES` explicitly `MPI_PROCS` so that it's clear that we are enabling MPI functionality?
Is there any other supported programming model where we are expecting to dispatch P x ( CORES, MEM, DISK ) in parallel?

[2020-07-20 15:21] btovar commented on #2328
There is the local MPI mode that Kyle added, and most likely some sge installations will have something similar.

[2020-07-20 15:23] dthain commented on #2328
Well, that's a different thing -- in that case, Makeflow itself is the MPI
program and dispatches tasks among MPI processes.

On Mon, Jul 20, 2020 at 11:21 AM Benjamin Tovar <notifications@github.com>
wrote:

[2020-07-21 15:34] btovar commented on #2328
My proposal is then:

- Extend --safe-mode to all batch systems.
- Add MPI_PROCS to correctly set -n for slurm.
- Set -N by dividing CORES / MPI_PROCS.  With this CORES has the total cores among all the mpi processes. This is consistent with CORES, MEMORY, and DISK stating the total cores used by the rule, and allows easy tests by simply changing the -T argument.
   - If CORES is not given, it is

[2020-07-21 16:00] dthain commented on #2328
I agree with most of that, except: "If MPI_PROCS is not given, only -N is set."

I think in that case, it's a multi-core program, not an MPI program, so you want -N 1 -n 1 -c $CORES, right?

[2020-07-21 16:04] dthain commented on #2321
@camicarballo per our discussion today, you should be able to use the `link` object as it is.
`link_address_local` tells you the address and port of the local connection.
http://ccl.cse.nd.edu/software/manuals/api/html/link_8h.html#acc347b042e023a279eec60de1395e9ae

If you want to write a little helper function `link_local_port` as a wrapper around `link_address_local`, that would be fine.
But I d

[2020-07-21 16:42] btovar commented on #2328
Ah yes, missed that.

[2020-07-21 20:55] camicarballo commented on #2321
Should all of the properties of the struct work_queue_stats be returned? Or just some _important_ ones?

[2020-07-21 21:02] camicarballo commented on #2321
Also, the port number cannot be obtained from this work_queue_stats structure as it has been deprecated. So, for the purposes of port detection, this issue is addressed by #2332. In terms of adding a `stats` operation to the WQ-JSON API, I can create a separate issue specifically for that if needed.

[2020-07-22 13:28] dthain commented on #2321
The JSON `status` command need not correspond exactly to one single WQ C API call.
Use `work_queue_port` to get the port and put that in the status field.
There are a lot of fields there, I think it would be sufficient just to put the `task_*` and `worker_*` fields in there to start.

[2020-07-23 13:12] trshaffer commented on #2327
This is caused by a hard error due to redefining a function with the wrong signature (not a warning, so no `-Wno-whatever` to suppress it). This function, and especially the second argument, seem to have been deprecated for a while. glibc recently (in 2.31) changed the way it's defined in `sys/time.h`. Summarizing the header from 2.30 and prior:

    #ifdef __USE_MISC
    typedef struct timezone *

[2020-07-23 13:12] tshaffe1 opened #2336 "JX Lacks Dictionary Comprehensions"
We added list comprehensions to JX quite a while ago, and they serve as a powerful way to manipulate and filter expressions. The syntax is taken directly from Python ([PEP202](https://www.python.org/dev/peps/pep-0202/)). Python also supports an analogous syntax for dictionaries ([PEP274](https://www.python.org/dev/peps/pep-0274/)). Initially, JX was primarily used for expanding Makeflows so only l

[2020-07-23 13:38] nkremerh commented on #2336
Yes, this would greatly benefit the querying capabilities of JX.

[2020-07-23 13:44] btovar commented on #2328
safe-submit-mode is actually enabled in all the appropriate batch systems.

[2020-07-23 13:44] dthain commented on #2327
Appreciate the detailed writeup.  Of those, I think the last one is the minimally invasive, so you have the right solution here.  It would be helpful to add some of this explanation to the source so that future readers can understand more of the context.

Is this the only system call / library call with this sort of problem?

[2020-07-23 13:56] dthain commented on #2336
Let's think a little bit about the semantics.

Suppose you have:
[code]

Do you want the comprehension operator to accept a dictionary, like this?
[code]

Or do you want to explicitly extract keys and values in some way?
(In which case the comprehension operator still operates on lists.)
[code]

[2020-07-23 14:07] nkremerh commented on #2336
Another consideration, do we want to keep it Pythonic or not? I remember this being an important discussion for prior functionality.

[2020-07-23 14:07] dthain commented on #2336
Ok, what would that look like?

[2020-07-23 14:16] dthain commented on #2321
It's a small thing, but let's call this JSON API operation `status` rather than `stats`.
The former implies the current state of the system, while the latter implies "statistics".

[2020-07-23 14:49] trshaffer commented on #2327
AFAIK yes, since `gettimeofday()` is a weird case. None of the other functions we replace are deprecated/in limbo like that. It might be a good idea to check over our other `LD_PRELOAD` libraries to look for warnings in the man pages though

[2020-07-23 15:16] trshaffer commented on #2336
Python's version depends on helper functions to choose which way to operate. You might use `dict.keys()`, `dict.values()`, or `dict.items()` so e.g.

    {k: v+1 for k, v in d.items()}

There's a bit of distance to get this exact syntax implemented in JX.
- We don't have function lookup with the `.` operator. This would make it much easier to copy Python on various things, but we start having to d

[2020-07-23 15:23] btovar commented on #2327
Is parrot_helper.c actually used today? I don't remember any use case for years, thus the effort to fix it may not be worth the time investment.

[2020-07-23 15:24] dthain commented on #2336
Nate, I think it would be helpful if you can show some examples of queries that you want to write, but cannot, due to the lack of comprehensions-on-dictionaries.  That would give us some direction here.

[2020-07-23 15:26] btovar commented on #2327
The resource_monitor helper uses gettimeofday() indirectly via timestamp_get(). It includes "timestamp.h" with then includes "time.h".

[2020-07-23 15:28] dthain commented on #2336
Also, I think those examples show that we are bumping up against the peculiarity of pairs `k:v` which are really just two-element tuples `[k,v]`.  Suppose that we had dict-comprehensions just return each pair as an array `[k,v]`, similar to what you did with `items`  Then you wouldn't have to change the syntax at all:

[code]
And then:

[code]

[2020-07-23 15:54] trshaffer commented on #2327
It's not a problem unless you're *providing* `gettimeofday()` via `LD_PRELOAD` as `parrot_helper.c` does. If you're just calling `gettimeofday()` from within your code, the glibc change shouldn't be a problem (this is why they don't consider it a breaking change, as your other pointer arguments can just get implicitly converted to `void *`).

[2020-07-23 16:00] nkremerh commented on #2336
Using this object:
[code]

I might want to run the following queries to figure out the error message of the cleanup stage in task1:
[code]

[2020-07-23 16:23] trshaffer commented on #2336
For lists of pairs, can we only use that to pull components of objects -> arrays, or put another way is there any way for a comprehension to *produce* an object?

Also, the main motivating example I had in mind from Makeflow is filtering/modifying workflow components, e.g. double all resources

    {k:v*2 for k: v in RESOURCES}

or filtering environment variables out

    {k:v for k:v in ENVIRONME

[2020-07-23 16:32] dthain commented on #2336
Ah, I see.  Not just arrays and dictionaries in, but also arrays and dictionaries out.  Are all four combinations needed, or just like-to-like?

[2020-07-23 17:06] trshaffer commented on #2336
I think list->list and dict->dict would be the most common, but I don't see a big drawback in allowing cross-comprehensions. Allowing the mix-and-match does allow for some wild expressions, e.g. from Nate's example (assuming the outermost `obj` is supposed to have braces). This would give a list of `"cleanup"` messages pulled out from all tasks where `"error"` is nonzero,

    [v["cleanup"]["msg"]

[2020-07-23 17:35] dthain commented on #2336
Ok, so something like this:

[code]

Awkward problem `k:v` is a `pair` but not an `expr` so it cannot be generally substituted for `x`.
Do we want to make it an `expr` or just a special case for comprehensions?

[2020-07-23 17:43] nkremerh commented on #2336
Perhaps a question stemming from my own ignorance here, but do we need to explicitly ask for `k:v` as a pair?

For example:
[code]
The exact syntax is probably off here, but does this idea avoid that awkward problem?

[2020-07-23 17:50] dthain commented on #2336
I'm not sure what the intended meaning is, can you elaborate?

[2020-07-23 17:55] nkremerh commented on #2336
`k[v]` fits our current expression syntax while `k:v` does not. So, rather than ask for `k:v` as one thing, why not ask first for `k` then for `v`? Keep them as separate things, so we first resolve `dict` then each `k` in `dict` then each `v` in `k`. Does that make more sense?

[code]

[2020-07-23 18:02] dthain commented on #2336
Hmm, I'm not sure I get it yet.
Try to break it down into parts for me.

`dict` is a dictionary.
`k in dict` takes a key from the dictionary, I think?
`v in k in dict` takes the value corresponding to dict[k], I think ?
`k[v]` seems to imply that `k` is now an array.  Did you mean `[k,v]`?

[2020-07-23 18:14] trshaffer commented on #2336
Comprehensions are already sort of special cased: there's a `struct jx_comprehension` that contains the name of the iterator variable to use, the thing we're iterating over, etc. So in the AST a basic list comprehension looks like this:

    [x + 1 for x in L]
    struct jx:
        type = JX_ARRAY
        items:
            struct jx_item:
                value:
                    struct jx:

[2020-07-23 18:59] trshaffer opened #2340 "Refactor JX Function Dispatch"
The function infrastructure in JX is getting to be a bit messy. Previously, function eval consisted of
1. In `jx_eval_operator()` eval the right side **only**
2. If the operator is a function call, skip everything else and go to `jx_eval_call()` to switch on the function name (stored in the left operand; would be an error to evaluate since it's not a defined variable)
3. For other operators, eval

[2020-07-23 19:14] dthain commented on #2340
I like that general approach!

[2020-07-23 20:03] nkremerh opened #2341 "jx_parse_stream Breaks on Sufficiently Large JSON Document"
`jx_parse_stream` crashes after a malloc on sufficiently large documents. As an example, [this Makeflow log](https://github.com/cooperative-computing-lab/tlq/blob/master/example-dataset/server-data/7a608781-c422-43a8-aba0-d691548ffff9.json) parsed to JSON is 34MB.

Downloading this document locally and fetching this in `jx_test` using `fetch("/path/to/doc")` yields a segfault.

@dthain @trshaffer

[2020-07-24 12:51] dthain commented on #2336
While I don't want to close the door on this in the future, it seems like a general dictionary comprehension has a lot of complicating aspects that we should think about for a while before committing.

In the meantime, suppose that we add some suitable functions.  That's a much lower commitment (and functions are a layer separate than the core language).  If we add functions `keys` and `values`, t

[2020-07-24 12:52] dthain commented on #2336
@trshaffer @nkremerh what do you think?

[2020-07-24 13:00] dthain commented on #2341
Posting Nate's comment from Slack:
[code]

[2020-07-24 13:01] dthain commented on #2341
Pretty sure we are crashing due to stack overflow.
Will address this by converting `jx_parse_pair_list` from recursive to iterative...

[2020-07-24 13:13] nkremerh commented on #2341
I can confirm it is a stack overflow issue.

[2020-07-24 13:29] dthain commented on #2341
Recursive:

[code]

Iterative:

[code]
./jx_test
{}
fetch("https://raw.githubusercontent.com/cooperative-computing-lab/tlq/master/example-dataset/server-data/7a608781-c422-43a8-aba0-d691548ffff9.json")
Now enter expressions:
expression: fetch("https://raw.githubusercontent.com/cooperative-computing-lab/tlq/master/example-dataset/server-data/7a608781-c422-43a8-aba0-d691548ffff9.json")
. . .
[code]

[2020-07-24 15:02] #2327 closed

[2020-07-24 15:07] trshaffer commented on #2336
If it's sufficient for @nkremerh's stuff, that seems fine. Might also be helpful to add `items()`

[2020-07-24 15:08] nkremerh commented on #2336
That would be sufficient, yes.

[2020-07-24 16:27] dthain opened #2344 "JX keys() and values() Functions"
Breaking this off from #2336: We need two new functions for working with dictionaries: `keys(dict)` returns the keys as an array, `values(dict)` returns the values.

@trshaffer can you take a crack at this one?

[2020-07-24 16:32] trshaffer commented on #2327
@bcdarwin you should be able to get things to compile under glibc 2.31 now

[2020-07-24 16:51] dthain commented on #2344
Actually, I've got some time, I'll work on this one...

[2020-07-24 16:53] dthain commented on #2344
Whoops, I take that back, I'm giving it back to you, since it depends upon completing #2342

[2020-07-24 17:25] trshaffer commented on #2344
I added those functions to #2342

[2020-07-24 18:07] trshaffer opened #2345 "Automatic Backtraces"
GLibc can emit a stack trace, which might be useful for debugging segfaults (especially if just a log is available). Should we catch `SIGSEVG` and print a backtrace when possible? (With Parrot's mess of signals, I probably wouldn't try this, but most other executables might benefit)

[2020-07-24 19:47] bcdarwin opened #2346 "Not all Python code is Python3 compatible"
e.g., in the 7.1.6 release:

[code]

and likely other places

[2020-07-24 20:20] dthain commented on #2346
Hello @bcdarwin the `apps` directory has some examples of varying vintage that don't receive the same attention as our core code.

Is GATK something you are specifically interested in running at scale?

You may find the Makeflow Examples to be more helpful:
https://github.com/cooperative-computing-lab/makeflow-examples

[2020-07-24 20:57] bcdarwin commented on #2346
I'm not specifically interested in this example, but building `cctools` does cause the `makeflow_gatk` binary to be installed.  If it's just an unmaintained example, perhaps that shouldn't be the case?

[2020-07-25 19:21] nkremerh opened #2347 "JX Cannot Index Immediately After Function Call"
The following expressions _should_ work but currently fail at the parsing stage:

[code]

[code]

Uncovered by @trshaffer and myself while testing for #2342.

[2020-07-27 14:04] dthain commented on #2347
@trshaffer are you doing this one, or should I take a look?

[2020-07-27 14:53] #2341 closed

[2020-07-27 14:53] #2320 closed

[2020-07-27 14:54] #2321 closed

[2020-07-27 14:58] dthain commented on #2345
I'm open to this if it is straightforward and doesn't introduce any major portability/resource problems.
Always have to be careful about a monster backtrace introducing a UX problem...

[2020-07-27 15:28] dthain commented on #2347
However:
[code]

[2020-07-27 17:53] dthain opened #2349 "JX Eval Leak"
JX has a memory leak on this expression.
Haven't been able to quite track it down.
Related to a function generating an array as a result?

[code]

[2020-07-27 17:55] #2347 closed

[2020-07-27 17:56] trshaffer commented on #2349
I think this is fixed in #2342. I tracked down several memory leaks in eval and parse

[2020-07-27 17:59] dthain commented on #2349
Excellent, thanks.

[2020-07-30 13:09] tjuedema opened #2350 "python_package_analyze/create output/input discrepancy"
This could very well just be from incompatible versions of CCTools and conda-pack, but I'm getting the following:

[code]

tensor.py just consists of this:

[code]

[2020-07-30 15:18] trshaffer commented on #2350
Conda is kind of picky about the spec format, it won't accept .json files. You need to change the extension to .yaml (JSON is a subset of YAML, so the file otherwise works). Maybe a doc update is needed?

[2020-07-30 15:24] #2340 closed

[2020-07-30 15:24] #2344 closed

[2020-07-30 15:31] trshaffer commented on #2349
Fixed in e0bd59a35dd003f466cd3824d68b1aa5e5926aee, closing

[2020-07-30 15:31] #2349 closed

[2020-07-30 15:52] tjuedema commented on #2350
Used .yaml and .yml as extensions and it works as intended. Using .txt isn't an option unless a a separate case is added.

[code]

I agree a copy+replace of .json to .yaml would fix this. I'm just not sure if it's just a me problem in my environment, or if conda-pack was updated since this code was written and the tool should be updated as well.

[2020-07-30 17:14] bcdarwin opened #2353 ""*** swig version 3.0.12 is older than 2.0.4, disabling python3 support""
I'm compiling from source in the same environment as previously reported (#2327) but with SWIG added.

[2020-07-30 17:31] btovar commented on #2353
@trshaffer Tim, could you look at this one? I can't reproduce in the regular rhel7.  It is around line 1102 in ./configure.

[2020-08-04 02:34] bcdarwin commented on #1708
In particular, how does one annotate the JX Makeflows with these?

[2020-08-04 20:44] dthain commented on #2318
Closing this b/c I think the use case has been addressed.
Please let us know if you have any further problems.

[2020-08-04 20:44] #2318 closed

[2020-08-13 16:09] annawoodard opened #2361 "Per-task docker container invocation with WQ"
Note: many thanks to @btovar for all of his debugging help with this!

I have a pipeline which currently uses Parsl's htex executor. I'd like to switch to the WQ executor, especially in order to benefit from WQ's autolabeling/resource monitoring feature. This pipeline runs six different software tools, each requiring a specific docker image, over a set of input data samples. I'm currently running

[2020-08-13 16:38] dthain commented on #2361
Hello @annawoodard, great to hear from you!

If I can try to summarize the problem, it's that the WQ cannot see the resource consumption of the docker container b/c the docker command just communicates with the dockerd to make things happen.  Did I get that right?

I see a couple of possible solutions, of various levels of complexity and desirability.

1 - If you have some idea of the actual consu

[2020-08-13 16:49] annawoodard commented on #2361
Thanks @dthain, it's good to be back!

Yes, that's right. I favor solutions 2 or 3-- I think the automatic labeling feature of WQ is too great to pass up. Perhaps since having a cluster with users given permission to run docker is so unusual (for many good reasons), 3 is the best option. I will talk to our admin about installing Singularity, as long as we can confirm it should work normally.

[2020-08-13 18:46] dthain commented on #2328
@btovar please touch base with the original reporter on this one.

[2020-08-13 18:50] dthain commented on #2353
@bcdarwin Can you share your complete output from configure?  We aren't seeing this one.

[2020-08-13 18:53] dthain commented on #2353
The comparison done directly on the desired text works, so I'm guessing there is some oddity in the string being passed to format_version. For example, this produces `ok` as expected:

[code]

[2020-08-14 04:08] bcdarwin commented on #2353
I observe the following strange thing with `set -x`:

[code]

However, copying the test expression into the shell behaves normally.  Either it's something I'm not understanding with nonprinting characters or weird bash semantics being set in the build, or a Bash bug?  Anyway, probably out of scope for you to investigate.

[2020-08-14 12:04] btovar commented on #2353
One thing to consider is that 3000012000 does not fit in a 32-bit integer (max is 2147483648).  It could be that in this environment, calling /bin/sh limits integers to 32-bit, but calling /bin/bash does not.  Could you please try testing the expressions inside a /bin/sh session?

[2020-08-14 12:14] dthain commented on #2350
What's the resolution on this -- is a doc update needed, or just close the issue?

[2020-08-14 16:46] dthain commented on #2361
A quick test of `resource_monitor -- singularity rhel7.img ls -la` shows that it does observe the two-level process tree correctly.  Haven't tested beyond that, though.

[2020-08-14 16:59] btovar commented on #2361
If I try something like:

resource_monitor -- singularity exec rhel7.img  /bin/sh -c '/bin/sh -c "/bin/sh -c /bin/ls"'

I only see two max concurrent processes, when there should be at least 5.

[2020-08-14 17:11] dthain commented on #2353
A 32-bit limit sounds like an interesting idea.
FWIW, I did this same text on a 32-bit machine `cclvm09` and still got the correct results:
[code]

[2020-08-14 17:20] tjuedema commented on #2350
I spun up an AWS E2C instance to get a clean environment to install cctools and check the scripts. Setup looked like this:
[code]

Using the commands in the readme generates the same error as before:
[code]

Running this command set executes just fine:
[code]

So it seems to me that a doc update is in order, I'll submit a PR to update the readme and commandline option descriptions in the scripts.

[2020-08-14 17:25] dthain commented on #2350
@btovar can you check/update the dependencies for our conda package?

[2020-08-14 18:11] btovar commented on #2350
On it.

[2020-08-14 18:59] btovar opened #2363 "swig compilation cannot find system header files with newer conda-forge"
E.g.:
2020-08-14T18:44:19.4247443Z chirp_wrap.c:321:10: fatal error: string.h: No such file or directory
2020-08-14T18:44:19.4249057Z  #include <string.h>

It works in other places such as dttools/src/stringtools.c.

[2020-08-20 12:37] btovar opened #2366 "Add wall time as a resource for slurm in Makeflow"
Currently only CORES, MEMORY, DISC, and MPI_PROCESSES are set. For a use case, see:

https://github.com/cooperative-computing-lab/makeflow-examples/issues/35

[2020-08-20 12:51] dthain commented on #2366
I think this will be easy to add as a specific feature for SLURM.

Perhaps we should think about what it would take to make it work across Makeflow broadly?
- Use the resource monitor to cancel long-running jobs?
- Use the Makeflow main loop?
- Translate the feature to all other batch systems?

Or, if we can't make it universal, we should be careful to document which resources are actually impleme

[2020-08-20 12:55] btovar commented on #2366
The one with the resource_monitor will be universal, it is just a matter of changing wall_time = -1 to something else in the resources struct.

For others, we need to check which systems actually support time as a resource. I was thinking on adding time just for slurm for now to quickly solve the current issue, and then expand in a larger pr.

[2020-08-20 12:58] dthain commented on #2366
+1 for a quick fix in slurm.

[2020-08-26 11:48] btovar opened #2369 "resource information per rule should be available when using --safe-submit-mode"
As reported by Willem Marais, using --safe-submit-mode makes the memory information specified in the jx rule unavailable. In classic makeflow, we can do the following:

[code]

It would be helpful to have a similar solution in JX.

[2020-08-26 12:44] dthain commented on #2369
Alternatively, perhaps we can add NODES as a resource?

[2020-08-27 11:36] btovar opened #2373 "print a warning or fatal() exit when a CATEGORY is reassigned resources"
See: https://github.com/cooperative-computing-lab/makeflow-examples/issues/36

The CATEGORY always uses the very last resource definition. Assigning different values to the same CATEGORY is most likely an error.

[2020-08-28 18:44] btovar opened #2375 "Define a minimum desirable allocation for first allocations in work queue"
In some cases, the first allocation optimizes to a low practical value, say for disk, to 100MB.  If a future task tries to use 120 MB, it will be retried using a whole worker, which may be very wasteful.  However, from a practical point of view, there may not be much difference in allocating 100MB or 1GB given the workers available in the first place.  It would be desirable to have a wq call that

[2020-09-10 18:39] btovar opened #2385 "add work queue factory to read the docs"
Currently, only the man page is available.

[2020-09-11 15:15] dthain opened #2388 "Doc: Fix None None None"
Under "reference" on the left side of readthedocs, we see "None None None" for some reason.

[2020-09-11 15:25] btovar opened #2389 "add one-shot mode to wq factory"
The idea is for the factory to read a transactions log of already submitted jobs, connect to the catalog, make a decision on new jobs to submit and exit.

We would need to add the transactions log, and stop the factory from canceling jobs on exit.

[2020-09-11 15:32] dthain opened #2390 "Small Project: Makeflow Status HTML"
A request from our friends at UA:

Have Makeflow generate an HTML status page that shows overall progress, details about jobs, links to log files, etc.  Dump it out periodically (e.g. every 60 seconds) into the current directory.  They already have a web server serving up the current directory, so no reason to add HTTP support.

[2020-09-11 15:34] btovar opened #2391 "add support for centos8"
OSG-SW  includes cctools, and they are starting to distribute centos8 binaries. From our side we need to add centos8 to our CI, and fix any errors that may come up.

[2020-09-11 17:00] #2388 closed

[2020-09-11 18:22] dthain opened #2395 "CCTools: Rename to Manager?"
@btovar please do a quick survey via grep to see the feasibility of renaming "master" to "manager" throughout.

To what extent would this involve:
a) Change to program names and options (likely to break current users)
b) Change to API details (possible to break current users)
c) Change to internal names etc (not likely to break anything)

[2020-09-11 18:45] btovar commented on #2395
a) 'master' is only used in documentation and command line arguments. Adding 'manager' and deprecating 'master' should not break current uses.
b) When required, we use project name instead of master name, thus no break there. 'blacklist' is part of the wq API. We can change that to 'blocked_list' and deprecate 'blacklist.
c) Mostly messages to the catalog (wq_master, master_load, master_preferred_

[2020-09-11 20:00] btovar opened #2397 "add string descriptions to failing task results in wq"
When a task fails using wq in python (and others), the task result is only given as a number.  For example, 1 for a missing input. It would be more useful to have a function in the style of strerror that prints descriptions for those results.

[2020-09-14 12:53] btovar commented on #2375
Fixed with #2379

[2020-09-14 12:53] #2375 closed

[2020-09-14 15:17] btovar commented on #2366
Fixed with #2372

[2020-09-14 15:17] #2366 closed

[2020-09-14 15:22] dthain commented on #2395
Ok, would you like to make a PR starting with just a few applications of sed, and see how that looks?

[2020-09-14 15:37] btovar commented on #2395
Sounds good!

[2020-09-14 15:49] btovar commented on #2395
sed probably won't cut it, as we need to preserve compatibility of options.

[2020-09-14 15:55] dthain commented on #2395
Would it work to start with sed to generate a draft PR, and then we go back
and fix things that shouldn't change?  I suspect the number of items is
quite small...

On Mon, Sep 14, 2020 at 11:50 AM Benjamin Tovar <notifications@github.com>
wrote:

[2020-09-15 02:48] HDsky opened #2399 "Enable MPI support"
I compile the cctools (version 7.1.7) in our cluster to enable mpi support

use the next code to configure
[code]
but the configure result show that:
[code]

I make sure that the "which mpicc" to the right mpic path, so how should i do to enable the MPI support in cctools?

[2020-09-15 11:15] btovar commented on #2399
My guess is that the configure script also printed the message:  ignoring unknown package --with-mpicc-path

Could you try instead with --with-mpi-path=$(which mpicc)  ?

[2020-09-15 11:25] HDsky commented on #2399
Ok，you are right. Thks a lot.

But i have to point out that the install guide (https://cctools.readthedocs.io/en/latest/install/from-source/) should be change immediately.

[2020-09-15 11:31] btovar commented on #2399
Great! Thanks for letting us know.

[2020-09-15 12:05] #2399 closed

[2020-09-18 17:16] nkremerh opened #2409 "jx_item_copy Breaks on Sufficiently Large JSON Documents"
Similar to #2341. Recursive implementation of jx_item_copy seems to be causing a segfault:

[code]

[code]

[code]

[2020-09-18 17:25] dthain commented on #2409
Nate, this looks like a good opportunity for you to rewrite the recursive `jx_item_copy` and `jx_pair_copy` into iterative versions!

[2020-09-23 08:05] HDsky opened #2413 "Fix the github repository link in manuals"
the web page (https://cctools.readthedocs.io/en/latest/install/)

the "github repository" link to https://github.com/cooperative-computing-lab/cctoolscctools-source

I think it is a mistake , should be change it to https://github.com/cooperative-computing-lab/cctools

[2020-09-23 08:06] HDsky commented on #2413
#2412

[2020-09-23 13:26] btovar commented on #2413
Thanks for your report and pr!

[2020-09-23 13:26] #2413 closed

[2020-09-24 15:59] btovar opened #2418 "makeflow hangs on timeout when specifying directly -t in BATCH_OPTIONS"
The issue is that on timeout, slurm is not updating the status file of the job. E.g:

[code]
but:

[code]
and:

[code]

[2020-09-24 17:54] bcdarwin commented on #2418
I have this issue as well with `makeflow -Tslurm` using `cctools 7.1.6` and a rather old `slurm 17.02.7'.

[2020-09-24 18:00] dthain commented on #2418
@btovar recall that the status file is not created by SLURM per se, but by the wrapper script around the job.  So, if SLURM decides on its own to cancel the whole job, then the wrapper script doesn't get a chance to write the completion record.

[2020-09-24 18:01] btovar commented on #2418
Ah yes, I was treating it as condor log.

[2020-09-28 21:02] bcdarwin opened #2423 "makeflow: directory existence semantics differ between -Twq and -Tslurm (or other) backends"
Consider the following `makeflow.jx`:

[code]

This will clearly fail if `some_directory` does not exist, but what about the situation when it's created by hand, i.e., as an overall input file?  The confusing part is that this depends on the backend used: if `-Ttorque` (or Slurm, etc.) is used, the workflow succeeds, while if `-Twq` is used, it fails with a file write error:

[code]

(Tested with

[2020-09-29 11:15] btovar commented on #2423
Ben,

You are observing the different semantics of batch systems, which is a
tricky area that makeflow has to deal with. Torque, slurm, etc. expect a
shared filesystem, but Work Queue does not. Work Queue assumes that it is
doing all of its operations in a sandbox inside the local filesystem where
the worker is running. Thus, when manually doing the "mkdir
some_directory", that only occurs in the

[2020-09-30 17:23] bcdarwin commented on #2423
From what you've said, I think it makes sense to keep things as they are.  Maybe the best 'fix' is to add a prominent note about this to the Makeflow docs so that naive users such as me don't get the idea they can simply switch backends?  If it's not too involved, a flag to disable the Workqueue sandbox might also be helpful for users using WorkQueue on a Slurm cluster.  (I could add the extra `mk

[2020-09-30 18:25] btovar commented on #2423
Thanks for your suggestions! We would definitely add the prominent warning
to makeflow docs. As for Work Queue, 'task in a sandbox' is its execution
model and everything is built around that, so I am afraid that it can't be
changed without major modifications.

Your use case of Makeflow+WQ is one of the reasons we recommend using Work
Queue instead of directly submitting tasks to slurm, so please

[2020-10-01 15:32] btovar commented on #2423
Ben,

We have added the warning to the manual you suggested:
https://github.com/cooperative-computing-lab/cctools/pull/2436

Thanks again!,

On Wed, Sep 30, 2020 at 2:24 PM Ben Tovar <btovar@nd.edu> wrote:

[2020-10-06 16:54] dthain opened #2440 "Makeflow: Nested Jobs Don't Set Log"
Per this issue from makeflow-examples
https://github.com/cooperative-computing-lab/makeflow-examples/issues/39

Apparently sub-makeflows don't set a distinct log file for each workflow run, which seems like a serious bug.
I think the repair is just to adjust the nested job generation to generate a unique file name, attach it as the log file name, and register it for cleanup, must like `jx_args`:

[2020-10-06 16:56] dthain commented on #2440
Meant this:
https://github.com/cooperative-computing-lab/cctools/blob/master/makeflow/src/makeflow.c#L306

[2020-10-06 16:59] btovar commented on #2440
I'll submit the pr shortly. Writing the test for it.

[2020-10-06 19:16] bcdarwin commented on #2301
This seems like it might be an actual issue independent of valgrind as `work_queue_worker -Tslurm ...` also segfaults for me on Ubuntu 16.04 (cctools 7.1.6 compiled with gcc 5.4.0.  Gdb output:

[code]

I don't see an option in `./configure --help` to switch between static and dynamic linking?

[2020-10-06 20:11] btovar commented on #2301
Interesting... I believe that this is an unrelated issue that went away with https://github.com/cooperative-computing-lab/cctools/pull/2372/commits/ff768b5daf584da601d61ac5d9108825180e96c6.  Do you still see it with the current master branch?

[2020-10-06 21:26] bcdarwin commented on #2301
Indeed, the above `work_queue_factory` segfault seems resolved on master.  (Unsure about the original issue.)

[2020-10-06 22:00] bcdarwin opened #2442 "work_queue_factory doesn't have an accurate view of the queue?"
I started a workqueue job and then ran `work_queue_factory -Tslurm $(hostname) 9123`.  Some of the worker jobs are being cancelled by `slurm` for some (yet unknown) reason, resulting in the `work_queue_factory` output disagreeing with `squeue`, i.e., `work_queue_factory` shows

[code]

but according to `squeue` only two jobs exist.

[2020-10-07 11:20] btovar commented on #2442
We recently added https://github.com/cooperative-computing-lab/cctools/pull/2419 to the master branch to detect this sort of cases. After less than 3 minutes the factory should have detected that the jobs are not running anymore. For how long was the factory running after you observed the discrepancy?

[2020-10-07 12:10] #2423 closed

[2020-10-07 21:12] bcdarwin commented on #2442
Building from a recent commit I see `work_queue_factory` alternates every 30s between the following two states (the Slurm jobs crash immediately due to an environment issue):

[code]

This is less than your 2-minute hard-coded heartbeat, so I guess some other mechanism is causing this?

I guess part of the problem is that my system is misconfigured (inadvertently at first), but I wonder what the p

[2020-10-08 14:03] btovar opened #2445 "makeflow nested workflows fail if makeflow not in PATH"
This means that -Tlocal fails if makeflow not in PATH, and that the makeflow executable is not added as an input when executing remote workflows.

[2020-10-09 13:35] #2373 closed

[2020-10-09 15:30] #2445 closed

[2020-10-13 17:22] btovar commented on #2418
Fixed with #2419

[2020-10-13 17:22] #2418 closed

[2020-10-13 17:22] btovar commented on #2440
Fixed with #2441

[2020-10-13 17:22] #2440 closed

[2020-10-15 20:43] bcdarwin opened #2453 "lack of schema checking in makeflow definitions"
For instance, the following line does nothing to execution of rules of category C:

"categories": { "C" : { "resouces" : { "MEMORY" : 4096, "cores" : 4 } } }

[2020-10-16 12:13] btovar commented on #2453
Ben, thanks for your report. jx validation is in our plans. We'll keep you posted through this open issue.

[2020-10-19 17:15] btovar opened #2457 "Separate jx the language from the schema to describe workflows"
E.g., in:
https://cctools.readthedocs.io/en/latest/jx/jx-tutorial/

the examples generate workflows, but jx is more general than that.

In:
https://cctools.readthedocs.io/en/latest/jx/jx-quick/
already there is a natural division of workflow schema, proper json, and jx library.

[2020-10-29 13:08] btovar opened #2462 "add dockerhub auth to travis conf"
See: https://www.docker.com/blog/docker-hub-image-retention-policy-delayed-and-subscription-updates/

[2020-10-29 17:58] #2462 closed

[2020-11-09 18:16] dthain opened #2472 "Packaging Test Repository"
In order to test our various integrations with other software (and avoid complexifying our existing repo), we need a new repository `cctools-packaging-tests` that simply tests installation and execution at a high level, roughly:

[code]

[2020-11-16 19:03] dthain commented on #2390
Take a look at this file:
https://github.com/cooperative-computing-lab/cctools/blob/master/makeflow/src/makeflow_catalog_reporter.c

Add another function called makeflow_file_summary that writes key data about the dag out to a file.

Find the place in makeflow.c where makeflow_catalog_summary is called, and add a similar feature to call makeflow_file_summary every 60 seconds.  (Make that a configu

[2020-11-30 14:43] dthain opened #2479 "Makeflow: Add LSF Support"
Add support for the LSF batch system to Makeflow, and work with Larry Singh to make sure that it works for his particular LSF system and workflow.

At first glance, this looks like a straightforward update of `batch_job_cluster.c`: add LSF to the batch type enumeration and add cases for running `bsub` and appropriate commands to execute each makeflow job.  Consult the LSF user documentation for th

[2020-11-30 15:08] dthain commented on #2479
Adding @larryns to the ticket.

[2020-11-30 15:08] dthain commented on #2479
Documentation for the facility:
https://hpcwiki.pmacs.upenn.edu/wiki/index.php/HPC:User_Guide

[2020-11-30 15:09] dthain commented on #2479
@larryns can you share the command lines that you use to get your jobs running, along with the output that comes back, showing the job id that was submitted?

[2020-11-30 15:30] larryns commented on #2479
Sure, there are two ways I usually do it:

1. bsub -J <jobname> -M <memory in Mb> -n <number of cores> -o <output file> -e <error file> <shell script>

e.g. bsub -J runmeJob -M 42000 -n 12 -o runme.o -e runme.e runme.sh
will request 42Gb, 12 cores and run the script runme.sh

2. Alternatively you can put the requirements in the shell script, e.g.

#!/bin/bash
#BSUB -J runmeJob
#BSUB -e runme.e
#BS

[2020-11-30 18:44] dthain opened #2480 "Work Queue Status JSON Problem"
`work_queue_status --tasks <host> <port>` produces invalid JSON because each object is printed independently.  Adjust it slightly to print the following instead:

[code]

You will know that it works because you can do this: `work_queue_status --tasks ... | json_reformat`

[2020-11-30 20:34] dthain commented on #2479
Is that the literal output, or did you add the angle brackets around the job number?

[code]

[2020-11-30 20:39] larryns commented on #2479
Literal, straight copy and paste. I didn't add the angle brackets.

[2020-12-01 16:06] dthain commented on #2480
@btovar this would appear to be the culprit:

https://github.com/cooperative-computing-lab/cctools/blob/23dada7e12c78e5df05a5df44bb138d51aa657f5/work_queue/src/work_queue_status.c#L486

Do you recall why we did it this way?

[2020-12-01 16:12] btovar commented on #2480
I think the idea was that you could stream the tasks through a pipe.  The next component in the pipe needed to only wait for a complete task, rather than the whole array of all of them.

[2020-12-01 16:30] dthain commented on #2480
That seems like a general challenge with JSON data, I wonder if there was some specific application that we had in mind for tasks?

[2020-12-01 17:54] dthain commented on #2479
PR #2481

[2020-12-02 14:11] #2480 closed

[2020-12-02 14:12] #2409 closed

[2020-12-02 14:47] dthain commented on #2479
@larryns we have a prototype here for you to try.  There is always some unexpected oddity that comes up with a new system.  Please try this out and let us know how it goes for you:

You will have to install from source:
[code]

Then, when you run makeflow, please generate a debug output file, which should clarify if anything unusual happens.  For example:

[code]

[2020-12-02 14:53] larryns commented on #2479
@dthain: Thanks! I'll give it a shot over the next week and get back to you.

[2020-12-04 02:56] larryns commented on #2479
@dthain So I ran makeflow and had some issues. The problem might be on my part, but I can send you the debug.log file. How can I send it to you? It's 440kb.

[2020-12-04 16:06] dthain commented on #2479
Perhaps you could post the log file in a gist and link it here?
Also, the makeflow command line and the workflow would be helpful too.

[2020-12-04 16:38] larryns commented on #2479
@dthain Here you go: https://gist.github.com/larryns/6e4b9140870468c6da1bf9fa29aa2bb0

No jobs were created, and I ended up just hitting Ctrl-C on the makeflow process to kill it.  Let me know if you need anything else.

Thanks!

[2020-12-04 16:47] dthain commented on #2479
Hmm, here is what I can deduce from the log.  Makeflow did submit an LSF job:

[code]

Then, about 30s passed while makeflow was waiting for the job to come alive:
[code]

Those repeated messages might be a little misleading.  Makeflow is looking for that status file, but it won't get created until the job starts to run in LSF.  So, a certain number of those are expected.  It looks like you cancel

[2020-12-04 16:54] larryns commented on #2479
Sorry I probably should've run it longer, but I wanted to just have a short file. This is one of the many runs I had. In some of the runs I let it go for about 30 mins, and same thing.  I can run it longer and send you the longer debug.log. As far as I can tel the job died quickly.

Here's the account from bjobs -l 67593160

Job <67593160>, Job Name <makeflow0>, User <larryns>, Project <default>,

[2020-12-04 17:12] dthain commented on #2479
Ok, we are making progress, it looks like the wrapper script `lsf.wrapper` is exiting right away without running the job.
That makes me suspect it is not receiving the desired environment variables.
Let's try a few debugging steps.
Could you please try running this command directly on the head node?

[code]

And let me know what the output is?

[2020-12-04 17:15] btovar commented on #2479
The exit code 127 usually means that an executable was not found (in the PATH or otherwise). One reason is that the lsf.wrapper stars with the incorrect working directory. See how for  torque and pbs we have:

[code]

[2020-12-04 17:17] dthain commented on #2479
I think that is addressed by the `-cwd` option to `bsub` but of course it's good to verify everything...

[2020-12-04 17:21] larryns commented on #2479
Okay here we go. No output in error.out. Here's the output.out

Sender: LSF System <lsfadmin@node193.hpc.local>
Subject: Job 67593370: <makeflow0> in cluster <pennhpc> Done

Job <makeflow0> was submitted from host <consign.hpc.local> by user <larryns> in cluster <pennhpc>.
Job was executed on host(s) <12*node193.hpc.local>, in queue <normal>, as user <larryns> in cluster <pennhpc>.
</home/larryns>

[2020-12-04 17:39] dthain commented on #2479
Ok, that's helpful, and it tells me that the LSB_JOBID is getting set appropriately.
Now to check Ben's question above, could you try this:

[code]

(And if you are getting sick of debugging by carrier pigeon, let me know and we can do something more interactive.)

[2020-12-04 17:47] larryns commented on #2479
You have to specify an argument for cwd, so I ran:

`bsub -o output.out -e error.out -env all -cwd ${PWD} /usr/bin/pwd`

output.out:

Sender: LSF System <lsfadmin@node188.hpc.local>
Subject: Job 67593587: </usr/bin/pwd> in cluster <pennhpc> Done

Job </usr/bin/pwd> was submitted from host <node153.hpc.local> by user <larryns>
 in cluster <pennhpc>.
Job was executed on host(s) <node188.hpc.local>,

[2020-12-04 17:58] dthain commented on #2479
Aha, I see the problem: @btovar was right and I missed the `-cwd` in the first place.  Just fixed that in the source.

Ok, you will have to pull and rebuild a new version:
[code]

Then, go back to your workflow directory and delete `lsf.wrapper`

Then go ahead and re-run your workflow from the beginning, and let me know how it goes.

(Appreciate your patience on this; it's always a bit tricky gett

[2020-12-04 18:08] larryns commented on #2479
Okay, same problem. It looks from the job info that the job is running in the right path. Granted, I could be doing something wrong.

`bjobs -l 67594031`

Job <67594031>, Job Name <makeflow0>, User <larryns>, Project <default>, Status
                      <EXIT>, Queue <normal>, Command <lsf.wrapper>, Share grou
                     p charged </larryns>
Fri Dec  4 13:04:24: Submitted from host <n

[2020-12-04 18:27] dthain commented on #2479
Hmm, do you mind if we sync up and work on this interactively?

[2020-12-04 18:31] larryns commented on #2479
Sure no problem. What do you have in mind for chat?

[2020-12-04 18:41] dthain commented on #2479
Coordinates coming by email...

On Fri, Dec 4, 2020 at 1:31 PM Larry N. Singh <notifications@github.com>
wrote:

[2020-12-04 20:59] dthain commented on #2479
After some leg work, we found several interacting problems:

1 - The wrapper file has a stray `EOF` produced at the very end, that seems to be a leftover from some prior bit of code -- that needs to be removed.

2 - The new feature that produces `alive` messages in the log works, but results in the wrapper script having a failure exit value b/c the process is killed.  The exit status of the wrappe

[2020-12-07 17:37] dthain commented on #2479
#2485 updates some of the issues we discovered on Friday.

[2020-12-07 18:47] dthain commented on #2479
@larryns please pull the latest version of makeflow, then `make clean` and `make install` and try again.  If for some reason it doesn't work the first time, then add `--disable-heartbeat` to the makeflow command line and see if that helps.

[2020-12-07 19:19] larryns commented on #2479
@dthain Nope, sorry with or without --disable-heartbeat didn't work. I removed the source entirely and did:

`git clone https://github.com/cooperative-computing-lab/cctools
cd cctools
./configure --prefix $HOME/cctools-test
make install`

as before. Then ran makeflow with and without disable-heartbeat, but neither worked. Do you need to see the debug.log?

Thanks.

[2020-12-07 19:38] dthain commented on #2479
Darn, yes, please share the various files via gist as before..

On Mon, Dec 7, 2020 at 2:19 PM Larry N. Singh <notifications@github.com>
wrote:

[2020-12-07 21:06] larryns commented on #2479
@dthain Ok here's the new gist:

https://gist.github.com/larryns/6e4b9140870468c6da1bf9fa29aa2bb0

[2020-12-08 20:24] dthain opened #2488 "WQ: Flag to Return File on Error"
This came up in a user discussion today: when debugging a failed task, you often want to get back certain log files to understand what happened.  However, the files may be large and you don't want them back for tasks that succeeded.

So: Add a new flag for WQ files (`WORK_QUEUE_FAILURE_ONLY`) that indicates the file should only be returned if the exit status of the job is non-zero.

[2020-12-10 15:22] dthain commented on #2479
On a quick call this morning, we narrowed it down to a missing dot-slash on the wrapper file.
Apparently LSF does a PATH search on the bsub argument, and so it misses things in the current working directory.

[2020-12-10 20:49] dthain commented on #2488
#2489

[2020-12-10 20:49] #2488 closed

[2020-12-10 20:50] #2395 closed

[2020-12-10 20:52] dthain commented on #2390
#2486

[2020-12-10 20:52] #2390 closed

[2020-12-14 15:26] dthain commented on #2479
@larryns I'm closing this one out b/c it appears to be working.  Of course, let us know if you have any further trouble.

[2020-12-14 15:26] #2479 closed

[2020-12-14 15:38] larryns commented on #2479
@dthain so far, so good. I've been installing makeflow from conda. Any idea when I can pull a new conda package will be made?

[2020-12-14 15:41] dthain commented on #2479
@btovar can you make a Conda release sometime this week to roll up a few recent changes?

[2020-12-14 15:45] btovar commented on #2479
will do

[2020-12-14 15:53] larryns commented on #2479
Thanks!

[2020-12-14 20:38] dthain commented on #2472
@trshaffer please take a look at the new test repository, and add a new script case that installs the latest version of parsl+cctools via conda+pip or whatever is the recommended method.

(Let's just test the build/install for now and an actual execution test can wait.)

[2020-12-14 20:38] dthain commented on #2472
https://github.com/cooperative-computing-lab/cctools-packaging-test

[2020-12-15 15:14] btovar opened #2494 "WQ: Should the flag WORK_QUEUE_SUCCESS be added when adding files to a task?"
Similar to #2488 (WORK_QUEUE_FAILURE_ONLY), should we add a flag to retrieve a file only when the task succeeds?

[2020-12-15 15:17] dthain commented on #2494
I think we talked about several cases yesterday:
`WORK_QUEUE_FAILURE_ONLY` - Only return this file if the task fails.  (already exists)
`WORK_QUEUE_SUCCESS_ONLY` - Only return this file if the task succeeds.
`WORK_QUEUE_OPTIONAL` (is there better name?) Do not consider the job a failure if this file was not created.

Is there another case we should be concerned about?

Related question: should it

[2020-12-16 16:57] dthain opened #2495 "WQ+Coffea Tidbits"
The WQ+Coffea integration works, but has a few hiccups that I think make it difficult for someone to put it all together.  Some things to fix in different places:

In our minimal integration test example:
https://github.com/cooperative-computing-lab/cctools-packaging-test
1 - Add a tiny example input file so that the whole thing can be run in less than a minute.
2 - Test to see whether Coffea can

[2020-12-16 17:18] dthain commented on #2495
11 - Add a password option to the wq executor, to address the visible password complaint.

[2020-12-16 19:04] dthain commented on #2495
1 - Found the correct settings for maxchunks to work properly.  CI is now working:
https://github.com/cooperative-computing-lab/cctools-packaging-test
5 - ibid.
4 - Fixed output stage in Coffea, PR in progres:
https://github.com/CoffeaTeam/coffea/pull/390

[2020-12-17 19:52] dthain commented on #2495
2,6,7 - Coffea can be installed via Conda.  The Conda docs and our CI are now consistent with each other.  (And the examples work!)

[2020-12-17 20:22] dthain commented on #2495
The existing executor had a serious problem: all tasks were materialized in advance, which could cause serious filesystem problems with a large number of tasks.  Now, task materialization and execution are interleaved, with cleanup in between:
https://github.com/CoffeaTeam/coffea/pull/392

[2020-12-17 20:23] dthain commented on #2495
Now, things run smoothly, but there is a new problem: in some cases, tasks get "hung up" on workers.
It seems to occur on workers that run multiple tasks simultaneously.
Wondering if this has to do with synchronizing access to the unpacked software...

[2020-12-17 21:15] dthain commented on #2495
The problem is a bit hairy.  To reproduce: start up on worker on, say, d12chas323 with 12 cores.
Let jobs run and wait a while.  Eventually some jobs will get stuck.  Digging into the task directory,
we can see that the job actually seemed to run correctly and produce the desired output, but
the python executable gets stuck at the end

If you gdb the stuck python process, you get this:

[code]

Th

[2020-12-17 21:21] dthain commented on #2495
Idea for a clunky solution: use `os._exit(0)` at the end of the python `fn_as_file` script to avoid finalization.

[2020-12-18 17:31] dthain opened #2497 "WQ: Fix work_queue_hungry"
`work_queue_hungry` is designed to simplify the question of whether one should produce more tasks for the queue.
It's used like this:

[code]

The current implementation dates from way back when we assumed that one task would run on each worker.  So, it assumes that the number of idle jobs in the queue should be roughly equal to the number of workers.  It returns true if there are fewer than this

[2020-12-18 17:34] dthain opened #2499 "WQ + Coffea Hierarchical Execution"
The WQ executor for Coffea works in a straightforward way.  For each "item" in a Coffea workload, the WQ executor generates a single-core task that runs on a worker.  If you have e.g. a 24-core worker, then you get 24 independent tasks.

This works, but isn't ideal, because each of those 24 core tasks pays its own startup cost and makes its own network transfer.  (Although they do share the same s

[2020-12-18 17:35] dthain commented on #2495
The executor is largely fixed up now and runs smoothyl.
Still some project opportunities for improvement that will come as later issues.

[2020-12-18 17:35] #2495 closed

[2020-12-18 17:40] dthain opened #2500 "WQ Status Resources"
The current WQ resource status display shows the total number of resources at the workers:

[code]
This would be more useful if it showed the resources in use by tasks alongside the total at workers, so that you could see, for example, that your workflow was constrained by cores, or memory, or disk.  Something like this:

[code]

[2020-12-18 17:54] dthain commented on #2500
@tphung3 I think this is another good starter issue for you to work on.

Take a look at `work_queue/src/work_queue_status.c`
Notice that it generates output automatically from the `jx_table` structures at the top.
So, all you have to do is add entries to the resource display:
Add rows for `tasks_total_cores`, `tasks_total_memory`, `tasks_total_disk` in addition to `cores_total`, `memory_total`, an

[2020-12-18 20:23] dthain opened #2502 "WQ Status - Worker and Task Resources"
The status messages coming back from the master to `work_queue_status` could be beefed up in several small but important ways that would make it easier to debug problems:

In `work_queue.c`:
`task_to_jx` should include the task's resource request.
`worker_to_jx` should include the total resources and resources in use.
`process_queue_status` workers of type `QUEUE_STATUS` should be skipped.

Then i

[2021-01-13 21:00] dthain commented on #2500
#2505

[2021-01-13 21:00] #2500 closed

[2021-01-15 21:25] dthain commented on #2472
Working:
- github
- conda
- parsl
- coffea

not spack -- takes forever to run!

[2021-01-15 21:25] #2472 closed

[2021-01-21 14:50] dthain commented on #2497
@tphung3 This would be a good next step issue to work on.
It also applies to hypersweep, since using `work_queue_hungry` would allow you to pipeline jobs.

[2021-01-27 17:21] dthain opened #2510 "WQ: Evaluate status of GPUs as a managed resource."
WQ has some level of baked-in support for GPUs as a resource, but I am not sure that this feature path has been carefully walked from end to end recently.  We should make sure that this works well:
- Are tasks instructed as to the number of GPUs they should use?
- Can workers detect the number of available GPUs?  (Ok, if this is just nvidia)
- Can workers be manual configured with number of GPUs?

[2021-01-27 17:24] dthain commented on #2510
Can workers detect the number of available GPUs? (Ok, if this is just nvidia)
Yes:
[code]
Can workers be manual configured with number of GPUs?
Yes
[code]

[2021-01-27 17:28] dthain commented on #2510
Are tasks instructed as to the number of GPUs they should use?
Yes:
https://github.com/cooperative-computing-lab/cctools/blob/master/work_queue/src/work_queue_process.c#L193

[2021-01-27 17:30] dthain commented on #2510
Yes:
[code]

[2021-01-27 17:35] dthain commented on #2510
Does the manager schedule/account for GPUs correctly?
Yes:
https://github.com/cooperative-computing-lab/cctools/blob/master/work_queue/src/work_queue.c#L3554

[2021-01-27 17:35] dthain commented on #2510
Are GPUs in the API?
yes:
https://ccl.cse.nd.edu/software/manuals/api/html/work__queue_8h.html#a6a572c831f87b142f96f764a640eef67

[2021-01-27 17:36] dthain commented on #2510
Does Makeflow allow one to specify number of GPUs as a resource? (Is this documented?)
Yes:
https://cctools.readthedocs.io/en/latest/jx/jx/

[2021-01-27 17:38] dthain commented on #2510
Does the factory read back number of GPUs needed from the master?
NO:
https://github.com/cooperative-computing-lab/cctools/blob/master/batch_job/src/work_queue_factory.c#L179

[2021-01-27 17:39] dthain commented on #2510
Does the factory submit workers with the appropriate GPU request? (And the appropriate command line?)
NO:
https://github.com/cooperative-computing-lab/cctools/blob/master/batch_job/src/work_queue_factory.c#L319

[2021-01-27 17:55] dthain commented on #2510
#2511

[2021-01-27 18:00] dthain opened #2512 "Infra: Use Github Actions for CI"
We are currently using a (recently expensive) paid plan on TravisCI to run continuous integration on every PR.

Set up a github actions workflow to build and test cctools on every PR, on our various supported platform.

As a starting point, you could use our packaging test workflow here:
https://github.com/cooperative-computing-lab/cctools-packaging-test/blob/main/.github/workflows/build.yml

If t

[2021-01-27 21:28] dthain commented on #2510
That covers the things that were obvious to me.
@btovar do you have any problems in mind relating to gpu support?

[2021-01-28 17:17] btovar opened #2513 "Catalog: Dealing with hosts that have multiple names"
The functions in domain_name_cache.c used by the catalog server cache the names for DOMAIN_NAME_CACHE_LIFETIME seconds (default is 300). When a host has two names and this timeout expires, there is a chance that the catalog will determine that the host has a different name from the originally found. As far as the catalog (and the tools that depend on it, such as wq factory), the names corresponds

[2021-01-28 18:23] dthain commented on #2512
@btovar you did a nice comparison of CI platforms, can you link that document here?

[2021-01-28 18:27] btovar commented on #2512
Here it is:

https://docs.google.com/document/d/1XbzmiH6xfInZhBD8vIJnj8JGvp_jaLBZNqzEMPoQVE8

[2021-01-29 14:06] #2510 closed

[2021-01-29 14:17] #2494 closed

[2021-01-29 14:20] dthain commented on #2502
@tphung3 I think this is a next good one for you to work one.  Will make it easier to see what's happening as you are building applications with dynamic resource requests.

[2021-01-29 14:23] dthain commented on #2502
Correction: Add Cores, Memory, Disk, and Gpus to the -T and -W displays of `work_queue_status`

[2021-01-29 16:07] dthain opened #2514 "WQ: Assign Specific GPUs"
Currently, the WQ framework allocates GPUs by just counting the number in use.

For example, if you submit three jobs: J1 requires one GPU, J2 requires one GPU, and J3 requires two GPUs, then WQ will correctly dispatch three jobs to share a four GPU machine.

However, this won't work well because it relies upon the user to set up the job command line to only use the indicated number of GPUs.  They

[2021-02-01 15:25] tphung3 commented on #2497
How can I close this issue?

[2021-02-01 15:49] dthain commented on #2497
Ah, I had to adjust the permissions, can you see the "close" button now?

[2021-02-01 15:50] tphung3 commented on #2497
Great!

[2021-02-01 15:50] #2497 closed

[2021-02-01 15:59] dthain opened #2516 "WQ+Coffea FD Leak"
I started up a Coffea+WQ run using the example instructions, and left it overnight without adding any workers.
After a while, I get this error:

[code]

So, there must be some element of the pre-connect stage that is leaking a file descriptor...

[2021-02-01 16:53] dthain opened #2518 "WQ GPU Allocation Oddity"
The WQ manager has some unexpected behavior when allocating GPUs for a task.
To reproduce, use Makeflow to generate a simple task requesting 1 core and 1 GPU:

[code]

Run it in WQ mode:

[code]

Now run a worker with four cores and four GPUs:
[code]

When the worker sends the task over, it specifis the desired cores, but maxes out the memory, disk, and gpus to fill the rest of the machine:
[code]

[2021-02-01 16:54] dthain commented on #2518
Note this behavior is relative to #2517

[2021-02-01 18:00] btovar commented on #2518
This is the desired behavior, as it is a feature, not a bug. Maxing out is the only way we can keep our promises to tasks, as tasks will use some resource even if they do not state it (e.g., at least it will use some core/gpu, or some memory, or some disk.). Without maxing out, it becomes harder to put the blame on resource exhaustion.

[2021-02-01 18:58] dthain commented on #2518
@btovar please look at the problem of gpus:1 going to gpus:4.
Then we can discuss the bigger problem of increasing allocations as needed.

[2021-02-01 19:31] #2514 closed

[2021-02-01 21:05] dthain commented on #2518
Now thinking about the overall allocation policy.

I think there are two cases where the outcome is clear:
A - User specifies no resources: the task should consume the whole worker.
B - User specifies all resources: give them what they ask for.

Now, the third case is where it's tricky:
C - User specifies some resources, like 2 cores and 1 GPU.  What do we do for the remaining resources?

0 - Let

[2021-02-01 21:36] btovar commented on #2518
I think the difficult case come when tasks do not specify different types of resources:

a. If all tasks specify the same subset of the resources, then the unspecified resources may be left unmanaged. After all, the user has signaled which resources are important.
b. If different tasks left unspecified different resources, then in effect we should treat them as tasks in different classes. Workers

[2021-02-02 12:56] btovar commented on #2518
Talking to myself... Perhaps unexpected resource exhaustions are better than tasks failing because they step on each other without us knowing why. The more I think about it, I like some sort of fraction of a resource best. I think the fraction should be scaled to the resources that are specified, say:

largest_fraction = max  task[resource] / worker[resource]  where resource in resources s.t. work

[2021-02-02 13:35] dthain commented on #2518
A couple of thoughts while I mulled this overnight -

1 - The GPU resource is different from all of the others.  It's discrete like cores, but I think it's likely the users will be more knowledgeable about how they intend to use the GPUs.  More importantly, we have an assignment/enforcement mechanism (CUDA_VISIBLE_DEVICES) to make sure reality matches requests.  And finally, we do not have a *meas

[2021-02-02 13:44] dthain commented on #2518
4 - I agree that tasks specifying orthogonal resources is where we can get into trouble.  However, I think that's less likely given that WQ addresses a single user at a time.  (I would be more concerned in the HTCondor case where you have intersecting users with very different behaviors.)

[2021-02-02 16:32] dthain opened #2523 "Catalog Query: Parse Error"
At some point in recent updates, queries to the catalog (catalog_query, work_queue_status, work_queue_factory) all result in a debug error like this:
[code]

Something went wrong in the catalog protocol that needs to be fixed up.

[2021-02-04 16:28] dthain commented on #2523
Ah, I had forgotten what's going on here.

The new catalog server exposes some new query modes at new urls. The new catalog client attempts to query the new urls.  If they don't parse as json (they return html instead of a proper 404) then we fall back to the old query url.

[code]

The emitted debug message is correct, but perhaps shouldn't be emitted with the D_NOTICE flag bringing it to the att

[2021-02-05 19:01] #2502 closed

[2021-02-08 14:17] #2518 closed

[2021-02-08 14:24] btovar opened #2526 "WQ: Proposal for default values for unspecified resources in tasks"
Continuation of #2518

WQ: Proposal for default values for unspecified resources in tasks

Currently if at least one of the values of a task for cores, memory, or disk is left unspecified (e.g., no specify_RESOURCE is used), then the task is allocated a whole worker where the specified resources fit. If no resource is specified, then the task is allocated any whole worker.

The motivation for this

[2021-02-08 15:17] dthain commented on #2526
I was going to ask how this interacts with the different resource allocation strategies, but then I noticed that they aren't linked to the WQ API:
http://ccl.cse.nd.edu/software/manuals/api/html/work__queue_8h.html

Are those present in rmonitor.h instead?  (And should they be present in the WQ API?)

[2021-02-08 15:22] btovar commented on #2526
They are available here:
http://ccl.cse.nd.edu/software/manuals/api/html/classwork__queue_1_1WorkQueue.html#a7e3b0fd01d2c1e5c70e54dbe2b993b86

Is that what you a re thinking about?

[2021-02-08 15:32] dthain commented on #2526
Aha, I see it there now.  But I will "call" your Python API and raise you a C API.  :)
http://ccl.cse.nd.edu/software/manuals/api/html/work__queue_8h.html#af0a676aedd5d831dd7011475f2aa4154

I think the issue here is that the `WORK_QUEUE_` symbols are defined in `category.h` and so don't show up in the general WQ API docs.

How about this:  Let `category.h` contain the natural definition of all sym

[2021-02-08 15:36] btovar commented on #2526
Yes, that's a good idea.  I think our motivation back then was to have these two together so we did forget to update one when modifying the other. But these modes have not changed over all these time.

[2021-02-08 15:39] btovar opened #2527 "WQ: Clean up symbol linking in category_mode_t"
1. Make category_mode_t the actual definition in category.h
2. Add macros in work_queue.h that point back to category.h.
3. Add documentation to the API in work_queue.h as needed.

[2021-02-08 16:01] dthain commented on #2526
Ok, so now back to the main point:

How does the above interact with the category settings of FIXED, MAX_THROUGHPUT, etc?

[2021-02-08 16:05] btovar commented on #2526
No change. For fixed, max throughput, etc. it remains the same as we have it now.  Resource exhaustion with any allocation means retry with larger if in a mode that allows retries.

For fixed, if you get a resource exhaustion, then it fails at the first try. This makes sense to me as if it fail because of a default allocation, then the assumption that the resource was not important is incorrect, a

[2021-02-08 16:08] dthain commented on #2526
So the annotations provided by the user always provide the first allocation, and then the algorithm chooses all later tries?

If that's the case (and it makes sense) then we need to update the Coffea-WQ documentation:
https://coffeateam.github.io/coffea/wq.html

[2021-02-08 16:17] btovar commented on #2526
It depends.

Using specify_RESOURCE directly to the task turns off any automatic allocation for that resource for that task. We use the value provided, and if it is exhausted, we fail.

If the values come from  `work_queue_specify_max_resources`, then they resource values are used as maximum possible for that category. If not given, then we take the value of the maximum worker seen (per resource).

[2021-02-08 16:19] btovar commented on #2526
Also, when using FIXED mode, `work_queue_specify_category_max_resources` works as `specify_RESOURCE` for all the resources explicitly mentioned.

[2021-02-08 18:54] dthain commented on #2526
1 - Please start a PR that has the documentation first, from the perspective of "we recommend you do this"
2 - Then, adjust the code to correspond.

This can come after the GPU minor release.

[2021-02-09 17:30] #2527 closed

[2021-02-09 17:49] #2523 closed

[2021-02-11 18:56] dthain opened #2533 "Project: Binderize Work Queue Applications"
Project: Figure out how to make a "one button" deployment of a Work Queue application from source using Binder and Jupyter.

1 - Read up on Binder and Jupyter and learn how to use them generally.

2 - Create a repository with the standard Work Queue example application and show that you can deploy it via Binder into a running Jupyter notebook.

3 - Figure out how to get workers started that talk t

[2021-02-11 19:11] dthain opened #2534 "Project: Visualize WQ Managers and Tasks"
Write a JS web page that visualizes WQ applications by pulling down information from the catalog server.

Step 1: Show each manager ('type=="wq_master")' as a box that displays total resources (cores, memory, disk, gpus) of all the workers, and total resources of all the tasks.  Should be a nice compact display that makes it easy to see who is over/under loaded.

Step 2: Show individual tasks '(ty

[2021-02-15 21:27] dthain commented on #2534
#2535 will help with this

[2021-02-15 21:54] dthain commented on #2512
Just took a  quick crack at this -- it works, but now I'm seeing our choices are simple Windows, Ubuntu and Mac (by invitation only):
https://docs.github.com/en/actions/reference/specifications-for-github-hosted-runners

Hmm.  I'm a little concerned we will have to find another platform for redhat etc.  Or do we need to think of our dependencies more discretely, taking into account gcc, glibc, and

[2021-02-16 12:40] btovar commented on #2512
The plan is to use docker inside the ubuntu vms. It will be similar to what we do right now with travis.

[2021-02-19 19:47] dthain opened #2539 "Factory: Support Allocation by Blocks"
As written, the WQ factory operates by requesting individual workers one batch job at a time.  This works fine for systems like HTCondor that encourage thousands of independent jobs, but it doesn't work well for HPC schedulers that want to work at a larger granularity.

Design a feature that allows the factory to request a "block" of workers at one time in one large job.  (For example, add and rem

[2021-02-22 13:26] btovar commented on #2539
This still can be useful with condor submitting a group of workers as a cluster of processes. At least, it may make the changes in batch_job a little more uniform.

[2021-02-24 16:01] dthain opened #2542 "Doc: Improve WQ Example Application"
The current example WQ program (gzip some files) isn't an ideal example to show to new users.  It's simple, which is good, but doesn't represent a typical use of WQ.  And it has strange ergonomics in that the user must provide some extra files to compress.

Let's think of a better example application.  It should have the following properties:

- High level program should be simple and straightforw

[2021-03-01 16:07] dthain commented on #2542
Some ideas:

- Task: An N-body simulation of the solar system + a comet at a particular location.  App: parameter sweep of initial conditions.    Pros: Easy to make this require an arbitrary amount of computation. Cons: Request some effort to understand/visualize the output.
- Task: Analyze one text in Project Gutenberg for word frequency, etc.  App: Run in parallel across all Pros: Easy to unders

[2021-03-03 07:19] simon28li opened #2543 "make test failed!"
Hello,When I finished installing version 7.1.7, the error message for executing make test, is as follows:
[code]

[code]

Can you give me some guidance?

[2021-03-03 12:25] btovar commented on #2543
It seems that chirp is having some permissions trouble reading and writing from/to the filesystem.  What is your setup? (e.g., which linux version, which underlying filesystem, are you using containers, etc.)

[2021-03-03 17:01] btovar commented on #2542
We can do a brute-force algorithm for some known number, such as pi by probability:

https://mste.illinois.edu/activity/buffon/

Each task does the same thing, and then we collect everything in a final task.

[2021-03-03 18:22] dthain opened #2544 "Infra: Add SHADHO Packaging Test"
Once you have WQ+SHADHO fixed up, please add a working recipe to the cctools-packaging-test repository.

It should be very short: just conda install from scratch, and then run a trivial SHADHO app.

This gets run nightly, and verifies that everything is working correctly from the current versions of things deployed in Conda.

[2021-03-03 18:23] dthain commented on #2544
https://github.com/cooperative-computing-lab/cctools-packaging-test

[2021-03-04 08:01] stemangiola opened #2546 "Slurm - makeflow7.2 failing when 8 jobs ara launched simultaneously, succeding when 1 is launched"
Hello,

I have a strange recent behaviour. If I use a large makeflow file (that before was working) and many jobs are launched I have this error

[code]
(how can I know what is going wrong)

If I just pick a couple of commands from this long file

[code]

Then I don't have that error

How can I know what is going on?

[2021-03-04 12:25] btovar commented on #2546
Stefano,

I would like to know more about that exit code 1 from the R script. Do you know what would cause such an error from armet_{ACC,BLCA}_lv_4_gender.rds?

One possibility shot-in-the-dark scenario is that dev/armet_{ACC,BLCA}_lv_4_gender_regression.rds are using some intermediate file that has not been declared. If the file is not there, then it the R scripts may try to generate it. Thus, ru

[2021-03-04 18:13] jeffkinnison opened #2548 "Work Queue Python 3.7 SWIG Bindings missing required argument to Task._determine_file_flags in Task.specify_buffer"
# Details

When calling Task.specify_buffer in Python 3.7 (likely other versions as well), the following error occurs:

[code]

## Environment

Standard CRC bash or tcsh environment with the latest version of CCTools built with SWIG 3.0.7 and

[code]

## Steps to Reproduce

With a CCTools install with Python 3.7 Work Queue bindings built, run

[code]

## Notes

This appears to be the same bug that

[2021-03-04 18:21] dthain commented on #2548
I believe @tphung3 is looking into this today.

[2021-03-04 18:28] jeffkinnison commented on #2548
Ah, great! I found it again while trying to roll out a new application on Condor, so it shouldn't be SHADHO-specific. The current workaround is to directly edit work_queue.py, and that seems to be enough to run WQ as expected until a fix is in.

[2021-03-04 23:28] stemangiola commented on #2546
Thanks for your reply,

I found out that the simple R script

[code]

would cause failure if called ~30 times, and all jobs start simultaneously. I am inquiring with them, but my question to you is:

how can I see the error message, what option/pipe should I use ?

[2021-03-05 12:36] btovar commented on #2546
Stefano,

Something like this may help:

[code]

If the rds script prints anything to the console, either normal output (stdout) or error output (stderr), then these outputs should appear in `dev/armet_ACC_lv_4_gender_regression.stderr`

[2021-03-05 14:41] btovar commented on #2546
Stefano,

We can work on eliminating possible issues where tasks are stepping on each other. I see that rstan needs to be told the number of cores. Is that something you are doing inside your rds scripts?

I see that you need something like:
[code]

Or if you want to get the value set from CORES in makeflow:

[code]

Simply calling `library(rstan)` on my local machine >30 times does not produce an

[2021-03-07 23:59] stemangiola commented on #2546
Hello,
thanks to you error piping I found out that callr library was failing. No idea why, and could not fix, so I am reinstalling the whole R library and I will let you know asap.

Thanks!

[2021-03-08 13:53] dthain commented on #2512
@btovar if your plate is reasonably clear, now is a good time to look at this.  I just renewed the github organization, and would like to shut down the TravisCI account.

[2021-03-08 14:54] btovar commented on #2546
Stefano, glad to hear you are making progress. Please keep us posted if you find a solution, or other issues.

[2021-03-09 11:40] simon28li commented on #2543
@btovar hi,my systeminfo is below,I didn't use the container.

[code]

[code]

[code]

[2021-03-09 12:58] btovar commented on #2548
Fixed by #2549

[2021-03-09 12:58] #2548 closed

[2021-03-09 12:59] btovar commented on #2543
Could you send us the output of the command:

sysctl fs.protected_regular

[2021-03-10 01:46] simon28li commented on #2543
@btovar There is no such file.
[code]

[2021-03-10 13:10] btovar commented on #2543
I was finally able to reproduce your error. There is some interplay when running the tests as root. Let me see what I can figure out.

[2021-03-11 16:13] btovar commented on #2543
@simon28li, I think I figure out why the test is failing. Chirp needs to drop privileges because it does not like to run as root, but the directories where the test runs are owned by root and therefore chirp does not have the needed permissions. Working on a pr to fix this issue.

[2021-03-11 16:25] dthain opened #2558 "Worker: Fix CORS Data Access"
The worker needs to emit an additional HTTP header line, so as to allow JSON data to be incorporated into external sites, displays, and so forth.  Add it here:
https://github.com/cooperative-computing-lab/cctools/blob/master/work_queue/src/work_queue.c#L2649

Access-Control-Allow-Origin: *

[2021-03-11 17:02] jmrundle commented on #2558
https://github.com/cooperative-computing-lab/cctools/pull/2559

[2021-03-12 01:26] simon28li commented on #2543
@btovar Thank you for your hard work.

[2021-03-15 17:16] dthain opened #2563 "Infra: Add Parrot-CVMFS Test"
Move the Parrot-cvmfs integration test from the built test suite into the cctools-packaging-test suite.
This avoids problem of privileges in build containers, and also takes out the network access from build smoke tests.

[2021-03-17 11:47] btovar commented on #2543
@simon28li could you give v7.2.2 a try?  Thanks!

[2021-03-17 12:08] simon28li commented on #2543
@btovar hi,I just tested it, and another one failed.
[code]

[2021-03-17 12:12] btovar commented on #2543
Could you post the contents of:

    cat cctools.test.fail

[2021-03-17 12:17] simon28li commented on #2543
[code]

[2021-03-17 12:22] btovar commented on #2543
Got it, thanks!

[2021-03-22 17:39] dthain opened #2570 "WQ: Python Factory Docs"
@trshaffer please add docs for the WQ Factory interface, starting from this page:
http://ccl.cse.nd.edu/software/manuals/api/html/namespaceWorkQueuePython.html

[2021-03-23 17:40] btovar commented on #2563
Added in https://github.com/cooperative-computing-lab/cctools-packaging-test/pull/2

[2021-03-23 17:40] #2563 closed

[2021-03-23 17:44] #2546 closed

[2021-03-23 22:08] stemangiola commented on #2546
Hello, I kind of understood that R future.batchtools that I was trying at the same time, destroys the temp directory, and all sort of problems start, instantly killing makeflow.

Thanks for your assistance!

[2021-03-24 19:52] #2558 closed

[2021-03-25 13:55] btovar commented on #2526
pr in #2545

[2021-03-25 13:55] #2526 closed

[2021-03-25 13:57] btovar commented on #2512
Done in cctools-packaging-test repo.

[2021-03-25 13:57] #2512 closed

[2021-03-25 13:57] btovar commented on #2397
Fixed in #2550

[2021-03-25 13:57] #2397 closed

[2021-03-25 13:59] btovar commented on #2391
Added to packages/scripts/generate-images

[2021-03-25 13:59] #2391 closed

[2021-03-25 13:59] btovar commented on #2363
Fixed in e33ad546813b645cf760e4feb029a1202b2c41ee

[2021-03-25 13:59] #2363 closed

[2021-03-25 14:24] btovar commented on #2267
Closing as current design offers a simple compromise.

[2021-03-25 14:24] #2267 closed

[2021-03-25 14:27] btovar commented on #2350
Fixed by using yaml instead of json.

[2021-03-25 14:27] #2350 closed

[2021-03-25 14:27] btovar commented on #2346
Fixed in #2362

[2021-03-25 14:27] #2346 closed

[2021-03-25 14:32] btovar commented on #2543
@simon28li Version 7.2.4 currently on spack did pass all the tests in our local setup with the root user.

[2021-03-25 14:33] #2209 closed

[2021-03-25 14:34] btovar commented on #2185
Fixed in 38dd0a2cb7c727f6cf2d24b6d6b714a335a6f86a

[2021-03-25 14:34] #2185 closed

[2021-03-25 14:42] btovar commented on #2078
Not using travis anymore.

[2021-03-25 14:42] #2078 closed

[2021-03-25 15:00] #1798 closed

[2021-03-25 15:54] #2178 closed

[2021-03-26 06:47] simon28li commented on #2543
@btovar I tested version 7.2.5, and all passed. Thank you for your hard work.
I'll shut down this issue.

[2021-03-26 06:48] #2543 closed

[2021-03-26 11:24] btovar commented on #2543
Excellent, thanks for letting us know.

[2021-03-26 16:42] #2182 closed

[2021-03-29 15:39] #2570 closed

[2021-03-29 21:18] trshaffer opened #2577 "Add option to shut down WQ factory when its parent process exits"
This would be useful with the Python bindings, where it's possible for the interpreter to die (e.g. by `SIGKILL`) and leave the factory still running. Since the process is started in the background, the user likely doesn't know about the running factory process. If the factory is holding a large worker pool, this could be bad.

A command line option similar to the one that Chirp server provides, `

[2021-03-31 15:51] btovar opened #2580 "WQ: Handle false positives in fast abort"
The objective of Work Queue's fast abort mechanism is to detect workers that are executing tasks much more slower than the rest of the workers to disconnect and block them. This allows tasks running in the slow workers to be submitted somewhere else. For tasks with similar running times executing on heterogeneous or faulty workers this works well.

The way we detect slow workers is to keep track o

[2021-03-31 17:17] dthain commented on #2580
All these points have some value.  Let's look at it this way:

1 - What are the behaviors that we are trying to detect with fast abort?

2 - What are the behaviors that we **do not** want fast abort to detect?

That should help to clarify what changes to apply.

[2021-03-31 17:34] btovar commented on #2580
I think we should be careful conflating workers and tasks. We use tasks to trigger fast abort on workers, but classifying well behaved tasks is not the objective, instead tasks are the way we currently measure the health of  worker. Now, the issue is that simply using tasks' runtime to measure the health of a worker leads false positives.

Fast abort objective is to detect faulty workers, or worke

[2021-03-31 19:06] klannon commented on #2580
Of all these options, the first one (no task can trigger fast abort twice) is by far my favorite.  The second one is also a good idea.  In fact, in Lobster, we implement that manually by only setting the fast abort flag for tasks that don't define a runtime limit.  The last one is interesting because it changes the nature of fast abort, making it more visible to the user/application.  Right now, f

[2021-03-31 19:09] klannon commented on #2580
I think this is only part of the story.  I think tasks can get "stuck" for transient reasons that have nothing to do with the worker on which they're running.  Imagine that you have some code that makes a remote DB connection.  Suppose the DB dies while the software is in the middle of the connection process in such a way that it is left waiting for a response that will never come.  Suppose also t

[2021-04-01 11:41] btovar commented on #2580
Thanks Kevin, this is very helpful. What about:

1. A worker w is marked as "suspect" if a task t_a triggers the fast abort check.
2. t_a is terminated in worker w, a counter in t_a is increased to record the event, and t_a is submitted to another worker.
3. A suspect worker receives no more tasks.
4. A suspect worker with no running tasks is terminated.
5. For tasks still running on w:
5.a If any

[2021-04-01 18:18] #2577 closed

[2021-04-13 18:01] dthain opened #2582 "Fix Python Deploy"
It looks like the AFS installation of cctools is missing the Python WQ libraries:

[code]

This changed a few versions ago:

[code]

[2021-04-13 18:11] btovar commented on #2582
On it.  Only related to the centos7 binaries.

[2021-04-13 21:02] btovar commented on #2582
Fixed and deployed at ND.

[2021-04-13 21:02] #2582 closed

[2021-04-14 14:39] btovar opened #2585 "add --parent-death to work_queue_worker"

[2021-04-14 17:34] #2580 closed

[2021-04-23 17:47] btovar opened #2589 "wq python: Task.specify_file does not accept pathlib.Path objects"
Task.specify_file  raises an exception if not given a string. If a pathlib.Path object (part of python3 core) is passed as an argument, it is not automatically converted to a string.

[2021-04-23 17:47] #2585 closed

[2021-04-23 19:53] dthain opened #2590 "WQ: Managing Remaining Time at Worker"
In some situations, workers are allocated at a site with a fixed amount of time.  When the clock is running down, we should not dispatch tasks to workers that have insufficient time remaining.

Feature is needed by LSST/DESC workflows running Parsl + WQ.

This will require several minor changes throughout:
- Figure out how to detect "time in allocation" at worker startup.
- Record expected shutdow

[2021-04-23 20:01] dthain commented on #2590
@benclifford can you add a little more background on the LSST/DESC use case?  What system are they attempting to use, and how does it publish the ending time of a job allocation.  (e.g. an environment variable given to the job?)

[2021-04-25 09:33] benclifford commented on #2590
The sites we're running on at the moment are all running slurm + workqueue driven by Parsl.

From a Parsl perspective, the provider mechanism that I talk about in https://github.com/Parsl/parsl/issues/2031 often knows the walltime that it is requesting for a job. In that case, it should be a straightforward plumbing exercise to (for example) wire that information through to some workqueue command-

[2021-04-26 11:53] btovar commented on #183
superseded by #2590

[2021-04-26 11:53] #183 closed

[2021-04-26 17:11] dthain commented on #2590
Per @btovar, `work_queue_specify_time(task,time)` is already in there.  So we just need the pieces implemented from the worker side.

[2021-04-26 17:46] TomGlanzman commented on #2590
Ben has described the LSST/DESC needs.  Basically, given a sequence of "large" batch jobs each of N nodes and T hours, we are evaluating the use of workQueue within Parsl as a means of efficiently utilizing these computing resources (Cori at NERSC).  The jobs vary greatly in run time ranging from a few min to many hours.  We would like to avoid unnecessary CPU consumption where possible by only at

[2021-04-27 14:30] #2589 closed

[2021-04-30 15:11] #2328 closed

[2021-05-27 17:12] dthain commented on #2590
#2593

[2021-05-27 17:13] dthain commented on #2590
#2593

[2021-05-27 17:15] #2590 closed

[2021-05-27 19:22] dthain commented on #2534
http://ccl.cse.nd.edu/software/workqueue/status.new

[2021-06-01 18:12] dthain commented on #2534
This new version is looking very nice.  The last step before replacing the old visualization will be to bring over the pie charts that show how the manager breaks down its time between different tasks.
Old viz:  http://ccl.cse.nd.edu/software/workqueue/status
New viz: http://ccl.cse.nd.edu/software/workqueue/status.new

[2021-06-01 18:13] dthain commented on #2534
@jmrundle great work on this; un-assigning you so that someone else can pick it up this summer.

[2021-06-01 18:46] dthain commented on #2513
This is a surprising sticky problem, the more than I think about it. And I don't want to introduce a lot of complexity to solve an odd boundary case.

Several considerations:

- The catalog server should not accumulate state indefinitely.  So, having a domain name cache with no expiration time is not good, because the hash table will grow without bound.

- The catalog server should handle hosts th

[2021-06-01 18:47] dthain commented on #2029
Working!

[2021-06-01 18:47] #2029 closed

[2021-06-03 13:23] dthain opened #2600 "WQ: Add API for Python Function Evaluation"
Good starter project for new student:

A common recent use case for WQ is to execute a single python function already defined in the main program.  This is quite doable but requires a fair amount of boilerplate to dill the function, dill the arguments, run a remote python script, bring the output back, undill the output and so forth.  See [wq_ensemble](https://github.com/cooperative-computing-lab/

[2021-06-03 13:38] dthain opened #2601 "WQ: Add API to Summarize Workers and Resources"
In a basic WQ application, the end user defines tasks without regard to the type and number of workers.  Then, the manager assigns tasks to workers, and everyone is happy.

However, in applications where the user must decompose a large amount of work into arbitrary sizes, it would be helpful if there was a way for the end user to query the manager in order to find out the number and size of worker

[2021-06-03 17:25] dthain commented on #2544
@tphung3 what's the status on this one?  I recall that you had Shadho running, and then what happened?

[2021-06-03 18:29] tphung3 commented on #2544
Ah I created an issue instead of a PR to Jeff. Let me fix that later.

[2021-06-04 15:13] tphung3 commented on #2544
So the reason I made an issue instead of a PR is because the code to be fixed is not in the repo but in conda setup of shadho. I just contacted Jeff about it.

[2021-06-08 13:54] dthain opened #2603 "Doc: Python Packaging"
We have a nice set of tools for managing python environments (`python_package_analyze/create/cache/run`) but they are not documented anywhere, so no-one can find them!  Create a new section in the cctools manual that describes the python packaging tools, so that others can make use of it.

[2021-06-09 14:04] dthain commented on #2603
@BarrySlyDelgado I think this would be a gooe one for your to work on, just for the purpose of becoming closely familiar with the tools, so you can integrate them into `PyTask` appropriately.  Have a look at `doc/manuals` in the repository.

[2021-06-09 14:40] BarrySlyDelgado commented on #2603
[https://github.com/cooperative-computing-lab/cctools/blob/master/python_environments/src/README.md](url) There seems to be some documentation here should it just be moved to `doc/manuals`

[2021-06-09 14:45] dthain commented on #2603
Aha, I didn't see that.  Yes, you can move that over and clean it up.  I'm sure that some things have changed since it was written, so take some time to make it up-to-date.

[2021-06-10 17:15] dthain opened #2607 "WQ PONCHO Packaging Tools"
Per our discussion Wednesday, I would to evolve `python_package_{analyze|create|cache}` into a set of tools called PONCHO (Python On Networked Computing something something) that cleanly manage environments for execution functions, and can be easily plugged into the PyTask #2600 facility that @BarrySlyDelgado is building out.

The easy part is renaming these to be `poncho_package_{analyze|create|c

[2021-06-10 17:31] btovar opened #2608 "WQ: Evaluate Modifying Order of Main Loop"
In the current implementation, the inner work queue wait loop has the following behavior:

1. if timeout, return null
2. if there is a retrieved task, return it to the user for postprocessing.
3. if there is a task to be retrieved, retrieve it and go to 1.
4. if there is a task that can be dispatched to workers, dispatch it and go to 1.
5. if there are workers to be connected, connect them.
6. go

[2021-06-10 17:40] dthain commented on #2608
This will be a good next step for @David-Simonetti-ND to work on, once the worker summarization is done.

[2021-06-10 18:18] BarrySlyDelgado commented on #2607
I believe you meant to link this. [https://gist.github.com/trshaffer/17471f62261dda8a46fb41f924036fb9](url)

[2021-06-11 14:53] dthain commented on #2607
https://gist.github.com/trshaffer/17471f62261dda8a46fb41f924036fb9

[2021-06-15 13:38] dthain commented on #2608
@David-Simonetti-ND as we discussed yesterday, the way to proceed here is to first set up an example that demonstrates the problem that @btovar is describing.  You could do this by writing a little test application that submits some tasks and then "postprocesses" by sleeping.  (Or, you could set up the full Coffea application that shows the problem.)

Then, once you have the problem observed, you

[2021-06-15 16:31] dthain commented on #2600
So, I didn't do my due diligence in Google.  :)  PyTask is already a well used name.  How about we just call this `work_queue.PythonTask` in parallel to `work_queue.Task` ?

[2021-06-16 12:12] btovar commented on #2600
I don't think it matters a lot, as it is an internal work_queue object.

[2021-06-21 15:14] dthain opened #2612 "WQ: Update Python Task Example"
Please update this example application to use the new PythonTask interface directly, and make sure that the manual links to it when talking about the PythonTask interface. (It should get a *lot* shorter and simpler.)

https://github.com/cooperative-computing-lab/work-queue-examples/blob/master/wq_ensemble/ensemble.py

Test it out with up to 1M tasks to make sure that the new interface is solid.

[2021-07-20 17:53] dthain commented on #2612
LGTM!

[2021-07-20 17:53] #2612 closed

[2021-07-20 17:54] dthain commented on #2608
@David-Simonetti-ND I recall seeing results from this in a weekly meeting, but where is the code?  Did you make a PR?

[2021-07-20 17:55] dthain commented on #2603
This will get rolled into #2607

[2021-07-20 17:55] #2603 closed

[2021-07-20 18:09] dthain commented on #2601
PR #2614

[2021-07-20 18:09] #2601 closed

[2021-07-20 18:10] dthain commented on #2600
PR #2610

[2021-07-20 18:10] #2600 closed

[2021-07-20 18:29] dthain commented on #2301
Closing this, as it seems to be a Heisenbug...

[2021-07-20 18:29] #2301 closed

[2021-07-21 15:19] dthain opened #2632 "WQ: Add Packaging Section to Docs"
Add a section to the WQ manuals that gives examples about how to make remote tasks self contained:
- Use starch to make executable self contained.
- Use PONCHO to make package for task.
- Use PONCHO to make package for worker.
-

[2021-07-22 17:18] dthain opened #2635 "WQ: Add TLS Support to Manager-Worker Connection"
Add (optional) support for TLS security in WQ.  This requires several levels of changes:
- Update `configure` and friends to identify libgnutls.
- Update conda and spack build recipes to require libgnutls.
- Modify `link.c` to perform TLS send/recv in place of plain read/write.
- Modify the top level tools to accept options for enabling TLS and loading identity types.

[2021-07-28 15:53] bbockelm commented on #2635
Dumb question:  why `libgnutls` instead of OpenSSL?  As a consumer, I'm a bit ambivalent between the two -- but as someone who might be able to help debug in the future, I know my way around the OpenSSL code base quite well!

[2021-07-28 16:46] btovar commented on #2635
We already link to openssl, so my guess is that `libgnutls` above is a typo that means "the chosen tls library". :)

[2021-07-30 15:13] btovar opened #2637 "wq+coffea: add abort slow workers to coffea work queue executor"
The option should be added to `default_kwargs` in the funciton `work_queue_main` in `coffea/processor/work_queue_tools.py` as:
"fast_abort_factor": 0

Then if default_kwargs["fast_abort_factor"] is larger than 1,  the value shuld be used for _wq_queue.activate_fast_abort(...) just after the _wq_queue is defined.

This option should be documented in the function `work_queue_executor` in `coffea/pro

[2021-07-30 15:19] btovar opened #2638 "wq+coffea: split processing tasks that exhaust resources"
When a processing task permanently fails because of memory resource exhaustion, we have the chance to split the item is processing in two and submit these two new tasks accordingly. Splitting a processing item is easy, as we need only to specify entrystart and entrystop values.

An item with only one event should not be split, and should fail immediately. Eventually we may want to add a minimum nu

[2021-07-30 15:32] btovar opened #2639 "wq+coffea: python_package_run transient failures when expanding the environment"
Once in a while, `python_package_run` does not expand the environment correctly. This occurs both when then environment is shared across tasks in a worker, and when a single task runs in a worker.  The errors reported vary, but mostly point to something not generated correctly. E.g.:

[code]

or sometimes `bin/activate` cannot be run because is not there,  or the `python` executable is not found i

[2021-08-01 21:43] dthain commented on #2635
No strong opinion about the SSL library.

@bbockelm To be consistent with how you are using Coffea+Dask in coffea-casa, can you tell us a little more about your authentication setup?  e.g. are you using a PSK between manager and workers, or something else?

[2021-08-02 01:42] bbockelm commented on #2635
Dask does a pretty traditional mTLS setup.  On first login, we generate a CA cert, user cert, and host cert and configure Dask to find the three credentials as needed (client gets user cert, scheduler + worker gets host cert).

[2021-08-03 15:52] dthain opened #2640 "WQ+Coffea: Performance Regression?"
@kmohrman reports that she was getting execution times of about 10 minutes with TopEFT and a chunksize of 100K on coffea-0.7.4, then upgraded coffea to 0.7.5 and performance went back to about 40 minutes.  Please investigate....

[2021-08-03 16:59] dthain opened #2642 "Vine+Catalog: Report Additional Values"
Add a few items to the JSON record send from the manager to the catalog, which will assist with better identification of purposes and counts of applications:

- `uuid` - A unique identifier generated each time a WQ manager process starts.  This will allow us to count multiple starts of an application with the same project name.
- `framework` - A string representing the framework sitting on top of

[2021-08-03 17:10] kmohrman commented on #2640
Thank you, @dthain! @btovar, here is a bit more information about the situation in case it helps to identify the issue:
* I've pasted the contents of the config file I was using for this test [here](https://gist.github.com/kmohrman/66cab62509c05ad6fbf3f322d71a15e4); the samples listed in that file are our privately produced EFT samples, but I saw the same issue when processing samples produced cen

[2021-08-06 13:59] dthain opened #2643 "JX: Invoke Functions as Methods"
JX has a bunch of nice functions that make is possible to build up queries on remote/distributed data.
However, being plain functions, they result in rather complex nested expressions that are difficult to read/explain:

[code]

Introduce a new syntax for invoking functions in a method-like style, like this:
[code]

I think this can be done by overloading the dot operator to represent a method cal

[2021-08-07 22:52] kmohrman commented on #2640
Now that coffea 0.7.6 has been released, I tried processing the set of samples linked above using 0.7.6, and the issue with the slow runtime seems to be resolved! The runtime matched what we had in 0.7.4.

[2021-08-09 11:26] btovar commented on #2640
Thanks for letting us know!
Given the time it took in 0.7.5, my very strong hunch is that you were experiencing the wq executor incorrectly handling the compression parameter, as sometimes we checked for 'None', and 'False', and disabled it with 0, which was a mistake. 0.7.6 only disables compression with None, and accepts any other numeric value.

False is treated like 0, and 0 means the minimum