[2015-05-27 14:03] #585 closed

[2015-05-27 18:19] btovar commented on #764
See #784

[2015-05-28 02:03] batrick opened #785 "Add option to set default minimum replica count for files in Confuga"
The current default is 1.

[2015-05-31 21:24] #678 closed

[2015-05-31 21:24] #781 closed

[2015-06-01 13:54] dthain opened #787 "Makeflow Docker Docs"
@charleszheng44 please add to `doc/makeflow.html` discussion of the docker support in Makeflow.

Add brief note about Docker support at the beginning of the manual, then add a section titled "Docker Support" just before the "Wrapper Commands" section.

Please expedite so this can be a part of the 5.0 release.

[2015-06-02 06:58] charleszheng44 commented on #787
I created a new pull request #791

[2015-06-02 16:08] annawoodard commented on #781
We tested this and it is working well for us. THANK YOU everyone, especially @batrick and @btovar!

[2015-06-02 17:36] dthain commented on #781
Nice work on an ugly bug!

On Tue, Jun 2, 2015 at 12:08 PM, Anna Woodard <notifications@github.com>
wrote:

[2015-06-02 19:36] jblomer commented on #781
Very nice fix!

I think there is still a little issue with statically linked binaries.  The debug messages show

    2015/06/02 21:34:12.13 parrot_run[29448] <child:29469> debug: prepare_exe: /home/atlas/ucvm-docker/UCVM/busybox PT_INTERP is
    2015/06/02 21:34:12.13 parrot_run[29448] <child:29469> process: prepare_exe: getting physical name of loader
    2015/06/02 21:34:12.13 parrot_run[29448]

[2015-06-02 20:34] batrick commented on #781
Thanks @jblomer, I've got a fix incoming.

[2015-06-03 18:05] dthain commented on #787
Please make the changes to the Makeflow User Manual `doc/makeflow.html`

[2015-06-05 12:46] dthain commented on #787
???

[2015-06-05 16:57] dthain opened #795 "Improve Makeflow Dot Viz"
Add an option like `--dot-show-sandbox` to `makeflow_viz` so that the dot visualization shows the sandbox of each task in detail as a subgraph, with the renamed input and output files and the resources assigned to the task.

(I know you are already working on this, just filing the bug so you can go through the whole process.)

[2015-06-09 21:10] batrick opened #797 "Parrot should have a system call to turn on debugging."
We are increasingly seeing Parrot used as a wrapper for entire application frameworks (now even acting as an "init" process in Docker). It will become more important to be able to get debugging at choice moments. Editing the wrapper may not be feasible and may result log files that are too large.

I recommend we add a utility like `parrot_cp` which executes a new `parrot_debug` system call that se

[2015-06-09 21:14] dthain commented on #797
That's an excellent idea.  You could go even farther and add `parrot_mount` to manipulate the namespace, unless the caller has locked it down as a sandbox.

[2015-06-12 07:09] davidlt commented on #781
Just a note. You have to understand that reverting dynamic loader, might break CMSSW, because it causes out-of-bounds write (damages memory) with standard system dynamic loader.

[2015-06-12 11:33] bbockelm commented on #781
Hi @davidlt -

The patch in this branch switches back to the dynamic loader used by CMSSW.  See #786

Brian

[2015-06-12 11:48] davidlt commented on #781
I looked at it. This is something we used to do in CMSSW. I had a bash wrapper, in which would exec dynamic loader <actual_path_to_cmsRUn> <args> that replace current bash process. Later this was changed to ELF patching at install time.

I copied from T3_US_Princeton_ARM parrot tarball to CERN on SLC6 machine without CVMFS and attempt to launch CMSSW:
[code]
So at least Parrot tarball is too old i

[2015-06-12 12:06] bbockelm commented on #781
Indeed - I haven't incorporated this patch yet.  I was going to fix the ARM issues first, verify it works with Justas, and then rebuild the tarball.

[2015-06-12 13:17] batrick commented on #781
@davidlt please let us know if the newer version of Parrot doesn't work for you.

[2015-06-12 14:08] batrick opened #801 "Python utilities need to specify python2 as interpreter"
Starch for example fails if it is run on a system where `python` is Python 3.X.

[2015-06-12 14:09] batrick commented on #801
@pbui, do you know the right way to fix this?

[2015-06-12 14:41] pbui commented on #801
Unfortunately, there is no good way of specifying python 2.  On most distributions, `python == python2`.  On a handful, like ArchLinux, `python == python3`.  The solution is suppose to be to use `python2` or `python3`... unfortunately not all distributions have a python2 (they will have a specific `python2.6` or `python2.7`, but not `python2`).

Here is [PEP 0394](https://www.python.org/dev/peps/p

[2015-06-12 15:08] batrick commented on #801
I think we have at least these options:

* Use the Python 2.X found by configure to hard code the shebang line. (similar to what we do with CCTOOLS_VERSION in our python code).
* Use something like [this](http://stackoverflow.com/a/26056481).

Whatever we end up doing, we should add Python version detection code to all of our Python code. It's unacceptable that our scripts fail once they hit an in

[2015-06-12 15:20] btovar commented on #801
I'll take this one.

[2015-06-12 20:09] #783 closed

[2015-06-15 16:45] dthain commented on #801
Two questions:

1 - Does there exist a subset of Python language that is valid in both Python 2 and Python 3?

2 - Is there any distribution other than ArchLinux that defines python=python3?  To me, that sounds like a pretty glaring backwards compatibility error.

[2015-06-15 17:01] batrick commented on #801
Peter seems to have found a subset for Starch at least. We still need to fix our other Python programs.

Heh, Arch Linux doesn't believe in backwards compatibility (it's a rolling release distro). However, I don't think it's the only distro to do this.

[2015-06-15 17:30] pbui commented on #801
In general, supporting both Python 2.7 and Python 3.x is relatively straighforward.  It is supporting Python 2.4, 2.5, and 2.6 along with modern versions of Python that is difficult.  Eventually, we should cut support for RHEL5 (and thus Python 2.4) rather than doing gymnastics.

**Note**: RHEL5 has an EOL date of [March 31, 2017](https://access.redhat.com/support/policy/updates/errata)

Arch Linu

[2015-06-15 17:39] dthain commented on #801
Suppose we do this, which is a bit ugly, but makes things clear:

Create our own script `cctools-python` that takes a python version as an argument and then runs the right thing, or fails clearly.

Modify our python programs to run `#!/usr/bin/env cctools-python 2.7` so that the version expected is extremely explicit.  Then, we can decide when/how to rewrite programs as python evolves...

[2015-06-15 17:42] btovar commented on #801
I like this idea, as we can tweak cctools-python with ./configure as needed.

[2015-06-15 17:42] batrick commented on #801
I like the idea of creating our own interpreter but, unfortunately, we can only have one extra argument in a shebang line.

[2015-06-15 17:45] btovar commented on #801
I do not think the extra argument is important, since we can modify cctools-python per host as needed.

Things would get ugly if the python installation changes, but we would have such problem anyway.

(Really missing perl's use v5.xx...)

[2015-06-15 17:50] dthain commented on #801
How about we let the interpreter grep out the expected version?
[code]
I would like the code author to state explicitly what they are asking for, so that the the interpreter can cleanly state e.g. "Prune wants Python 2.7, but this machine only has Python 3.0"

[2015-06-16 17:30] batrick opened #810 "Add parrot_mount syscall to manipulate mounts at runtime."
Forked from #797:

[2015-06-17 11:14] btovar commented on #755
Fixed in master.

[2015-06-17 11:14] #755 closed

[2015-06-17 20:19] #568 closed

[2015-06-22 19:48] #797 closed

[2015-06-23 12:36] btovar opened #817 "wq_status foremen hierarchy with ssh tunnels does not work"
(per @matz-e)

If the foreman F connects to the master M via a tunnel, wq_status/pool does not show F as a foreman for M.

[2015-06-23 12:38] btovar opened #818 "wq_status info per master name request"
Per @matz-e:

It would be nice to get the details (work_queue_status -l) for only one master (preferably by name), and if those details included hostname, host ip, and port

[2015-06-23 16:46] #764 closed

[2015-06-25 13:04] #801 closed

[2015-06-26 19:47] batrick opened #823 "Parrot's `getcwd` may return a path with a trailing slash, breaking some applications."
UNIX makes no guarantees [1] about the form of paths returned by `getcwd`, only that it is an absolute path. However some applications [2] assume that the path returned by `getcwd` has no redundant trailing slashes.

Haiyan found this problem in a CMS application (made of Perl scripts) which would fail when a `getcwd` path had redundant terminating slashes. The Perl code is here [2]. The failing f

[2015-06-26 19:48] batrick commented on #823
@btovar the fix for this should go in 5.0.

[2015-06-26 20:40] hmeng-19 commented on #823
@batrick , it solved the problem. Thanks.

[2015-06-26 21:09] #823 closed

[2015-06-29 15:24] batrick opened #827 "Confuga should reclaim space used by deleted files"
A garbage collector needs to be written to remove replicas that are no longer referenced in the cluster (Confuga) namespace.

[2015-06-29 15:27] batrick opened #828 "Confuga should allow specifying storage nodes by project name."
This can be used as alternative specification mechanism for storage nodes and also will allow for nodes to be dynamically added to the cluster without directly interacting with the head node.

[2015-06-29 17:29] dthain commented on #827
I'm a little confused between the bug title and the description.

Is the problem here that files deleted from the namespace are not deleted from the storage nodes?
Or that files still existing in the namespace may have too many replicas?

[2015-06-29 17:41] batrick commented on #827
Both actually. But this issue is about the first one. I will improve the description.

[2015-07-01 14:55] batrick opened #832 "Chirp jobs are created with the subject rather than the effective subject"
Simple example demonstrating the problem:

[code]

Jobs should be associated with the effective subject (e.g. `unix:batrick`) rather than the current subject (e.g. `ticket:abcdef`).

Reported by @btovar.

[2015-07-01 15:13] #832 closed

[2015-07-02 17:27] btovar opened #835 "Chirp error codes do not follow the protocol"
Several chirp operations return -1 on error. According to:

http://www.cse.nd.edu/~ccl/software/manuals/chirp_protocol.html

this should be interpreted as NOT_AUTHENTICATED, which is incorrect.

To fix it, no chirp_reli or chirp_client function should return -1, but the corresponding CHIRP_ERROR_*.

[2015-07-02 17:51] batrick commented on #835
@btovar that protocol document is for the wire protocol. The client/reli interface is a library to operate over the Chirp wire protocol, without being sensitive to these details.

As I understand it, the protocol document was for standardizing the wire protocol so external projects like Condor could easily reimplement it for their own use.

[2015-07-02 18:04] btovar commented on #835
I see. Is there a way to use chirp_reli and have informative error messages? (e.g. bad permissions v.s. bad path).

[2015-07-02 18:10] batrick commented on #835
There's nothing like that presently.

[2015-07-02 18:24] dthain commented on #835
I think you are both confused:

`chirp_client.c:convert_result()` converts the error on the wire to a global errno:
https://github.com/cooperative-computing-lab/cctools/blob/master/chirp/src/chirp_client.c#L71

This gets passed up through `chirp_client|chirp_reli|chirp_global|pfs_service_chirp|...` all the way back to the end user.

[2015-07-02 18:26] btovar commented on #835
So, as a user of chirp_reli, I should just check errno?

[2015-07-02 18:27] dthain commented on #835
Roger

[2015-07-02 18:28] btovar commented on #835
Ah, sometimes the obvious answer...

Thanks!

[2015-07-02 18:28] #835 closed

[2015-07-06 13:10] batrick opened #841 "Weaver install path is broken"
In `weaver/src/Makefile`:

    CCTOOLS_PYTHON_PATH=${CCTOOLS_INSTALL_DIR}/lib/python${PYTHON_VERSION}/site-packages

becomes

    CCTOOLS_PYTHON_PATH=${CCTOOLS_INSTALL_DIR}/lib/python/site-packages

because `PYTHON_VERSION` is undefined.

PR incoming.

[2015-07-06 15:06] #841 closed

[2015-07-06 18:17] batrick opened #847 "Should cctools_python set PYTHONPATH?"
Right now to use Weaver and probably other tools we need the user to set `$PYTHONPATH` like so:

    env PYTHONPATH="$(dirname "$(which weaver)")/../lib/python2.6/site-packages/" weaver ...

which kinda stinks. Since we're already wrapping python to execute an appropriate version, we should set `PYTHONPATH` too since the location depends on the version selected. [In fact, the version on the system

[2015-07-06 18:17] batrick commented on #847
@dthain, comments?

[2015-07-06 18:29] btovar commented on #847
I agree, PYTHONPATH should also be set in cctools_python.

[2015-07-08 15:26] #847 closed

[2015-07-13 15:12] btovar commented on #569
Fixed on 7fd9e5eb0a7ecc476c1eda9d857a3c97e0d6d526.

A worker will disconnect from a master if no task is received by --timeout.

[2015-07-13 15:12] #569 closed

[2015-07-13 16:40] btovar commented on #817
The problem here is that wq_status only knows about the catalog. When an anonymous foreman connects to a master (either directly or through an ssh-tunnel), the catalog does not know about it.

The solution would be for a master to report its hierarchy, rather than constructing it from the catalog.

[2015-07-13 16:52] btovar commented on #818
(@matz-e: available for ND at cctools-005-aff016d4-cvmfs-40cf5bba)

[2015-07-13 16:52] #818 closed

[2015-07-13 16:55] #576 closed

[2015-07-15 14:29] nhazekam opened #855 "Configuring with-system-path no does not disable that system."
When trying to turn off Globus path for installing into Stampede, I used :
./configure --with-globus-path=no

This then attempted to use the path no/... for globus configuration, when in reality it should turn it off. This may also be an issue on other --with-system-path configurations.

[2015-07-15 14:35] dthain commented on #855
In general, simply omitting `--with-*-path` will leave the optional software unused.
Globus has a sepcial case in that `configure` looks for the environment variable `GLOBUS_LOCATION` and then automatically uses it.  Try unsetting the environment
variable, then run `configure` and see if that gives the desired result.

And perhaps we should just remove the automatic check for globus..

[2015-07-15 14:53] nhazekam commented on #855
That worked to get cctools to compile correctly. Should we be concerned that modifying that path variable could break other programs, or should it just be advised to change it back after configuration?

[2015-07-15 14:53] #855 closed

[2015-07-15 14:58] dthain commented on #855
Right, just change it for the build step.
And I think it's best to remove the check for GLOBUS_LOCATION from configure:219

[2015-07-15 16:13] nhazekam commented on #855
Should I remove this and add it to my changes for batch system support?

[2015-07-15 16:19] dthain commented on #855
yes

[2015-07-16 12:51] btovar opened #859 "Deleting a task clone produces a segfault."

[2015-07-16 16:48] #859 closed

[2015-07-16 16:48] btovar commented on #859
Resolved by #861

[2015-07-20 02:53] charleszheng44 opened #863 "Work Queue worker does not work with Makeflow"
After update the master branch. Makeflow and Work Queue keep hanging when running Makeflow command

[code]

with Work Queue command

[code]

And the debug message is

[code]

The Makeflow file I used is the example Makeflow file from the Makeflow user manual.

[2015-07-20 11:10] btovar commented on #863
I cannot reproduce this with the master branch. Since you say 'after update', are you sure this problem is not with one of your local branches?

[2015-07-20 11:39] btovar commented on #863
Uhm, definitely not a problem in master. Closing.

[2015-07-20 11:39] #863 closed

[2015-07-23 00:42] annawoodard commented on #706
Just to close the loop on stats_hierarchy: I've tested with cctools build `cctools-010-c650f939-cvmfs-40cf5bba` and stats are being propagated through the foremen as expected (thanks, @btovar, and anyone else that implemented it!) I'll keep an eye on this thread, I'm happy to help test once there's a fix in place for propagating the hostname. In Lobster we find the blacklisting feature very useful

[2015-07-24 18:36] btovar opened #872 "Task directories not removed at the worker."
When a task is no longer active at the master, @klannon reports that sometimes tasks leave their workspaces behind.

[2015-07-29 16:59] btovar commented on #872
Maybe fixed by #875.

[2015-08-03 17:16] btovar commented on #725
iinit creates the file: ~/.irods/.irodsA. We could check for that. The ~/ I assume comes from the value of irods_home when running ienv. I would guess there is some API to get the values printed by ienv.

[2015-08-03 17:20] btovar commented on #640
It also depends on how iRODS was installed.

I (accidentally) ended up with an iRODS 4 which is completely statically compiled. This is a good thing for us, as now I have a static parrot with iRODS 4 support (it works, I can connect to a server, and copy files), but I do not know exactly how that happened. (It seems that if you create your own rpms and sudo install them, static versions are then a

[2015-08-03 23:08] btovar commented on #640
Found that this is not really a problem, as plugins are expected to be in different places. Setting the irods_plugins_home variable at the user;s ~/.irods/ configuration does the trick.

[2015-08-03 23:08] #640 closed

[2015-08-04 23:12] #725 closed

[2015-08-05 18:49] batrick opened #881 "Confuga jobs in the `SCHEDULED` state on a dead/lost SN are not rescheduled"
If a job is scheduled to execute on a SN which disappears, the job is never rescheduled. This only happens when the job is in the `SCHEDULED` state. In this state, Confuga is trying to replicate necessary dependencies prior to dispatching the job. The reason the failure is not detected is due to the SQL logic used to create new transfers:

https://github.com/cooperative-computing-lab/cctools/blob/

[2015-08-05 19:01] batrick opened #882 "Chirp putfile/getfile RPC stoptime is too coarse for aborting a failed transfer"
Chirp RPC uses a `time_t stoptime` to set a limit on the time the caller is willing to wait for an operation to take. The `chirp_reli` interface will also retry operations within this limit for failures like connection refused, connection reset, etc.

The problem with using a time limit is that it is too coarse to appropriately express the caller's wishes in this situation, especially for very lar

[2015-08-05 20:17] dthain commented on #882
I can see how you run into this problem, but I'm not sure counting RPCs  is the right solution.

Time has a very clear interpretation for the end user and is set on the command line by most of our tools.  Under failure conditions, RPCs are delayed by a random exponential backoff.  How would you explain to the end user how to pick a good number for total RPC round trips?

[2015-08-05 20:39] batrick commented on #882
Perhaps a better metric would be the number of seconds spent waiting to retry. e.g. don't exceed net 5 minutes of waiting to retry.

[2015-08-10 17:44] batrick opened #885 "Chirp tool is missing a link/symlink command"
A `ln [-s]` command should be added to Chirp tool for creating hard/symbolic links.

A temporary workaround is to use Parrot instead.

[2015-08-10 17:45] dthain commented on #885
@nkremerh please do this one, it is easy and will give you a little familiarity with Chirp.

[2015-08-11 14:49] batrick opened #887 "Chirp should not resolve the target path for ACL checks for `link`"
The `link` RPC, as with the normal UNIX `link` syscall, allows for symbolic links to be hard linked. For example:

[code]

Currently the Chirp server would perform ACL checks on the resolved target, in this case `foo` instead of `bar`. If this symbolic link points somewhere the current subject lacks rights, then the RPC will fail with permission denied.

The fix is to use `chirp_acl_check_link` in

[2015-08-11 14:51] #885 closed

[2015-08-11 15:15] #887 closed

[2015-08-11 19:24] btovar commented on #872
Solved by d946d9e707ffe3dfb060f9d51c65995693e5decf.

[2015-08-11 19:24] #872 closed

[2015-08-12 15:11] batrick commented on #760
@btovar I think this is your problem, right?

[2015-08-12 15:14] btovar commented on #760
That's correct.

[2015-08-12 15:52] batrick opened #890 "Add support for multiple challenge directories for unix authentication"
I think all of our Chirp servers use the ND.EDU AFS space for the challenge directory which prevents clients operating in the CRC.ND.EDU AFS space from doing unix authentication. [In fact, CRC machines have kerberos configured so clients can't get ND.EDU kerberos tickets due to blacklisted ciphers.]  For this reason, it would be useful if we could extend the unix authentication mechanism to have m

[2015-08-12 16:02] dthain commented on #890
Or it may just be time to bite the bullet and move to an assumption of crc credentials for everyone.
Do we have a use case for unix authentication of users that are *not* part of the crc?

[2015-08-12 16:46] batrick commented on #890
I don't know of one.

[2015-08-13 12:45] btovar opened #891 "specifying CORES, MEMORY, DISK as environment variables breaks wq"

[2015-08-13 15:22] btovar commented on #891
The issue appears on master, but not on release, so it is related to a recent pr.

[2015-08-13 16:31] btovar commented on #891
It does not have to do with makeflow, but only on how wq sends the environment variables (updating bug title).

[2015-08-14 11:33] #891 closed

[2015-08-18 15:51] batrick opened #897 "Python utilities don't work with deployed CCTools"
Using a minimal PATH, deployed Python apps don't work:

[code]

Using the deployed autobuild:

[code]

[2015-08-18 15:52] btovar commented on #897
What is your PYTHON_PATH?

[2015-08-18 15:54] batrick commented on #897
Not set.

[2015-08-18 15:56] batrick commented on #897
Stephen Wolters ran into this bug after using this page:

http://ccl.cse.nd.edu/software/installed.php

However, I see that you updated it to set `PYTHONPATH`. Is that the new way of doing things?

[2015-08-18 15:57] btovar commented on #897
I intended cctools_python to set PYTHONPATH appropriately, so this is a bug.

I updated installed.php while I figure out what's going on.

[2015-08-18 16:02] btovar commented on #897
Ok, the version in release is behind the one in master without a bug fix. I'll back port the changes.

[2015-08-18 16:24] btovar commented on #897
Thanks Patrick, this should be fixed now.

[2015-08-18 16:24] #897 closed

[2015-08-18 20:21] batrick commented on #587
I'm closing this because it is sufficient to `cd` into the workspace directory prior to running weaver. (So all paths generated are relative to `.`.)

[2015-08-18 20:21] #587 closed

[2015-08-19 18:15] btovar opened #901 "Foremen do not respect WORK_QUEUE_PREEXIST"
File flags are sent, but ignored at the worker side. If the worker is a foreman, then WORK_QUEUE_PREEXIST is lost. The foreman will then try to copy the file to the workers.

[2015-09-01 18:37] dthain commented on #517
Development standards moved to the top of the "For Developers" page.

[2015-09-01 18:37] #517 closed

[2015-09-01 18:40] dthain commented on #159
Addressed by pr #790

[2015-09-01 18:40] #159 closed

[2015-09-01 18:42] dthain commented on #346
We have exeeded the value/benefit ratio working on this one.
Absent a report from an active customer, I'm closing this one.

[2015-09-01 18:42] #346 closed

[2015-09-01 20:18] dthain commented on #795
Fixed by pr #798

[2015-09-01 20:18] #795 closed

[2015-09-01 20:20] dthain commented on #729
Fixed by pr #790

[2015-09-01 20:20] #729 closed

[2015-09-01 20:21] dthain commented on #768
@nhazekam I think you have made a lot of progress on this one, please make note here of what remains to be done...

[2015-09-01 20:21] dthain commented on #722
Did you ever hear back from the macports maintainer?

[2015-09-01 20:22] dthain commented on #721
Fixed by pr #766

[2015-09-01 20:22] #721 closed

[2015-09-03 12:12] pivie commented on #722
It looks like we got hung up on the version mismatch between github and the
cctools website. I will update the port to the newest version and resubmit.

On Tue, Sep 1, 2015 at 4:22 PM, Douglas Thain <notifications@github.com>
wrote:

[2015-09-17 16:00] btovar opened #916 "wq Invalid messages"
In master (not in release), the worker is sending messages that the master does not expect. The messages (such as name, or info stats) are valid in the appropriate context.

[2015-09-17 18:49] #916 closed

[2015-09-17 18:50] btovar commented on #916
Issue was that we were using > comparisons when checking status messages, rather than == comparisons to the enum work_queue_msg_t.

[2015-09-21 14:08] batrick opened #918 "Makeflow manual should document escape sequences and significant syntax differences with Make"
Celine Noirot recently encountered an issue (via cctools-nd) where quotes needed to be escaped in a recipe. The manual does not cover this.

(In fact, why do we need to escape quotes?)

[2015-09-21 14:43] btovar commented on #918
We are parsing the command line as we parse everything else. In retrospect, this could be a bad idea.

The motivation is to have variables in makeflow work as replacement macros, so that the same name of a variable can be used in different rules with different values. In make, all the rules would use the last value defined. Now we do the replacements ala m4, but this means that quotes have special

[2015-09-21 14:47] btovar commented on #918
Also, we needed to find the location of > and < and parse the subsequent filenames in the same way we parsed everything else. This was needed to create symlinks with condor, but we do not do symlinks anymore.

[2015-09-21 16:09] jblomer opened #919 "Cannot find shared library on cvmfs repository"
Hi all,

one of our users reported the following problem: executing /cvmfs/grid.cern.ch/emi-ui-3.15.3-1_sl6v1/usr/lib/jvm/jre-1.6.0-openjdk.x86_64/bin/java results in

[code]

I'm able to reproduce it on SL6 with parrot 5.2.0. Using fuse-mounted cvmfs the java help text is printed. Please find a debug log from a CernVM node (same as on SL6) on [pastebin](http://pastebin.com/PhJyZtUB). Do you have

[2015-09-21 16:17] btovar commented on #919
Jakob,

When you do:
 ldd /cvmfs/grid.cern.ch/emi-ui-3.15.3-1_sl6v1/usr/lib/jvm/jre-1.6.0-openjdk.x86_64/bin/java

Is libjli.so resolved?

[2015-09-21 16:27] batrick commented on #919
Problem is a `readlink /proc/self/exe` returning the cached executable:

[code]

The readlink call should have returned 87 characters for `/cvmfs/grid.cern.ch/emi-ui-3.15.3-1_sl6v1/usr/lib/jvm/jre-1.6.0-openjdk.x86_64/bin/java` but it returns 49. This indicates it wrongly returned the cache name for the executable, `/tmp/parrot.0/d8/d88af103830f6dd288a94f8384c326a1`.

This bug is probably caused b

[2015-09-21 19:08] batrick commented on #919
@jblomer can you give #920 a try to see if that fixes it for you?

[2015-09-21 19:58] jblomer commented on #919
Many thanks for the quick response!  Yes, #920 does the trick for me!

[2015-09-21 20:03] #919 closed

[2015-09-22 12:01] tommasoboccali opened #921 "follow up of issue #919"
Hi, Jacob prepared a uCERNVM with the fix as in issue 919.

the next problem is:

bash-4.1# voms-proxy-init
/cvmfs/grid.cern.ch/emi-ui-3.15.3-1_sl6v1/usr/lib/jvm/java-1.6.0-openjdk-1.6.0.35.x86_64/jre/lib/rt.jar: error reading zip file
/cvmfs/grid.cern.ch/emi-ui-3.15.3-1_sl6v1/usr/lib/jvm/java-1.6.0-openjdk-1.6.0.35.x86_64/jre/lib/rt.jar: error reading zip file
/cvmfs/grid.cern.ch/emi-ui-3.15.3-1_

[2015-09-22 12:28] btovar commented on #921
Tom,

Thank you for your report. We will try to reproduce it shortly.

[2015-09-22 12:54] jblomer commented on #921
Hi Ben,

strangely enough I couldn't reproduce it under plain parrot neither under the CernVM docker container with the fuse cvmfs bind-mounted inside.  It seems to occur only under the CernVM docker container when parrot not only serves grid.cern.ch but is also the init process of the docker container.

Cheers,
Jakob

[2015-09-22 12:57] btovar commented on #921
Jakob,

I observed the same doing parrot_run bash. I was able to unzip the jar file with no issues. Thank you for pointing us to the docker container!

[2015-09-22 13:12] jblomer commented on #921
The latest tar file of the container is here:
http://cernvm.cern.ch/releases/testing/cvm-docker.2.3-0.cernvm.x86_64.tar

It has the #920 fix in.

[2015-09-22 14:27] jblomer commented on #921
I'm currently trying to pinpoint this a little further, in particular I'm trying to understand the difference in the two parrot environments (perhaps repository switching?).  I'm happy of course for any hints but just to let you know that I don't want to drop this problem with you just like that.

[2015-09-22 14:55] btovar commented on #921
Jakob,

We were able to reproduce it using your docker image. Patrick is looking into it further.

[2015-09-22 16:24] batrick commented on #921
@jblomer, I made some small fixes to Parrot in the master branch. I don't think it fixes the problem but it may give us a better idea of what's wrong (in the debug log). Can you update the cernvm image with the new parrot?

[2015-09-22 17:06] jblomer commented on #921
Thanks, Patrick!  A new image is available here
http://cernvm.cern.ch/releases/testing/cvm-docker.2.3-1.cernvm.x86_64.tar

[2015-09-22 17:25] batrick commented on #921
So here's the problem:

[code]

The `cvmfs_pread` is returning EBADF to us. I don't see an obvious reason for that because the cvmfs fd was never closed. Any ideas?

[2015-09-22 17:28] batrick commented on #921
Hmm, I see this between the open of the jar file and the error:

[code]

Looks like that changes the global variable `cvmfs_active_filesystem` in `pfs_service_cvmfs.cc`. I suspect this is causing the problem since the cvmfs fd is associated with the other repository. @btovar?

[2015-09-22 18:38] btovar commented on #921
@batrick,
If we do:
cp /cvmfs/grid.cern.ch/emi-ui-3.15.3-1_sl6v1/usr/lib/jvm/java-1.6.0-openjdk-1.6.0.35.x86_64/jre/lib/rt.jar /
unzip rt.jar

Then it works. I think you are right that it is the switch of repositories.

[2015-09-22 18:43] btovar commented on #921
Similarly, if I try to unzip a file on the same repository that unzip is. That is, the next works too:
unzip /cvmfs/cernvm-prod.cern.ch/cvm3/usr/lib/jvm/java-1.7.0-openjdk-1.7.0.85.x86_64/lib/sa-jdi.jar

[2015-09-22 18:46] btovar commented on #921
@batrick, as you said, it does seem we need to associate file descriptors with repositories. Support for libcmfs <= 1 would be more complicated, though. @jblomer, do you have any input on which version is being used by your users?

[2015-09-22 19:03] hmeng-19 opened #924 "a tiny logic error of cctools python version check"
`./configure` tries to check the python installed on a machine is corrected.
However, when the local machine's python version is 2.6.x, `./configure` still complains the python version is not correct.

    python version is 2.6.6
    checking for /usr/include/python2.6/Python.h...no
    *** skipping python support
    umbrella requires python >= 2.6

[2015-09-22 19:06] btovar commented on #921
I was able to reproduce it outside docker:

parrot_run -dall -odebonlyparrot --cvmfs-repo-switching  -M/etc/localtime=/cvmfs/cernvm-prod.cern.ch/cvm3/usr/share/zoneinfo/posix/GMT /cvmfs/cernvm-prod.cern.ch/cvm3/usr/bin/unzip /cvmfs/grid.cern.ch/emi-ui-3.15.3-1_sl6v1/usr/lib/jvm/java-1.6.0-openjdk-1.6.0.35.x86_64/jre/lib/rt.jar

[2015-09-22 19:14] jblomer commented on #921
@btovar I don't think there is a need to fix this for libcvmfs 1, I think for repository switching we can require libcvmfs 2.

[2015-09-22 19:17] btovar commented on #924
Mmm,
On opteron:
$ python --version
Python 2.6.6

$ ./configure | grep umbrella
package umbrella found
python version is suitable for umbrella

On which machine did this fail?

[2015-09-22 19:19] btovar commented on #924
I think the problem is that the machine you were trying at did not have python-dev installed.

[2015-09-22 19:22] btovar commented on #924
Why do we need Python.h though?

[2015-09-22 19:24] #924 closed

[2015-09-22 19:28] btovar opened #925 "Incorrect check for Python.h"
For swig bindings we ask for python-dev.

umbrella, prune, and weaver use the same check for verifying the python version. If python-dev is not installed, ./configure fails for umbrella, etc., even when these packages do not need it.

Supersedes #924

[2015-09-22 20:05] hmeng-19 commented on #925
@ben, the failure happens on `vecnet-qa.crc.nd.edu`, (this is a private crc server used by Alex and Rob, two crc folks we recently started to collaborate.)
As you expected, this machine has no python-dev installed.

[2015-09-22 20:08] hmeng-19 commented on #925
@ben, is it possible to release the checking for `python-dev` if a user only wants to install `umbrella` without `swig`?

[2015-09-22 20:16] hmeng-19 commented on #925
BTW, it should be `python-devel`, not `python-dev`.

[2015-09-22 20:19] #921 closed

[2015-09-23 11:30] jblomer opened #927 "voms-proxy-init reports that 'ls -al <PATH>' fails under parrot/cvmfs"
Hi all,

following #919 and #921 we hit another block with the `voms-proxy-init` command.  In order to reproduce the steps, you can create a throw-away certificate and key with

    openssl req -x509 -newkey rsa:2048 -keyout /tmp/userkey.pem -out /tmp/usercert.pem -days 10 -nodes -subj "/"

With this in place, the following two steps under fuse-mounted cvmfs result in the expected error 'User cred

[2015-09-23 11:42] btovar commented on #927
Jakob,

Is this inside the docker container?

[2015-09-23 11:44] jblomer commented on #927
It's both within and without the docker container.

[2015-09-23 11:45] jblomer commented on #927
I forgot, the mode of the key and the certificate in /tmp should be changed to 0400.

[2015-09-23 12:01] btovar commented on #927
With parrot_run bash, I do see a:

2015/09/23 07:57:20.85 parrot_run[29017] <child:29037> syscall: mprotect
2015/09/23 07:57:20.85 parrot_run[29017] <child:29028> syscall: = 1 [futex]
2015/09/23 07:57:20.85 parrot_run[29017] <child:29037> syscall: = 0 [mprotect]
2015/09/23 07:57:20.85 parrot_run[29017] process: pid 29028 received signal 11 (Segmentation fault) (state 1)
2015/09/23 07:57:20.85 parr

[2015-09-23 12:06] btovar commented on #927
If ran again:
2015/09/23 08:04:29.56 parrot_run[29468] <child:29480> debug: allocated channel `(null)':30000:4096
2015/09/23 08:04:29.56 parrot_run[29468] <child:29480> debug: divert_to_channel(29480, pread64, 0x7f935e215090, 280, 196608)
2015/09/23 08:04:29.56 parrot_run[29468] <child:29480> debug: --> pread64(5, 0x7f935e215090, 280, 196608)
2015/09/23 08:04:29.56 parrot_run[29468] <child:29480>

[2015-09-23 13:26] btovar commented on #927
@batrick, I see this after 0e3a63d5d391eb941f351d9706856fe3fc1e070c.

[2015-09-23 13:28] btovar commented on #927
Unlike @jblomer, I am able to redirect to a log file with the problem showing up.

[2015-09-23 14:23] batrick commented on #927
The segmentation fault is a red herring. voms-proxy-init segfaults under fuse too.

[2015-09-23 15:17] batrick commented on #927
@jblomer, I have tried reproducing this in two environments. The first one it works expected:

With the `hepsw/cvmfs-base` docker image on kernel `4.1.6-1-ARCH`.  I get this expected result:

[code]

It's possible the newer kernel version fixes the problem.

On a different machine running RHEL 6.6 using kernel `2.6.32-504.16.2.el6.x86_64`, I get an infinite loop of `sched_yield` system calls:

[co

[2015-09-23 15:52] jblomer commented on #927
I tried this on a CernVM (kernel 3.18).  Let me try this on VMs with different kernels, it might take a day or so.

[2015-09-23 18:13] batrick opened #930 "/proc/self/exe must be the canonical path"
The Linux loader requires that the paths returned for `/proc/self/exe` be the canonical path (not necessarily the one passed to `execve`). Otherwise, the loader looks for libraries in the wrong location:

[code]

debug:

[code]

Fixing this is tricky since we need to fully resolve paths. However, it may be sufficient to just resolve the final component (i.e. a symbolic link, as above).

This is a

[2015-09-23 18:24] batrick commented on #927
@jblomer: FYI, with #929, the RHEL 6.6 machine also gets the correct answer "User credential is not valid!".

[2015-09-23 18:45] btovar commented on #927
@jblomer, cctools version 5.2.1 8cd7eadd108699220dec0e23792a491e5d79af0e, has these changes.

[2015-09-24 12:19] btovar opened #931 "resource_monitor does not include executable in the list of input files"
We add input/output files by capturing open calls, however, the executable starts before we capture any call.

[2015-09-24 12:19] #925 closed

[2015-09-24 15:54] tommasoboccali commented on #927
probably already outdated, but I tried to take the master of everything and run outside of docker

so simply

 ./parrot_run  --proxy=127.0.0.1:3128  --cvmfs-repo-switching -M/etc/localtime=/cvmfs/cernvm-prod.cern.ch/cvm3/usr/share/zoneinfo/posix/GMT /bin/bash

after which I issue a

source /cvmfs/grid.cern.ch/emi3ui-latest/etc/profile.d/setup-ui-example.sh
voms-proxy-init -voms cms

so No 'ls' fro

[2015-09-24 16:40] batrick commented on #927
@tommasoboccali I still can't reproduce it using the command you give. However, you said that if you redirect to a file, the problem goes away. Does it happen if you save debug output to stderr (the normal case)? A debug log may help me see the problem without reproducing it.

e.g.

[code]

[2015-09-24 18:46] btovar opened #933 "master_prefered_connection segfaults wq only apps."
See:
#2  0x00007ffff1e13ae5 in xxstrdup (str=0x0) at xxmalloc.c:33
#3  0x00007ffff1e0a809 in nvpair_insert_string (n=0x725750, name=0x7ffff1e27b29 "master_preferred_connection", value=0x0) at nvpair.c:192
#4  0x00007ffff1df7baa in queue_to_nvpair (q=0x6a36f0, foreman_uplink=0x0) at work_queue.c:1611
#5  0x00007ffff1df4518 in update_catalog (q=0x6a36f0, foreman_uplink=0x0, force_update=0) at work_q

[2015-09-24 18:49] btovar commented on #933
Nick, also move master_preferred_connection from stats to struct work_queue. It is not really a stat...

[2015-09-24 19:34] #933 closed

[2015-09-24 19:49] tommasoboccali commented on #927
ok, it seems to have worked.

On STDOUT it printed
...
Loaded vomses information 'VOMSServerInfo [alias=biomed, voName=biomed, URL=voms://cclcgvomsli01.in2p3.fr:15000, vomsServerDN=/O=GRID-FR/C=FR/O=CNRS/OU=CC-IN2P3/CN=cclcgvomsli01.in2p3.fr]' from /cvmfs/grid.cern.ch/etc/grid-security/vomses.
Looking for user credentials in [/root/.globus/userkey.pem, /root/.globus/usercert.pem]...
Credentials co

[2015-09-24 19:50] tommasoboccali commented on #927
ok, wrong paste, sorry !

https://www.dropbox.com/s/69sr7uin0rbz8ma/parrot.debug.gz?dl=0

[2015-09-24 20:50] batrick commented on #927
So it seems the problem is that the application is trying to `dup2` an fd to one of the "special" file descriptors (3 and 4 in this case), which always fails. Here's the relevant bits of the log:

[code]

Specifically, this bit:

[code]

This is pretty unfortunate... We're not reserving any of the special file descriptors (0, 1, 2) but the application is insisting on using fd 3 for whatever reason

[2015-09-24 20:54] dthain commented on #927
Let's talk about this one on Friday morning.

[2015-09-25 19:24] batrick commented on #927
@jblomer @tommasoboccali, can you give PR #937 a try?

[2015-09-25 20:07] tommasoboccali commented on #927
As far as I can see you made it :)
I could test just via parrot, but I get a nice

Your proxy is valid until Sat Sep 26 10:06:28 CEST 2015

at the end

thanks a lot!

tom

[2015-09-25 20:09] batrick commented on #927
Hooray! Thanks for testing @tommasoboccali!

[2015-09-25 20:22] dthain commented on #927
Nice work @batrick

[2015-09-28 20:47] #927 closed

[2015-10-01 15:43] btovar opened #938 "disk_alloc_main should not be part of libdttools"
disk_alloc_main contains a main function, which is not part of the dttools library.

Nate, please update the Makefile accordingly.

[2015-10-01 16:31] #938 closed

[2015-10-02 19:50] btovar opened #942 "resource_monitor does not redirect > and < from command line."
The following fails:

resource_monitor  --  gzip <  file > file.gz

The redirections are not sent to gzip.

[2015-10-02 19:50] btovar commented on #942
@nhazekam fyi, this is why your example does not work. For now, try an example that does not use redirection.

[2015-10-05 18:17] btovar opened #944 "wq_pool conf file option does not accept relative paths."

[2015-10-05 18:17] btovar commented on #944
As reported by @annawoodard.

[2015-10-05 18:29] dthain opened #946 "Project: Archival Form of Makeflow"
(Credit for this idea goes to Sandra Gesing.)

For the purposes of long-term archival, it may be useful to reduce a workflow to a single flattened shell script.  Add an option to makeflow that converts an input makeflow into a single output script, by adding a new visitor `dag_to_sh` to `makeflow/src/dag_visitors.c`.  See `dag_to_dot` and `dag_to_dax` for inspiration.

This feature could be used i

[2015-10-05 18:32] dthain opened #947 "Project: Sandbox Namespace for Parrot + Makeflow"
As designed, Parrot allows a process to access the complete local filesystem and remote filesystems, using the credentials of the calling user.  This may not be desirable when running an untrusted program.

Add a new mode to the parrot name resolver which _denies_ access to all files local or remote by default, unless they are explicitly permitted in the mount list.

Then, add a wrapper option to

[2015-10-05 18:33] #787 closed

[2015-10-05 18:35] dthain commented on #591
@batrick this bug has been stale for some time.

Do we need to fix chirp, enhance it, or something else?

[2015-10-05 18:35] #571 closed

[2015-10-05 18:36] dthain commented on #241
This issue has largely been superseded by adding support for Cytoscape visualization, which is much more effective at handling large graphs.

[2015-10-05 18:36] #241 closed

[2015-10-05 18:40] dthain commented on #68
Issue now encompassed by #706

[2015-10-05 18:40] #68 closed

[2015-10-05 18:43] dthain commented on #946
@sandragesing would you like to take a crack at this one?

[2015-10-05 18:45] sandragesing commented on #946
Yes - I will have a look at it.

[2015-10-05 19:07] dthain opened #948 "Project: JSON Format for Makeflow"
Design a JSON representation for a Makeflow workflow.

Start by modifying `makeflow/src/dag_visitor.c` and add a new visitor `dag_to_json` that takes a rule like this:

[code]
And outputs it something like this: (details can be changed)
[code]
Then, modify Makeflow to support that same format for input, by using the JSON library present in `dttools/json.c`

This will make it easier to perform some

[2015-10-05 19:20] btovar commented on #942
Redirections from the command line work fine. It seems they only fail from inside work_queue. @nhazekam, can you confirm that --sh fixes the problem within makeflow/work_queue?

[2015-10-05 19:30] batrick commented on #591
I've been sitting on an ipv6 enhancement branch that's nearly done. I will try to polish it off in my free time this week.

[2015-10-05 19:32] dthain commented on #739
Merged as part of #748

[2015-10-05 19:32] #739 closed

[2015-10-05 19:35] dthain commented on #591
@batrick it's not necessarily a priority to get it done this week; it can wait until after the current paper deadline.  I just wanted to get a sense of whether a solution was possible, or not.

[2015-10-05 19:36] dthain opened #949 "Project: Makeflow Support for RunC"
Add a new container mode that supports the `runc` container environment.  I believe this will be superior to docker execution, since the container image can then be a simple image specified as a regular input to makeflow, which is easily moved around via work queue.

[2015-10-05 20:09] dthain opened #950 "Project: Makeflow CAS Archive"
Project idea:

Modify Makeflow to archive each task in a content addressible store as it works:  for each task executed, save each input files in `${HOME}/.archive/${checksum}` and each command executed in `${HOME}/.archive/logfile`, referring to the checksummed files instead of file names.

Then, going forward, before executing a command, check in the archive to see if it has been run before.  If

[2015-10-05 20:22] dthain commented on #682
Merged with #706

[2015-10-05 20:22] #682 closed

[2015-10-05 20:51] nhazekam commented on #942
I'll take a look at this. Thanks @btovar

[2015-10-06 13:59] dthain commented on #947
@trshaffer you are already working on this just making a note in the issue tracker.

[2015-10-07 09:03] tommasoboccali opened #951 "Parrot + Condor problems?"
Ciao,
I am trying to set up a uCERNVM image to work with condor.
Often (but not every time), as soon as I start condor, I get

2015/10/07 08:48:51.41 parrot_run[1] child:163 fatal: cannot execute program with personality 2359296
2015/10/07 08:48:51.41 parrot_run[1] child:163 notice: received signal 15 (Terminated), killing all my children...
2015/10/07 08:48:51.41 parrot_run[1] child:163 notice: s

[2015-10-07 12:25] btovar commented on #951
Tom,

For some reason, parrot thinks that it landed in a machine with the wrong system call "personality" (e.g., a sun machine or bsd). Could this be the case?

@batrick: Checking sys/personality.h, it seems there are a couple of linux cases parrot does not accept (PER_LINUX32 and PER_LINUX32_3GB). Is there a reason for this?

[2015-10-07 12:31] dthain commented on #951
It looks to me like we are handling personality too conservatively (or perhaps the system call has changed.)  Only the lower byte indicates the system call personality per se, and the upper bytes indication options.

So personality 2359296 is  0x240000, which is `ADDR_COMPAT_LAYOUT | ADDR_NO_RANDOMIZE | PER_LINUX`

Parrot should just pass that through transparently, since the lower byte is `PER_LI

[2015-10-07 12:33] tommasoboccali commented on #951
ciao, I could replicate the problem on
- a MAC, using docker tools. Not completely sure which machine the virtual box uses ...
- on a standard linux machine, with

[root@cmstest ~]# uname -a
Linux cmstest.pi.infn.it 2.6.32-431.1.2.el6.x86_64 #1 SMP Fri Dec 13 08:31:15 CET 2013 x86_64 x86_64 x86_64 GNU/Linux
[root@cmstest ~]# cat /etc/issue
Scientific Linux CERN SLC release 6.5 (Carbon)
Kernel \r o

[2015-10-07 12:43] #944 closed

[2015-10-07 12:59] btovar commented on #931
Further, if a child process does an exec, that executable is not considered as an input file.

[2015-10-07 13:00] btovar commented on #942
The monitor does work with redirection. It seems the problem is how we are internally constructing the command lines.

[2015-10-07 13:00] #942 closed

[2015-10-07 13:09] btovar commented on #951
@batrick, since the solution seems simple, I am taking this one.

[2015-10-07 13:21] btovar commented on #951
@tommasoboccali, can you give pr #953 a try?

[2015-10-07 13:32] dthain commented on #951
Don't forget `pfs_dispatch64.cc`

[2015-10-07 13:42] tommasoboccali commented on #951
ciao, thanks a lot
I need @jblomer  to produce a new image in order to test it, I am forwarding this to him

[2015-10-07 13:45] jblomer commented on #951
No problem, is #953 ready for testing?

[2015-10-07 13:48] btovar commented on #951
Yes @jblomer (two commits).

[2015-10-07 14:20] jblomer commented on #951
[Here](http://cernvm.cern.ch/releases/testing/cvm-docker.2.3-4.cernvm.x86_64.tar) it is.

[2015-10-07 14:26] tommasoboccali commented on #951
so, I did a fast test and was NOT able to get the error. As said before, I was not really getting it every time (even if "mostly").
I am optimistic, and I will do ore tests. If you do not hear back, just assume the fix .. fixed.

As always, thanks for the fast response and the patience to my usually very unclear reports ...

tom

[2015-10-07 14:39] btovar commented on #951
Excellent, thanks for letting us know!

[2015-10-08 12:21] btovar opened #955 "rmonitor and stdin, stdout"
With:

resource_monitor  cat < x > y

x and y are not recorded as input or output files, as the files are opened before the monitor is ran. The monitor should at least indicate that stdin or stdout where active during the run.

[2015-10-08 17:47] batrick commented on #951
Fixed by #953.

[2015-10-08 17:47] #951 closed

[2015-10-08 19:55] dthain commented on #810
PR #957

[2015-10-09 20:54] btovar opened #959 "resource_monitor parrot_run cmd with bogus messages"
resource_monitor reads messages from children processes with a socket. When monitoring parrot, the resource_monitor is getting bogus messages, with id = 0 (BRANCH, that is, fork) and error = 2. A branch message cannot generate error code 2, thus the message is bogus. A current band-aid is to start counting message ids after 0.

I am not sure whether the bug is in the monitor, in parrot, or both.

[2015-10-09 20:58] btovar commented on #959
The 'good news' is that the messages are not random. They always happen in the same place, and with the same content. In master, if you run:

resource_monitor parrot_run ls

You'll see that parrot dies. This is because the monitor thinks the bogus message has a valid error code.

[2015-10-09 21:03] batrick commented on #959
I don't see it on Arch:

`Linux neverwinter.batbytes.com 4.2.2-1-ARCH #1 SMP PREEMPT Tue Sep 29 22:21:33 CEST 2015 x86_64 GNU/Linux`

I'll give it a try on RHEL.

[2015-10-09 21:05] batrick commented on #959
No luck on ccl12 either. Where are you running this?

[2015-10-12 12:07] btovar commented on #959
On cclws16:
Linux cclws16 2.6.32-431.11.2.el6.x86_64 #1 SMP Mon Mar 3 13:32:45 EST 2014 x86_64 x86_64 x86_64 GNU/Linux

Commit: ef3ab79b02b2ed054026565e18bd6e37c02be722

[2015-10-12 12:53] btovar commented on #959
@batrick: it is not parrot, found a problem in the resource monitor.

[2015-10-12 13:15] btovar commented on #959
Closed via 5ae701a5d387bbf918793baa8611c7

[2015-10-12 13:15] #959 closed

[2015-10-12 15:04] btovar commented on #955
Fixed by #956

[2015-10-12 16:59] batrick opened #961 "Remove allpairs tpds tree"
This tree is kept around for the allpairs tpds paper:

https://github.com/cooperative-computing-lab/cctools/tree/master/allpairs/src.tpds

I think we can safely remove this and just tag an older commit, like 86a174edb6a6d5793f2f4b9f71ba5bdf4202349f.

I use a tag for confuga's ccgrid paper:

https://github.com/cooperative-computing-lab/cctools/tree/papers/confuga-ccgrid2015

[2015-10-12 19:54] dthain commented on #961
Unless this is causing some problems, I would like to leave it in. If a paper says "you can find the source here", then we don't want to make it unusually difficult to find...

[2015-10-13 15:17] batrick commented on #961
I think the main issue is that it's a maintenance burden. It made sense to keep it around when we were using subversion because users didn't have access to our repository. Now that they can look at the full history, it's easier to point them at a commit/tag. How about a README file in allpairs/src which documents where to look (commit/tag) for the paper's code?

[2015-10-13 15:27] dthain commented on #961
Ok, that's acceptable to me.

[2015-10-13 16:56] #961 closed

[2015-10-14 18:25] btovar opened #964 "makeflow does not warn about modes where remote renaming does not work"
For example, if remote renaming is used with -Tlocal, the rule fails. The rule should not even be tried, and makeflow should exit with an appropriate message.

Rules with remote renaming should only be tried with condor, work queue, and eventually, sandbox.

[2015-10-14 18:33] dthain commented on #964
Easy enough to look for in the initial consistency check.

[2015-10-15 13:23] matz-e opened #966 "Hard task maximum runtime for Work Queue"
We could use a hard runtime maximum for tasks that may hang, but where we can ensure a maximum amount of runtime.  I.e., we have a job that will take 1 hour (guaranteed), and we want it killed if it runs for 2 hours.

[2015-10-15 13:25] matz-e opened #967 "Return jobs from Work Queue after failing fast abort et al repeatedly"
If jobs don't make the fast abort (or similar) threshold repeatedly, it would be nice to have them returned to the user for assessment instead of looping over them forever.

[2015-10-15 14:21] dthain commented on #967
What we need here is `work_queue_specify_max_retries`, which should be easy enough to implement.

[2015-10-15 15:00] #955 closed

[2015-10-15 20:56] klannon opened #971 "Cannot Use Wildcard with Master Name in work_queue_pool Config File"
Originally noticed by @annawoodard (quoted below...):

```"master-name": "lobster_resource_monitoring_v1",```

```"master-name": "lobster_resource_monitoring_v*",```

[2015-10-15 23:47] btovar commented on #971
The patterns should be regular expressions. if you add a . before * does it work?

[2015-10-16 12:38] #967 closed

[2015-10-16 15:43] btovar opened #973 "wall time should be a resource at the worker"
Right now is handled separately, but should be part of the resources struct.

[2015-10-19 16:23] btovar opened #975 "Should be automatically blacklist slow workers?"
That is, if fast abort activates for a worker, I would like to blacklist it too.

@dthain, @matz-e, @klannon, @annawoodard, @nhazekam, thoughts?

[2015-10-19 18:23] dthain commented on #975
No objection here, as long as the blacklist entry has a timeout.
You don't want an inherently-long task to wipe out the whole worker pool...

[2015-10-19 18:26] nhazekam commented on #975
In that case, the max retries for the task limits the number of workers that can be blacklisted. I think an interesting way to approach this would be to have the task remember workers it blacklisted, and then if the task hits max retries we reinstate the blacklisted workers.

[2015-10-19 18:30] dthain commented on #254
@NeilB879 as we discussed today, please add options to Makeflow like this:

[code]
which specify that maximum number of resources that local jobs can consume. Then, set things up so that Makeflow will only run as many jobs as can live within those limits.  The default values for those options should be measured from the local environment.

[2015-10-20 15:50] btovar opened #977 "Blacklisted workers get one more chance"
When a worker is blacklisted, work queue pool does not know about it immediately. The blacklisted host may connect in the meantime to the master, and does not disconnect until the idle time is reached.

I'm not sure if this is a bug, or a feature:

cons: the user is billed for resources not being used, even if it just condor priority.
pros: if the submission process does not know about blacklistin

[2015-10-21 22:06] batrick opened #980 "Authentication module does not indicate transient failures"
The auth module does not pass transient network failures back to the caller for e.g. `auth_assert`. Instead, these errors are always changed to `EACCES` which is usually interpreted as an unrecoverable error.

My specific problem is Confuga getting `EACCES` from `chirp_reli_job_wait`. This is interpreted as an unrecoverable error for a job. What should happen is `chirp_reli_job_wait` returns the e

[2015-10-22 12:54] klannon commented on #971
Sorry for not responding sooner.  You're right.  Adding a "." before the "*" makes this work.  Sorry if I missed this in the documentation.

[2015-10-22 13:25] tommasoboccali opened #981 "docker+ucernvm+parrot+condor"
Ciao, referring here to a htcondor thread (where I was adviced about opening an issue here: https://www-auth.cs.wisc.edu/lists/htcondor-users/2015-October/msg00067.shtml )

So this is the problem: I an trying to run condor inside a uCERNVM under docker, which gets /usr, /bin etc from CVMFS (the usual uno fro @jblomer ). Also condor is not in a local FS, but taken from cvmfs. There is nothing outis

[2015-10-22 13:56] batrick commented on #981
Parrot has always turned `setuid` into a no-op. So when HTCondor checks that `setuid` actually changed the uid, it fails.

One of the issues with allowing `setuid` is that it complicates signal handling and access control in Parrot (the tracee may no longer be the same uid as Parrot). I don't think the fix is as simple as turning the system call back on. What do you think @dthain?

[2015-10-22 14:41] dthain commented on #981
Aha, I didn't understand that you were trying to run the whole condor stack on top of parrot.  This isn't what we recommend, and it may not work in the long run.  I would be more optimistic about an approach in which condor gets loaded and run first, and then uses parrot to run the job.

That said, I think there is a simple step that we can take that *might* address the setuid issue and get things

[2015-10-22 14:45] jblomer commented on #981
For this particular issue, do you think there is a chance to patch condor to optionally allow root for payload?

Btw, I think the `--fake-setuid` option would be very helpful anyway

[2015-10-22 14:47] tommasoboccali commented on #981
ciao! Yes, condor lives in parrot, as all the rest.

I will be happy to test your fix (provided @jblomer builds a ucernvm from that, which I am sure he will!)

thanks a lot

tom

[2015-10-22 14:55] dthain commented on #981
@jblomer the htcondor folks are not comfortable with jobs that run as root, and htcondor goes to great lengths to prevent that.  I think it's unlikely you will convince them otherwise.  However, htcondor can run itself (and the job) as an ordinary user, and I think that's likely to be a more fruitful approach.  (But it will still require the ability to su within parrot.)

[2015-10-22 14:57] btovar commented on #971
Excellent, thanks for letting us know.

[2015-10-22 14:57] #971 closed

[2015-10-22 14:57] tommasoboccali commented on #981
i think generally they are correct (in not wanting that). In this precise case "root" is a "root" inside a parrot inside a docker ... so not much harm can be done. Still, I see their point in preventing me: I could run 2 payloads from 2 different users, and it is not nice one sees the other ...
So what we have here is a root--, but somehow still a root.

[2015-10-22 15:37] btovar commented on #975
Implemented in #976

[2015-10-22 15:37] #975 closed

[2015-10-22 15:37] btovar commented on #966
Implemented in #974

[2015-10-22 15:37] #966 closed

[2015-10-23 12:19] btovar opened #984 "add a timeout to work queue pool"
Requested by @klannon.

When the pool does not find any masters in the catalog, it would be nice if it exit by itself after a given timeout.

[2015-10-23 14:15] matz-e opened #986 "Parrot dying due to file descriptors?"
I'm currently seeing this error going by running parrot via WQ.  Haven't been able to easily reproduce it so far:
[code]
and
[code]
Any ideas why parrot crashes?

[2015-10-23 14:28] batrick commented on #986
@matz-e, I will need to see more of the debug log (`-d all` would be most helpful) to diagnose this or a way to reproduce.

[2015-10-23 15:24] batrick commented on #986
@matz-e I believe I figured out the problem. I'll make a patch and hopefully that will resolve this.

[2015-10-23 17:41] batrick commented on #986
For the record, this is reproducible using `chromium --no-sandbox`. This can only occur with threaded applications.

[2015-10-23 18:23] #986 closed

[2015-10-23 18:23] batrick commented on #986
@btovar can you get #989 into the branch @matz-e is using?

[2015-10-23 18:34] matz-e commented on #986
Thanks!

[2015-10-23 21:28] btovar opened #990 "improve stats documentation"
(e.g., total_cmd_exec time vs cmd_exec time)

[2015-10-23 21:29] btovar opened #991 "work queue monitor output should respect umask permissions."
As reported by @annawoodard.

[2015-10-26 15:57] bbockelm commented on #981
Root inside a docker container is widely considered to root outside a docker container (given the rate of CVE's on the subject).

Is there no ability to have a shim within the ucernvm that builds the environment then drops privs?  Can we revisit why parrot has to be run as root in the first place?

[2015-10-28 12:05] tommasoboccali commented on #981
ciao Brian.
Since we want to use uCERNVM, there is no way NOT to be root.
/usr, /bin etc are linked to CVMFS, and hence the process preparing the system needs to run
- under parrot (since it needs to copy/link from cvmfs to local fs)
- as root (in order to touch as said /usr etc)

the only way out I can see would be to have a completely different approach, in which /usr and the rest are in the con

[2015-10-28 14:04] btovar opened #993 "task->command_line is modified when using the monitor"
Right now we modify command_line to add the monitor. This may be confusing, as the value of command_line is different from the command the user gave.

Perhaps this will be more easily fix when #988 is ready.

[2015-10-28 17:29] dthain opened #995 "batch_job in makeflow vs work_queue"
The more I work with the code, the more it seems to me that batch_job doesn't really fit within the work_queue module.  Would it make more sense to put it into makeflow?  is there a better way to disentangle our dependencies?

I think these are the essential parts:

[code]

[2015-10-28 17:34] btovar commented on #995
The nice thing of having it in libwork_queue is that allpairs and wavefront only get one dependency.

When I moved work_queue from dttools, I originally had a batch library, but at that time it seem overkill. Having batch as part of makeflow makes the dependencies for work_queue_pool ugly.

I would leave it as it is, or create a new library. A better option would be to have batch as part of dttool

[2015-10-28 19:35] dthain commented on #995
To summarize:
- keeping it in work_queue is awkward but works.
- moving it to dttools is out, since that would create a circular dependency.
- moving it to makeflow could work, but then work_queue_pool (though not the rest of wq) would depend upon makeflow
- moving it to a distinct module would work but would add a new dependency to some modules.

Did I get that right?

[2015-10-28 19:46] btovar commented on #995
Correct.

Also, allpairs and wavefront would depend on makeflow.

[2015-10-28 23:10] #991 closed

[2015-10-29 08:46] tommasoboccali commented on #981
ciao I see commits ;)
are we already at the point where @jblomer can try and build a container over them?

thanks

tom

[2015-10-29 15:00] dthain commented on #981
Almost but not quite!  We will let you know...

[2015-11-03 13:47] btovar opened #1000 "keep workers debug log in work queue pool"
work queue pool overwrites the error output of the workers as they exit. This makes debugging more difficult. I propose to have a single error stream, in which all the worker debug outputs are appended.

[2015-11-03 13:50] btovar opened #1001 "write worker link address and port in worker's debug output"
If the worker fails to connect to the master before the "workqueue" message, the only information identifying the worker is its ip address. However, this is not included in the worker's log, and makes finding the correct debug output file difficult.

[2015-11-04 16:52] btovar opened #1002 "Acillary/temp parrot files errors in source taball in OSX"
When unpacking the source tarball generated by autobuild in cclmac00, I get:

tar: copyfile unpack (cctools-e42bca65-source/parrot/test/fixtures/a/b/c/_acl) failed: No such file or directory
tar: copyfile unpack (cctools-e42bca65-source/parrot/test/fixtures/a/b/_acl) failed: No such file or directory
tar: copyfile unpack (cctools-e42bca65-source/parrot/test/fixtures/a/_acl) failed: No such file or

[2015-11-04 17:59] btovar opened #1003 "source tarball includes test makeflow log files"
For example, from a clean autobuild tarball:

2015/11/04 12:53:06.35 makeflow[76025] notice: MAKEFLOW_INPUTS is not specified
2015/11/04 12:53:06.35 makeflow[76025] notice: MAKEFLOW_OUTPUTS is not specified
parsing dirs/testcase.subdir.01.makeflow...
checking dirs/testcase.subdir.01.makeflow for consistency...
dirs/testcase.subdir.01.makeflow has 1 rules.
recovering from log file dirs/testcase.sub

[2015-11-04 18:01] btovar commented on #1003
Mmm, it seems this is just the clear part, when using the option -c. Perhaps we should change the "retry" messages if in cleaning mode?

[2015-11-04 19:08] batrick commented on #1002
@nhazekam I'm gifting this to you.

[2015-11-05 18:53] btovar opened #1005 "makeflow should not access struct work_queue directly"
The most glaring example is q->fast_abort. WQ's API function does some checking and prints a debug message, which does not happen when using fast abort with work queue. Ideally, makeflow should not access WQ structures directly.

(@nhazekam: we talked about this one before, I am just making an official record.)

[2015-11-06 13:11] btovar commented on #1002
@nhazekam, taking this from you.

[2015-11-06 13:27] btovar commented on #1002
@batrick: Are we using the .__acl for anything in the parrot tests? They cause conflicts when unpacking the tar in OSX, unless the user says:

COPYFILE_DISABLE=true tar zxpf cctools-e51ad7ff-source.tar.gz

The error messages themselves are harmless, but I rather remove the .__acl if they are not necessary.

[2015-11-06 13:47] batrick commented on #1002
It is used by the parrot chirp search test. I think the .__acl files can be removed if a default acl is used in the chirp server.

[2015-11-06 13:49] btovar commented on #1002
The acl's in question are pretty generic: unix: lrw.

Thanks Patrick, I'll check the chirp tests.

[2015-11-06 14:21] #1001 closed

[2015-11-06 19:28] dthain opened #1007 "Makeflow GC Test Failing"
@nhazekam one of the makeflow gc tests has been failing for some time.
It may or may not be due to your recent changes, but you probably understand
the code the best at this time, please fix it..
[code]

[2015-11-09 13:56] btovar opened #1009 ""exit" and "release" have the same meaning at worker"
I would like to keep "release" with the current meaning: worker simply disconnect from master, and turn "exit" into terminating the worker.

From the master, shut down workers when queue exits should use exit, as "release" is implied.

(Funny story: I incorrectly set worker's timeout to 30 hours. condor_rm sent all my jobs to X state, and I had no way to kill the workers.)

@dthain, @nhazekam

[2015-11-09 14:32] dthain commented on #1009
Ok here

[2015-11-09 17:53] btovar opened #1011 "makeflow's clean mode should work regardless of -T"
If makeflow file has a rule with remote renaming, the following fails:

makeflow -c

It expects:

makeflow -Twq -c

However, -c only deals with local files.

[2015-11-10 19:12] #1009 closed

[2015-11-11 16:09] btovar opened #1017 "Option to disable following chdir in the resource monitor"
@matz-e case: Some forked processes chdir to /cvmfs, which does not give an useful measurement ot the task usage.

I would like to add an option to the monitor to specifically ask to follow chdirs, or to specifically track directories given at the command line.

[2015-11-11 16:55] dthain commented on #1017
I think the way to go here is for the resource monitor to track the name of a directory given on the command line.  Whoever is invoking the command has some idea of the zone that they want tracked...

[2015-11-11 19:00] dthain commented on #1007
Please expedite, we should't get into the habit of allowing failing regression tests....

[2015-11-13 18:21] #1017 closed

[2015-11-13 18:28] #1007 closed

[2015-11-13 18:28] #1003 closed

[2015-11-13 18:30] batrick commented on #810
Fixed in #957.

[2015-11-13 18:30] #810 closed

[2015-11-13 18:31] batrick commented on #981
@tommasoboccali have you resolved this problem? I think you ended up moving Condor out of Parrot in your stack right?

[2015-11-13 19:06] btovar opened #1024 "makeflow does not compile on RedHat 7"
makeflow_log.c:296:26: error: comparison between 'makeflow_clean_depth' and 'enum <anonymous>' [-Werror=e│num-compare]
   int silent = clean_mode != MAKEFLOW_GC_NONE;

[2015-11-13 19:32] btovar commented on #1024
All all the centos.

[2015-11-13 19:54] nhazekam commented on #1024
I will be right on this. Overlooked those errors.

On Friday, November 13, 2015, Benjamin Tovar <notifications@github.com>
wrote:

[2015-11-14 03:51] nhazekam commented on #1024
Fixed in #1025

[2015-11-14 03:51] #1024 closed

[2015-11-16 17:21] #1002 closed

[2015-11-16 18:50] #990 closed

[2015-11-18 18:24] Baguage opened #1032 "Output files for openmalaria.umbrella are lost"
Trying to use the latest version of Umbrella to run OpenMalaria model, and do not get output files (ctsout.txt and output.txt) back.

[2015-11-18 19:42] hmeng-19 commented on #1032
@Baguage , Thanks for the report.

The reason for this problem is the output files are created inside a Docker container, and left behind after the job is done.

There are two solutions here: (1) save the whole Docker container into a tarball and find the output files from the tarball. (2) track output files using docker volumes.
The first solution is very expensive in both time and space consumpt

[2015-11-18 20:11] Baguage commented on #1032
Out of curiosity, can you utilize `docker diff` command and grab only changed and added files in tarball? - http://docs.docker.com/engine/reference/commandline/diff/ (I'm not exactly sure how Umbrella builds an image and whether it is going to work or not though)

[2015-11-18 20:16] dthain commented on #1032
Or (3) Umbrella copies the output files individually out of the container
and to the desired location.

On Wed, Nov 18, 2015 at 2:42 PM, hmeng-19 <notifications@github.com> wrote:

[2015-11-18 20:17] Baguage opened #1035 "Support for file:// and data:// URL schemas"
This is low priority request obviously, but is it possible to add support for file:// and data:// (https://tools.ietf.org/html/rfc2397) URL schemas? This may be useful for generating umbrella specifications programmatically among other things.

[2015-11-18 20:17] Baguage commented on #1035
This related to Umbrella tool

[2015-11-19 12:16] btovar opened #1036 "jx should not use anonymous unions"
(see #1031)

[2015-11-20 17:30] btovar opened #1040 "sge_submit_workers configure time option"
For example:

./configure --sge-parameters='#$ -pe smp $cores'

--sge-parameters could be used several times at the command line. Each time specifies a line that should be copied at the top of sge_submit_workers.

For Notre Dame, ./configure.afs would specify the above: --sge-parameters='#$ -pe smp $cores'

[2015-11-20 18:10] btovar opened #1042 "Makeflow should communicate the task categories to work queue"
See #1041.

@nhazekam, suggestions, glaring should nots?

[2015-11-20 18:31] nhazekam commented on #1042
It looks good to me. I think will be great for using fast abort more as we can now have the abort specific categories of tasks. Helpful when you have only a couple long running compared to a chunk of short running.

I know you are still thinking about the Makeflow integration, but do you plan on still accepting it as a command line option/environment variable or do you plan on pushing more for it

[2015-11-20 18:34] btovar commented on #1042
As option/environment that is communicated to work queue.

[2015-11-20 18:37] nhazekam commented on #1042
That sounds good. Do we care that category would now have a different definition between Makeflow and WQ, aka a category in Makeflow also contains cores/memory/etc but in WQ it just a class of tasks, the fast abort multiplier, and some stats?

[2015-11-20 18:42] btovar commented on #1042
Ah no, that's the idea. I need to add cores/memory/disk etc to the categories in work queue.

[2015-11-20 18:49] nhazekam commented on #1042
OK, awesome. That makes sense to me as well. I know this is getting farther into the weeds but would you allow the user to still specify cores/memory/disk in the task or move entirely to categories even if it was relatively generic?

[2015-11-20 18:52] btovar commented on #1042
Both, using category as the fallback. Also, we would add a mode in which you specify the size of the largest worker (per resource), and then we automatically compute the sizes of the tasks, based on history, our first allocation algorithm, etc.

[2015-11-20 18:54] nhazekam commented on #1042
Great, well this looks like the right base level for categories to be built up with, especially since wq_stat has a lot of info we can add a use with it.

[2015-11-20 20:30] hmeng-19 commented on #1032
@Baguage , `docker diff` gives you some overview of which files have been added, which files have been modified, or deleted. However, I do not think currently docker exposes some interface allowing you to subtract a single files from its storage space.

[2015-11-20 20:31] hmeng-19 commented on #1032
@dthain , the problem is when docker is used, umbrella can not copy files created inside a docker container except running as root.

[2015-11-20 20:39] hmeng-19 commented on #1035
@Baguage , that is an interesting idea.
As we discussed, currently, I would first add support for local files `file:///tmp/output/f1` into umbrella specs. When you have an example of dataURL, I would be happy to give it a try.

[2015-11-20 20:49] hmeng-19 commented on #1032
@Baguage , would you like give this branch a try before I merge it into our ccl master?
https://github.com/hmeng-19/cctools/tree/umbrella_output

[2015-11-20 20:52] hmeng-19 commented on #1032
@Baguage , as for the latest version of `openmalaria.umbrella`, you can use the one under `cctools/umbrella/example/openmalaria`, or use the one in the ccl git repo we are collaborating one (I already pushed the latest version into it).

[2015-11-20 21:33] Baguage commented on #1032
@hmeng-19 - thanks! I will try new version this Monday

[2015-11-22 09:51] tommasoboccali commented on #981
ciao @batrick , yes it works.
Still, that needs a container image @ 500 MB instead of the 30 MB of uCERNVM.
So I would still be interested in solving the issue described here.

ciao

[2015-11-22 16:15] batrick commented on #981
@tommasoboccali well, #997 is merged so you can give that a try if you want.

[2015-11-22 21:37] tommasoboccali commented on #981
thanks!
@jblomer , can you produce a tar with that?
I can take care on changing /init inside to use the new option, but I cannot produce a new tar :(

thanks a lot

tom

[2015-11-23 00:44] Baguage commented on #1035
Here is an example of data url that encodes "Umbrella" string:
data:text/plain;charset=utf-8;base64,VW1icmVsbGE=

[2015-11-23 01:37] Baguage commented on #1032
Just tried it - got two output files back, so it sounds like it worked!

[2015-11-23 14:53] hmeng-19 commented on #1032
Cool. Thanks.

[2015-11-23 14:54] hmeng-19 commented on #1032
Fixed by #1043

[2015-11-23 14:54] #1032 closed

[2015-11-24 13:35] #1040 closed

[2015-11-24 14:23] jblomer commented on #981
@tom: please find a new tar here:
http://cernvm.cern.ch/releases/testing/ucernvm.2.4-5.cernvm.x86_64.tar

It comes with a new `parrot_run` binary but with an unmodified /init.  Could you send me the necessary modifications to the init script?

[2015-11-24 14:29] tommasoboccali commented on #981
setting up the environment to check it now (I must confess I forgot a lot of stuff in the meantime ....)

[2015-11-24 14:33] tommasoboccali commented on #981
@jblomer
it does not seem correct tar file: it just contains kernel and initdr ... for example no /init ....

where am I wrong?

[root@cmstest ~]# tar xvf ucernvm.2.4-5.cernvm.x86_64.tar
apply
initrd.2.4-5.cernvm.x86_64
vmlinuz-4.1.13-8.cernvm.x86_64.xz

[2015-11-24 14:38] jblomer commented on #981
@tommasoboccali sorry, here's the correct link:
http://cernvm.cern.ch/releases/testing/cvm-docker.2.4-5.cernvm.x86_64.tar

[2015-11-24 15:41] tommasoboccali commented on #981
uhm, not still completely sure, but
- a simple sleep jobs seem to work
- I get a 0 sized .err and a correct .ut on the submitting host

[tboccali@vocms058 out]$ cat sleep.out.54648.7
I slept for 300 seconds on:
6e66b50cf2ea
Tue Nov 24 15:32:08 GMT 2015

- condor seems to say the jobs are DONE:

[tboccali@vocms058 out]$ condor_history 54648.3
 ID     OWNER          SUBMITTED   RUN_TIME     ST COMPL

[2015-11-24 17:33] tommasoboccali commented on #981
I am having an harder time with CMS jobs.
Are these errors expected when using fake-setuid?

bash-4.1# su - nobody
2015/11/24 17:32:07.89 parrot_run[1] <child:768> notice: warning: system call 250 (keyctl) not supported for program /bin/su
2015/11/24 17:32:07.89 parrot_run[1] <child:768> notice: warning: system call 250 (keyctl) not supported for program /bin/su
su: cannot set groups
bash-4.1# id

[2015-11-24 18:11] batrick commented on #981
Yes, supplemental groups are not supported in fake-setuid. We were not sure it would be necessary. It looks like Condor runs the job with some logged errors from `setgroups`. Do your CMS jobs fail because of `su`?

[2015-11-24 20:30] tommasoboccali commented on #981
a good question, not easy to answer.
indeed, if i run the SAME script as plain root, it works. it does not when
inside the fake-setuid (so thinking it is another user). I need to debug
with crab experts, but i think the problem is there.
also i see a strange error which seems to be causing the crash when running
inside fake...

awk: fatal: could not find groups: Operation not permitted

does it he

[2015-11-25 22:01] #1036 closed

[2015-12-01 14:05] dthain commented on #995
See #1048

[2015-12-01 17:54] #995 closed

[2015-12-02 17:22] btovar opened #1049 "Duplicate output name error at worker"
Situation:

1) Task 1 and 2 both have as output fileA. (issue 1, this breaks semantics of wq)
2) Both tasks fall in the same worker, and complete successfully.
3) Say task 1 finish first, then task 2 overwrites fileA.  (issue 2, silent overwrite)
4) When master gets the results, fileA is returned for task 1, and task 2 fails, as fileA is deleted in the meanwhile (issue 3, output was correctly gene

[2015-12-02 17:40] nhazekam commented on #1049
Sounds plausible, but are we worried about how much added work it is to check the filenames? Would we want to have a table of filenames?

Also, following a task finishing would we allow filenames in that task to be used again?

[2015-12-02 18:09] btovar commented on #1049
There will be some overhead, but we already check for repeated remote names, thus the O() would not change.

Also, the check would be for "active" tasks. Once a task is returned to the user, it is removed from the work queue tables. This means that once a task is returned, that output name is available again.

[2015-12-02 20:20] hmeng-19 opened #1050 "umbrella support for local resources file:///"
Problem:
Currently, the data dependencies of Umbrella may come from http, https, git, or cvmfs. However, in some cases, the user may want to test the data or software from his local file system.

Solution:
Add support for local resources in the format of `file:///...`, such as `file:///data/file1` or `file:///software/povray`.

[2015-12-02 20:22] hmeng-19 commented on #1050
@Baguage , here is the issue. Let me know if more information is needed.

[2015-12-02 21:12] Baguage commented on #1050
As discussed with @hmeng-19 , we will update url_download and replace wget program call with urllib2 (standard python library). urllib2 does support file://, ftp://, http:// and https:// out of the shelf, and  custom protocol handlers can be added too. @cwilli34 will send a pull request for review when we are ready.

[2015-12-03 16:47] btovar opened #1051 "cores as a float"
Right now we keep cores as an integer. I would like to change it to a double, so that the following makes more sense:

cores = cpu_time/wall_time

Right now the resource monitor does:

cores = ceil(cpu_time/wall_time)     // with the appropriate double casts.

Does anybody see any drawback?

[2015-12-03 17:57] btovar opened #1052 "no-worker-for-task policy"
If a task cannot be dispatched given its resource requirements (i.e., there is not a worker big enough connected to the master), what should we do?

We need to communicate with the user somehow. We cannot cancel the task right away, as a worker may be in the process of connecting. I propose to have calls such as:

work_queue_cancel_task_on_memory(q, N);
in which tasks which use N memory or more, a

[2015-12-03 18:04] nhazekam commented on #1052
In what circumstances would you foresee the user adding work_queue_cancel_task_on_memory?

I can definitely see work_queue_missing_resources being useful for a user to figure out why they are making progress and need more resources. Is that what you had in mind?

[2015-12-03 18:37] btovar commented on #1052
Imagine work_queue_missing_resource returns a resource size that your pool cannot fulfill. You would like that task cancelled. This could happen if tasks are automatically labeled (say labels come from an archive, but those labels where found in a pool of workers that you do not have).

[2015-12-03 19:19] nhazekam commented on #1052
Cool, though in that case I agree with your above statement that we need to communicate whats happening to the users, so in cases of task cancellation they are aware it was removed.

[2015-12-03 20:36] cwilli34 opened #1053 "Umbrella passes UnboundLocalError after run"
Following error occurs on line 773  /cctools/bin/umbrella:

`UnboundLocalError: local variable 'host_linux_distro' referenced before assignment`

Adding `host_linux_distro = None` before the if statement takes care of this error.

[2015-12-03 21:24] hmeng-19 commented on #1053
@cwilli34 , thanks for pointing out the mistake.

BTW, I think we are working on two different versions of umbrella,  here are the content from line 754 - line 765 from the master branch of https://github.com/cooperative-computing-lab/cctools/blob/master/umbrella/src/umbrella.py.

    if arch_index != -1:
        host_linux_distro = 'arch'
    else:
        redhat_index = uname_list[2].find('el')

[2015-12-04 00:05] Baguage opened #1054 "Umbrella - Checksum validation - case sensitive"
Ran into this problem when creating a new umbrella spec
Used online service to compute MD5 checksum and got 76A94fff405EA493D04C5C3CD97B6409
Umbrella did not like that, because although checksum was correct it expected it in lower case: 76a94fff405ea493d04c5c3cd97b6409. I believe it should not be case sensitive and should accept AAAA, aaaa, AAaa and so on.

[2015-12-04 14:47] hmeng-19 commented on #1054
@Baguage , you are right. I plan to make a tiny pull request to fix this problem. Is that okay for you? Or you already fixed it in your branch?

[2015-12-04 14:52] Baguage commented on #1054
not yet, I wanted to get your approval first

[2015-12-04 14:54] hmeng-19 commented on #1054
Go ahead. I have no problem with it. Thanks.

[2015-12-04 17:00] cwilli34 commented on #1053
Yes, this is where I was talking about.  My version is only different because I also added changes tot he url_download method.

[2015-12-04 18:14] hmeng-19 commented on #1053
Cool. Glad to know we are on the same page.
Do you want me to make a tiny pull request to fix the problem first? or you already fix it in your branch?

[2015-12-04 18:22] cwilli34 commented on #1053
I think we have it fixed in ours and will probably be delivering a pull request soon.  Thank you though!

[2015-12-07 19:47] batrick opened #1063 "Parrot should implement `getgroups` and `setgroups` for `--fake-setuid`"
This is necessary to resolve #981.

Just to summarize some implementation details:

* If Linux returns the primary group id with the supplemental group ids, we should too.
* Just use a statically sized array of `gid_t` in the pfs_process struct, no dynamic list.

[2015-12-07 19:47] batrick commented on #981
@tommasoboccali, sorry for the delay in response. I have created an issue for this, #1063. We will try to solve this for you soon.

[2015-12-07 22:05] hmeng-19 commented on #1053
Fixed by #1064

[2015-12-07 22:05] #1053 closed

[2015-12-07 22:06] hmeng-19 commented on #1050
Fixed by #1064

[2015-12-07 22:06] #1050 closed

[2015-12-10 00:11] #980 closed

[2015-12-10 03:14] Baguage opened #1070 "[Umbrella] Can't start EC2 instance on EC2-Classic account"
Trying to use umbrella from master to run openmalaria on EC2 - and it fails with error below
**The AssociatePublicIpAddress parameter is only supported for VPC launches.**

[avyushko@stockpile umbrella-om-spec]$ umbrella --spec openmalaria.umbrella --localdir /tmp/umbrella_test/ --output "/tmp/ctsout.txt=/tmp/umbrella_test/ec2_openmalaria/ctsout.txt, /tmp/output.txt=/tmp/umbrella_test/ec2_openmala

[2015-12-10 11:11] tommasoboccali commented on #1063
thanks! no big hurry, in the other way (condor outside parrot) it works ;)

tom

[2015-12-10 14:14] hmeng-19 commented on #1070
I believe the problem is the `--ec2_key` option, which should be your amazon key-pair. `feb272015` is my own amazon key-pair. You may need to first create your own key-pair:
http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html

[2015-12-10 14:20] hmeng-19 commented on #1070
Your `--ec2_sshkey` option also looks a little skeptical, which should be the path of the private key file to use when connecting to an Amazon EC2 instance.

[2015-12-10 18:35] nhazekam opened #1072 "Consistency in printing messages"
Working through Makeflow, I notice that we have several different streams that information goes out through for Makeflow. For example we use fatal, printf, fprintf to stderr, and debug all in makeflow.c. Should we route the printf and fprintf calls through the debug library?

Also, should we have D_Notice, D_Error, and D_Fatal print to both the log and stderr? I believe currently they will print r

[2015-12-10 20:50] dthain commented on #1072
The code probably isn't as consistent as it could be, but there are good reasons to use each one.  The is the general convention across all of our code:

- stdout is for the ordinary output of a program, showing a modest amount of high level progress information that the user expects to see all of the time.  e.g. checking the dag, submitting jobs, dag overall succeeded or failed.
- stderr is speci

[2015-12-11 12:34] btovar commented on #1072
Nick and I were thinking of two issues regarding the debug log:

- Messages to stderr are not printed to the log, which would be nice for debugging purposes. We would like to use D_NOTICE everywhere we use stderr, with D_NOTICE printing both to the the debug log, and to stderr (only if the debug log is not being printed to stderr).

- Fatal messages are printed to the log, but not to stderr. We th

[2015-12-11 13:13] dthain commented on #1072
I think those are good ideas.  I'll just suggest that only the log file have the date, time, and process header, otherwise the user-visible message would be lost in the clutter.

[2015-12-13 16:31] Baguage commented on #1070
Ok, I have corrected that, but it does not seem to solve my problem
[code]

One piece of information - I'm using EC2-Classic account for this test (my personal account), and I do not have access to EC2-VPC. I have a sneaking suspicion that you can't assigned a public IP to a instance in EC2-Classic account.

[2015-12-14 14:41] hmeng-19 commented on #1070
Instances from the EC2-Classic Platform by default should have a public IP address:
     http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-vpc.html

My EC2 account by default run instances s on the EC2-VPC platform.

Let us leave this problem for this Wed's meeting, we can troubleshoot together.

[2015-12-14 15:20] Baguage commented on #1070
Sounds like a plan!

[2015-12-14 15:50] batrick commented on #1063
Fixed by #1067.

[2015-12-14 15:50] #1063 closed

[2015-12-14 15:51] batrick commented on #981
@tommasoboccali, @jblomer try the new master with #1067 at your leisure.

[2015-12-14 18:17] dthain opened #1073 "Project: Add Expressions to JX Library"
Extend the JX library to permit simple expressions that can be evaluated within the context of another JSON document.  This will make it handy to filter and evaluate JSON data wherever we use it, so that things like this become easy:

[code]

Here is the idea: The function `jx_evaluate` should take an arbitrary JSON expression, possibly containing symbols and operators, look them up in the JSON ob

[2015-12-14 18:19] dthain commented on #1073
And the follow up to this project is that the same expressions can then be used to generate arbitrary queries in DeltaDB.

[2015-12-15 09:45] jblomer commented on #981
@batrick: many thanks!
@tommasoboccali: new image is [here](http://cernvm.cern.ch/releases/testing/cvm-docker.2.4-6.cernvm.x86_64.tar)

[2015-12-15 10:17] tommasoboccali commented on #981
on it asap (sorry, busy times :(
)

tom

On Tue, Dec 15, 2015 at 10:45 AM, jblomer <notifications@github.com> wrote:

--
Tommaso Boccali
INFN Pisa

[2015-12-15 14:55] tommasoboccali commented on #981
and the winner is ... US ;)
exec summary:

-rw-r--r--  1 root root 2075266 Dec 15 14:33 output.root and logs:

...
Begin processing the 3395th record. Run 1, Event 293845, LumiSection 672542 at 15-Dec-2015 14:46:18.861 GMT
...

if I get a root file produced by CMS everything must have been ok ....

Investigating more, but you probably did it!

tom

[2015-12-15 14:57] batrick commented on #981
Great @tommasoboccali! I'll close this issue. Please make a new one if you have anymore trouble.

[2015-12-15 14:57] #981 closed

[2015-12-15 16:40] dthain commented on #981
Great work, everyone!

[2015-12-16 19:30] hmeng-19 commented on #1070
http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/default-vpc.html#default-vpc-availability

[2015-12-16 19:36] hmeng-19 commented on #1070
http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/default-vpc.html#detecting-platform

[2015-12-16 19:41] hmeng-19 commented on #1070
http://docs.aws.amazon.com/AWSEC2/latest/CommandLineReference/ec2-cli-launch-instance.html#launching-instances

[2015-12-17 01:13] Baguage commented on #1070
For the record, the root cause of the problem is my account. It was created many years ago, and I did not migrate to new EC-VPC platform (still use EC-Classic). As discussed with Haiyan, umbrella should probably detect those accounts and give a warning to user. In the mean time, I will create a new account and try umbrella with EC-VPC account.

[2016-01-05 19:01] btovar opened #1079 "wq.enable_monitoring does not correctly update task.return_status"
As reported by @klannon. resource_monitor hijacks return_status, and the actual value from the task is not reset.

[2016-01-05 19:54] btovar commented on #1079
Fix on  #1078

[2016-01-11 18:12] klannon opened #1083 "Feature Request: Minimum slot size in Work Queue Factory"
In the mode of using Work Queue Factory where it tries to grab the biggest possible slots, it would be great if you could specify a minimum slot size to keep the factory from making workers that are too small to serve any of your tasks.

[2016-01-12 16:46] dthain commented on #1083
Now that I look more closely, I see that `condor_submit_workers` has the `--autosize` option, but
`work_queue_factory` does not.  So that's part of the missing piece.

[2016-01-12 16:49] btovar commented on #1083
It is more than that. I've just modified condor_submit_workers so that it takes a minimum too, something like:
cores="ifThenElse($cores > TotalSlotCpus, $cores, TotalSlotCpus)"

[2016-01-13 00:32] #1083 closed

[2016-01-14 16:22] batrick opened #1092 "Some environment variables override CLI switches in Parrot"
Some environment variables would overwrite the CLI switches.

This was privately reported by Rodney Walker. The alien cache was being initialized to "" after the command switches causing the switch to do nothing. Only the PARROT_CVMFS_ALIEN_CACHE environment variable worked.

Introduced by 1b64779f7a0cbd6c2db6d70254de0c6beaa9970a.

[2016-01-14 16:24] dthain commented on #1092
FYI, very early versions of parrot tried to make an environment variable to correspond to every command line switch.

In retrospect, I'm not sure this is a good idea, except in cases where the environment variable is a well known sort of thing across tools (like HTTP PROXY)

Is it still necessary to support this?

[2016-01-14 16:25] batrick commented on #1092
I think a lot of people are relying on it so yes I think we need to support at least the current ones.

[2016-01-14 16:28] dthain opened #1094 "Makeflow: Large DAGs Load Slowly on Lustre"
(Nick, I know you are already working on this, just making a record of it.)

Per our discussion today, add a switch to makeflow that skips the initial stat of files when the user gives a `--skip-file-check` argument (or something to that effect.)

Then part: Set an alarm in the consistency checking code, so that if it takes more than a reasonable amount of time (say, 15 seconds) print an informati

[2016-01-14 16:55] #1092 closed

[2016-01-14 19:50] batrick opened #1096 "Partial `munmap` causes segfault in Parrot"
Simple test case:

[code]

Failure reported by Rodney Walker.

[2016-01-14 22:23] #1096 closed

[2016-01-15 18:25] klannon opened #1099 "Ability to drain a Work Queue Factory"
I'm not sure if this is even a sensible request, but it would be really nice if you could "drain" a work queue factory--in other words, tell a factory that it should reduce the number of connected workers, but only by removing workers after they complete their current tasks.

[2016-01-15 18:34] dthain commented on #1099
That is a great idea!

[2016-01-15 18:36] klannon commented on #1099
You can probably even guess why it occurred to me.  :)

[2016-01-15 18:38] dthain commented on #1099
@charleszheng44 please add a new capability to `work_queue_factory` so that if `drain:true` is set in the configuration file, then workers are allowed to exit, but are not actively removed.  Put that together with `max-workers:0` and you get a system that will shut itself down slowly without killing jobs...

[2016-01-15 18:44] charleszheng44 commented on #1099
Did you mean that in order to slowly decreased the number of workers, we keep decrease the value of max-workers to 0?

[2016-01-15 18:49] btovar commented on #1099
Look at work_queue_shut_down_workers(q, n);
It releases at most n workers, but it does not release a worker if it is running a task.

Call work_queue_shut_down_workers in(q, n); in work_queue_factory when drain is true, and max-workers is smaller than the current active workers.

[2016-01-15 18:50] dthain commented on #1099
Er, Ben, I think you are confused: `work_queue_shutdown_workers` is at the master program, not in the factory.

[2016-01-15 19:13] btovar commented on #1099
Ah, indeed.

The behavior that you describe is already there, without the need of drain: true. Simply set max_workers and min_workers to 0, workers are not regenerated, and the idle out as the master sends less work.

However, if you do not like the waiting for the idling out, then I do not see how we can do this from work_queue_factory alone.

[2016-01-15 19:21] klannon commented on #1099
This is not quite what I had in mind.  Currently, I have let's say 2k
workers in a factory.  I'm told by the university that I'm breaking the
internet and I need to scale back.  So, I'd like to go to 1k workers
with the least amount of wasted work, but as quickly as possible.
Currently, it seems that if I set max workers to 1k, the factory doesn't
launch any new jobs, but the workers only seem to

[2016-01-15 19:37] charleszheng44 commented on #1099
It sounds like that you want the WorkQueue to gradually decrease the size of the worker pool instead of immediately evict running workers after the value of max_workers is reset.

[2016-01-15 19:39] klannon commented on #1099
Yes, but without ever interrupting a running task in progress.

[2016-01-15 20:21] dthain commented on #1099
@klannon, I'm sorry, but I accidentally deleted your long comment via my fat fingers.

[2016-01-15 20:31] klannon commented on #1099
Here's what I'd previously wrote:

If your goal was to get me to write shorter comments, I've foiled you this time...

[2016-01-15 21:00] btovar commented on #1099
The factory currently does not know which workers are running tasks, and does not communicate with the master. Also, the master does not read from the catalog, thus we would have to make some changes in several parts.

We can shorten the idle-out-time of workers by implement this with lobster:

1) First, set the number of desired workers in the conf. file of the factory.
2) while main loop in lobs

[2016-01-15 21:10] #984 closed

[2016-01-15 21:15] btovar opened #1103 "work_queue_factory and arbitrary condor requirements"
In condor_submit_workers we have '-r', that allows a user to specify arbitrary condor requirements. We want the option --condor-requirements='...'  in work_queue_factory to have the same functionality.

@charleszheng44: Please add --condor-requirements to work_queue_factory. You want to communicate the requirements via batch_set_option, and modify batch_submit_condor_job in batch_job_condor.c acco

[2016-01-18 15:11] batrick opened #1104 "`open` of directory without `O_DIRECTORY` does not allow `getdents`"
If a directory is not opened with `O_DIRECTORY`, then Parrot does not allow getting its entries via `getdents`. It will return `ENOTDIR`.

`pfs_table.cc` only opens directories with this flag:

https://github.com/cooperative-computing-lab/cctools/blob/master/parrot/src/pfs_table.cc#L597-L615

`O_DIRECTORY` was not meant to be interpreted this way. The man page says:

[code]

So it's only intended

[2016-01-18 15:40] batrick commented on #1104
@dthain, this fixes Rodney's problem:

https://github.com/batrick/cctools/commit/415315ef65610f2a1d70d91cb19fa34a6296e768

but I think the O_DIRECTORY logic in pfs_table.cc is still wrong. If tar were executed on a directory in Chirp, we get this:

[code]

[2016-01-18 15:43] dthain commented on #1104
I recall this issue from some years back, but my memory is fuzzy, so I suggest caution...

Suggest that you look at how Linux deals with the all the combinations of open/opendir with a file/directory to make sure that we are accepting/rejecting with the right errno in each case.

[2016-01-18 17:33] klannon commented on #1099
So, maybe this is the difference between a "pool" and a "factory."  It seems like the missing link is that once the factory makes the workers, the connection between workers and their factory is lost (or at least not very strong).  If I'm understanding correctly, in the current design, management of created workers is really left up to the master.

I think where I see this falling into trouble is

[2016-01-18 17:56] btovar commented on #1099
@klannon: You are correct. The situation here is that by design, the worker only talks to the master, and the master and the factory do not talk to each other.

@dthain: Here is an idea:

1) Add label to a worker to indicate from which pool it came from. This would be simply a string given as a command line argument. The master also knows from which pool a worker came (a new message in the protoco

[2016-01-18 19:16] batrick commented on #1104
@trshaffer, as we discussed, please fork this branch:

https://github.com/batrick/cctools/tree/pfs-dir-bugfix

Expand on the test case if necessary and correct the `O_DIRECTORY` logic so that it works for all services (my current branch only fixes the local service). Make sure that cvmfs/irods/chirp do not break because of any changes.

[2016-01-20 03:49] charleszheng44 commented on #1103
I am working on it.

[2016-01-20 16:10] batrick opened #1107 "Parrot should have all services listed in /"
Currently, this is done -- only for chirp -- in the local driver as a hack:

https://github.com/cooperative-computing-lab/cctools/blob/96c33d8e2fe44c2a4d33b475105badc272096f5c/parrot/src/pfs_service_local.cc#L370-L372

An upcoming PR moves that code to `pfs_dir.cc` but other services also need to be added (dynamically).

[2016-01-20 18:55] dthain commented on #1099
That's the simplest idea I have heard so far.

And I like it b/c it doesn't involve creating a new communication channel between the factory and the workers.

Let's chew on it some more before writing code.

[2016-01-20 20:49] dthain opened #1110 "Disk Allocator Usage"
So, I attempted to use the disk allocator today in advance of explaining it to the CRC folks, but I didn't get very far:

[code]

@nkremerh Please produce a useful help and version message, just like the rest of cctools.

[2016-01-20 21:14] batrick opened #1111 "jx.h is not installed, needed by work_queue.h"
`work_queue.h` includes `rmsummary.h` which includes `jx.h`. @charleszheng44 found this while trying to build the work queue example.

[2016-01-20 21:16] dthain commented on #1111
Good thing for @charleszheng44 to work on.

This points to a flaw in our testing scheme -- we run tests on the built code, rather than on an installed copy, so we miss problems with installation.

[2016-01-21 16:55] batrick opened #1114 "WQ build error"
[code]

[2016-01-21 16:56] batrick commented on #1111
Resolved in #1113.

[2016-01-21 16:56] #1111 closed

[2016-01-21 17:41] dthain commented on #1114
@btovar I suspect this is related to your work.  The fix is not obvious to me, but probably is to you...

[2016-01-21 17:53] btovar commented on #1114
Thanks @batrick, I'll check it out.

[2016-01-21 18:06] btovar commented on #1114
@batrick: can you confirm that 283c73016fc1c88ca7f62ffab5dba7b72e09a229 works for you?

[2016-01-21 18:23] batrick commented on #1114
That fixes it.

[2016-01-21 18:24] #1114 closed

[2016-01-22 12:50] btovar opened #1116 "MAKEFLOW_INPUTS are sometimes deleted"
If a file is listed in MAKEFLOW_INPUTS, but it is not declared as an input for any rule, makeflow will try to delete it with -c. It should either ignore it, or treat it like a constraint that should be met before running the dag.

[2016-01-22 12:51] btovar commented on #1116
As an example, when running makeflow -c with the example in #1117, I get:

2016/01/22 07:43:39.72 makeflow[5537] notice: Makeflow: Couldn't delete /usr/bin/convert: Permission denied

[2016-01-22 16:18] #1116 closed

[2016-01-22 16:46] #1110 closed

[2016-01-25 19:52] btovar commented on #1072
Fixed by #1124

[2016-01-25 19:52] #1072 closed

[2016-01-26 19:18] batrick opened #1132 "Chirp's hdfs driver does recursive unlink for `rmdir`"
Here:

https://github.com/cooperative-computing-lab/cctools/blob/c44b4b9e7b299a23313c48e103fd2fa9263d7e69/chirp/src/chirp_fs_hdfs.c#L567

This should be a non-recursive unlink to be consistent with the other file systems.

[2016-02-01 16:16] #1079 closed

[2016-02-01 16:18] btovar commented on #1005
@nhazekam: I believe this one is fixed, right?

[2016-02-01 16:19] btovar commented on #993
Fixed as we wrap the command line at the last chance.

[2016-02-01 16:19] #993 closed

[2016-02-01 16:19] btovar commented on #973
Fixed with the recent resources overhaul.

[2016-02-01 16:19] #973 closed

[2016-02-01 16:20] btovar commented on #964
@nhazekam: I seem to remember this one to be fixed already?

[2016-02-01 16:21] nhazekam commented on #1005
@btovar Yes, this is fixed. fast_abort is now set through batch_queue_set_option.

[2016-02-01 16:24] #1005 closed

[2016-02-01 16:24] nhazekam commented on #964
@btovar: Yes, this has been addressed. This is addressed in the makeflow function makeflow_check_batch_consistency which primarily checks remote renaming support now.

[2016-02-01 16:26] #964 closed

[2016-02-01 21:07] charleszheng44 opened #1138 "Non public header files are referred by work_queue.h"
* category.h, which is not a public header, is included by work_queue.h
* hash_table.h, which is not a public header, is included by category.h

[2016-02-02 19:48] batrick commented on #1104
Fixed by #1126.

[2016-02-02 19:48] #1104 closed

[2016-02-04 20:02] #1138 closed

[2016-02-04 20:03] btovar commented on #1094
CJ reported that #1095 works for him.

[2016-02-04 20:03] #1094 closed

[2016-02-04 20:03] #1103 closed

[2016-02-04 20:55] btovar opened #1142 "Makeflow ignores return value of work_queue_task_specify_file"
Example:

output: /my/absolute/path
    ....

Work queue work_queue_task_specify_file prints an error on encountering the absolute path, and does not add the file to the task. Makeflow does not check for this and continues. The task only succeeds if the absolute path is globally accessible (e.g. afs).

Proposal: Any errors from work_queue_task_specify_file should be fatal to makeflow.

@nhazekam,

[2016-02-04 21:04] nhazekam commented on #1142
Would this check be better handled in makeflow_check_batch_consistency? This would force us to note when a file is specified as an absolute path but then we could decide it it is supported as a whole for each batch system as opposed to just Work Queue. makeflow_check_batch_consistency is where we currently check for remote renaming support.

[2016-02-04 21:07] btovar commented on #1142
I think now you know the code better... I have a present for you!

[2016-02-04 21:08] btovar commented on #1142
Checking in makeflow_check_batch_consistency should be ok, but note that this is in addition to that. work_queue_specify_file may fail in other ways.

[2016-02-04 21:18] btovar commented on #1142
After talking with @nhazekam:

1) makeflow will produce a notice for the absolute paths in work queue, as we do for remote renaming for other batch systems.
2) makeflow will produce a fatal exit on work_queue_specify_file.

[2016-02-04 21:39] btovar commented on #213
Workers send resource updates to the master now, thus broken connections are detected in a timely manner.
For the rest of the issues, note that solving #145 will solve them too (workers not always connected to the master).

[2016-02-04 21:39] #213 closed

[2016-02-04 21:44] btovar commented on #817
@matz-e: is this still an issue? Do you have an example on when it occurs?

[2016-02-04 21:56] #604 closed

[2016-02-05 10:07] matz-e commented on #817
I could re-produce that running distributed between CERN and ND again, but for me that's a fairly rare use-case by now. This is also more a graphical nit-pick than a hard issue…

[2016-02-05 19:46] #1107 closed

[2016-02-08 17:50] hmeng-19 commented on #1070
This problem finally turns out to be the resource scope of the Amazon EC2:
http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/resources.html

Fixed by #1105 .

[2016-02-08 17:50] #1070 closed

[2016-02-08 21:37] batrick opened #1146 "Makeflow example should not write rules depending on `/usr/bin/curl`"
Since ff2e362b, `makeflow/example/example.makeflow`:

[code]

This is troublesome because curl may not be on the execution site and there is no way to check for it. This causes the simple makeflow+chirp|confuga test to fail:

[code]

Something else to consider: while having an example for resource descriptions is great, it may be intimidating for new users that benefit from a dead simple example.

[2016-02-09 12:25] btovar commented on #1146
That's a good consideration.

[2016-02-09 13:31] dthain commented on #1146
Making the first example as simple and as foolproof as we can make it is a good thing.
But, of course it needs to depend on *some* program or data that is mildly interesting.
As long as we are checking for that dependency, is it really a problem?

This seems like a pretty good error message to me:

[code]

[2016-02-09 14:38] btovar commented on #1042
Solved in #1141

[2016-02-09 14:41] #931 closed

[2016-02-09 14:42] #1011 closed

[2016-02-09 15:07] batrick commented on #1146
This isn't true for Makeflow+Chirp. For that batch system, LOCAL is ignored.

[2016-02-09 15:31] batrick opened #1148 "Makeflow's LOCAL spawns local processes for Makeflow+Chirp"
[code]

When run with `-T chirp`, all LOCAL jobs must still be run remotely. This is a recent regression...

[2016-02-09 15:39] batrick commented on #1146
So there are at least two problems here:

o `$CURL` is an absolute path which means that even when run on the remote site, it will always refer to the system installed curl (if any). This can be solved with remote renaming I suppose?

o `$CONVERT` is not included in the dependency list. If I add that I get:

`Error: Remote name /usr/bin/convert contains absolute path.`

[2016-02-09 15:42] dthain commented on #1148
@nhazekam did some work on this recently, if I recall.

[2016-02-09 15:49] batrick commented on #1146
Just for fun, I tried this patch:

[code]

So I'm trying to remote rename convert. I get this unsurprising failure:

[code]

[2016-02-09 15:49] btovar commented on #1146
Did you try #1147?

[2016-02-09 15:57] batrick commented on #1146
@btovar, I added a comment to #1147.

[2016-02-09 16:00] nhazekam commented on #1148
I'll look into this and see what is causing the issue.

[2016-02-09 16:05] #1146 closed

[2016-02-09 16:09] batrick opened #1149 "Makeflow should have an example workflow for shipping local executables"
We should expand on `makeflow/example/example.categories.makeflow` to also package up the submission site's `convert` and `curl` (`curl` is also necessary for `-T chirp`). Then, each rule should add dependencies for these executables. This is something we tell our users to do so we need to set a good example.

This issue came from discussion in #1146 and #1147.

[2016-02-09 19:01] #1148 closed

[2016-02-09 20:33] batrick opened #1153 "Segmentation fault in local Catalog"
[code]

PR fix incoming.

[2016-02-10 21:55] hmeng-19 commented on #1054
Fixed by #1157 .

[2016-02-10 21:55] #1054 closed

[2016-02-11 17:27] #1153 closed

[2016-02-12 20:12] trshaffer opened #1164 "`string_wrap_command` concatenates commands by default"
When applying wrappers in Makeflow, this behavior allows commands to trivially (and likely accidentally) step out of the wrapper by using a semicolon and a second command. Code for quoting and escaping is already present, however it seems that command quoting and escaping is only performed when substituting `[]`, otherwise commands are simply concatenated. I doubt this is what users would expect w

[2016-02-12 20:14] dthain commented on #1164
The wrapper concept is a relatively new development for which we don't have a lot of users yet.
(I would like to see it used more once the wrinkles are figured out.)

At this point, I think you should change it to get the more consistent behavior, and not worry too much about how it is already used.

[2016-02-12 20:30] batrick commented on #1164
The original intent of wrappers was to make simple transformations on the command, perhaps prefixing some environment variables:

`makeflow --wrapper='export FOO=1; {}'`

I use this regularly in Makeflow+Chirp to save stdout and stderr:

`makeflow --wrapper=$'{\n{}\n} > stdout.%% 2> stderr.%%' --wrapper-output='stdout.%%' --wrapper-output='stderr.%%'`

The `[]` escaping for commands is a recent ch

[2016-02-15 15:07] trshaffer commented on #1164
@batrick, would you be opposed to a change in syntax? Since unquoted substitution needs to be done carefully, I think we should make it available on request. If we're exposing wrappers as a user feature, it would make sense that

- `{}` does quoting and escaping
- `[]` does simple string substitution, no quoting/escaping
- no placeholder is equivalent to trailing `{}`

We also need to update the d

[2016-02-15 15:34] batrick commented on #1164
Let me suggest a different approach that only involves changing the default when there is no placeholder used in the wrapper string. For the default, let's append `/bin/sh -c []` wrapper. Appending `[]` as the default (the escaped command) is not useful as it will require the user to
always put `/bin/sh -c` at the end of their wrapper to get it to work. They might as well put `/bin/sh -c []` at th

[2016-02-15 15:47] trshaffer commented on #1164
After looking over the examples in the documentation, I started thinking about including `/bin/sh -c`. I like this default case approach; I'll put in a pull request with the change, and updated docs.

[2016-02-16 19:38] #1042 closed

[2016-02-17 14:00] btovar opened #1165 "Treat CORES as an alias to OMP_NUM_THREADS"
@akahs  found the following error while running makeflow -Tlocal:

libgomp: Thread creation failed: Resource temporarily unavailable
Thread creation failed: Resource temporarily unavailable

The problem is that both makeflow and the task executable (/usr/bin/convert) try to use all the cores in the machine. makeflow sets CORES=1, but convert respects OMP_NUM_THREADS. For n cores, nxn processes are

[2016-02-22 15:37] batrick commented on #1164
Fixed by #1166.

[2016-02-22 15:37] #1164 closed

[2016-02-23 14:44] batrick opened #1167 "Idea: add crash/statistics reporting to CCTools"
A common problem we have is that Parrot "broke" but the user does not know how (easy it is) to report the problem or what we need to address the issue. A useful addition to CCTools would be crash and/or statistics reporting. This could allow us to easily gather:
- stack backtraces on aborts
- last lines of the debug log on failure
- system calls made by Parrot (or other tool specific data)
- cvmfs

[2016-02-26 22:38] Baguage opened #1171 "[umbrella] +x flag is not set when using "plain" mode in software section"
I'm trying to write Umbrella spec for a simple math application, and I ran into a problem in "plain" mode.

Here is my spec:
[bertini.umbrella.txt](https://github.com/cooperative-computing-lab/cctools/files/149039/bertini.umbrella.txt)

When I'm trying to run it, I'm getting

It happens because /software/bertini file does not have +x attribute. The only solution currently is to make file executabl

[2016-02-29 15:44] hmeng-19 commented on #1171
@Baguage , I think the real reason is that the permission of the original source - `/tmp/tmp/BertiniLinux64_v1.5/input` is not set correctly.
Change the permissions of all the mountpoints to be `0755` may introduce some security problems.
Why not try to change the permission of `/tmp/tmp/BertiniLinux64_v1.5/input` before starting an Umbrella job? Let me know if this works?

[2016-03-04 19:30] annawoodard commented on #1167
As a user, I think this is a fantastic idea. I agree that (a) should be on exit and that (b) should be to default to not sending anything and support configuration flags/command line switches to turn it on. My reason for wanting a way to enable it when there isn't a controlling terminal to ask if I want to submit a bug report is because my most common scenario is running into issues on the worker

[2016-03-04 19:33] annawoodard commented on #1167
Of course, going that route, there will always be the danger that the user misconfigures their script and spams you with thousands of bug reports...

[2016-03-04 20:19] dthain commented on #1165
@charleszheng44 please take this one.

First verify that you can reproduce the bug on student00.cse.nd.edu.

The issue here is that convert tries to use all of the cores available, and when makeflow tries to run four at once, it exceeds the per-user limits on the machine.

[2016-03-04 20:19] dthain commented on #1149
Good to have an example like this.

I suspect few people see the examples in makeflow/examples, but would be more likely to see it if it is discussed clearly in the manual.

[2016-03-04 20:26] dthain commented on #1049
Folks, I'm going to veto this feature request.

While I understand that the situation can come about, it seems to me that the problem is not limited to WQ (you have it in every kind of concurrent system) and its adding to our ever growing list of cross-functional constraints.  The cost-benefit just isn't there...

[2016-03-04 20:29] dthain commented on #722
Based on non-response from macports, I think we have taken this as far as it is going to go...

[2016-03-04 20:29] #722 closed

[2016-03-04 20:37] dthain commented on #211
With apologies to to @pbui I'm closing this issue.  We do need some new syntax, but what is needed is a structural macro, as opposed to pattern matching with the filesystem.

[2016-03-04 20:37] #211 closed

[2016-03-04 20:39] dthain commented on #817
Closing this issue b/c this is a design limitation; fixing it would be a very complex matter for a relatively small payoff.

[2016-03-04 20:39] #817 closed

[2016-03-04 20:49] dthain commented on #511
I propose to close this bug: it only occurs on an old platform and does not seem to affect an active user.  Any objections?

[2016-03-04 20:51] dthain commented on #300
@trshaffer please take a crack at this one.

Modify allpairs_multicore to respect the CORES and MEMORY environmental variables that are set by Makeflow and WQ to tell each job what to do.

[2016-03-04 20:51] batrick commented on #511
Okay with me.

[2016-03-04 20:51] dthain commented on #254
PR #1010

[2016-03-04 20:59] dthain commented on #591
Coming back to review a bug that has been open waaaay too long.

Looking at the current CCTools Chirp code, we parse the cookie file using `fscanf("%s %p %s",host,&port,cookie)`.  We merely assume that there is a space between the host and the port and don't do anything else.  So, I don't think there is any serious problem in how the config file is defined.

Now, CCTools chirp doesn't yet support

[2016-03-04 21:11] dthain commented on #63
This feature is largely superseded by the catalog history and query feature.

[2016-03-04 21:11] #63 closed

[2016-03-04 21:21] #55 closed

[2016-03-04 21:32] #948 closed

[2016-03-04 21:35] dthain opened #1178 "Project: Makeflow JSON Representation"
Modify makeflow to emit the DAG in a straightforward JSON representation.  This will be the starting point for some interesting modifications and enhancements to Makeflow.

Start by modifying `makeflow/src/dag_visitor.c` and add a new visitor dag_to_json that takes a rule like this:

[code]

And outputs it something like this: (details can be changed)

[code]

Important: use the JX library in `dtt

[2016-03-04 21:35] dthain commented on #1178
@trshaffer take a crack at this one.

[2016-03-04 21:59] batrick opened #1179 "Racing file descriptor table modifications with clone may cause an assertion failure in Parrot"
@annawoodard reported an assertion failure in Parrot:

[code]

An excerpt from a debug log:

[code]

The actual problem goes back to an earlier clone of 20111:

[code]

20110 is a racing thread with 19174. 20110 is attempting to set `FD_CLOEXEC` on a file descriptor (shared with 19174). The newly cloned **process** 20111 may or may not have the change to the fd table by 20110.

The reason for the

[2016-03-04 22:01] batrick commented on #1179
Here's a test case that reproduces it.

[code]

[2016-03-04 22:06] #1049 closed

[2016-03-04 22:08] dthain commented on #946
@trshaffer take a crack at this one too, it will be an easy proof of concept.

[2016-03-04 22:09] #511 closed

[2016-03-04 22:11] sandragesing commented on #946
Hi Doug,

sorry that I did not have a look yet because of a lack of time but great
that somebody else takes a crack at it! I would be happy to see the outcome.

Thanks,
Sandra

------------------------------------------------------------------------------------------------------------
Sandra Gesing
Research Assistant Professor, Department of Computer Science and Engineering
Computational Scientist

[2016-03-07 14:45] dthain opened #1181 "RM Linking Error on Ubuntu"
Makeflow tests are failing on Ubuntu -- a brief look suggests this has something to do with `LD_PRELOAD` issues in the resource monitor:

[code]

@btovar please take a look

http://ccl.cse.nd.edu/software/autobuild

[2016-03-07 19:26] #1132 closed

[2016-03-07 19:53] #1181 closed

[2016-03-08 03:13] #1179 closed

[2016-03-08 17:41] #763 closed

[2016-03-08 17:44] dthain commented on #50
This is now encompassed by Nick's work on static dag measurement.

[2016-03-08 17:44] #50 closed

[2016-03-08 17:44] dthain commented on #165
I think we have taken this feature as far as it is going to go...

[2016-03-08 17:44] #165 closed

[2016-03-08 18:07] btovar opened #1184 "Tests fail if resource monitor not in PATH"

[2016-03-08 18:38] #1184 closed

[2016-03-08 20:25] charleszheng44 commented on #949
That is a good idea. running `runc` required `golang` installed. Can we install the `golang` on ccl cluster? I would like to implement `runc

[2016-03-08 23:51] dthain commented on #949
See if you can build and install Go in your home directory.  That way you can use it everywhere at ND, not just a few machines.

[2016-03-09 00:40] charleszheng44 commented on #949
Yes. I have them installed in my $HOME.

[2016-03-09 14:09] #1000 closed

[2016-03-09 15:39] dthain opened #1187 "Project: Failover Catalog Server"
Establish a fail-over scheme for the catalog server, so that the outage of one machine doesn't bring everything to a halt.

Step 1 - Allow the environment variable CATALOG_HOST to contain a list of hostnames.  Let the default value be "catalog.cse.nd.edu;backup-catalog.cse.nd.edu"  Factor out the various places where we update a single catalog via datagram_send into a common module that will send

[2016-03-10 20:16] trshaffer opened #1195 "Extremely long line"
I was wondering why my text editor was getting laggy in `dag_visitors.c`. As it happens, one of the lines is 248879 characters long. It appears to be a large XML file with newlines stripped out. I don't think a single `fprintf` statement is the correct place for this kind of data.

https://github.com/cooperative-computing-lab/cctools/blame/8196aab6913de56eb155de4315ed063f0a2ff2d8/makeflow/src/dag_

[2016-03-11 01:43] btovar commented on #1195
Since this mode is not used very often, we can move it to a file somewhere in INSTALL_PATH, and read it when needed. Alternatively, perhaps there is a cytoscape style that is not 200kB.

[2016-03-11 14:55] dthain commented on #882
@batrick I don't see a clear way forward on this issue, do you?

[2016-03-11 15:54] batrick commented on #882
I like the idea of adding "number of seconds spent waiting to retry". I was planning to implement something along those lines after the dissertation/slides are done.

[2016-03-14 18:36] hmeng-19 opened #1198 "Documentation for Makeflow linker needs to be updated"
The documentation for Makeflow linker requires to be updated:
http://ccl.cse.nd.edu/software/manuals/makeflow.html#linking
It seems `-b` option has been removed from `makeflow`.

[2016-03-14 18:40] dthain commented on #1198
Go right ahead!

[2016-03-14 19:39] batrick commented on #591
@toddlmiller Sorry for leaving this open so long. Our current stance is that Condor's Chirp cookie file may have IPv6 addresses in the host field without any special formatting. The current whitespace delimited format of the file (thankfully) makes this simple. However, CCTools isn't yet ready for IPv6 but we're getting close with some internal branches. So any IPv6 addresses in the cookie file wo

[2016-03-14 19:39] #591 closed

[2016-03-14 19:51] batrick opened #1201 "Project: Add Support for IPv6"
#591 first brought up the problem of IPv6 support in CCTools. I began to address this in #1027 but there needs to be some changes to the design before it can be merged:
- The DNS lookup should (continue to) be separated from the `link_connect`. Some boardwork for this idea below:

![img_20151118_163318](https://cloud.githubusercontent.com/assets/548304/13757548/7b29b51a-e9fb-11e5-94cb-96f04897f54b

[2016-03-16 19:31] batrick opened #1203 "Parrot should use mechanism other than env var to detect nested executions"
Rodney Walker reported an issue with a script he wrote that may be run inside or outside of Parrot. He was trying to detect nested executions of Parrot using `ps | grep parrot_run` and only run `parrot_run` if not already inside Parrot. This was his example script:

[code]

It seems the need to for using `ps` is due to this script being part of a job submission framework which passes environment v

[2016-03-16 19:32] dthain commented on #1203
+1 on custom system call

[2016-03-16 19:34] batrick commented on #1203
I would also suggest the nested Parrot just execute the program normally so users don't need to test anything.

[2016-03-16 19:37] batrick commented on #1203
Thinking about it more, an option would be necessary if we want to have the nested Parrot execute the program normally. The options may conflict (e.g. mount options) so the program may fail unexpectedly.

[2016-03-16 19:42] dthain commented on #1203
This could be done, but the various policy controls in parrot would have to be consolidated into a structure which represents the current "container" in which the process executes.

And then make sure that the policies given on the command line are a proper subset of those already in effect.

Interesting!

[2016-03-16 20:10] hmeng-19 opened #1205 "Add mountlist support to Makeflow to facilitate reproducibility"
Problem:
Currently, whenever the input dependencies of makeflow change their locations - let us say, from `/home/user1/file` to `/home/user2/file`, the Makefile itself needs to be changed to use the new location.
This limits the reproducibility and portability of a Makefile.

Proposed Solution:
Add mountlist support to Makeflow: add a new option `-M` to allow the user to provide a mapping between

[2016-03-17 15:51] batrick opened #1207 "Parrot crash due to lost threads"
Rodney Walker et al. got this error at an HPC center in the UK:

setparrot: pfs_table.cc:157[FINAL:0420ebc8]: Assertion 'fd == rfd ||
((0 <= rfd && rfd < pointer_count) && pointers[rfd] == __null)'
failed.

This is unrelated to #1179. The actual problem is a lost thread:

2016/03/16 12:18:34.13 parrot_run[33827] <child:34280> syscall: clone
2016/03/16 12:18:34.13 parrot_run[33827] process: waiting

[2016-03-17 19:15] nkremerh opened #1209 "Makeflow only emits first consistency error"
Makeflow is only emitting the first consistency error it finds during its consistency check even if there are multiple consistency errors.

[2016-03-17 19:26] batrick commented on #1207
So for now, we think the way forward is to start by finding a way to detect this bug before the assertion failure and emit a warning for older kernels (at least the ones we suspect have this bug).

**With the assumption that we always receive a clone event for a new thread even if we eventually "lose" it**:

https://github.com/cooperative-computing-lab/cctools/blob/5ccb04599ba2ee125730981f53add80d

[2016-03-17 19:38] #1209 closed

[2016-03-17 19:56] klannon opened #1211 "Specify Location of Resource Monitor Output Files Per Task in Work Queue"
Would it be possible to have the resource monitor output files go into a directory specified independently for each task, in a similar way to the way the task output file local locations can be specified?  For example, something like:

`task.specify_monitoring_dir(local)`

[2016-03-17 20:03] btovar commented on #1211
Yes. We can make it so that the default is split per category. Which use case were you thinking of?

[2016-03-17 21:01] klannon commented on #1211
Personally, I'd like to be able to specify a unique location for the output of each task.  Right now, all the other task related files we generate (i.e. the job outputs) go into a directory structure where each task gets its own directory.  I would like to be able to ask WQ to put the resource monitoring file in that same directory so that it's easy to associate resource usage with the rest of the

[2016-03-18 20:26] #1195 closed

[2016-03-18 21:41] hmeng-19 opened #1215 "space and tab magic in makefile"
(1) I copied the example makeflow from http://ccl.cse.nd.edu/software/manuals/makeflow.html#language into a local file `example.makeflow`, and `makeflow example.makeflow` works perfectly. Even if each rule line starts with 8 spaces.

    hmeng@daspos2 ~/work/makeflow$ cat example.makeflow
    CURL=/usr/bin/curl
    CONVERT=/usr/bin/convert
    URL=http://ccl.cse.nd.edu/images/capitol.jpg

    capi

[2016-03-18 21:42] hmeng-19 commented on #1215
Just to be clear, there is no empty line at the beginning of all these three makefiles, and there is no empty line at the end of all these three makefiles.

[2016-03-21 16:59] #1203 closed

[2016-03-21 20:36] dthain opened #1220 "Resource Monitor Delay"
Our automatic tests have gotten rather slow lately -- it takes quite a while to get through all of the makeflow tests, which used to finish in a fraction of a second.

The culprit seems to be that the category feature is enabling the resource monitor in the WQ worker, and then the RM main loop seems to make the minimum task execution time a couple of seconds.  This will have an outside impact on w

[2016-03-21 20:49] btovar commented on #1220
That sounds like a bug. The monitor should not take a couple of seconds to return. Let me check what's going on.

[2016-03-21 22:03] dthain commented on #1220
Nice, thanks.

[2016-03-22 01:04] dthain commented on #1220
Hmm, I'm still seeing huge delays in the simple test makeflows, can you look some more:
or example:
http://ccl.cse.nd.edu/a/1218bae7/1218bae7.x86_64-redhat5.log

[code]

[2016-03-22 13:52] btovar commented on #1220
RH5 still is slow... with #1225. Checking....

[2016-03-22 14:23] dthain commented on #1220
I think there is a second issue here -

I don't think we want the RM enabled unless the user has specifically asked for it, or a feature requested that requires it.   Is there a reason that it seems to be enabled for the base makeflow test cases?

[2016-03-22 14:46] btovar commented on #1220
You are correct. work queue is activating monitoring in makeflow when it should not, and the monitor had a bug in the exit handler for RH5.

It is the way we send the limits from makeflow to work queue. There are no limits (all are -1), but work queue sees that the limits structure is defined, and activates monitoring per category.

[2016-03-22 15:11] dthain commented on #1187
@trshaffer do you want to take a try at this one?

[2016-03-22 15:12] btovar commented on #1220
The issue was that there was some left over functionality from when categories where only in work queue. Now that makeflow has categories too for all the batch systems, I simply removed setting the limits per category for wq. Makeflow communicates to wq limits per task, when appropriate.

[2016-03-22 15:19] btovar commented on #1220
This was a happy issue where bugs help discover each other... If one of the bugs did not exist, it would have take longer to fix the other.

[2016-03-22 15:21] #1220 closed

[2016-03-22 15:22] btovar commented on #1220
http://ccl.cse.nd.edu/a/5c43f368/5c43f368.x86_64-redhat5.log

--- Testing makeflow/test/TR_makeflow_001_dirs_01.sh ...          success 5s
--- Testing makeflow/test/TR_makeflow_001_dirs_02.sh ...          success 2s
--- Testing makeflow/test/TR_makeflow_001_dirs_03.sh ...          success 2s
--- Testing makeflow/test/TR_makeflow_001_dirs_04.sh ...          success 3s
--- Testing makeflow/test/TR_m

[2016-03-22 15:22] Baguage commented on #1171
Oops, sounds like I missed you response, @hmeng-19
This happens when I use "plain" mode in software section, so there is no .tar.gz package with permissions.

I will review my pull request again, but I believe it only sets permissions to 755 for software mountpoints and only in "plain" mode. Without doing that, "plain" mode is effectively broken - executable file will be downloaded, but won't run.

[2016-03-23 14:13] batrick commented on #1207
Fixed by #1218.

[2016-03-23 14:13] #1207 closed

[2016-03-23 17:05] dthain commented on #1178
Ok, we now have a first draft of exporting a Makelfow as JSON.
Next step is to read back that JSON file and convert it to a makeflow dag internally.
(Will require writing out a spec of exactly what we accept.)

[2016-03-23 17:10] trshaffer commented on #1178
I can write out a description of the output format I've been using, which ought to lead into a discussion on parsing

[2016-03-23 17:19] trshaffer commented on #1187
Will all catalog servers in the list need to use the same port?

[2016-03-23 17:26] dthain commented on #1073
Almost done here.  They last major piece missing are we need to be able to evaluate some functions, particularly:

- `range(a,b)` returns `[a, a+1, ... b]`
- `regex(string,regex)` returns true if string matches regex
- `foreach(x,array,expr)` evaluates expr for each value of x in array.

Once we can do that, then we can represent a range of jobs with syntax like this:

[code]

[2016-03-23 17:32] dthain commented on #1187
Seems to me that the might each have different ports.
We may need to clean up the API...

[2016-03-23 18:02] trshaffer commented on #1187
It seems like I've been running into trouble with the networking APIs lately. For this one, it would be also be nice to fall back to other addresses returned by DNS, which I think would tie into some of the IPv6 discussion with @batrick.

[2016-03-23 18:09] dthain commented on #1187
What sort of trouble?

[2016-03-23 18:26] trshaffer commented on #1187
Oh, just the host:port a bit ago, and the internal API here will be a little awkward. Should I be looking at minimal changes to make this work, or thinking about e.g. API changes for IPv6 integration?

[2016-03-24 12:21] dthain commented on #1187
Short answer: only change the API where really necessary.
Let's talk about it today.

[2016-03-30 12:26] btovar opened #1231 "#1180 (jx expressions) breaks resource monitor tools"
Before #1180, we could have many json objects per file. This was not proper json, but it did allow the monitor tools to process the resource summaries quite fast. I could force the many objects in a file to be in an array, but then the whole array would need to be read before the first object can be processed. A single file may contain thousands of summaries, so this is undesirable.

Any thoughts?

[2016-03-30 12:39] dthain commented on #1231
That sounds like a reasonable use case, and it's pretty similar to the test case `TR_jx.sh` which expects to parse and return one item at a time.  Can you put in a test that breaks?

(The only parsing wrinkle here is that `[a][x]` could indicate two array literals, each containing one item, or an array literal `[a]` followed by an array lookup of item in position x.  This is solved by the hack of

[2016-03-30 16:02] dthain opened #1233 "chirp server busy waiting"
The CRC is reporting a trickle of continuous load from chirp_servers, which may be having some impact on how condor is computing local load average.

When I strace an idle chirp server, I see a busy-wait of the following form:

[code]

Ok, it's not *exactly* busy-waiting, since the select sleeps for 5000 usec, but an idle process really ought to be idle.

@batrick please take a look.  Can we do be

[2016-03-30 16:09] batrick commented on #1233
That's this block of code:

https://github.com/cooperative-computing-lab/cctools/blob/8964e7239df0dd1117536bb96cb9fd97a921f457/chirp/src/chirp_server.c#L2277-L2313

I think it would be safe to increase that select to a second. I'll do some tests to be sure.

[2016-03-30 17:01] #1233 closed

[2016-04-05 12:58] btovar opened #1241 "r_monitor gives segfaults exit code 0"
If a process gets signal 11, the exit status is incorrectly set to 0. This may occur with other signals too.

[2016-04-05 16:19] btovar opened #1242 "wq_factory incorrect workers needed"
The factory used to take into account the number of cores when computing the number of workers needed. This is not true anymore, and one worker is created per task. Most likely this was an unintended consequence of a recent change.

[2016-04-05 16:20] btovar commented on #1242
For single core tasks, setting --tasks-per-worker to the number of cores can be used to band-aid this problem.

[2016-04-06 18:12] trshaffer commented on #1178
If I were parsing the JSON output back into a DAG, this is roughly what I'd require. A lot of the decisions (e.g. layout, which keys are required) are based on the internal data structures or current parser behavior. The variables/environment are a bit of a rough patch. I made some comments in italics in the relevant sections

# JSON Representation of Makeflows #

A Makeflow is represented as a JS

[2016-04-11 16:39] trshaffer opened #1250 "JX library failure"
While trying to run `chirp_status`, on the current master I get an error.

    [tshaffe1@cclws19 src]$ ./chirp_status  -d all
    2016/04/11 12:35:48.31 chirp_status[28267] debug: ./chirp_status version 6.0.0 [master:8b2b9d1c] (released 2016-04-11 08:00:51 -0400)
    2016/04/11 12:35:48.31 chirp_status[28267] debug: Built by tshaffe1@cclws19 on 2016-04-11 12:26:11 -0400
    2016/04/11 12:35:48.31

[2016-04-11 16:41] dthain commented on #1250
Please post the raw output of curl from the catalog server, so we can see what's not working...

[2016-04-11 18:23] trshaffer commented on #1250
[parse_failure.txt](https://github.com/cooperative-computing-lab/cctools/files/213614/parse_failure.txt)

[2016-04-11 18:33] dthain commented on #1250
@btovar can you take a look?

[2016-04-11 19:06] btovar commented on #1250
I am not getting an error from my workstation. I'll investigate more.

[2016-04-11 19:18] trshaffer commented on #1250
Same here, `chirp_status` seems to be working again. I checked that I was getting the error when I grabbed that catalog output posted above. I'll post another one for comparison, now that it's working

[ok.txt](https://github.com/cooperative-computing-lab/cctools/files/213725/ok.txt)

[2016-04-11 19:21] btovar commented on #1250
All right, thanks Tim.

[2016-04-11 20:06] btovar opened #1253 "json broke direct work_queue_status"
work_queue_status expects a json array on direct queries. queue_status, work_status, and task_status return an object, or several objects.

[2016-04-11 21:17] batrick opened #1255 "Open of /proc/self opens Parrot's proc dir"
`open("/proc/self", ....)` opens Parrot's proc directory and not the tracees.

PR fix incoming...

[2016-04-11 22:07] #1253 closed

[2016-04-11 22:18] #1255 closed

[2016-04-11 23:34] #930 closed

[2016-04-12 11:26] btovar commented on #1250
I can test Tim's files with the executable for testing jx_count_obj_test. parse_failure.txt produces a segfault.

[2016-04-12 11:35] btovar commented on #1250
There seems to be two issues. On error, jx_parser_delete may be called twice, which produces a double free. The error, though, is a malformed array that comes from chirp_status.

[2016-04-12 11:39] btovar commented on #1250
The double free comes from jx_parser_yield (so unrelated to chirp_status). On error, yield deletes the parser. I'll remove that, so that the calling code does the cleaning on error.

[2016-04-12 11:49] btovar commented on #1250
The problem is not related to chirp at all. My pull request #1257 sent a malformed work queue status to the catalog. It would be nice if the parsing skipped malformed entries, though.

[2016-04-12 12:08] btovar commented on #1250
On further inspection, the catalog update rejects malformed entries. Investigating further.

[2016-04-12 14:24] batrick opened #1259 "32-bit Parrot fstatat64 uses wrong stat struct"
Problem is here:

https://github.com/cooperative-computing-lab/cctools/blob/2464223b5f664e3fb9d91f61dcbfb8202c6bba35/parrot/src/pfs_dispatch.cc#L2929

It should be the 64-bit stat struct.

[2016-04-12 15:04] #1259 closed

[2016-04-14 15:23] batrick opened #1264 "Confuga scheduler busy wait uses too much CPU"
This loop:

https://github.com/cooperative-computing-lab/cctools/blob/d6c77eb5288935a265e3dc8ea5ca626cf47d027f/chirp/src/confuga.c#L645-L667

is using 80+% CPU on the head node even though no work is being done.

A better approach to this busy wait is to check if any "work" is being done by the scheduler, if not, then sleep for longer periods of time (e.g. 1+ seconds).

[2016-04-14 19:02] trshaffer commented on #1250
It looks like the culprit is on line 466 of that failing paste. One of the values is a float in E notation. It seems JX doesn't handle this syntax, so `2.9e-05` gets parsed as an invalid expression.

[2016-04-14 19:15] btovar commented on #1250
Tim, for me it fails much earlier, in line 34.

[2016-04-14 19:20] btovar commented on #1250
I can confirm it also fails at line 466.

[2016-04-14 19:21] trshaffer commented on #1250
Huh, my little test program parses that line OK. If I give it line 466, I get

    invalid expression: key-value pairs missing a comma or closing brace

which makes sense if it doesn't recognize `e` as part of a number.

[2016-04-14 19:25] btovar commented on #1250
Mmm, line 34 is parsing now for me too. Probably my mistake in the way I set the test.

But yes, if I test  1e-1 by itself, it fails. Thanks Tim  for the pointer. I'll work on this right away.

[2016-04-14 20:13] #1250 closed

[2016-04-15 18:16] batrick opened #1267 "Add support for FIOCLEX ioctl in Parrot"
In some old versions of Python 3, `ioctl(FIOCLEX)` is used to set the `FD_CLOEXEC` flag on a file descriptor (how disgusting!). This has since been changed due to this [issue](http://bugs.python.org/review/22258/). Python fixed this issue in [3.4.2rc1](https://docs.python.org/3.4/whatsnew/changelog.html#python-3-4-2rc1).

Still, this is a simple thing to add support for in Parrot. `ioctl` needs to

[2016-04-15 20:22] #1267 closed

[2016-04-18 20:34] batrick opened #1270 "Double free bug in Parrot relating to JX"
[code]

[code]

[2016-04-18 20:34] batrick commented on #1270
@btovar this one looks right up your alley.

[2016-04-18 22:34] #1270 closed

[2016-04-18 23:58] batrick commented on #1270
Thanks @btovar !

[2016-04-21 12:31] btovar opened #1277 "Long commands cause " No buffer space available" errors in work queue"
Per Matt Bomhoff:

I am seeing this error message in the debug log followed by WorkQueue halting:

2016/04/20 15:54:31.22 work_queue_python[12242] fatal: [buffer.c:84]: No buffer space available

The full snippet below shows the submission of a job with a very long command-line (> 4096 chars) followed by the many file transfers and finally the buffer error.  Submitting the same job with fewer file

[2016-04-21 12:38] btovar commented on #1277
The error comes because we set a maximum of WORK_QUEUE_LINE_MAX for messages to the worker. For command lines, this may be overkill, as buffer may grow as needed, and we send the size of the command line in the message.

I am looking for other places where the command line is assumed to be WORK_QUEUE_LINE_MAX.

[2016-04-21 12:54] btovar commented on #1277
I'm going to send the command line in a different message. "cmd %d\n" will send the length, with the command line sent via link_write. This avoids the WORK_QUEUE_LINE_MAX buffer limit of send_worker_message.  The worker does not rely on WORK_QUEUE_LINE_MAX for the size of the command line.

I still need to check that the monitor summaries do not have such assumptions.

[2016-04-21 13:21] dthain commented on #1277
This will fix the problem, but looks like it will break backwards compatibility.  Two suggestions:

- If you want to keep backwards compatibility, you could detect long command lines and turn them into `"sh longcmd.sh"` and then add a new input buffer that delivers the long command line in the file `longcmd.sh`  That could be done silently in the library without changing the protocol.

- If you ar

[2016-04-21 13:25] btovar commented on #1277
I don't believe the protocol would be broken. We would be changing:

send_worker_msg("cmd %d\n%s", n, command);

into:

send_worker_msg("cmd %d\n", n);
link_write(.... cmd ....);

[2016-04-21 13:25] dthain commented on #1277
Ah, I misunderstood.  Sounds good!

[2016-04-21 22:41] #1277 closed

[2016-04-25 17:00] #380 closed

[2016-04-25 18:50] batrick opened #1286 "Look into using GCC's memory leak detection during build tests"
Added in [GCC v4.8](https://gcc.gnu.org/gcc-4.8/changes.html). See also this [blog post](http://lemire.me/blog/2016/04/20/no-more-leaks-with-sanitize-flags-in-gcc-and-clang/).

[2016-04-25 20:21] trshaffer commented on #1286
Once I fixed a small leak in `resource_monitor/src/piggybacker.c`, I could compile cctools with those checks. For `makeflow example.makeflow`

    =================================================================
    ==10039==ERROR: LeakSanitizer: detected memory leaks

    Direct leak of 192 byte(s) in 6 object(s) allocated from:
        #0 0x7f72f836449a in __interceptor_malloc /build/gcc/src/gc

[2016-04-26 14:13] trshaffer commented on #1286
Once I modify those test scripts to run with the checks, it looks like we're leaking 8.54 MiB over the course of the tests. Since the leak checks cause non-zero exit status on *any* leak, all the leaks would need to be fixed before using this in the build tests. Right now, we would have a lot of red

    ./run_all_tests.sh
    --- Testing dttools/test/TR_b64.sh ...                            succe

[2016-04-26 17:35] hmeng-19 opened #1287 "http request format error"
Problem:
Currently, the http request constructed by the `http_query_size_via_proxy` function inside `dttools/src/http_query.c` always set the `Request-URI` of the http request to be `absoluteURI`, such as `http://ccl.cse.nd.edu/research/data/4_cubes.pov`.
This would fails with a 403 (Forbidden) http response when no http proxy is used.

Solution:
According to the specification of the http protocol

[2016-04-26 17:37] hmeng-19 commented on #1287
Please see the PR #1288 .

[2016-04-26 17:44] dthain commented on #1286
Any sense on how many of these are true leaks (e.g. memory increases over time) as opposed to singleton object leaks?

[2016-04-26 17:48] nhazekam commented on #1286
The ones mentioned above for Makeflow are possibly leaks where a filename isn't freed. I can not attest to any other issues, but I am working out a pull request for the makeflow issues.

[2016-04-26 17:55] dthain commented on #1178
This is a good start.  Some minor suggestions:

- Instead of requiring `"default_category"`, how about require a category with the name `default`?
- How do we represent tasks that have a different name at the DAG level and at the task level?
- How is this similar/different from the job specification in Confuga?

@btovar any thoughts?

[2016-04-26 19:34] btovar commented on #1178
work queue and makeflow have that "default" category if the task/rule is not explicitly labeled with one.

[2016-04-26 19:42] trshaffer commented on #1286
I suspect that a lot of these are memory we freed by exiting. To find real leaks, we ought to e.g. run Makeflows of varying size to see how the numbers change. A PR to compile with these options is forthcoming

[2016-04-27 20:59] #1264 closed

[2016-04-28 13:07] hmeng-19 commented on #1287
Fixed by #1288 .

[2016-04-28 13:07] #1287 closed

[2016-04-28 16:51] #881 closed

[2016-04-29 15:27] btovar opened #1301 "worker segfaults on allpairs composite test"

[2016-04-29 17:05] #1301 closed

[2016-05-02 14:17] dthain opened #1303 "Make Catalog More Responsive"
Under certain conditions, the catalog server gets blocked up and doesn't respond to queries.  here is what's going on:

The catalog server works by accepting updates via udp, which is fast and non blocking.  For queries, it forks to service the request.  This makes it easy to give the client a snapshot of the catalog state as it existed when the query arrived, since we don't have to worry about up

[2016-05-04 16:26] btovar opened #1312 "#1243 segfaults on work_queue_delete"
The issue seems to be we sometimes try to free a string (q->catalog_hosts) that either is a static string, or a string that comes from getenv.

[2016-05-04 16:50] btovar opened #1313 "List of backup catalogs should be quoted."
This was a fun one to find...

Workers from the wq_factory suddenly started to send "cores 1" to the master, which is the default. Here is the line that condor executes:

./work_queue_worker -M crustacean.* -t 300 -C catalog.cse.nd.edu;backup-catalog.cse.nd.edu:9097 --cores 4 --memory 256 --disk 1024

Of course, given the semicolon, only this executes:

./work_queue_worker -M crustacean.* -t 300 -

[2016-05-04 17:00] btovar commented on #1313
Bobby Tables, et. al.

[2016-05-04 17:12] batrick commented on #1313
Why didn't we use a comma for a separator?

[2016-05-04 17:15] btovar commented on #1313
Since this is a recent pr, a comma should be easy to change without disturbing any current uses.

[2016-05-04 17:23] dthain commented on #1313
Discuss with @trshaffer ...

[2016-05-04 18:17] #1313 closed

[2016-05-05 11:32] #1312 closed

[2016-05-05 16:05] pivie opened #1320 "Umbrella output freedom"
Would it be possible to allow Umbrella output files to be specified via the command line, even if they are not specified in the specification file? This would allow multiple tasks to use the same generic environment specification when the tasks are very similar. It would also allow a third party workflow manager (such as Prune) to add extra outputs to a task without having to modify the specificat

[2016-05-05 19:46] batrick opened #1324 "Confuga should verify SN identity in the cluster"
Currently, Confuga will utilize a SN based on the `host:port` provided at start-up. The HN does no verification that the Chirp server operating on that `host:port` is the same the user wants to use (i.e. another user may have started a Chirp server on that `host:port`).

The proposed fix for this is to have a password file stored on the Chirp server in a location only the HN (or owner) can read. S

[2016-05-05 20:02] batrick opened #1325 "Confuga SN should be uniquely identified by a persistent name"
Currently, Confuga will utilize a SN based on the `host:port` provided at start-up. The HN will also differentiate and identify storage nodes based on this `host:port`. This is problematic for two reasons:

* A rebooted storage node that has lost its state (underlying data) due to some kind of reboot, eviction, etc. is no longer "the same storage node". The HN should treat it as a new storage node

[2016-05-05 20:04] batrick opened #1326 "Confuga should provide a run-time tool to add/remove SN"
Currently Confuga limits SN membership changes to HN start-up. An administration tool should be developed which allows the administrator to modify the storage node membership (and possibly other future state) during run-time.

Solution should be aware of #1324 and #1325.

This issue supersedes #828.

[2016-05-05 20:05] batrick commented on #828
Superseded by #1326.

[2016-05-05 20:05] #828 closed

[2016-05-06 20:10] #827 closed

[2016-05-07 14:41] hmeng-19 commented on #1320
@pivie , as we discussed on Thursday, one way to avoid this problem is to add the directory, `D`, which includes all the potential outputs, into the `output` section. Then you can use the `--output` option of umbrella to obtain `D` and use the stuff under it.

[2016-05-07 14:47] hmeng-19 commented on #1320
The reason why we added the `output` section, together with its `files` and `dirs` subsections,  into the umbrella spec is to differentiate which output is a regular file, which output is a dir.
This information is necessary when the `docker` execution engine is used. Each item in your `--output` option will be treated as a docker volume and pulled back from your docker container. However, by defa

[2016-05-07 14:50] hmeng-19 commented on #1320
When a user set the `--output` option of umbrella to be `<container_path1>=<local_path1>, <container_path2>=<local_path2>`, umbrella does not know the file type of these two paths. Therefore, it checks the `output` section of the umbrella spec to figure out whether a path is under the `files` subsection, or under the `dirs` subsection.

[2016-05-07 14:57] hmeng-19 commented on #1320
To give the umbrella user more freedom of setting outputs, I suggest we can change the format of the `--output` option of umbrella to accept two styles of settings:
the 1st one is `<container_path>=<local_path>`;
the 2nd one is `<container_path>=<local_path>=<file_type>` (file_type can be `f` for files or `d` for dirs).
(Of course, the users have freedom to mix these two styles if they like.)

Whe

[2016-05-10 16:02] batrick commented on #1178
Makeflow (and Make) recipes are just shell code (possibly more than one command!). I think it would be wise to not interpret the string in any way unless there is a very good reason.

Another thing to consider related to remote renaming but maybe outside the scope of this issue: Makeflow runs with a `--working-dir` option that sets the "current directory" of Makeflow relative to the Chirp server r

[2016-05-10 16:14] dthain commented on #1178
I like how you have introduced variable substitutions, which will be a big improvement on the macro substitutions that we have now. But we still need to be able to define environment variables for individual tasks as well as the workflow.  What does that look like?

[2016-05-10 16:51] trshaffer commented on #1178
At the moment, it looks like export variables are defined on the DAG itself. I reflected that in the original format with the awkward environment set/map. When the rules run, the environment gets created by looking up each global export variable in the node, category, DAG, and finally host environment. So at the moment, it looks like Makeflow only has substitution variables and doesn't support per

[2016-05-10 16:55] btovar commented on #1178
Tim, that is correct. It is a little awkward. Variables can be set per rule or category, but whether they are exported is defined per dag.

[2016-05-12 10:54] pivie commented on #1320
That would work. Do you think it would be better to ignore the output from
the umbrella spec when there is an output on the command line, or should
the two be combined?

On Sat, May 7, 2016 at 10:57 AM, hmeng-19 <notifications@github.com> wrote:

[2016-05-12 15:31] hmeng-19 commented on #1320
Ignoring the `output` section of umbrella is not what we really want. Ideally, we you share an Umbrella spec with others, the `output` section of umbrella is the only place they can figure out how to obtain the experiment results.

[2016-05-12 15:31] hmeng-19 commented on #1320
Typo: when you share, not `we you share`.

[2016-05-16 23:42] btovar opened #1336 "condor transfer output files outside wq control"
As observed by @annawoodard.

A process is writing outside the task directory, at _CONDOR_SCRATCH_DIR. When the worker disconnects, condor transfer back that file. Some of those files are above 150GB, which were filling /tmp at the submission site.

Two solutions:

a) Specify transfer_output_files =""  ,  which disables the automatic transfer.  Before condor 7.9 it creates a file named "" at the s

[2016-05-17 00:07] annawoodard commented on #1336
Wouldn't a) be preferable, in case cleanup is interrupted somehow?

[2016-05-17 00:13] btovar commented on #1336
It is, the problem is that it does not work with all versions of condor. We can add a if then at the submit file, though.

[2016-05-17 00:46] dthain commented on #1336
To clarify, is the problem that that *worker* is creating output in `$_CONDOR_SCRATCH_DIR` (e.g. cache dir and such) or that the *tasks* are doing so?

[2016-05-17 00:51] btovar commented on #1336
The tasks.

[2016-05-17 02:04] dthain commented on #1336
Ok, it sounds like you are trying to solve the problem that the worker has some files that you don't want brought back.  But, the bigger problem is that the task is writing outside of its permitted area at the worker, which is going to cause storage problems there as well.  I suggest that you try to stop it at that side, if possible.

In principle, the worker should run at a different privilege le

[2016-05-17 12:09] matz-e commented on #1336
In this case, we save command output temporarily by re-directing it to a file created in python via
[code]
From the [documentation](https://docs.python.org/2/library/tempfile.html#tempfile.mkstemp):

I would expect this to work wherever I am, and in fact, Condor sets one of those environment variables to override the default temporary directory. It just ends up being the execution directory of the

[2016-05-17 13:12] btovar commented on #1336
I'm going to create a tmp directory inside each task directory, and set TMPDIR to that.

A correct chmod to CONDOR_SCRATCH seems more trouble than its worth.

[2016-05-17 13:14] btovar commented on #1336
@matz-e: I wonder if you really want to save that output. Are you using it at all? In some cases it increases your disk usage way above what you ask for disk in condor.

[2016-05-17 14:06] matz-e commented on #1336
No we don't really want to do that…

[2016-05-18 18:26] trshaffer commented on #1178
As a workaround while parsing the JSON representation, I'm inserting export variables on their corresponding rules/categories and adding all the names to the DAG-wide export set. Is this the best approach @btovar, or should we be looking at changing the internal representation. I think this workaround *should* be fine in all but pathological cases, and changing the variable handling looks like it

[2016-05-18 18:29] btovar commented on #1178
I like the that variables are added per rule, even on repetitions. I am not sure about the meaning of dag-wide environment variables, though. (I know this is how makeflow does it internally, but perhaps we can start cleaning that up with the JSON representation?)

[2016-05-18 18:41] trshaffer commented on #1178
I'm not using Makeflow's internal variables for much besides export variables and resource stuff at the moment, so I don't think it should be possible to specify a non-export Makeflow variable and get unexpected behavior. Substitution variables will be handled during parse by evaluating JX expressions, so I can *probably* avoid changing internals. This being more of an issue in parsing the Make-st

[2016-05-18 19:02] dthain commented on #1178
You guys know the code better than me at this point, so I will leave it up to you.

I'll just suggest that simplicity is probably more important than efficiency at this point.

[2016-05-19 18:48] dthain commented on #1303
I think this one is done, right?

[2016-05-19 18:49] dthain commented on #1231
Is this one solved?

[2016-05-19 18:49] dthain commented on #1187
I think this one is done, right?

[2016-05-19 18:51] dthain commented on #87
Closing out low priority projects/bugs to avoid clutter.

[2016-05-19 18:51] #87 closed

[2016-05-19 18:58] trshaffer commented on #1187
As far as I know

[2016-05-19 19:01] trshaffer commented on #1303
Yep, this was already implemented

[2016-05-19 19:03] trshaffer commented on #1231
The above test is passing. As far as I know, this is working in @btovar's use case

[2016-05-19 19:51] #1303 closed

[2016-05-19 19:51] #1187 closed

[2016-05-19 19:52] #1231 closed

[2016-05-19 19:58] btovar opened #1341 "wq_factory does not check protocol version"
The master rejects workers that report a different protocol version. This means that the factory keeps creating workers that fail trying to satisfy the master. Ideally, master should report its version to the catalog, and the factory should not spawn workers on a version mismatch. The factory should print a warning indicating the version mismatch.

[2016-05-19 20:00] #946 closed

[2016-05-19 20:01] dthain commented on #901
Merge to #706

[2016-05-19 20:01] #901 closed

[2016-05-25 16:49] btovar opened #1348 "wrapping commands does not work with -Tcondor"
E.g.:

Found illegal unescaped double-quote: "/usr/bin/convert -swirl 180 capitol.jpg capitol.180.jpg"
The full arguments you specified were: /afs/nd.edu/user34/btovar/usr/x86_64/redhat6/cctools/bin/resource_monitor --no-pprint --with-output-files=mon/resource-rule-2 -L 'cores: 1' -L 'memory: 3' -L 'disk: 1' -V 'category:default' --sh "/usr/bin/convert -swirl 180 capitol.jpg capitol.180.jpg"
could

[2016-05-27 19:32] btovar commented on #1348
There are the condor rules:

The entire string representing the command line arguments is surrounded by double quote marks. This permits the white space characters of spaces and tabs to potentially be embedded within a single argument. Putting the double quote mark within the arguments is accomplished by escaping it with another double quote mark.

    The white space characters of spaces or tabs

[2016-06-01 12:09] btovar opened #1359 "work_queue_status -R option does not work on direct query"
This works: work_queue_status -R

This does not: work_queue_status -R myhost myport

couldn't read from myhost port myport: Resource temporarily unavailable

Moreover, the error message is incorrect, as the master responds to other options.

[2016-06-01 14:54] nhazekam opened #1361 "Makeflow Example Categories issue"
Categories in Makeflow are not behaving as expected, from my understanding. Currently the resources exported to a node, regardless of the category, are the last resource set. In the example this comes up as every rule getting the resources for the "preprocessing" category.

[2016-06-01 14:54] nhazekam commented on #1361
I have addressed it in a branch, but I will touch base with @btovar to make sure this conforms with the expected behavior.

[2016-06-02 11:17] btovar opened #1364 "rmonitor does not work with Condor and output in directories"
We rely on Condor to bring back files in the task scratch directory. This does not work when the resource_monitor writes its output to a directory.

[2016-06-02 11:17] #1361 closed

[2016-06-02 11:21] btovar commented on #1364
Some options:

- Specify transfer_output_files in Condor, and add a periodic remove so that jobs are never held when output is missing.

- The monitor wrapper tells the monitor to always write in the task top-most directory. When the task finishes, the wrapper (locally) moves the output to the desired destination. This is what we do in Work Queue, but with remote renaming.

[2016-06-02 12:16] btovar commented on #1364
@nhazekam: The monitor works correctly on -Tsge. Please check with slurm on xsede.

[2016-06-02 12:33] dthain commented on #1364
IIRC, Condor can be induced to retrieve a directory of output, if it is specified in the submit file.

[2016-06-02 12:40] btovar commented on #1364
Yes, but we do not specify any of the outputs in condor. This is so that if the task fails, the condor job is not held. We could change that, though, telling condor never to hold a job on missing output.

[2016-06-02 16:55] #1348 closed

[2016-06-02 16:56] #1336 closed

[2016-06-02 16:56] #1286 closed

[2016-06-02 16:56] btovar commented on #1241
Fixed.

[2016-06-02 16:56] #1241 closed

[2016-06-02 16:56] #1211 closed

[2016-06-02 16:57] #1165 closed

[2016-06-02 16:58] #977 closed

[2016-06-02 16:58] #125 closed

[2016-06-02 16:59] #64 closed

[2016-06-02 16:59] #52 closed

[2016-06-02 19:55] nhazekam opened #1366 "Batch Options garbled using SLURM"
When testing on slurm, I was experiencing issues with jobs failing to submit. It only occurred after the first job submitted and sbatch complained about a missing file, where the file name was garbage characters.

[2016-06-02 19:55] nhazekam commented on #1366
The issue occurs in how we set the batch options. I will create a pull request with changes.

[2016-06-03 15:37] dthain opened #1368 "Project: Viz Work Queue"
Create a simple javascript visualization that pulls down json from the catalog server and displays vital statistics about each work queue master: host, port, project, and simple bar graphs of resources and performance.

[2016-06-07 13:28] nhazekam commented on #1366
Addressed by creating a copy of the batch options in makeflow.c.

[2016-06-07 13:28] #1366 closed

[2016-06-14 18:03] #1324 closed

[2016-06-14 18:03] #1325 closed

[2016-06-14 18:03] #1326 closed

[2016-06-16 15:57] nhazekam commented on #1142
Resolved in the referenced pull request.

Solution:
Batch_job* now has a feature to express whether absolute paths are allowed in a rule or not.
If not allowed, Makeflow prevents rules from being executed in that queue if they have a remote absolute path.
Work Queue now produces a fatal error if an absolute path is incorrectly used, instead of printing to stderr, but continuing with computation.

[2016-06-16 15:57] #1142 closed

[2016-06-16 23:37] hmeng-19 commented on #1171
@Baguage , in "plain" mode, umbrella copies the file into its own cache and does not really mess up with its access permission. I can not really can reproduce this problem.

I would suggest create a `.tar.gz` file for each software dependency, and put binary into its `bin` subdir, and libraries (if any) into its `lib` subdir.

[2016-06-20 17:12] nhazekam opened #1383 "Makeflow Directives"
Directives is the name of special variables that direct the execution of nodes. This is a manner of expressing information that is different from normal variables. The need for this comes from wanting to inform a dag/node about information relevant to execution such as filesizes, resources, and mounts.

Prior to this nodes were able to specify resources using variables as each resource had a singl

[2016-06-20 18:26] btovar commented on #1383
I like .RESOURCES CORES X

[2016-06-21 16:10] btovar opened #1384 "work_queue_status does not use COLUMNS env var"
As requested by @annawoodard:

@btovar, can we add that work_queue_status checks COLUMNS to our wishlist?
It would make reading the output easier if we could have the PROJECT column wider

[2016-06-21 16:13] btovar commented on #1384
Currently we set fixed sizes when printing  jx_table's. It seems that we would need to consider those sizes as proportions of a total when the maximum number of columns is modified in COLUMNS (from the default of 80).

[2016-06-22 12:46] btovar opened #1385 "parrot failed assertion"
From @klannon:

[code]

@dthain? @trshaffer

[2016-06-22 12:57] btovar commented on #1385
Example of such failue: Task 10001

http://www.crc.nd.edu/~klannon/lobster/bdtreco_v0/processing/

[2016-06-22 13:46] dthain commented on #1385
Well, I learned a new software engineering lesson today.
We should be making multiple assertions on independent properties, so we can see which one failed.
I'm going to make a pull with a more detailed failure message, and then let's see what's going on.

[2016-06-22 13:52] klannon commented on #1385
If it helps you, I'd be really surprised if this is actually a Parrot bug.  This run went along great for 10 hours and then suddenly started having serious issues (see below).  I suspect something else is wrong and this is the symptom.  I don't suppose you have any guesses as to what could cause this as a symptom?

![all-tasks-hist](https://cloud.githubusercontent.com/assets/5149849/16269097/3dadd

[2016-06-22 14:06] dthain commented on #1385
@btovar can you take it from here to get them running with the new version?

[2016-06-22 14:06] dthain commented on #1385
Once we have some more info, I may be able to diagnose parrot further.

[2016-06-22 14:23] btovar commented on #1385
will do

[2016-06-22 14:38] btovar commented on #1385
Version ready on cctools-114-24ac5609-cvmfs-40cf5bba

[2016-06-23 17:27] #1384 closed

[2016-06-28 15:44] annawoodard opened #1392 "Have factory autosize workers based on category requirements"
I know that we've discussed this idea in the past, but I don't see it in the issue tracker yet-- please close if I've missed it.

We have a number of undergrads doing HEP research this summer and using Lobster + WQ for the first time. With the fantastic progress made by the cctools team on the resource monitor, it's easier and faster than ever to spot resource allocated-vs-utilized inefficiencies.

[2016-06-29 12:48] btovar opened #1393 "two queues on the same process interfere with each other"
As reported by @mbomhoff: Two queues could not update the catalog correctly at the same time in the same process. This was caused by a static variable in the update_catalog function.

c84e9c4aa6d4415e6502595ff461a3f446b7d025 fixes this, among a couple of other static variables.

[2016-06-29 12:49] btovar commented on #1393
Note that the fix has not been ported to the current master.

[2016-06-29 23:42] batrick commented on #1385
As the surrounding comment says, this assertion is caused by parrot's fd table getting out of sync with the kernel. One of the easiest ways to debug this is to enable this debug output:

https://github.com/cooperative-computing-lab/cctools/blob/b67c0379d32abba6af775adc6e7653a50c101ef6/parrot/src/pfs_dispatch64.cc#L978-L998

Then look at syscalls in the thread(s) which create new file descriptors (

[2016-06-30 13:21] dthain opened #1396 "Feature: Modify Makeflow to send catalog updates."
Modify Makeflow to send its own periodic updates to the catalog server, indicating the number of jobs that are blocked, ready, running, failed, and complete, with a report type of "makeflow".

Note that this report is distinct from the WQ level report, which only sees things relevant to WQ.  The Makeflow level report should be sent whenever the -N option is given, regardless of whether WQ is enabl

[2016-07-05 15:48] #1393 closed

[2016-07-06 14:57] nhazekam commented on #1383
This is now implemented in #1399

[2016-07-07 16:06] dthain commented on #1368
Done!

http://ccl.cse.nd.edu/software/workqueue/status

[2016-07-07 16:06] #1368 closed

[2016-07-07 16:45] hmeng-19 commented on #1368
Not sure it is my chrome's problem, it looks each item is described as a
block occupying 5 lines.
Do you think using a single line for each item would be better, because
more items can be seen without scrolling?

On Thu, Jul 7, 2016 at 12:06 PM, Douglas Thain <notifications@github.com>
wrote:

[2016-07-07 16:56] dthain commented on #1368
@nkremerh can you check?

[2016-07-07 17:04] nkremerh commented on #1368
@dthain In Chrome, it appears as it was intended. If there are other perspectives on how the data is presented, we can have a conversation about that via email.

[2016-07-07 17:22] hmeng-19 commented on #1368
@Nate, I saved my screen into a pdf, please take a look.

On Thu, Jul 7, 2016 at 1:04 PM, nkremerh <notifications@github.com> wrote:

[2016-07-07 22:09] hmeng-19 commented on #1368
I just retried it using a different wifi and it worked (just took some time
to load all the beautiful pictures for the first time).
It was probably the network I used this afternoon at RedHat was too slow,
and all those pictures can not be loaded (I waited at least 5 minutes
there).

On Thu, Jul 7, 2016 at 1:22 PM, Haiyan Meng <hmeng@nd.edu> wrote:

[2016-07-08 15:45] dthain opened #1405 "Feature: Combine multiple runs in parrot_package_create"
Allow the user to add the contents of another run to an existing parrot package, detecting conflicts if necessary.  For example:

[code]

[2016-07-08 15:45] dthain commented on #1405
The trick here is that if the user ask to add someting that conflicts with the original (e.g. same file but different contents), give them some useful options.

[2016-07-09 03:20] hmeng-19 commented on #1405
@dthain, just to ensure we are on the same page. `parrot_package_run` is used
to run tasks inside a package created by `parrot_package_create`, and the
inputs of `parrot_package_create` are the envlist and namelist created by
`parrot_run --envlist envlist.1 --namelist namelist.1 command`.

I believe the following workflow is what you meant (Please correct me if you do not agree):

    parrot_run -

[2016-07-11 03:02] hmeng-19 commented on #1405
@dthain , I created a PR #1406 to fix this, please take a look.

[2016-07-14 20:54] dthain commented on #1405
If I understand correctly, you are allowing the user to choose on of multiple environment lists at runtime.
I think what Bill was requesting was the ability to add to the originally stored environment list, not create a separate one.

e.g. You run `parrot_package_create` once, then realize that you need to add one more file and one more environment variable, so you want a command that lets you mod

[2016-07-14 21:24] hmeng-19 commented on #1405
@dthain, I did not think so.

As far as I understand, Bill really wants to add new files into an existing
package, which is solved by the new feature:

    parrot_package_create --name-list newnamelist --add existingpackage

As for the environment file, you really do not want to modify the origin
environment file in place. That may make the original application completely
non-reproducible.

[2016-07-14 21:28] hmeng-19 commented on #1405
@dthain , one thing we must realize is that the package created for one application can not be directly used to run another application without mending the package first.

    parrot_run --env-list envlist1 --name-list namelist1 uname
    parrot_package_create --env-list envlist1 --name-list namelist1 --package mypack
    parrot_package_run --package mypack uname

Here, using `mypack` you can reru

[2016-07-15 17:35] Nekel-Seyew opened #1407 "Catalog Server duplicate field error for Chirp Servers"
In the internal Catalog list for ND (http://catalog.cse.nd.edu:9097/) Chirp servers have two fields stored: "name" and "name" which sometimes are different, and the first is probably an IP name resolution of the second. Internally, this isn't a problem, but this causes an error when retrieving the information as a JSON file, as the second instance of "name" overwrites the value of the first instan

[2016-07-15 18:07] Nekel-Seyew opened #1408 "Error in the HowTo example of the cctools API documentation"
There are two errors:

1)Makefile requires "Makefile.config" but only etc/config.mk exists, need to change Makefile to reflect this update.

2) stringtools has undefined reference to "log", "floor", "fmax", "fmin", "pow", fix: add "-lm" to CCTOOLS_BASE_LDFLAGS in config.mk

[2016-07-15 18:10] Nekel-Seyew commented on #1408
Fixed the first issue. The second issue is an issue in the configuration script?

[2016-07-15 18:46] billobob commented on #1405
As far as environments go, it's probably better to keep them separate for now.

Another issue I've noticed is when running packages, there's often a problem due to the way parrot mounts files (using the GID/UID of whoever executes parrot_package_run)--this can cause some weird stuff to happen when a program is re-executed on different machines. As a temporary solution (and maybe permanent one) I'v

[2016-07-15 19:59] dthain commented on #1407
Good catch!  As it turns out, I fixed this a few days ago in PR #1395 .
The fixed version hasn't been deployed yet, so the catalog server is still reporting duplicates.

[2016-07-18 15:06] dthain commented on #1405
@hmeng-19 , `parrot_identity_box` does something similar to this, perhaps that capability can be integrated into `parrot_package_run`.  Also note the `--uid` and `--gid` options to parrot, which let you pretend to be a different user...

[2016-07-20 14:19] dthain commented on #1408
Aha, I think the how-to is a little out of date with respect to the rest of the code.
Yes, config.mk should be used instead of Makefile.config.
And I think the example should put `$(CCTOOLS_EXTERNAL_LINKAGE)` in the linker line, since that has all of the various dependent libraries.

Please go ahead and fix it and make a pull request.

[2016-07-20 14:21] #1407 closed

[2016-07-20 20:39] bgharper opened #1410 "[Parrot] Parrot_run fails with full IceCube simulation"
@dthain @hmeng-19

It seems to occur fairly randomly, as sometimes it will successfully run and trace (as it did when I created the package).

[code]

Attached is a zip of the fullSimulation.py script, although it requires an icecube setup on CVMFS. [Here](https://drive.google.com/open?id=0B9jyC8sqxSFpLVZVOFdERlFuemM) is a link to the package I created in one of the successful runs (~250mb/650mb u

[2016-07-20 20:47] dthain commented on #1410
Ok, the first thing we need to do here is understand what application is setting `CLONE_UNTRACED`, which is an unusual request to make in the first place...

[2016-07-20 21:16] bgharper commented on #1410
Dumping an strace of a regular run shows the following calls to clone:
`clone(child_stack=0, flags=CLONE_CHILD_CLEARTID|CLONE_CHILD_SETTID|SIGCHLD, child_tidptr=0x7f207cde49d0) = 508235
`
(repeated twelve times because num cpus = 12, with same flags, just different addresses and PIDs)

Where it doesn't look like it's being set by any of them by default. Dumping an strace on a (failed) parrot_run s

[2016-07-21 14:17] Nekel-Seyew commented on #1396
Implemented, and created a pull request to merge my working copy with repo.

[2016-07-21 16:46] batrick commented on #1410
Oops, I think the problem is that parrot is checking a flags argument for clone when fork/vfork syscalls take no argument. @bgharper, are there fork syscalls?

[2016-07-21 17:23] bgharper commented on #1410
Yes, in fact the last thing the parrot debug log shows before crashing is a vfork call

`2016/07/21 12:02:35.18 parrot_run[530916] <child:531012> syscall: vfork
2016/07/21 12:02:35.18 parrot_run[530916] <child:531012> debug: flags = 0x65D16EF4
2016/07/21 12:02:35.18 parrot_run[530916] <child:531012> fatal: cannot run application which does not allow tracing (CLONE_UNTRACED)
2016/07/21 12:02:35.18

[2016-07-21 18:54] dthain commented on #1410
Yup, @batrick has the right idea, and I think #1413 should fix it.
@bgharper please try the latest build (as soon as it completes):
http://ccl.cse.nd.edu/software/autobuild

[2016-07-21 19:28] bgharper commented on #1410
Indeed, that seemed to do the trick. Working fine now.

[2016-07-21 19:28] #1410 closed

[2016-07-21 19:30] dthain commented on #1410
Glad to hear it, and please thank @batrick

[2016-07-22 15:37] dthain opened #1415 "Update Parrot to New libcvmfs"
Update `pfs_service_cvmfs.cc` to use the new cvmfs API:
https://github.com/cvmfs/cvmfs/pull/1634

Key bit: Set up a way to pass in arbitrary cvmfs options from the command line

[2016-07-22 15:38] dthain commented on #1415
FYI @trshaffer @btovar @jblomer

[2016-07-26 13:54] trshaffer commented on #1415
My preference would be to use JSON to pass CVMFS options into Parrot as key/value pairs. This would fit well with the v2 API, and avoid parsing and manipulating large option strings. Could we deprecate most of Parrot's CVMFS-related options and use the v2 API if it's available and the user gives a JSON config, else fall back to the existing config syntax? This should maintain backwards compatibili

[2016-07-26 14:08] dthain commented on #1415
That works for me.

[2016-07-27 19:13] nkremerh opened #1421 "Bug: Remote naming conflicts in All-Pairs"
Currently, All-Pairs shortens all input files such that only the base name of the file is left (./my/dir/a.txt simply becomes a.txt). This can introduce remote name conflicts in Work Queue if two files have the same name but are in different directories.

[2016-08-01 16:35] #1421 closed

[2016-08-02 13:15] nhazekam commented on #1383
This is implemented and merged in #1399.

[2016-08-02 13:15] #1383 closed

[2016-08-09 17:05] nhazekam opened #1426 "work_queue_factory needs to take batch options"
Currently work_queue_factory does not take batch options from the command line. I also do not believe that it takes them from the config file either. We should have some method of adding batch options to the workers as they are submitted.

[2016-08-09 17:08] btovar commented on #1426
You can use -E to pass options to the workers, though.

On Tue, Aug 9, 2016 at 1:05 PM, Nick Hazekamp <notifications@github.com>
wrote:

[2016-08-09 17:12] nhazekam commented on #1426
The -E options tells the worker info, like cores etc... But to instruct the batch system where to/how to run is a submission side specification.

[2016-08-09 17:14] btovar commented on #1426
Correct. Your problem description seems to insinuate options to workers, rather than batch systems.

[2016-08-09 17:18] nhazekam commented on #1426
Sorry, to clarify, we need an option such as -B is used in Makeflow that specifies options for batch system work_queue_factory submits to. It should be as simple as taking an option "-B" and setting the value to batch_job with batch_job_set_option(queue, "batch-options", value)

[2016-08-09 17:42] dthain commented on #1426
@Nekel-Seyew please handle this one.

[2016-08-09 17:43] dthain commented on #1426
Whoops, I see Nick assigned himself.  Nick, did you want to handle this?

[2016-08-09 17:44] nhazekam commented on #1426
Yes. I think this is a minor fix that Ben and I are pushing through kind of
quickly.

On Tue, Aug 9, 2016 at 1:43 PM, Douglas Thain <notifications@github.com>
wrote:

[2016-08-09 19:10] nhazekam commented on #1426
@btovar addressed this in 5.4.19. We should also make sure to carry this over to master as it is a useful/necessary feature.

[2016-08-10 12:50] #1426 closed

[2016-08-10 16:05] nkremerh commented on #1215
Just curious, has this been resolved? @nhazekam

[2016-08-16 16:19] hmeng-19 opened #1431 "add a new field into an umbrella spec to mark the necessity of archiving it"
Currently, `umbrella upload` uploads all the dependencies specified in an  Umbrella specification into OSF or S3.

However, sometimes the user may want to only archive some deps with `umbrella upload`.

Proposed plan:
Add a new optional field, named `upload`, into each dependency object to mark whether that dependency is needed to be archived or not.
The `upload` field can be set to `true` (the de

[2016-08-16 16:20] hmeng-19 commented on #1431
@dthain , PTAL.

[2016-08-18 18:51] hmeng-19 opened #1433 "cctools build failure"
`category.c` by accident is referring to a non-existing member `cores_avg_histogram`, which breaks the building procedure.

[code]

[2016-08-18 18:52] hmeng-19 commented on #1433
@btovar , PTAL.
I think the fix of this problem is just to remove this line. Right?
Do you want me to do it? Or you want to fix it?

[2016-08-18 19:01] hmeng-19 commented on #1433
@btovar , it seems the problem is bigger than I thought.
[code]

[2016-08-18 21:53] hmeng-19 commented on #1198
@dthain , I do not think any current options of Makeflow aims to collect the dependencies of a given makeflow into a dir, as described http://ccl.cse.nd.edu/software/manuals/makeflow.html#linking .

[2016-08-18 21:54] hmeng-19 commented on #1198
@dthain , we can either close the issue for now, or remove http://ccl.cse.nd.edu/software/manuals/makeflow.html#linking from the Makeflow user manual page.

[2016-08-18 21:55] hmeng-19 commented on #1215
@nhazekam , I have the same question as @nkremerh .

[2016-08-18 21:57] hmeng-19 commented on #1205
This feature will be fixed by #1239.

[2016-08-18 22:39] btovar commented on #1433
what is PTAL?

[2016-08-18 23:24] hmeng-19 commented on #1433
PTAL: Please Take A Look.

[2016-08-19 00:50] dthain commented on #1431
Ok with me

[2016-08-19 13:25] btovar commented on #1433
fixed

[2016-08-19 13:25] #1433 closed

[2016-08-19 13:37] hmeng-19 commented on #1198
Fixed by 1435.

[2016-08-19 13:43] #1198 closed

[2016-08-19 15:47] dthain commented on #1408
@Nekel-Seyew you can fix this one.

[2016-08-19 15:49] dthain opened #1437 "Add support for CWL to Makeflow"
Add to Makeflow the ability to input and output the Common Workflow Language:
https://github.com/common-workflow-language

[2016-08-19 15:54] dthain opened #1438 "Add support for Singularity to Makeflow"
@Nekel-Seyew you are already working on this, just making the issue to keep track of everything.

[2016-08-19 16:01] dthain commented on #1051
No complaints here.

Although we did have an odd problem in AWE this summer, related to floats/cores.
What happened is that the task was producing a resource report in which cores had
a float type, but an integral value.  The code for parsing the resource reports in the
master examined the type of each *value* before examining the name.

The result was that when cores had the literal value of "1",

[2016-08-19 16:03] dthain commented on #275
Superseded by #1205

[2016-08-19 16:03] #275 closed

[2016-08-19 16:05] dthain commented on #890
Closing this as wontfix, since it's a very narrow use case with no immediate user.

[2016-08-19 16:05] #890 closed

[2016-08-19 16:06] dthain commented on #882
Closing this as wontfix, in the absence of an end user driving the need.

[2016-08-19 16:06] #882 closed

[2016-08-19 16:08] dthain commented on #71
Closing as wontfix -- not driven by user needs.

[2016-08-19 16:08] #71 closed

[2016-08-19 18:06] nhazekam opened #1439 "Makeflow Local resource ignored"
After getting a question from @hmeng-19 about the expected behavior of Makeflow -T local, I found out through some testing that we no longer use resource specifications for scheduling local jobs. Currently we run one job per core regardless of the core specification, and completely ignore memory and disk. Just wanted to discuss how we should handle/fix this. @btovar @dthain

[2016-08-19 18:12] dthain commented on #1439
This is a long-standing issue, see #254
It's not terribly hard to solve, we just need to keep a count as we dispatch jobs.

[2016-08-19 18:17] nhazekam commented on #1439
Thanks for pointing to this. I had forgotten about this previous issue.

[2016-08-19 20:42] nhazekam commented on #1215
This was a reproducible error at the time of raising the issue. However after trying the three above described makeflows, none had any errors parsing. I also tried a makeflow provided previously that had the issue, and there is no longer an error. I am in favor of closing this as it appears the issue was remedied in master. @hmeng-19 let me know your thoughts before this is closed.

[2016-08-19 21:01] hmeng-19 commented on #1215
@nhazekam , I just retried the three makefiles mentioned in this PR, and they all worked well.
I guess some updates to Makeflow recently may fix the problem somehow.
I will close this issue, thanks for looking into it.

[2016-08-19 21:01] #1215 closed

[2016-08-22 13:07] hmeng-19 commented on #1431
Fixed by #1441 .

[2016-08-22 13:07] #1431 closed

[2016-08-22 18:30] btovar opened #1443 "more than one wq factory per master is not well supported"
Most of the code from work_queue_factory assumes that there is a single factory per master. This causes some problems. For example, somewhere we have the line:

workers_submitted > new_workers_needed + workers_connected

where workers_submitted is particular to the factory, but new_workers_needed and workers_connected come from the master, and thus depend on other factories.

One particular proble

[2016-08-24 15:56] hmeng-19 commented on #1320
@pivie , #1445  should fix this problem. Please verify whether it solves your concerns here.

[2016-08-25 15:41] dthain opened #1449 "Feature: Parrot Sterile Mode"
To facilitate expriments in reproducibility, add a new "sterile" mode to Parrot that eliminates incidental variations between runs:

- Always report the system time as 12:01, January 1st, 2000
- Always report a fixed user and group id.
- Always report the same machine and os version
- Other aspects?

Obviously, this mode would cause confusing results for system software.  But, it could be very eff

[2016-08-25 15:42] dthain commented on #1385
Are we still seeing this problem, or did it go away?

[2016-08-25 15:43] btovar commented on #1449
(sorry, hit wrong button)

[2016-08-25 16:06] klannon commented on #1385
We have not seen it since you implemented the code to help debug it.  Sorry.

[2016-08-25 21:51] btovar opened #1451 "On resource exhaustion, makeflow should not delete the resource summary file"
When a rule fails, it deletes all of its outputs. This includes the resource summary file. This is not advantageous, as the summary provides information about the failure (e.g., which resources where exhausted).

[2016-08-26 12:52] dthain commented on #1451
I seem to recall running into this issue before -- you can't debug a job at all if its outputs are deleted.

But, we don't want the (presumed bad) output files to confuse Makeflow when determining how to resume.

Maybe all of the outputs of a failed job should be moved into a specific directory `makeflow.failed.${JOBID}` so that the user can examine them in isolation?

[2016-08-26 12:54] btovar commented on #1451
That sounds like a good idea. In addition, it would not treat the summary file in any special way.

[2016-08-26 13:15] nhazekam commented on #1451
I think that approach sounds reasonable and also provides a clear manner
for users to inspect failed tasks.

On Fri, Aug 26, 2016 at 8:54 AM, Benjamin Tovar <notifications@github.com>
wrote:

[2016-08-29 18:16] btovar opened #1454 "wq: non-cached files/directories get named as cached."
As observed by @klannon.

A non-cache directory gets a name such as:

file-0-HASH-...

when it should get the name:

file-TASKID-HASH-...

When the directory is copied again, files are rewritten and may cause an already running task to fail. In particular in lobster, parrot_run was being copied again, which produced a 'text file busy' error.

[2016-08-30 13:40] #1454 closed

[2016-09-01 13:30] khurtado opened #1457 "chirp server freezes when backend processes are not terminated"
When a chirp server is started, it triggers backend processes like the one below and is eventually terminated. Sometimes, such backend processes are not terminated and stay hanging there (below and example of one of the processes authenticated with x509 proxies)...

[code]

At that point, all the server does is to send TCP RST signals to client requests and the server can't be restarted by killing

[2016-09-01 17:27] dthain commented on #1449
#1459 addresses the time issue.

[2016-09-01 17:29] dthain commented on #1449
@pivie If you try out the new pull request, you should be able to play around with these settings:
[code]
Going even farther, you could map /dev/urandom to consistent values with `--mount /dev/urandom /tmp/junk`

[2016-09-06 20:10] nhazekam opened #1463 "WQ Filename Sanitation"
When using WQ-MAKER we are running into an issue where the directory structure created by MAKER doesn't get handled correctly. The directory name is:

 LNKV01_iso11.1.fsa_nt_Shomeocarpa_genome_assembly_DNA.maker.output/|961591432|gb|LNKV01000257.1|        LNKV01_iso11.1.fsa_nt_Shomeocarpa_genome_assembly_DNA_datastore/45/CE

The issue seems to be that |s and spaces aren't being handled correctly a

[2016-09-09 19:43] nhazekam opened #1467 "WQ transactions log not cleaned."
In #1456 the *.wqlog.transactions was introduced, but is not logged or cleaned. @btovar

[2016-09-09 20:01] nhazekam opened #1468 "Makeflow- Umbrella : When umbrella wrapper is used locally, the umbrella.log is left behind"
We should log this, allow the user to specify a pattern to be used for each tasks logs, and clean this when it is done. By default it should either always be collected with a name such as umbrella_%%.log, or it should be disable. @hmeng-19 I will leave this up to you for the next pull request on Umbrella in Makeflow.

[2016-09-15 15:12] #1467 closed

[2016-09-15 16:08] btovar commented on #1463
I'm not sure this is a work queue problem.
For example:

my $name = "LNKV01_iso11.1.fsa_nt_Shomeocarpa_genome_assembly_DNA.maker.output/|961591432|gb|LNKV01000257.1| LNKV01_iso11.1.fsa_nt_Shomeocarpa_genome_assembly_DNA_datastore/45/CE";

# This works fine:

my $t = Work_Queue::Task->new(qq(mkdir -p "$name" && touch "$name/hello"));
$t->specify_output_file("$name/hello");

# This does not (not tha

[2016-09-16 11:14] btovar opened #1476 "parrot error with RH7, tar and symbolic links"
Per David Schultz:

I'm having a problem that seems specific to the RHEL7 build of cctools.  I've tested with the last few releases with the same result.

If I have a directory with symlinks, where the symlinks appear before the file they are linked to:

[dschultz@dyn-12-232 ~]$ ls -al test
total 4
drwxrwxr-x. 2 dschultz dschultz   65 Sep 15 17:21 .
drwx------. 8 dschultz dschultz 4096 Sep 15 17:2

[2016-09-16 14:06] dthain opened #1477 "Chirp Server Crashes on Ticket Auth"
This succeeds: `chirp -a hostname disc02.crc.nd.edu`

This fails: `chirp -a ticket -a hostname disc02.crc.nd.edu` b/c the chirp server crashes after accepting the ticket authentication method, but having no tickets to deal with.

This is a high priority to fix, since the default configuration (no -a options) tries the ticket method and causes the crash, even when the user does nothing special.

[2016-09-16 14:10] btovar commented on #1477
On it.

[2016-09-16 15:54] #1477 closed

[2016-09-18 17:11] trshaffer commented on #1476
There's a typo in Parrot's `lutimens` implementation, such that it tries to follow symlinks and change the time on the target. Depending on the order `tar` does things, the target might not have been created, hence the `ENOENT`. Newer builds (that support the `*at` family) go down this code path, hence the RHEL7 specificity. I just submitted a PR to fix this

[2016-09-19 11:15] btovar commented on #1476
Excellent, thanks Tim!

[2016-09-19 11:45] #1476 closed

[2016-09-21 16:38] nhazekam opened #1485 "work_queue_factory -T sge not submitting"
Using work_queue_factory on sge is not currently actually submitting.

2016/09/21 12:35:49: |submitted: 0 |needed: 5 |waiting connection: 0 |requested: 5
No change this cycle.

Unable to read script file because of error: error opening file: No such file or directory
2016/09/21 12:35:49.51 work_queue_factory[38873] notice: job submission failed: no output from sge

[2016-09-23 13:58] hmeng-19 opened #1489 "missing implementations of several dag funcs"
I noticed that `dag.h` includes the prototypes of `dag_input_lookup_or_create` and `dag_output_lookup_or_create`, however, I can not find their imeplementations in `dag.c`.

[2016-09-23 13:58] hmeng-19 commented on #1489
@nhazekam , @btovar , @dthain , PTAL.

[2016-09-23 14:13] dthain commented on #1489
Dead code should be removed!  Haiyan, please fix it and make a pull request.

[2016-09-23 14:14] hmeng-19 commented on #1489
@dthain , just want to make it clear.
Your point is that makeflow no longer provides these interfaces. Right?

[2016-09-23 14:16] dthain commented on #1489
If the prototype serves no purpose, remove it.

[2016-09-23 15:15] hmeng-19 commented on #1489
#1490  should fix this.
@dthain , PTAL.

[2016-09-23 15:35] hmeng-19 commented on #1489
Fixed by #1490 .

[2016-09-23 15:35] #1489 closed

[2016-09-23 16:23] hmeng-19 commented on #1468
@nhazekam , PTAL.
#1491 should fix this.

[2016-09-23 16:24] hmeng-19 commented on #1468
@nhazekam , for testing this feature, `cctools/makeflow/example/makeflow_umbrella` will be a good example.

[2016-09-30 19:42] nhazekam commented on #1468
Fixed in #1491 .

[2016-09-30 19:42] #1468 closed

[2016-09-30 23:52] batrick commented on #1457
There are two problems here:

* The `chirp_server` children serving a client are keeping the listening socket open (the one listening on 9094). The children should `link_close` that socket here:

https://github.com/cooperative-computing-lab/cctools/blob/2e7ea7ec69dfd8cb2959155e122c8c3ccc34a2c1/chirp/src/chirp_server.c#L2315-L2316

* The `chirp_server` process is not properly cleaning up its childr

[2016-10-04 14:53] dthain commented on #1485
The problem here is that the factory does a `chdir()` into a scratch directory in `/tmp` before submitting jobs.

But sge (and related batch systems) expect that the application will read (and write) status files in the shared filesystem in the CWD where work_queue_factory was started.

A temporary workaround is to give the argument `-S .` but we need a better solution.

@btovar is the Lobster gro

[2016-10-04 14:59] btovar commented on #1485
They are not.

[2016-10-04 18:29] dthain commented on #1485
PR #1494

[2016-10-04 18:29] #1485 closed

[2016-10-07 13:01] dthain opened #1495 "WQ Master Stuck on Task Forsaken"
@btovar please check this out -

To reproduce, set up an all-pairs job like this:

[code]

Then run a worker like this:
[code]

Everything goes swimmingly for a while, and then the worker suddenly reports the task as forsaken:
[code]

The master observes the forsaken task, but then does not reschedule it:

[code]

[2016-10-07 16:03] #1495 closed

[2016-10-12 13:19] hmeng-19 opened #1503 "use parrot_run options instead of environ vars in Umbrella"
Currently, umbrella's parrot execution engine accepts the mount file and the ldso path via environment variables, `PARROT_MOUNT_FILE` and `PARROT_LDSO_PATH`. This may make it difficult to debug any potential problems in the future.

Solution:
Use the command options instead.

[2016-10-19 14:56] btovar opened #1504 "wq_factory only works with project names"
Explicit host names are needed when makeflow is run with --work-queue-preferred-connection=by-ip

As reported by @bbockelm.

[2016-10-19 15:04] bbockelm commented on #1504
Actually, I don't think it's a `makeflow` issue.  I want to be able to manage the hostname `work_queue_factory` utilizes.  For example, from my cluster headnode, I get:

[code]

Where `external.example.com` is the external hostname and firewalled off.  However, if I run the `hostname` command itself, it returns `internal.example.com`.

I should be able to override the hostname used explicitly - an

[2016-10-19 15:17] bbockelm opened #1505 "Argument array for WorkQueue tasks"
Currently, the task creation passes a string directly to the shell:

[code]

However, shell quoting rules are really difficult!  It would be a lot better if we could build argument lists directly.

[code]

(@btovar @nhazekam)

[2016-10-19 16:21] btovar commented on #1504
You are correct. I mentioned that makeflow option to eliminate 'just use a project name' solution.

Thanks for the extra info...

[2016-10-20 18:48] bbockelm opened #1506 "string_cookie has crummy randomness"
I noticed `string_cookie` (whose random string is used `link_auth_password`) has really poor entropy.  It's actually based on `rand` (yuck!).  It weakens the handshake for the authentication.

It seems that `random_hex` could be a drop-in replacement for this usage.

Note that `random_hex` and friends still don't meet cryptographic standards for generating key material, but might be OK in this cas

[2016-10-20 18:55] niravmerchant opened #1507 "Ability to ask workers to report metric"
Hi Ben @btovar per our conversation, I am filling this feature request.
It would be good if the master could request:
1. Run commands like uptime, df -h , ps etc to see activity and metrics on a worker. Currently we do a lot of that using ansible, but doing it natively will be great (from master)
2. It would be great to connect master and worker using public private key (allow workers to be submit

[2016-10-26 12:57] btovar opened #1511 "jx fails to parse integers as doubles."
Example from work_queue_factory:

This works:

"tasks-per-worker": 4.0

This does not:

"tasks-per-worker":4

I propose for jx_double to accept numbers without a decimal point.

[2016-10-26 17:35] dthain commented on #1511
The problem isn't quite clear to me.

The parser will interpret the former as `jx_pair(jx_string("tasks-per-worker"),jx_double(4.0))` and the latter as `jx_pair(jx_string("tasks-per-worker"),jx_integer(4))`

JX distinguishes between integer and floating point numbers b/c they have rather different arithmentic properties, and some odd things can happen if you represent integer division with floatin

[2016-10-26 17:36] dthain commented on #1506
@trshaffer please take a look at this one.

[2016-10-26 21:38] hmeng-19 opened #1512 "parrot packaging tool fails on some python3 programs"
Problem:
Last week Tim showed me that he failed to reproduce a python program using
parrot packaging tool on his Arch Linux. After some testings, we realized that
parrot packaging tool can still reproduce python2 applications on his machine,
however, cannot reproduce python3. I also sufferred the same problem on my own
Arch Linux.

Cause:
Since python3.2, `__pycache__` was introduced into python t