[2016-10-26 21:38] hmeng-19 commented on #1512
@dthain , @trshaffer , PTAL.

[2016-10-27 13:02] btovar commented on #1511
Indeed. I was trying to fix the wrong thing. See #1514.

[2016-10-27 13:02] #1511 closed

[2016-10-27 14:43] dthain opened #1515 "WQ Update Bug?"
@btovar @klannon

A master on earth is sending JSON updates that are rejected by the catalog, which claims that the pack is invalid.  Please take a look and see if you can figure out which side the problem is on:

[code]

[2016-10-27 14:45] dthain commented on #1515
Problem was observed after applying pull #1516

[2016-10-27 14:47] btovar commented on #1515
The json by itself is valid (checked with two json lint tools). I'll check where our parsing is failing.

[2016-10-27 15:14] btovar commented on #1515
The problem is that the list of blacklisted workers goes above the MAX_TOKEN_SIZE.

An quick fix is to turn the blacklisted list into a proper array, rather than a string. However, we may want to rethink how we use MAX_TOKEN_SIZE.

[2016-10-27 15:57] dthain commented on #1515
For the moment, `#define MAX_TOKEN_SIZE 65536` will allow the catalog server to work with any text that arrives in a UDP packet.

@trshaffer you have some familiarity with the JX library, please work up a solution that allows for arbitrary token sizes.

[2016-10-27 15:59] dthain commented on #1515
@btovar Does the factory do something with the list of bad hosts?

[2016-10-27 16:00] btovar commented on #1515
It does. Fixing it right now so that all tokens from work queue are well below MAX_TOKEN_SIZE.

[2016-10-27 18:56] #1515 closed

[2016-10-28 16:30] dthain commented on #1457
@batrick I'm not sure I follow your explanation -- in the child process `chirp_receive` uses the link and then calls `_exit(0)` which will close the socket when the process terminates.  In the other cases following `fork`, the link gets closed.  Am I missing something?

[2016-10-28 16:30] dthain commented on #1449
Fixed and in use.

[2016-10-28 16:30] #1449 closed

[2016-10-28 16:44] dthain opened #1520 "Script for RH6/RH7 Auto-Select"
@Nekel-Seyew please work up a little script that will allow the user to run an arbitrary program on RHEL6 or RHEL7, running it natively if possible, and deploying Singularity only if needed.  Something like this:

[code]

The CRC is already deploying a mix of RHEL6 and RHEL7 machines, and we have cases where 7 code needs to run on a 6 machine, and vice versa.  If you get this going quickly, there

[2016-10-31 12:56] dthain commented on #1457
Aha, you are quite right -- thanks.

[2016-11-03 13:22] dthain commented on #1520
The condor matrix shows a big sea of green, mainly because we have a large number of machines running RH7, so the need for this is very high right now...

http://condor.cse.nd.edu/condor_matrix.cgi

[2016-11-03 17:31] Nekel-Seyew commented on #1520
I have a script and 2 Images, one running CentOS6 and one running CentOS7, simply running the task through singularity, and assuming that Singularity v2.2 is available on the machine.

I'm still working on a solution if Singularity isn't available for the system.

[2016-11-03 17:35] dthain commented on #1520
We aren't concerned about the case where singularity isn't installed at this point.

The main point is to either exec `singularity image command` if the os doesn't match, or just `command` if the os does match...

[2016-11-04 13:15] dthain opened #1527 "Work Queue Factory + Wrappers"
Adapt the wrapper concept so that it can be easily applied via the `work_queue_factory` and not just `makeflow`.  We increasingly need the ability to deploy workers that are uniformly wrapped by a given technology.

For example, run workers in an umbrella environment:
[code]

Or, run workers with the resource monitor:
[code]

Or, run workers with a pre-deployed dataset
[code]

[2016-11-04 13:17] dthain commented on #1512
This is #1513 right?

[2016-11-04 13:23] hmeng-19 commented on #1512
@dthain , yes.
I did not refer #1513 here, because I am not sure #1513 is the eventually thing I want to do.
This issue speaks a bigger problem than #1513 tries to solve.

[2016-11-04 20:22] charleszheng44 opened #1528 "Show the resource usage of Work Queue worke"
Can we make `work_queue_status -A HOST PORT` show resource usage information, when running Makeflow `wq` mode with resource monitor? The current output looks like,
[code]

[2016-11-04 20:57] dthain commented on #1527
PR #1529

[2016-11-07 20:36] #1527 closed

[2016-11-07 20:37] dthain commented on #1520
Deployed in `/afs/crc.nd.edu/group/ccl/software/runos`

[2016-11-07 20:37] #1520 closed

[2016-11-08 16:11] #1396 closed

[2016-11-08 16:13] #1506 closed

[2016-11-08 16:13] dthain commented on #1438
Fixed by #1475

[2016-11-08 16:13] #1438 closed

[2016-11-08 16:19] dthain commented on #1385
Ok, I'm going to classify this one as "cosmic ray shower" and close it.
Bug us again if necessary...

[2016-11-08 16:19] #1385 closed

[2016-11-11 00:10] hmeng-19 commented on #1205
Fixed by #1239

[2016-11-11 00:10] #1205 closed

[2016-11-11 00:19] hmeng-19 commented on #1503
Fixed by 1534.

[2016-11-11 00:19] #1503 closed

[2016-11-17 17:51] annawoodard opened #1541 "Take advantage of shared filesystems with Makeflow"
This is a feature request. I am running an HEP analysis with Makeflow+WQ+Condor. Part of my workflow runs over a large collection of input files which are several gigabytes each, stored in an HDFS filesystem which is accessible to all machines in our cluster. I would like to be able to tell Makeflow about these files by specifying them as inputs, so I can take advantage of nice Makeflow features l

[2016-11-17 17:53] annawoodard commented on #1541
@hmeng-19 see the path above in case it is useful for the Umbrella test. Ping me if I can be helpful in any way.

[2016-11-17 17:58] hmeng-19 commented on #1541
@annawoodard , thanks. I will give it a try.

[2016-11-17 18:58] dthain commented on #1541
What we need here is a command line argument like this:

[code]

The effect of the argument will be quite simple: files inside directories that are indicated as shared filesystems will not be added to the input or output lists of a batch job, when it is constructed from a `dag_node`.  The effect is that makeflow will still "manage" the file at the DAG level, but not pass it down to the batch level

[2016-11-18 16:22] annawoodard opened #1542 "Allow wrappers to apply to groups of Makeflow rules"
This is a feature request. In a demonstration of just how convoluted my workflow is, I need different wrappers for various rules in my Makeflow script. After discussion with @hmeng-19 we decided a wrapper was the right tool for the job here rather than umbrella because I'm just setting up environment variables. It would be convenient to be able to specify different wrappers for groups of rules in

[2016-11-18 17:01] dthain commented on #1541
@trshaffer please take a look at this one, I think it is a quick fix and will have a big impact on Anna's work.

[2016-11-18 17:32] dthain commented on #1542
Out of curiosity, are you using some kind of script to generate your Makeflow?

[2016-11-18 17:46] annawoodard commented on #1542
@dthain: Yes.

[2016-11-21 21:00] dthain commented on #1541
@trshaffer please add to the manual and man pages, and discuss with @annawoodard to see if it meets her needs...

[2016-11-22 14:06] btovar opened #1548 "parrot and icecube segfault on RHEL6.8"
From Gonzalo Merino:

We run opencl applications in a distributed environment. We rely in CVMFS for software distribution. In some sites, we do not have CVMFS native installations, therefore we rely on parrot (thanks a lot parrot developers!)

We are experiencing a weird issue with parrot at one of our sites, so I am writing this group to see if someone more expert than me in the internals can hel

[2016-11-22 15:19] hmeng-19 opened #1550 "an issue about the http timeout setting in makeflow mount module"
Currently, the http timeout value in the makeflow mount module (used via the `--mounts` option) is hard-coded as 300 seconds, which is too short if a dependency is huge or the user runs multiple instances of a makeflow concurrently.

[2016-11-22 15:42] hmeng-19 commented on #1550
@btovar , @dthain ,
Currently, the mount module depends on `http_fetch_to_file`, and does not support https deps (I do not think `dttools` includes any library for fetching files via https.)
I have two options: libcurl and wget.
Using libcurl we need to either assume the machine has libcurl installed in a standard path or import libcurl into cctools somehow.
Using wget we need to assume `wget` is

[2016-11-22 15:45] dthain commented on #1550
Or possible `curl`.  Is one used more widely than the other?

[2016-11-22 15:50] hmeng-19 commented on #1550
@dthain , take a look at here https://daniel.haxx.se/docs/curl-vs-wget.html

[2016-11-22 15:51] hmeng-19 commented on #1550
@dthain , the thing I would like go with `wget` is:
"Its ability to recover from a prematurely broken transfer and continue downloading has no counterpart in curl."

[2016-11-22 15:58] dthain commented on #1550
Ok, that's fine with me.

[2016-11-22 16:04] dthain commented on #1548
Observation: clinfo is faulting on a `ioctl` syscall.  The current parrot generally passes through ioctls on non-regular files.  However, it seems to think that the address is `0x3038` which should never be a regular user space address.  (It looks more like an ioctl code, in fact.)

[code]

[2016-11-22 16:05] dthain commented on #1548
@trshaffer are you able to reproduce this one?

[2016-11-26 10:39] matz-e opened #1553 "Resource monitor, jemalloc 4.2 clash and are hanging"
Some of our software stopped working when run under parrot with the resource monitor.

I've been able to trace this back to the MWE below, which will work **if** the resource monitor is removed and parrot run directly. You should be able to run this example on `crcfe01` and `crcfe02`. I've also attached the last bit of the output of `parrot_run -d all …`.

[Here are the release notes for the newer

[2016-11-26 10:47] matz-e commented on #1553
Should note that I've tried this with `cctools-139-1bc3d4fb-cvmfs-40cf5bba`…

[2016-11-28 08:35] matz-e commented on #1553
I've taken one more stab at this and removed parrot from the equation. See the line I added above in the example by running the setup with only
[code]
which also results in a stuck process.

Attaching `strace` to the hanging process yields this:
[code]

[2016-11-28 13:34] btovar commented on #1553
Interesting.

[2016-11-28 14:59] btovar commented on #1553
Does it always happen? I has able to run:
resource_monitor --no-pprint --sh "bash script"
to completion on earth.

[2016-11-28 15:25] btovar commented on #1553
Also, the one with parrot run to completion on earth. They seem to have the same linux versions. I'll keep trying to make it fail.

[2016-11-28 15:50] matz-e commented on #1553
That's weird. It always seems to happen for me. If I use Lobster, all tasks seem to hang this way. I just ran the whole example saved as `test.sh` with a "clean" environment, and it still hangs:
[code]

[2016-11-28 15:56] matz-e commented on #1553
Moving my `.profile` out of the way and starting bash under the resource monitor with `--noprofile`, `--norc` also hang.

[2016-11-28 16:09] btovar commented on #1553
Perhaps I should run all your tasks!

Just for a sanity check, can you run it as:

resource_monitor --no-pprint --sh "parrot_run ./script" -dall -oDEBUG -Omon

?

[2016-11-28 16:16] btovar opened #1554 "Resource monitor greatly overestimated number of cores"
20 cores were measured for a task, which seems unlikely.﻿⁠⁠⁠⁠

Logs:

earth:/tmpscratch/users/klannon/mcprod_ttW_alpha1273_filtered/v0/

As reported by @klannon

[2016-11-28 16:58] btovar commented on #1553
Got it to hang on crcfe01, with parrot.
The good news is that it seems the hang is at the end, so nothing remains to be done.

[2016-11-28 17:26] matz-e commented on #1553
You should run my tasks… This is the last output I see on earth with `~mwolf3/test.sh`, no parrot, no `.profile`:
[code]
I would expect more output there. I'm still puzzled why it does not hang for you…

[2016-11-28 17:34] btovar commented on #1553
Yes, it actually did not hang last time. My current try is quite past "Starting cmsRun ...".

Can you do:

/usr/bin/env -i HOME=$HOME sh
export
CCTOOLS=/afs/crc.nd.edu/group/ccl/software/cctools-138-37409e5b-cvmfs-40cf5bba/x86_64/redhat6/bin
(set other env vars)
$CCTOOLS/resource_monitor  --no-pprint --sh "$CCTOOLS/parrot_run ./script" -d all -o DEBUG -O mon

[2016-11-28 17:49] btovar commented on #1553
It keeps working for me on crcfe01, however I see you have one run stuck from 11:16am this morning.

[2016-11-28 17:50] btovar commented on #1553
Do you have a DEBUG file I can look at?

[2016-11-28 17:54] matz-e commented on #1553
`~mwolf3/www/DEBUG`

[2016-11-28 17:54] matz-e commented on #1553
Got to head out, I'll check back tomorrow.

[2016-11-29 01:02] batrick commented on #1548
I noticed this in the log right before the segfault:

[code]

That `stat` failure may have led to the code path which segfaulted. Maybe fixing that will be a workaround.

[2016-11-29 09:20] matz-e commented on #1553
So, here is a scripts that still fails for me (on earth):
[code]
I save that as `test.sh` and execute it like this:
[code]
Outputs are in `~mwolf3/www/debug_*`. I've made sure that there are no stray libraries running around in my home directory from old cctools installations, but I don't think they should be considered anyways because `LD_LIBRARY_PATH` is not set. This is the beginning of stdout:

[2016-11-29 14:29] btovar commented on #1553
The script above did hang for me on earth. So, yaaay!?

Thanks for your detailed report, Matthias.

[2016-11-29 15:49] matz-e commented on #1553
At least we're on the same page. :)

Does it also hang of you take out parrot? It does for me...

[2016-11-29 16:08] btovar commented on #1553
Both..

[2016-11-30 18:27] trshaffer commented on #1548
I `straced` the same program to find differences from Parrot's behavior just before the segfault. Digging around with GDB, I reproduced @batrick's suggested cause, but that didn't do it. Shortly after that `stat` call, the program tries to set up a socket, and Parrot does the wrong thing there. The syscall should succeed, but Parrot returns `ENOENT`. If I manually reproduce Parrot's behavior, the

[2016-11-30 18:31] dthain commented on #1548
@trshaffer I'm not intimately familiar with abstract sockets, so I can't say.  You should read up on the concept, and then give us your professional opinion.  Happy to work through it on the whiteboard if you like.

[2016-11-30 18:35] trshaffer commented on #1548
Abstract sockets are `AF_UNIX`, but bind to an arbitrary string rather than a filesystem path. Parrot currently lets other socket types, e.g. `AF_INET`, fall through, and I'm inclined to do the same for abstract sockets. I'll verify that this approach fixes the issue, then put in a pull request

[2016-11-30 20:42] batrick commented on #1548
I would suggest opening another issue for the broken stat of `/proc/*/ns/...`. That should be fixed too.

[2016-12-01 14:58] dthain commented on #1548
Tim, if this is ready to go, please respond to Gonzalo and see if he is satisfied.

[2016-12-01 18:29] trshaffer opened #1559 "Parrot doesn't know about magic symlinks under /proc/*/ns/"
On recent kernels, the process namespaces are visible as symlinks, for example on my RHEL6 workstation

    [tshaffe1@cclws19 ~]$ ll /proc/self/ns/
    total 0
    dr-x--x--x. 2 tshaffe1 dip 0 Dec  1 13:14 .
    dr-xr-xr-x. 8 tshaffe1 dip 0 Dec  1 13:14 ..
    lrwxrwxrwx. 1 tshaffe1 dip 0 Dec  1 13:14 ipc -> ipc:[4026531839]
    lrwxrwxrwx. 1 tshaffe1 dip 0 Dec  1 13:14 mnt -> mnt:[4026531840]

[2016-12-01 18:34] dthain commented on #1559
However, note this:
[code]

[2016-12-01 20:39] trshaffer commented on #1559
I noticed that path resolution gets short-circuited if the path begins with `/proc/self/` or `/dev/fd/`, while paths beginning with `/proc/$PID/` are handled normally. This issue only occurs if `stat`ing under a PID, but not under `/proc/self/`. Also, the short-circuit allows bypassing mountlists and access restrictions using paths like `/proc/self/../../whatever`. Is this the intended behavior?

[2016-12-01 20:47] dthain commented on #1559
The idea is that parrot rewrites `/proc/self` to `/proc/PID` otherwise it would accidentally read information about itself, rather than the process currently being traced.

[2016-12-01 22:23] trshaffer commented on #1559
Should that happen **after** name resolution? At the moment chunks of Parrot's functionality get silently skipped under those directories.

[2016-12-05 19:50] btovar commented on #1553
This does not seem to be a bug with the resource monitor per se, as I found other reports that jemalloc hangs when other profile tools are used. (The hangs are on the same futex system call.)

I am investigating whether the resource_monitor can help jemalloc not to hang...

[2016-12-05 20:04] btovar commented on #1553
E.g.: https://github.com/jemalloc/jemalloc/issues/443

[2016-12-05 20:22] btovar commented on #1553
I got it to hang some syscalls further along, so I think a solution is possible.

[2016-12-06 16:19] #1550 closed

[2016-12-06 16:19] #1548 closed

[2016-12-06 18:45] dthain commented on #949
Closing b/c It seems that singularity fits the use case that we were imagining for runc.

[2016-12-06 18:45] #949 closed

[2016-12-06 18:46] dthain commented on #950
Addressed by PR #1484

[2016-12-06 18:46] #950 closed

[2016-12-06 18:47] dthain commented on #768
Addressed by PR #1133

[2016-12-06 18:47] #768 closed

[2016-12-06 21:27] dthain commented on #1415
Finished some time ago.

[2016-12-06 21:27] #1415 closed

[2016-12-06 21:33] dthain commented on #947
Fixed by PR #1013

[2016-12-06 21:33] #947 closed

[2016-12-06 21:35] dthain commented on #1439
Closing as duplicate of #254

[2016-12-06 21:35] #1439 closed

[2016-12-07 15:48] charleszheng44 opened #1563 "`docker` mode of latest version of Makeflow does not work"
After launching makeflow with `--docker` option, I got `<task cmd> did not create file` error. I will try to fix this bug after final.

[2016-12-07 16:14] #1553 closed

[2016-12-07 20:14] dthain opened #1564 "Project: Makeflow support for AWS Batch"
Create a `batch_job` driver for AWS batch, so that it is possible to run `makeflow -T awsbatch` or `work_queue_factory -T awsbatch`.

[2016-12-12 20:42] dthain opened #1568 "work_queue_status --capacity"
Please create an option `work_queue_status --capacity` that easily displays the current reported capacity in tasks, cores, memory, and disk.  Should help in initial diagnosis of scalability problems.

[2016-12-13 16:16] dthain commented on #1568
Looks good, please add to the `work_queue_status` man page, and let's call it done.

[2016-12-13 18:09] #1568 closed

[2016-12-13 19:03] dthain opened #1571 "Parrot Bind Test Failing"
It seems that the parrot bind test failed recently, though it's not immediately clear what commit caused it:
http://ccl.cse.nd.edu/software/autobuild/

The test fails on an attempt to bind a Unix domain socket.
Reproduce by logging into cclvm04.crc.nd.edu, building master and running this:
[code]
@trshaffer please take a look at this, since you most recently looked at Unix domain sockets in parrot

[2016-12-13 19:06] #1201 closed

[2016-12-13 19:15] dthain opened #1572 "Chirp Perl Test Failing"
`TR_chirp_perl.sh` is currently failing on redhat6/7 platforms.
Login to cclvm05.crc.nd.edu, build master, then:

[code]

It not clear to me if this is a version mismatch issue, configure setting up the wrong `INC` or something else.

@btovar please take a look.

[2016-12-14 19:32] btovar commented on #1572
Fixed. The wrong versions of perl were being used after the move.

[2016-12-14 19:32] #1572 closed

[2016-12-14 19:35] dthain commented on #1572
Ok, thanks.

[2016-12-14 20:15] trshaffer commented on #1571
I get this error even if I'm not running under Parrot, so it appears to be a problem with the test itself. I just put in a PR to resolve it

[2016-12-14 20:16] dthain commented on #1571
Ok, that's a relief

[2016-12-15 18:51] dthain commented on #1571
Resolved by #1574

[2016-12-15 18:51] #1571 closed

[2016-12-15 19:18] #1541 closed

[2017-01-03 16:53] nhazekam opened #1578 "Current work_queue_status crashes old PERL master"
work_queue_status from the current master branch crashes a wq master (wq_maker) that is running on version 5.4.8 when directly addressed causes core dump.

Command on local machine:
work_queue_status hostname port

Failure occurs on remote master:
*** Error in `perl': double free or corruption (fasttop): 0x0000000002925db0 ***

[2017-01-05 13:56] dthain commented on #1563
Now would be a good time to revisit this.

[2017-01-05 16:17] nhazekam commented on #1578
I checked, and this is also an issue for C and Python. Still looking into the cause.

[2017-01-05 18:00] nhazekam commented on #1578
According to valgrind the invalid(double) free happens in process_queue_status.

[2017-01-06 16:41] nhazekam commented on #1578
After looking into the current 5.4 tagged release branch we are on 5.4.21 and the reports:

notice: worker (129.74.153.146:38829) is using work queue protocol 7, but I am using protocol 6

This issues seems to have been resolved and the version just needs to be updated to fix it.

[2017-01-06 16:41] #1578 closed

[2017-01-09 10:52] hmeng-19 commented on #1171
@Baguage , #1579 should fix the problem here. Let me know if it works for you.

[2017-01-10 17:58] btovar opened #1582 "python allocation test is failing for some platforms"
E.g.,

log: http://ccl.cse.nd.edu/a/806c4512/806c4512.x86_64-debian8.log
tests: http://ccl.cse.nd.edu/a/806c4512/806c4512.x86_64-debian8.tests.log

[2017-01-12 17:45] matz-e opened #1584 "Git breaks when run with parrot"
Per discussion in the meeting earlier today. On `crcfe01`, this unexpected behavior occurs:
[code]
without parrot, git clones the repository successfully.

[2017-01-12 20:02] #1582 closed

[2017-01-13 09:39] matz-e commented on #1554
I'm seeing this too… Requires resetting the master to finish processing, as the number of cores will exceed any worker connected (ever).

[2017-01-13 12:45] btovar commented on #1554
On it.

[2017-01-13 12:49] btovar commented on #1554
Was your master running on earth?

[2017-01-13 13:06] matz-e commented on #1554
Yes…

[2017-01-13 13:42] dthain commented on #1584
Tim, please take a look at this one.

[2017-01-16 14:41] hmeng-19 commented on #1171
@Baguage , #1579 has been merged into the master. Please test the master to see whether it works for you.

[2017-01-17 18:54] trshaffer commented on #1584
Quick update on this issue

It looks like any operation that creates a new repo,  including `git clone` or `git init` is affected. Under Parrot, git is writing out a corrupted config file during repo initialization. I'm tracking down the cause now, but I suspect it's somewhere deep in Parrot's `mmap` code

[2017-01-18 12:58] jblomer opened #1591 "CernVM Parrot/Docker container doesn't start under newer versions of Docker"
Hi all,

happy new year (and apologies for starting it with an issue report)!

As you know, we have a [Docker container](https://cernvm.cern.ch/portal/docker) where parrot provides the init process and presents the OS environment from cvmfs (--> [download](https://cernvm.cern.ch/portal/downloads)).

This container works fine on older versions of docker but with newer versions (e.g. 1.12.5) parrot

[2017-01-18 15:31] trshaffer commented on #1591
Looking at that now @jblomer. I'll update this issue with progress

[2017-01-18 16:39] dthain commented on #1584
To be clear, is git attempting to write to an mmaped file?  Or just read?

[2017-01-18 17:02] batrick commented on #1591
Could be the PR_SET_DUMPABLE flag was turned off somehow by the new docker. Check `ptrace(2)` starting at "The algorithm employed for ptrace access mode checking determines..." to see the permission check process.

I don't think the patchelf change is related.

[2017-01-18 17:17] trshaffer commented on #1584
No, it reads/maps `.git/config`, writes to `.git/config.lock`, then renames to replace the config with the lock file. More careful invalidation on rename would probably fix this, but I suspect there would still be combinations of writes and mappings that are well defined but handled incorrectly.

[2017-01-18 17:21] btovar opened #1592 "dag_to_file (for makeflow_analyze --bundle) is out of date"
In particular it currently has this two bugs:

It uses variables instead of directives for categories.
All variables and exports are set from the default category.

[2017-01-18 17:28] dthain commented on #1584
Maybe a up-to-date check when performing mmap would be more robust than
invalidate-on-close?  e.g. stat the open file to make sure the size, time,
inode match?

On Wed, Jan 18, 2017 at 12:17 PM, Tim Shaffer <notifications@github.com>
wrote:

[2017-01-18 17:52] btovar opened #1593 "Take git out of configure"
Related to #1590

[2017-01-18 18:39] trshaffer commented on #1584
I just put in a small pull request to get correct handling of renames. I tested it, and git seems to work again. The clone in the original post still won't work, but that's because ssh tries to use a `setuid` helper. If I clone over HTTP, everything's fine

[2017-01-18 20:23] trshaffer commented on #1591
It looks like recent versions of Docker are restricting the `ptrace` syscall because security. `strace` won't work in a container, either. Taking advice from [here](https://github.com/docker/docker/issues/7276#issuecomment-194137403), I can use `ptrace` again by modifying Docker's command line.

    docker run -e CERNVM_DEBUG=1 -e PARROT_OPTIONS="-d all" -it --security-opt seccomp:unconfined cernv

[2017-01-18 20:28] jblomer commented on #1591
Many thanks!  That's it indeed.  Sorry for the noise.

[2017-01-18 20:42] nhazekam commented on #1591
Looks resolved.

[2017-01-18 20:45] dthain commented on #1591
Hold on -- If it is possible (or even likely) for ptrace to be disabled, can we catch this condition and give the user a little more detailed error message about the problem?

[2017-01-18 20:46] nhazekam commented on #1591
Sorry, I just jumped on that as it looked finished. Trying to pad my numbers for issues closed.

[2017-01-18 20:58] trshaffer commented on #1591
I'm not sure we can do much better. If there's `seccomp` filtering in place, our `ptrace` calls will just return `EPERM` (probably). That's what shows up in the log above. Unfortunately, this isn't the only case we could get `EPERM`, and Docker isn't the only one to use `seccomp`. We might be better off to put a note in the docs about this

[2017-01-18 21:03] trshaffer commented on #1591
Though if Parrot isn't attaching to an outside process and we still get `EPERM`, it's pretty likely there's filtering in place

[2017-01-18 21:04] batrick commented on #1591
You can detect seccomp filtering in `/proc/self/status`. (That may not mean seccomp is the cause but at least you can give the user something to check...)

[2017-01-19 13:20] #1593 closed

[2017-01-19 14:43] pivie opened #1597 "Compressed file support in Work Queue"
I would like to propose a new feature for Work Queue.

I have some large compressible datasets. I currently compress and decompress them in each task because spending an extra minute decompressing in every task is faster than spending an extra half hour transferring uncompressed with 1000 workers. It is also cumbersome to bundle compression and decompression code into the task.

For example, one o

[2017-01-19 14:50] btovar commented on #1597
Perhaps something like:

work_queue_specify_file(mytask, mybigfile, mybigfile, WORK_QUEUE_INPUT, WORK_QUEUE_CACHE | WORK_QUEUE_SEND_COMPRESSED) ?

The file would be compressed by the master, and decompressed by the worker in the cache directory. The tasks would be non-the-wiser regarding whether the file was sent using compression.

[2017-01-19 14:58] btovar commented on #1597
Also, note that the above cannot be done at the task level, as the uncompressed file would be written in the task directory, rather than the shared cache.

[2017-01-19 16:16] dthain commented on #1597
If the goal here is to minimize transfer time and not storage, I would suggest that it be compressed/decompressed on the fly in the WQ protocol via zlib.

[2017-01-19 16:20] btovar commented on #1597
One issue of doing it on the fly is the added load to the master, as the compression would be done more than once per file.

[2017-01-19 16:22] nhazekam commented on #1597
Now this is not addressed in the above discussion, aside from Peter original post, but is there any merit to allowing the specification of a different compression command? The reason I ask is that CJ Grady on the lifemapper project wrote his own compression program for his data. This is a really niche case, but I just think it may be useful.

I believe he currently just has it as part of the comma

[2017-01-19 20:21] dthain commented on #1597
So, this is where user expectations get a little tricky.  I think we need to distinguish a few separate controls:

Is the data at the master compressed or uncompressed?
Is the data in transit compressed or uncompressed?
Is the data at the worker compressed or uncompressed?

(You could use a three letter code like CCU to indicate that data at the master is compressed, in transit compressed, and unc

[2017-01-20 13:33] btovar commented on #1597
I would say:

UUU as the default.
CCU on a per file basis. This avoids work queue managing the local storage of compressed files.

To declare files:
work_queue_specify_file(mytask, "name-when-compressed", "name-when-UNcompressed", WORK_QUEUE_INPUT, WORK_QUEUE_CACHE | WORK_QUEUE_DECOMPRESS_FILE);

To expand the files:
We could add libz support to the worker.

We coult add a protocol message that te

[2017-01-20 16:15] dthain commented on #1597
UCU is also an attractive use case: that allows the user to just flip a switch enabling network compression, without changing of their own behavior.

+1 for making the libz support an integrated feature.  I suspect adding hooks for commands to execute on files will result in a great deal of confusion.

[2017-01-23 16:14] pivie commented on #1597
UCU would be convenient and at least better than UUU, however, it would be
nice to be able to control or recommend the level of compression. Depending
on the file sizes and the number of workers, xz would be well worth it
(compared to gzip) if available on the master (I believe the worker would
still just need 'tar -xf' to unzip it). This might also alleviate some of
the confusion around compresse

[2017-02-02 20:17] trshaffer opened #1601 "Link uses IPv6 by default"
The default behaviour when listening with no address specified is to use `IN6ADDR_ANY`, which accepts both IPv4 and IPv6 binds. This seems to cause problems if IPv6 is not available in the kernel. Pull request if forthcoming

[2017-02-03 17:57] dthain commented on #1584
@trshaffer close if this is solved

[2017-02-03 17:58] dthain commented on #1591
@trshaffer close if solved

[2017-02-03 18:00] dthain opened #1604 "More Flexible Factory"
Per @matz-e, please add a simple option to the factory that allows the user to specify exactly which `work_queue_worker` binary to execute, for the cases where the target environment is not the same as the factory environment.  (Easy)

Then, add another argument that allows the user to specify any arbitrary command to run, instead of a worker.  This will allow us to use the factory to run a fleet

[2017-02-03 18:02] dthain commented on #1457
I think we have fixed as much as we know how to fix on this one.

[2017-02-03 18:02] #1457 closed

[2017-02-03 18:03] dthain commented on #1073
@trshaffer What's the current status of JX expressions in Makeflow?

[2017-02-03 18:09] dthain opened #1605 "Work Queue: Fetch Large Files From Peer"
Add a new capability to WQ that allows the master to direct large files to be fetched from a peer.  Take care to account for the following:

- Transfers can potentially be blocked by firewalls or other unexpected behavior.
- Each transfer should have a rational timeout after which it fails.
- Failure to transfer must be propagated back to the master.
- The master should ensure that transfers do no

[2017-02-03 19:44] trshaffer commented on #1073
We have an experimental implementation that can do things, but I'm not really happy with the syntax. Since it's not an official feature, I guess now's the time for breaking changes. I was thinking of switching to something that looks more like a scripting language a la that OpenSCAD you mentioned, over the current Lisp-y form. Maybe we should have a meeting with @btovar, @nhazekam, etc. to discuss

[2017-02-03 19:45] trshaffer commented on #1591
I don't think I can close issues...

[2017-02-03 19:58] dthain commented on #1073
Ok, why don't you go ahead and sketch out your thougts here in the PR, and then we can discuss.

[2017-02-03 20:07] #1591 closed

[2017-02-03 20:07] #1584 closed

[2017-02-07 16:08] #1601 closed

[2017-02-07 16:09] trshaffer commented on #1559
Merged, so closing this issue

[2017-02-07 16:09] #1559 closed

[2017-02-07 18:00] dthain commented on #1601
@btovar I think we need to make a point release for this PR (and any others you think suitable.)

[2017-02-08 16:06] hmeng-19 commented on #1512
Fixed by #1513.

[2017-02-08 16:06] #1512 closed

[2017-02-13 21:07] dthain opened #1610 "Parrot /proc/self/exe"
Parrot test `TR_parrot_procexe.sh` is failing.  @trshaffer please take a look and see how this relates to the recent bug report on `/proc/self`.  Is the test itself doing something sensible?

[2017-02-15 18:55] hmeng-19 opened #1612 "Argument lists was messed up in Parrot when an symlink executable is executed"
Supposed we have two files, `source.sh` and `target.sh`.
`target.sh` is a simple shell script:
[code]
`source.sh` is a symlink pointing to `target.sh`.

When we run `parrot_run ./source.sh`, the output is `target.sh`. However, the correct
output should be `source.sh`.

[2017-02-15 18:56] hmeng-19 commented on #1612
@trshaffer , please take a look. Thanks.

[2017-02-21 17:20] PerilousApricot opened #1615 "Configure which IP is bound/advertised"
Hello!

I'm currently getting my feet wet w/cctools (and Lobster) at Vanderbilt, and I've stumbled into a difficulty in our firewalls.

Our interactive nodes are dual-homed with interfaces on `129.59.197.0/24` and `10.0.0.0/16`, and all of our worker nodes live within the private `10.0.0.0/16` range. Any host that is dual homed has its default route set to the external interface and its hostname i

[2017-02-21 17:26] btovar commented on #1615
@nhazekam, any ideas from your experience?

[2017-02-21 17:41] nhazekam commented on #1615
There are a couple of different solution that may help resolve this.

The first and easiest to try is explicitly specifying the internal IP, of the master, at the workers. i.e. You could directly connect to the without using the Notre Dame catalog.

work_queue_worker 10.0.28.238 9000

The second option would be to try the work_queue_master_preferred_connection option in WQ. You may need to add thi

[2017-02-21 17:49] annawoodard commented on #1615
If the first option works, it seems like that would be optimal. How do you tell a factory to explicitly specify the internal IP when starting workers?

[2017-02-21 17:57] PerilousApricot opened #1617 "Install Work Queue via Conda"
I discussed briefly with @btovar the possibility of getting part of cctools put into pypi, so python-based tools which build on top of it can get what they need via pip's dependency resolution mechanisms. Currently lobster's install requires manually downloading/untarring the cctools binary and then updating PATH/LD_LIBRARY_PATH.

I'd like to work on the bits to get WQ into pypi automatically, whi

[2017-02-21 17:59] PerilousApricot commented on #1615
It would depend on how you implement it. Typically a server will bind to the catchall `0.0.0.0` address. You can change it to bind to a specific IP instead. I don't know how that works with the 2nd part -- when the master updates the catalog with its own information. Since the master needs to tell the catalog where the workers can reach it anyway, it may be sufficient to continue binding to the ca

[2017-02-21 18:06] dthain commented on #1615
Here is the thing we have to be careful of.

When any process advertises itself to the catalog, the catalog fills in or overrides the IP address in that report with the observed address of the sender.  This prevents reporters from lying or spoofing about their address.

However, it breaks when we have multi homed or translated addresses.

We need to make sure that the solution does not create an o

[2017-02-21 18:15] nhazekam commented on #1615
What version of CCTools are you using?

I believe there is a patch in MASTER that added the ability of the factory to specify IP and port back into it. Instead of specifying -N master_name you can also specify hostname/IP port to the factory. If you don't know the IP prior to running you may need to use one of the other solutions, but if you find the IP and then create the factory that should work

[2017-02-21 18:35] annawoodard commented on #1615
Ah, thanks @nhazekam! Checking out the latest master and recompiling, I see it now:

[code]

[2017-02-21 18:36] nhazekam commented on #1615
Glad you were able to grab it. I believe it will also be in the next stable release, though @btovar would have to confirm that.

Nick

[2017-02-22 05:41] PerilousApricot commented on #1615
Nope, bad click.

[2017-02-22 08:35] PerilousApricot commented on #1615
This is probably my misunderstanding, but does hardcoding the master IP/port in the factory mean I'd have to start a new factory for each new master I started up, instead of just leaving a single long-running factory running somewhere?

[2017-02-22 13:13] btovar commented on #1617
There are parts of cctools used by lobster that do not relate to python at all. Is this a problem?
Moreover, I would not like to have two versions of cctools around, that is, the complete one, and a chopped one for pypi.

Could we achieve this without chopping or modifying cctools?  Say for example that the eggball never changes, and it simply contains a script that downloads the current version o

[2017-02-22 13:16] nhazekam commented on #1615
You are understanding that correctly.

Though that is a shortcoming, finding out if that works wouldn't be a
terrible idea if neither of the other solutions work as they are now.

On Feb 22, 2017 3:35 AM, "Andrew Melo" <notifications@github.com> wrote:

[2017-02-22 13:22] btovar commented on #1615
So, we need a way for the master its preferred address, and a way for the catalog to verify that. Can we do that given the setup of the firewall? This is a problem we are likely to face more often in the future.

[2017-02-22 13:27] btovar commented on #1615
Also, perhaps we can make an exception, and allow the master to indicate its preferred address if such address is private (i.e., {10,172,192.168}.*).

[2017-02-22 13:36] dthain commented on #1615
So, I think that would fix it nicely in Andrew's specific case, but may not generalize.

Let me throw out a few observations:

1 - Machines may commonly have multiple addresses, so perhaps we should publish all of them.
2 - Users may not necessarily be familiar with the hardware, and may be surprised that they are dealing with multiple network namespaces.
3 - The address that you want to connect t

[2017-02-23 19:32] #1612 closed

[2017-02-28 23:21] PerilousApricot commented on #1615
Does the password authentication solve/sidestep the problem of rogue masters/workers? People can lie about their address all they want, but w/o the password, they can't do anything, right?

[2017-02-28 23:40] PerilousApricot commented on #1617
It's not necessarily a problem, just that the python-ization (?) becomes more complicated the more that's added.

It may be possible to do with little/no modification to existing cctools code, but depending on the guts of the distutils/setuptools, there would need to be new files added to the repository to instruct python how to install it

If that were to happen, we'd want to push a new eggball f

[2017-03-01 12:52] btovar commented on #1617
CCTools is not properly linking to non-system pythons?

[2017-03-01 13:21] btovar commented on #1615
For 1) A first step would be to allow many addresses at the worker's command line. I suggest something like:
work_queue_worker x.x.x.x:pppp;y.y.y.y:qqqq

By default, the master reports only one address, as we have done so far. We would add an API call that indicates which network interfaces should be considered (e.g., work_queue_bind_to(q, "eth0:eth1")).

When the master reports multiple local add

[2017-03-01 15:47] PerilousApricot commented on #1617
Man, GH really ate the formatting on my comment....

The bindings don't link because the python ABI changes between versions. For example, Python 3 can't use Python 2 bindings, etc...

[2017-03-01 15:57] btovar commented on #1617
python 3 is a whole-nother can of worms!

We even support python3 separately (e.g., --with-python3-path). I don't think lobster works with python3, does it?

I would be more worried if the python2 bindings do not work across installations. Is that the case?

[2017-03-01 16:04] PerilousApricot commented on #1617
That's also the case. CMS ships its own Python, which also struggles to
link properly.
--
It's dark in this basement.

[2017-03-01 16:20] dthain commented on #1615
I like this approach, because it relieves any component of the necessity of choosing which address is "best".  (There is probably no universal technique for doing so.)  Just publish all the known addresses, and let the worker try them all, in some order.  It also allows the case where you have some workers on the public network, and some on the private network.

[2017-03-01 16:57] btovar commented on #1617
Which kind of errors did you get? Could you send me an example of an environment and a command line?

[2017-03-01 16:59] btovar commented on #1615
I like it. I would add the API call so that a user can select a desired interface.

[2017-03-02 14:58] annawoodard commented on #1617
I am not going to weigh in here on whether or not getting cctools into pypi is feasible, I leave that to you guys.

But in case you decide it isn't, as a consolation we can use the [scripts](http://python-packaging.readthedocs.io/en/latest/command-line-scripts.html#the-scripts-keyword-argument) keyword from `setuptools` to automate installation of the cctools tarball. It doesn't give us the advant

[2017-03-02 19:42] #1615 closed

[2017-03-06 13:40] #1554 closed

[2017-03-06 13:41] #1504 closed

[2017-03-06 13:42] btovar commented on #1242
Fixed.

[2017-03-06 13:42] #1242 closed

[2017-03-06 13:43] btovar commented on #1051
Not needed anymore.

[2017-03-06 13:43] #1051 closed

[2017-03-06 13:45] #1610 closed

[2017-03-06 18:45] charleszheng44 opened #1623 "Encounter Segment Fault when running Makeflow with Work Queue"
When I run makeflow with workqueu through catalog server, I got a segment fault​.

The problem can be reproduced by

`makeflow -T wq -N mf_wq -d all`
`work_queue_worker -M mf_wq -d all`

The GDB show that

[code]

[2017-03-06 18:47] charleszheng44 commented on #1623
More GDB message

#0  0x0000003642c80d7e in __strcpy_sse2 () from /lib64/libc.so.6
#1  0x0000003642cf8c08 in inet_ntop () from /lib64/libc.so.6
#2  0x00000000004463b3 in address_from_sockaddr (str=0xc <Address 0xc out of bounds>, saddr=0x9ca050) at address.c:91
#3  0x0000000000446724 in domain_name_lookup (name=0x6694c0 "129.74.128.106", addr=0xc <Address 0xc out of bounds>) at domain_name.c:73
#4

[2017-03-06 19:01] btovar commented on #1623
Does the current master fix it? (Head at  17d91f2634fd3b285ec6bdc96823d566f27593f4)

[2017-03-06 19:13] charleszheng44 commented on #1623
[code]

[2017-03-06 19:54] btovar commented on #1623
Charles,
Does
https://github.com/btovar/cctools/tree/fix_segfault_hostnames
work for you?

[2017-03-07 14:24] charleszheng44 commented on #1623
It does not work

following are GDB message
[code]

[2017-03-07 14:26] btovar commented on #1623
Interesting.

[2017-03-07 14:33] btovar commented on #1623
Could you send me the makeflow command line that you are using?

[2017-03-07 14:38] charleszheng44 commented on #1623
makeflow -T wq -N mf_wq -d all

work_queue_worker -N mf_wq -d all

[2017-03-07 18:32] charleszheng44 commented on #1623
#1624 fix this problem

[2017-03-07 18:32] #1623 closed

[2017-03-20 15:57] hmeng-19 opened #1629 "Running cvmfs-enabled parrot_run on a server with cvmfs mounted by FUSE"
Currently, running cvmfs-enabled parrot_run on a server (e.g., `earth.crc.nd.edu`) with cvmfs installed by FUSE does not behave elegantly.

Here is an example illustrating this problem:
[code]

There are several potential solutions to tackle this problem:
1) change the parrot_run code to detect whether /cvmfs is mounted by FUSE: if yes, parrot_run disbles its cvmfs module and use the cvmfs on the

[2017-03-20 15:58] hmeng-19 commented on #1629
@dthain , @trshaffer , @btovar , PTAL.

[2017-03-20 19:56] nhazekam opened #1631 "Work Queue Factory w/ different Catalog"
The work_queue_factory does not currently have an option to look at a different catalog. If you pass the catalog as an extra option to the worker it works, but the factory doesn't look at the different catalog. @btovar

[2017-03-23 15:23] trshaffer commented on #1629
I'd be in favor of adding an option to disable a given service, since I don't like trying to guess what the user wants to do. If there are no objections, I can put in a quick pull request on this

[2017-03-23 15:24] hmeng-19 commented on #1629
@trshaffer , adding a new option sounds good to me.
It will be great if you have time to fix this. Thanks very much.

[2017-03-24 15:13] #1629 closed

[2017-03-28 03:20] hmeng-19 opened #1634 "Using a redhat7 parrot_run to run a redhat6 sandbox fails due to dynamic linker issue"
Currently, running parrot_run on a redhat7 machine to create a redhat6 sandbox
would fail even if the `--ld-path` option is provided.  My exploration to this
problem suggests that currently the `--ld-path` option does not really take
effect, no matter where it points to.

Here is how you can reproduce the problem:
Find a redhat7 machine, for example, `daspos1.crc.nd.edu`.

[code]

Create a mountli

[2017-03-28 03:21] hmeng-19 commented on #1634
@trshaffer , @dthain , PTAL.

[2017-03-28 03:24] hmeng-19 commented on #1634
@trshaffer , let me know whether the instructions are sufficient for you to reproduce the problem.
I know we had some change to the dynamic linker part in parrot_run recently. However, you may be more aware of which PR or which commit is the one.
No intention to blame. I appreciate all the hard work you did to parrot.

[2017-03-28 16:43] trshaffer commented on #1634
No need to be so polite, it looks like #1492 broke this feature. I hadn't noticed because this functionality doesn't seem to be widely used/tested. I have a pretty good idea of what needs fixing here, so I'll put in a PR in a bit

[2017-03-31 15:26] hmeng-19 commented on #1634
@trshaffer , sounds good. Let me know when the fix is ready and I will be excited to deploy it into Umbrella.

[2017-04-05 16:22] trshaffer commented on #1634
I just put in a pull request to try, @hmeng-19. I rolled the `--ld-path` option back so it actually does something. For your use case, I don't think you should need that flag, though. I think it's a bug, but Parrot ignores mounts when looking for the interpreter if something with the same logical path exists on the host. This PR does interpreter search more carefully, so you should just need to po

[2017-04-06 15:25] hmeng-19 commented on #1634
@trshaffer , #1640 works for me.

[2017-04-19 19:56] hmeng-19 opened #1645 "allow Umbrella users to set SITECONF for cms apps"
Background:
Run cms applications using parrot in Umbrella requires a `SITECONF` directory which includes the site configuration files (https://twiki.cern.ch/twiki/bin/view/CMSPublic/SiteConfInGitlab).

Problem:
Currently, umbrella does not allow the users to specify the `SITECONF` dir, instead it utilizes a frozen copy of `SITECONF`.

Solution:
Add a new option into umbrella to allow the users to

[2017-04-19 19:57] hmeng-19 commented on #1645
@dthain , PTAL.

[2017-04-24 19:54] #1171 closed

[2017-04-24 19:55] #1035 closed

[2017-04-24 19:55] hmeng-19 commented on #1320
@pivie , I will assume this feature works for you and close this issue for now.

[2017-04-24 19:55] #1320 closed

[2017-04-27 21:48] nathanweeks opened #1647 "wq_maker: -disk and -memory options"
In cctools/apps/wq_maker/wq_maker, lines 381-387

[code]

Should that be:

[code]

[2017-04-27 21:52] nhazekam commented on #1647
Thanks for letting us know. I'm currently working on a branch and well
address this asap. I'll mention this issue with the pull request tonight.

On Apr 27, 2017 5:48 PM, "Nathan T. Weeks" <notifications@github.com> wrote:

[2017-05-05 18:57] dthain opened #1649 "getline -> fgets on OSX"
@charleszheng44 apparently getline is a GNU-specific extension, so it isn't available on the Mac.
Please adjust `batch_job_mesos.c` to use `fgets` instead of `getline`.
We didn't see this before since builds weren't getting run through the macs after the power failure.

[2017-05-08 17:02] nhazekam commented on #1647
This should have been addressed, please reopen if you have more comments.

[2017-05-08 17:02] #1647 closed

[2017-05-08 17:06] #1649 closed

[2017-05-08 17:08] nhazekam commented on #1649
Issues fixed by @charleszheng44.

[2017-05-10 15:34] dthain commented on #1563
@charleszheng44 Make this a priority to fix.

[2017-05-10 15:35] dthain commented on #1437
@trshaffer since you are already working on this.

[2017-05-15 13:26] pivie commented on #1645
This is definitely an issue. Otherwise I may need to switch to Singularity to do Monte Carlo production.

[2017-05-15 14:54] hmeng-19 commented on #1645
@pivie , #1653  should fix the issue here.

[2017-05-20 00:00] khurtado opened #1657 "seteuid not permitted when using ssh under parrot"
Hello,

I was testing an application that at some point executes some stuff on a different node via ssh (ssh <host> <command> ) and noticed this gives problems inside parrot. This is what I get using cctools 6.1.0 on RH6:

[code]

Any ideas?

[code]

[2017-05-22 12:56] dthain opened #1658 "Remove Autobuild Platforms"
@btovar please remove rhel5-x86_64 and osx-i386 from the current autobuild configuration and web page.

[2017-05-22 13:08] btovar commented on #1658
Changes were pushed to autobuild, waiting to confirm nothing is broken.

[2017-05-22 13:31] dthain commented on #1657
The short story here is that Parrot cannot support an application that tries to change its privilege level via the setuid (and related) system calls.  That's a fundamental limitation of ptrace on Linux, and we can't get around it.

Perhaps the larger question is, why is ssh trying to change its privilege level?

[2017-05-22 13:33] trshaffer commented on #1657
That is the ssh client you're using, correct? And are you running as root? Even in that case, it seems odd to try to drop privileges

I can have a look at what SSH is trying to do here

[2017-05-22 13:34] dthain commented on #1657
Thanks Tim

[2017-05-22 13:41] khurtado commented on #1657
@dthain: Good question, I'm just to print the `--help` menu in the example above :)
@trshaffer: This is running the ssh client as a user. I just reproduced this on `crcfe02.crc.nd.edu` (in case it makes things easier to debug `ssh`) with an AFS-located parrot binary:

[code]

[2017-05-22 13:42] dthain commented on #1658
Whoops, I think you took out too many.  Let's keep i686-redhat6 for now.
http://ccl.cse.nd.edu/software/autobuild/

[2017-05-22 13:46] btovar commented on #1658
done

[2017-05-22 14:00] trshaffer commented on #1657
Hmmmm, it looks like SSH explicitly sets its EUID to its RUID. I'm not certain why they would want to drop privileges here, though. I can look into automatically allowing no-op UID changes in Parrot.

In the meantime, @khurtado, try running Parrot with the `--fake-setuid` option. I think it should be enough to get things working here.

[2017-05-22 14:30] khurtado commented on #1657
@trshaffer : That did the trick, thank you!

[2017-05-22 18:06] #1645 closed

[2017-05-24 23:14] charleszheng44 opened #1661 "Variables used in loop condition not modified in loop body"
The function `text_array_save_range` in dttools/src/text_array.c has a nested for loop, and the variables 'y' and 'h' used in the first loop condition not modified in loop body `for(j = y; y < (y + h); j++) `. Is that correct?

[2017-05-25 00:57] dthain commented on #1661
Actually, I think I fixed this a few days ago on master, can you check?

[2017-05-25 05:11] charleszheng44 commented on #1661
Yes. It is fixed in the latest master

[2017-05-25 05:11] #1661 closed

[2017-05-25 15:35] #1657 closed

[2017-05-25 15:40] #1658 closed

[2017-05-25 15:41] dthain commented on #1564
@Nekel-Seyew you have this one now...

[2017-05-30 21:54] charleszheng44 opened #1664 "Taking the absolute value of unsigned type 'uint64_t'"
In `dttools/src/histogram.c` lin 95, we assign `ceil(value/h->bucket_size)` to `unit64_t b`, and in line 96, we try to get the absolute value of b by using `b = abs(b)`. When I compiling the cctools I got warning `taking the absolute value of unsigned type 'uint64_t'`. Is `b = abs(b)` redundant?

[2017-05-31 12:39] dthain commented on #1664
Sure sounds like it.  Newer compilers are able to find inconsistencies for us.

[2017-05-31 21:57] #1664 closed

[2017-06-05 16:16] nhazekam opened #1670 "Makeflow GC options"
Makeflow still has the functionality to utilize garbage collection, but the options are not in the help message or manpage.  We reference them in the User Guide, so there is some level of information.

[2017-06-07 18:26] Nekel-Seyew opened #1671 "debug-rotate-max set default to 0"
This should be set to 0 by default, because most runs will generate more than 1MB of data, and we should be capturing all of it.

[2017-06-08 19:21] cguccione1 opened #1674 "work queue graph log doesn't work"
work_queue_graph_log (filename).mf.wqlog created this line:
gnuplot> 1271.143505 6.528339
         ^
         line 0: invalid command

gnuplot> EOF
         ^
         line 0: invalid command
and no graph was produced.

[2017-06-08 20:57] btovar commented on #1674
could you send me your log? (at btovar at nd.edu)
also, could you send me the output of gnuplot --version  ?

[2017-06-09 14:17] dthain opened #1675 "Work Queue Factory Should Report to Catalog"
Currently, the factory reads periodically from the catalog to get its configuration and compute the number of workers.

It should also *report* to the catalog periodically `(type=="wq_factory")` so we can keep track of what it's doing.  Simplest thing would be to do it right after the call to `print_stats` and report the same information.

[2017-06-09 14:22] btovar commented on #1674
Your log seems ok, as it worked for me.  How are you calling the script?

[2017-06-09 14:28] nhazekam commented on #1674
@btovar I think you are correct about the gnuplot version, as the installed gnuplot is version 4.2 and I think this relies on version 5. @cguccione1 You may want to touch base with some one in the office about using cclimport, as that is the quickest way to get the correct version.

[2017-06-09 14:32] btovar commented on #1674
I know version gnuplot 4.6 patchlevel 1 works.

Indeed, I just tried with a 4.2, and it failed. I'll add a check for that.

[2017-06-09 14:48] btovar commented on #1674
Could anybody tell Caitlin how to set the correct gnuplot path?

[2017-06-09 14:56] dthain commented on #1674
@cguccione1 see the software instructions here:
http://ccl.cse.nd.edu/internal/storage.php

[2017-06-09 15:56] btovar commented on #1674
@cguccione1, thanks for the report!

[2017-06-09 15:56] #1674 closed

[2017-06-12 16:10] btovar opened #1677 "API call from work queue to add custom fields to the resource monitor summary"
Use case:  Label resource summaries with the work units of a lobster task.

As requested by @klannon, @t172

[2017-06-12 16:12] btovar opened #1678 "Add machine load information to resource monitor summary"
Use case:  help diagnose if a task is an outlier by itself, or because the host on which it was running was under heavy load.

As requested by @klannon, @t172

[2017-06-13 17:18] btovar opened #1679 "cctools fails to compile at NERSC cori cluster (SuSE Linux Enterprise Server)"
In particular, one of our users needs parrot + cvmfs. It build be nice if we can provide a binary too.

[2017-06-15 03:19] annawoodard opened #1680 "shared-fs + remote file renaming fails"
Hi experts! Sorry if I'm missing something obvious here, but is it possible to mix remote file renaming and the (extremely useful!) `--shared-fs` option?  I'd like to be able to use renaming and avoid having to copy files around when I can. Of course I could add a clause to the command, but I'd prefer to have Makeflow handle it if possible. You can find a minimal example in case it's helpful at `/

[2017-06-15 13:17] dthain commented on #1680
@trshaffer Could you please take a look at how these two features interact with each other?

[2017-06-15 15:14] trshaffer commented on #1680
This might be possible. Unfortunately, it's incompatible with our current implementation. I think Makeflow should just error out on trying to use remote renaming on a shared fs.

The `--shared-fs` option only exists within Makeflow; it prevents Makeflow from passing files down to the batch system. The `batch_job` interface between Makeflow and Work Queue doesn't have any way to specify options on

[2017-06-15 15:17] dthain commented on #1680
I think it comes down to a question of where the renaming is applied.

I was under the assumption (perhaps incorrect) that the mountlist feature was applied at the whole-dag level before execution began.  And that was different from the per-file renaming feature applied at the level of a single rule by sending the remapping down to the batch system.  Am I misunderstanding something?

[2017-06-15 15:45] dthain commented on #1680
Oh, sorry, I didn't read the example carefully enough.  I got stuck on the mountlist feature and didn't see that remote renaming was in effect.

It seems to me that a request for remote renaming indicates that the user *does* want the file transferred, right?  Is the shared-fs decision done at a point where we can simply special-case "but not if the file must be renamed?"

[2017-06-15 15:48] btovar commented on #1680
You are correct, but the request for '--shared-fs'  explicitly required to bypass of all of the makeflow checkings, even the mountlist (no need to mount, as the absolute path is the target path anyway).

[2017-06-15 15:53] btovar commented on #1680
I think we have to be careful here.  Remote renaming and absolute paths seem incompatible with each other. Makeflow would not be able to guarantee that two tasks will be writing to the same file at the same time (before the renaming back). As it is right now, makeflow can detect when two absolute paths are the same.

We could make it work by imposing a sequential order on nodes that share a remote

[2017-06-15 16:00] dthain commented on #1680
You are quite right about writing shared output files.  But we never supported that anyway.

What about reading shared input files?

[2017-06-15 16:02] btovar commented on #1680
If I remember correctly, writing to shared output files is used in the vectorbase makeflows.

[2017-06-15 16:03] dthain commented on #1680
Yikes!

[2017-06-15 16:08] btovar commented on #1680
Also, note that Anna's example, unless I misunderstand, is asking for renames in the output files.

[2017-06-15 16:13] dthain commented on #1680
I think we are over-thinking this.

@trshaffer is there any reason we can't just adjust this function to check for "if on a shared filesystem and not renamed" ...
https://github.com/cooperative-computing-lab/cctools/blob/master/makeflow/src/makeflow.c#L446

Am I missing something?

[2017-06-15 16:40] trshaffer commented on #1680
That's an easy fix. I'm inclined to error out to avoid unexpected performance changes, though. I can put in a PR for this

[2017-06-15 18:04] trshaffer commented on #1680
@annawoodard this PR ought to work for your use case above. Let me know!

[2017-06-15 19:39] annawoodard commented on #1680
Thanks for the help, everyone, and the quick fix, @trshaffer! I have tested and can confirm that the use case above is working.

After reading the discussion, I understand now that my question was misguided: I was not considering the 'remote' part of 'remote file renaming' (that it is something that really only applies to makeflow-transferred files) and instead thinking of it as a general feature

[2017-06-15 19:51] annawoodard commented on #1680
Although note that now that I understand that file renaming is meant just for makeflow-transferred files, I think it would be just as reasonable to error out if the user tries to mix renaming and `shared-fs`.

[2017-06-16 14:34] trshaffer commented on #1680
After the discussion and @annawoodard's comments, I've **disallowed** this in my PR. We could look at introducing more general renaming features down the road, but for the moment @nhazekam and I would prefer to be conservative with this and error out rather than introduce performance surprises

[2017-06-16 14:40] #1680 closed

[2017-06-19 18:45] Crysenia opened #1682 "New User TestBug"
This is not a real bug and will be resolved momentarily.

[2017-06-19 18:48] #1682 closed

[2017-06-22 14:48] floreal797 commented on #1451
This is a big problem for me. As said before, it's impossible to debug without output. I see it was deleted from milestone 6.1... this problem will be solved? In near future?

[2017-06-22 15:02] dthain commented on #1451
@floreal797 Sorry, I think we overlooked the importance of this since the github issue didn't reflect that you were waiting on it.

@trshaffer Please fix this one ASAP.  Let's have makeflow tell the user that job X failed and its outputs can be found in directory `makeflow.failed.XXXXX`

[2017-06-23 13:00] dthain commented on #1679
@btovar Please update if this is working now

[2017-06-23 13:18] btovar commented on #1679
It works now. It seems that some environment variables were affecting the configure script. Using the vc3-builder (wget  https://github.com/vc3-project/vc3-builder/blob/master/vc3-builder) I was able to compile it, and generate a binary as:

./vc3-builder  --require cctools
name=cctools-nersc-${VC3_MACHINE_ARCH}
tar --xform="s:${VC3_ROOT_CCTOOLS}:${name}:" -zPcf ${name}.tar.gz ${VC3_ROOT_CCTOOLS}

[2017-06-23 13:18] #1679 closed

[2017-06-26 12:10] btovar commented on #1679
Actual recipe used at nersc. All the --sys and cmake load are there to save time, as the builder could compile that too.

module swap PrgEnv-intel PrgEnv-gnu
module load cmake

./vc3-builder --require cctools --revar '.*' --sys perl:5.18=/usr --sys python:2.7.9=/usr --sys cmake:3.3.2=/usr/common/software/cmake/3.3.2 --install clean --sys patch:2.7.5=/usr --sys openssl:1.1.0=/usr  --var TERM=xterm

[2017-06-28 18:01] klannon opened #1685 "Resource Monitor Rounds Up Aggressively on Cores"
You can consider this either a bug report of a feature request.

Based on my observations, it seems that the resource monitor rounds pretty aggressively when calculating the number of cores used.  The end result is that if I submit a N-core application, it usually gets measured as using N+1 cores.  I haven't checked exhaustively, but it seems like applications that use 400.3% CPU (according to top

[2017-06-28 18:43] nhazekam opened #1686 "Work Queue sending large file first"
As reported to me via @Conman66, Work Queue was having trouble sending a large file as the initial file from Makeflow.

Work Queue would report that the average transfer speed was 0.00 Mb/s and give 10 seconds to send the first file. The first file was >4GB and failed to send within the 10 sec limit and fail repeatedly.

This was resolved in the Makeflow by creating/sending a small file initially,

[2017-06-28 22:51] btovar commented on #1686
Given the wq defaults, those 10 seconds should be instead close to 1h. Checking what's broken...

[2017-06-28 23:44] btovar commented on #1686
Something else is going on.  In a small test, sending just a single 4GB file, I get: 38146s to wait, which roughly corresponds to 3600 seconds  * acceptable factor of 10, with the conservative default.

@Conman66, please try running your makeflow master in another machine. @nkremerh, please help him do that tomorrow.

[2017-06-28 23:53] btovar commented on #1686
@Conman66, you can also run the following example:

On helix, create the following file small.py:

[code]
create the inpufile:
dd  bs=1GB count=4 if=/dev/zero of=inputfile

run the master:
python small.py

On a disc machine:
work_queue_worker -dall -M small_example

If that works, then the problem is with how the workflow is setup. If it does not, then the problem may be with helix.

@nkremerh, pl

[2017-06-29 06:55] zyli5313 opened #1687 "How to have a hierarchical(embeded) makeflow pipeline?"
Hi,

Just wondering how to have a hierarchical(embeded) makeflow script? Say for example, I have a fileA.mf file that has
"targetA: dependesB
python foo.py"

And in foo.py I want to also have a sub pinpline that is not in fileA.mf. i.e. I want to embed a another makeflow pipeline in foo.py and do a blocking run after I have finished running foo.py. Is there way to do it?

I have tried to put every

[2017-06-29 11:10] btovar commented on #1685
Yes, let's think about something more sensible.

[2017-06-29 11:25] btovar commented on #1687
Jake,

There is experimental code, where you can specify recursive calls as follows:

targetA: dependsB
         MAKEFLOW  myothermakeflow

You would have to decompose foo.py, so that the makeflow needed is myothermakeflow, and call the rest of foo.py in a rule as needed.

Let me know if that works for you. As I said, it is a little experimental, so there might be issues we are not aware of.

Ben

[2017-06-29 13:42] floreal797 commented on #1451
I try with the master branch, as a solution was committed. The makeflow.failed.0 is created but is empty. But there were some outputs created (declared in the Makeflow file). They are still lost.

This is my Makeflow file:
/home/fcabanettes/jflow-work/work/cnvsimpop/wf000074/BuildPop_default/logs.stdout /home/fcabanettes/jflow-work/work/cnvsimpop/wf000074/BuildPop_default/logs.stderr /home/fcabane

[2017-06-29 13:44] dthain commented on #1451
@trshaffer please work with @floreal797 on this.

[2017-06-29 14:01] trshaffer commented on #1451
@floreal797 could you send me your Makeflow file via email (tshaffe1@nd.edu)? Github's comment box isn't rendering it well. Also, are you using a batch system like Condor, or Work Queue?

[2017-06-29 14:34] floreal797 commented on #1451
I send you a mail just now. In my test I don't use any batch system (makeflow -T local). I will also use it with SGE batch system in the future, but I don't have tested it yet.

[2017-06-29 15:20] zyli5313 commented on #1687
Hi Ben,

Understood. I tested it and it worked for me with very simple examples. Will let you know if I have find some issues.

Thanks,
Jake

[2017-06-29 15:20] #1687 closed

[2017-06-29 15:42] btovar commented on #1687
Excellent, thanks for letting us know.

[2017-06-29 18:00] nhazekam commented on #1451
I am reopening, auto closed with the merging of the last branch. Let us know if this resolves the issue.

[2017-06-30 08:34] floreal797 commented on #1451
Yeah, it solved the problem, now I have the outputs in the directory! Thank you so much for the fix!

[2017-06-30 10:13] nhazekam commented on #1451
Glad to hear! Thanks @trshaffer.

[2017-06-30 10:13] #1451 closed

[2017-06-30 11:08] btovar commented on #1686
@nkremerh Any updates?

[2017-06-30 19:39] cguccione opened #1691 "Makeflow Monitor"
I aborted my makeflow and then restarted it. When I tired to use the makeflow monitor it claimed:  Status : finished: ABORTED even though the makeflow is still running.

[2017-06-30 20:50] cguccione opened #1692 "Update Manuals"
http://ccl.cse.nd.edu/software/manuals/man/makeflow.html
The Amazon section in the manual above does not specify that -T amazon should be used as well.

http://ccl.cse.nd.edu/software/manuals/makeflow.html#ec2
In the manual in the link above it says -ec2 should be used to call Amazon when really -amazon works.

[2017-07-05 17:56] klannon opened #1693 "Explicit Message When Worker Idles Out?"
This is a feature request (assuming the feature doesn't already exist! :smile: ) based on discussions between myself and Bryan Harris (@t172).

When a worker decides to shut down for any reason (presumably mostly because it has idled out, but maybe there are other reasons), it would be good if it sent a final "goodbye" message to the master which would get logged in the appropriate log (transactio

[2017-07-05 18:13] btovar commented on #1693
The goodbye message is already sent, and printed to the debug log. In the case of @t172, we just need to write that message as a transaction in transactions.log, or something like that.

[2017-07-10 15:50] zyli5313 opened #1695 "Makeflow Should Perform Local Resource Management"
Hi ,

I have a makeflow pipeline and in the middle of a pipeline I have, for example, p1 and p2 running in parallel. However, p1 and p2 both use large memory that are too big to fit the in memory if they run in parallel. But it's ok I run them one by one.

I specified MEMORY=7168 at the start of the makeflow script. But it seems this only means makeflow will allocate 7.1Gb but it doesn't say to st

[2017-07-10 15:57] btovar commented on #1695
Which batch system are you using?

[2017-07-11 00:44] zyli5313 commented on #1695
I was using local machine. No batch system.

[2017-07-12 01:18] zyli5313 commented on #1695
I tried to add MEMORY=6000 each for two parallel jobs on a 8GB server. It still failed with memory error.

Is there a way to solve this? I can setup torque or slurm if that support this function.

[2017-07-12 11:32] btovar commented on #1695
Yes, it seems that makeflow leaves the resource control to the batch systems, and we have not extended such control to local execution. There is a way in which you can still run locally, using work queue as a batch system:

makeflow -Twq -p YYYY yourmakeflowfile

where YYYY is some free port that the machine has. A common default for work queue is 9123.

In another terminal, on the same machine, t

[2017-07-12 13:39] dthain commented on #1695
That's a good workaround, but we should really have Makeflow do some resource management when running locally.  Jake won't be the only person to run into this problem..

[2017-07-13 13:36] dthain commented on #1695
Duplicate of issue #254

[2017-07-13 16:46] dthain commented on #1695
Working on this in PR #1697

[2017-07-13 16:47] dthain commented on #254
Closing duplicate.

[2017-07-13 16:47] #254 closed

[2017-07-14 04:49] zyli5313 commented on #1695
Thanks for the quick response. I tried "makeflow -Twq -p 9123 example.mf" but my .mf script contains absolute path which is not supported by work queue. I will try installing slurm. Thanks!

[2017-07-14 11:59] btovar commented on #1695
Alternatively, if you don't mind testing our new additions in:

https://github.com/cooperative-computing-lab/cctools/pull/1698 a try.

You can specify  makeflow --local-memory 7000 yourmakeflow

[2017-07-14 14:05] dthain commented on #1695
It's not quite merged yet, I'll let you know when it's ready to try...

[2017-07-14 17:32] dthain commented on #1695
@zyli5313 please check out the latest makeflow source from github, and try your original example again, using local execution.  Let us know if that fixes your problem.

[2017-07-15 02:57] zyli5313 commented on #1695
Thanks! Fast turnaround! @btovar @dthain .

One more things to clear. If I specify .mf files like this

ORES=4
MEMORY=7168
DISK=8192
outA: inA
python taskA.py

outB: inB
python taskB.py

Is only taskA got limited by 4 cores, 7g memory and at the same time taskB is free of this constraint? Or both tasks are governed by 4 cores, 7g memory limit?

[2017-07-15 03:00] zyli5313 commented on #1695
I tried just now (You can specify makeflow --local-memory 7000 yourmakeflow). And I specified
CORES=4
MEMORY=7168
DISK=8192
at the front of the example.mf file. All my tasks seems to run one by one, which is in contrast with that before. It used to run parallel. I was aiming to run everything in parallel except to run those small number of memory constraint task one by one. Did I miss anything? Th

[2017-07-15 11:41] btovar commented on #1695
Without anything else, the resources are applied to all the task. I think you want something like this:

.MAKEFLOW CATEGORY small-tasks
.MAKEFLOW CORES 1
a: b
      somecmd

...(some other small tasks.)...

.MAKEFLOW CATEGORY big-tasks
.MAKEFLOW CORES 4
.MAKEFLOW MEMORY 7168
.MAKEFLOW DISK 8192
c: d
    someothercmd

...(some other big tasks)...

.MAKEFLOW CORES X  is the same as CORES=X, but we l

[2017-07-21 05:51] zeronot commented on #1695
@zyli5313  how do you know the resource leads to the  memory errors ? it seems that makeflwo do not provide any errors information.

[2017-07-24 02:47] WinterLi1993 opened #1700 "makeflow can not use '&&' for a shell command ?"
HI,
    when I use '&&" and '>' as the part of cmd , makeflow told me the next errors ；
 "&& does not exist, and is not created by any rule“ ，
”> does not exist, and is not created by any rule“ ，
 so what happened ?

[2017-07-24 03:46] WinterLi1993 commented on #1700
have solved.

[2017-07-24 03:46] #1700 closed

[2017-07-25 08:51] WinterLi1993 opened #1702 "why it just show "parsing a.mf" when I execute the software makeflow ?"
HI,
   when run makeflow ,I met a problem ,as the following link :
   [ThisShow](http://chuantu.biz/t5/149/1500972393x3027098406.png)
  the terminal always show 'parsing a.mf'
  $ makeflow a.mf
   parsing a.mf...

 what happened ?

[2017-07-25 10:24] WinterLi1993 commented on #1702
HI,is any method to check makeflow file grammar ?

[2017-07-25 11:13] WinterLi1993 commented on #1702
my command as the below :
out :  input
      perl  fpfilter.pl --min-var-freq 0.01 --vcf-file a.vcf --bam-file b.am --sample tumor  -r ref.fa -o a.filter.vcf && grep -e "#"  -e PASS > tmp.vcf && echo 'done' > done.log

I doublt that maybe that's the problem of '--min-var-freq' .

[2017-07-25 11:35] btovar commented on #1702
How big is your makeflow file? How many rules?

You can try:  makeflow_analyze --syntax-check  a.mf

[2017-07-25 11:46] btovar commented on #1702
I can reproduce the hang, let me see what's going on.

[2017-07-25 12:03] btovar commented on #1702
Note that:
grep -e "#" -e PASS > tmp.vcf     does not have an input file.  Are the first && supposed to be ||?

Also -e "#" -e PASS means lines that both contain # and PASS. Is that what you mean?

Lines such as 'echo done > done.log' usually don't work very well. The problem is that each rule overwrites the done.log file. This is true even if you use '>>', as rules may execute in parallel. Thus,

[2017-07-26 02:24] zeronot commented on #1702
@btovar ,
         the cmd "perl fpfilter.pl --min-var-freq 0.01 --vcf-file a.vcf --bam-file b.am --sample tumor -r ref.fa -o a.filter.vcf &&  grep -e "\#" -e PASS a.filter.vcf  > tmp.vcf  &&  echo done > done.log " is work.
       "Lines such as 'echo done > done.log' usually don't work very well. The problem is that each rule overwrites the done.log file."  ，different rule will genereate differe

[2017-07-26 11:26] btovar commented on #1702
Indeed, if every output file has a different name, then it should be ok.

[2017-07-26 16:34] dthain commented on #1695
Closing this issue b/c the feature is now implemented and I believe the problem is fixed.  But let us know if you have any trouble.

[2017-07-26 16:34] #1695 closed

[2017-07-26 16:36] dthain commented on #1073
Implemented in PR #1683

[2017-07-26 16:36] #1073 closed

[2017-07-26 16:36] dthain commented on #1178
Implemented in PR #1683

[2017-07-26 16:36] #1178 closed

[2017-07-26 16:38] dthain commented on #1604
Implemented.

[2017-07-26 16:38] #1604 closed

[2017-07-26 16:41] dthain commented on #1149
After playing around with this, I have come to the conclusion that `convert` is not a great tool to use in our default example workflow.  It has many sub-components installed all over the filesystem and so cannot be easily deployed to remote machines.

A really good example would use `starch` to create a portable executable and then send it along.

[2017-07-27 02:42] zeronot opened #1704 "what's the default value for cores ?"
Hi,
     the default cores number is 1 ????
     my local machine has such the following recource information :
CPU(s):                28
On-line CPU(s) list:   0-27
Thread(s) per core:    2
Core(s) per socket:    14
socket : 1

if I set CORES=20 , it is bigger than this machine maxium value .so It's ok for makeflow ?

[2017-07-27 11:43] btovar commented on #1704
It depends on which version you are using, and which batch system you are using.

In the currently released version (6.1.1), and executing jobs locally (no -T command line argument, or -Tlocal), the CORES value is ignored.  If -Tcondr, -Tsge, -Twq, etc.,  CORES is used to make sure the task fits in a given executing node. If one of CORES, MEMORY, or DISK is not specified, the task takes the whole

[2017-07-27 17:30] btovar commented on #1704
The new released version 6.1.3  follows the behavior of 'current development snapshot' described above.

[2017-07-30 03:22] zeronot commented on #1704
@btovar
I use makeflow version 7.0.0  .
in the front of mf file , I  set :
.MAKEFLOW CATEGORY Mutect2
.MAKEFLOW CORES 10
.MAKEFLOW CATEGORY Mutect2
out : input
       java -jar   GATK.jar -T Mutect2  -nct 20 .....

I assigned 10 cores by Makeflow (-Tlocal）,every core have two CPU threads in my local machine.
but I  checked my load average value（htop)  is just  3-4. So I guess  the cmd can not use

[2017-07-30 03:22] zeronot commented on #1704
makeflow version 7.0.0  (released 2017-07-18 10:11:41 +0000)

[2017-07-30 16:58] btovar commented on #1704
I am not sure what is your expectation... Makeflow simply is doing resource management by not simultaneously running tasks whose declared resources would add to more than the available resources. It does not do anything with your threads or processes in a task. In particular, it is your job to set -nt and -nct accordingly.

If a task does not effectively use the 10 cores, makeflow cannot do anythi

[2017-07-31 01:36] zeronot commented on #1704
Hello,I just wanna konw whether Makeflow rescource management will limit  the use of "-nct 20"  resource setting from cmd ?  and in other words any effects to the resource setting of cmd ?

[2017-07-31 11:49] btovar commented on #1704
In general, it can't by itself.  Each application has its own mechanisms by which it limits or throttles resources. If you want to match the cores hint given to makeflow and that of your application, you can use shell syntax, as:

java -jar GATK.jar -T Mutect2 -nct '$((CORES*2))'  .....

Assuming you want '20' when cores is '10'.

To help you better, could you describe in general terms what are yo

[2017-07-31 12:12] WinterLi1993 commented on #1704
I just wanna improve GATK speed by -nct 20 , but I found  there is no effects via the makeflow （CORES 10).
So  I asked the question about resource limits.  maybe the problem is GATK-Mutect2 ? not makeflow ..

[2017-07-31 12:27] btovar commented on #1704
Correct. At most makeflow can _*limit*_, but not improve execution speeds of a single task.

[2017-07-31 12:29] WinterLi1993 commented on #1704
because of makeflow limit ,so -nct 20 is useless for GATK-Mutect2 ?

[2017-07-31 12:38] btovar commented on #1704
If -nct 20 does not have the effect you want _*outside*_ makeflow (e.g., if you directly type the GATK task at the command line), then that would not change _*inside*_ makeflow.

[2017-07-31 13:05] #1702 closed

[2017-07-31 16:52] btovar commented on #1686
Closing as we cannot reproduce it.

[2017-07-31 16:52] #1686 closed

[2017-07-31 17:46] #1693 closed

[2017-07-31 20:06] dthain commented on #1692
Fixed by PR #1701

[2017-07-31 20:07] #1692 closed

[2017-08-01 15:08] dthain opened #1708 "Add Resources to Examples"
The makeflow example generator scripts should be labelled with the CORES, MEMORY, and DISK needed by each task, so as to facilitate better resource management.

[2017-08-01 15:08] dthain opened #1709 "Add JSON/JX to Examples"
The makeflow examples should be augmented with equivalent `.json` and `.jx` files alongside the `.mf` files, so we can start to show people how to use these formats.

[2017-08-02 17:34] nkremerh opened #1712 "Update inline JX Expressions"
The JX expression on line 278 of Work Queue Status is out of date since the syntax has changed.

[2017-08-02 17:36] dthain commented on #1712
Ah, I didn't realize the recent JX changes deprecated `&&` in favor or `and`.
Could this break anything else?

[2017-08-02 17:52] trshaffer commented on #1712
Since JX is a Python subset now, it uses `and` and `not` and such. I didn't realize there are snippets of JX hard-coded places. I can search around the codebase and see if anything else is out of date

[2017-08-02 19:11] klannon opened #1714 "Resource Monitor Snapshots"
It would be very helpful if the resource monitor could take snapshots whenever either (a) a particular file appeared or (b) a line matching some kind of regexp appeared in a given file.  The basic idea is that if you could do that, then the resource monitor could watch your output directories and use the log files to decide when to take snapshots.  That way, you could not only detect when programs

[2017-08-03 16:39] dthain commented on #1563
As far as I can tell, the Docker mode works fine, as long as your working directory isn't in AFS:
[code]

I'll add a check for AFS working directory, similar to that of Condor.

[2017-08-03 16:49] dthain commented on #1563
PR #1717

[2017-08-03 16:52] charleszheng44 commented on #1563
I see. I must forgot the docker cannot work on the AUFS

[2017-08-03 16:52] #1563 closed

[2017-08-07 18:51] khurtado opened #1718 "WQ factory condor Disk requirement issue"
Hello,

When using condor_submit_workers or work_queue_factory with condor, the condor Arguments set by these look like:

Arguments = "./work_queue_worker -M lobster_khurtado_mc_v1 -t 300 -C ''''catalog.cse.nd.edu,backup-catalog.cse.nd.edu:9097'''' --cores=$$([TARGET.Cpus]) --memory=$$([TARGET.Memory]) --disk=$$([TARGET.Disk/1024])"

So, the disk is set to the maximum disk advertised in the target

[2017-08-07 19:38] btovar commented on #1718
Why aren't your workers running on the shared filesystem? They should only use /tmp if none of _CONDOR_SCRATCH_DIR, or TMPDIR are set.

(If this is vc3, are you using the vc3-builder? If so, try adding to the builder command line --revar _CONDOR_SCRATCH_DIR, to preserve its value inside the builder).

If for some reason the worker cannot run in the scratch dir condor created for the job, then prob

[2017-08-07 20:30] khurtado commented on #1718
Yep, it's running through the builder. Adding `--revar TMPDIR ` works, I can now get rid of `--extra-options="--workdir=./`, thanks!

I still have the second issue though (workers running but finding out current free space in the FS scratch dir is now  some MBs smaller than what Target.Disk advertised to begin with). In case of the  WQ factory, more workers are simply submitted until they eventual

[2017-08-08 12:27] btovar commented on #1718
Is TARGET.Disk advertising the whole shared filesystem? If so, that seems to quickly lead to trouble, as disk space will be over-committed.  You would have to specify --disk=X where X is some absolute value (that is, not a fraction of TARGET.Disk).

[2017-08-08 14:21] khurtado commented on #1718
I think condor basically advertises what `df -kP /path` does, so yes.

Yeah, at first, I just used `--disk=MY.RequestDisk/1024`. My point is, whatever value I choose (absolute or some fraction of TARGET.Disk), I can only do it by creating my own condor submit files, not directly with condor_submit_workers or the WQ factory, as these two always use `--disk = TARGET.Disk/1024`, which is inconvenient

[2017-08-08 14:39] btovar commented on #1718
Why do you need to create your own submit files? Can't you use the --disk option for the factory and condor_submit_files?

[2017-08-08 14:42] #1704 closed

[2017-08-08 14:50] khurtado commented on #1718
Not really, `--disk` sets `request_disk` in the condor submit file to the right value, but the argument for the work_queue_worker is always `--disk=$$([TARGET.Disk/1024])"`, no matter what I put on the work_que_factory`--disk` option.

[2017-08-08 14:53] btovar commented on #1718
Ah, got it.

In the meantime, I would suggest copying condor_submit_workers to condor_submit_workers_vc3 where you can set --disk=all

[2017-08-08 15:02] khurtado commented on #1718
Good idea! Will do that.

[2017-08-08 15:05] btovar commented on #1718
This issue you brought up really breaks some of the assumptions we have been making with regards to TARGET.disk. I wonder how sites deal with the over-commitment of disk...

[2017-08-09 15:56] btovar opened #1719 "work_queue_status get_masters function is broken"
The following bit of code fails with:
[code]

[code]

[2017-08-11 02:42] trshaffer commented on #1719
@nkremerh noticed this a bit ago in #1712. He put in a quick fix in #1713, and I just did a more thorough PR #1720. My PR also fixes the other `_status` programs. Sorry, I didn't notice there was a point release that included the bug

[2017-08-14 18:52] dthain commented on #1718
The fundamental problem here is that our underlying systems don't support the notion of "allocation".  As a result, the reported "available" space is meaningless, because you can't differentiate between space that is "claimed but unused" and space that is "unallocated for any purpose".    As a result, *no* site deals with this in any satisfactory way...

[2017-08-15 14:57] nhazekam opened #1721 "Include C-style logical operators"
As mentioned in #1720, add c-style logical operators to jx_parse_string.

Currently valid are the python: `and or not`

Proposed addition would be: `! || &&`

[2017-08-21 16:33] #1719 closed

[2017-08-24 16:32] WinterLi1993 opened #1725 "any method can hide the source code when using MakeFlow ?"
HI,
  I am using makeflow to run my pipeline .but I found  it must generate a makeflow file  so that it show the source code of pipeline . So  I wanna know which method can hide the pipeline souce code .

Best

[2017-08-24 16:35] btovar commented on #1725
Sorry, I don't understand the question. Could you post an example of what you get today, and what you want instead?

[2017-08-25 18:45] nhazekam opened #1726 "Work Queue Worker Resource usage"
Currently, a Worker will only use a 1 core by default. As this is a consistent point of confusion with the user, the default behavior should be to use all of the available resources unless specified differently.

[2017-08-25 18:55] btovar commented on #1726
You mean the work_queue_worker executable?

[2017-08-25 18:55] nhazekam commented on #1726
Yes.

[2017-08-25 18:57] nhazekam commented on #1726
Am I under the wrong assumption of not labeling the worker?

[2017-08-28 07:44] WinterLi1993 commented on #1725
HI,
  when we use makeflow , we must create a mf file including our pipeline workflow code. So hope MakeFlow can support to run the makeflow  without generating mf file .

[2017-08-28 14:42] trshaffer commented on #1725
Are you trying to avoid using disk, or is this a privacy issue, or something else? Makeflow needs to get its input from *somewhere*. You could use something like a named pipe (see `man mkfifo`) to stream input from a script and avoid disk writes, but that doesn't address privacy concerns.

[2017-08-28 15:22] btovar opened #1727 "parrot does not compile on stampede 2"

[2017-08-28 16:34] #1712 closed

[2017-08-28 18:37] nhazekam commented on #1727
The first issue that we run into on Stampede2 is:

`COMPILE chirp_wrap.o`
`gcc: error: strict: No such file or directory`
`gcc: error: unrecognized command line option ‘-fp-model’`

This reproduces the error originally from CJ.

The option `-fp-model` is pulled from the installed python's `sysconfig.get_config_var('CFLAGS')` in our configure script.
This is an icc option not recognized in gcc. If

[2017-08-28 18:43] nhazekam commented on #1727
The second issue that we run into is broken `parrot_run` build:

`COMPILE parrot_run`
`/opt/apps/gcc/5.4.0/bin/ld: /opt/apps/gcc/5.4.0/lib/gcc/x86_64-unknown-linux-gnu/5.4.0/libgcc_eh.a(unwind-dw2-fde-dip.o)(.text+0x184a): unresolvable R_X86_64_NONE relocation against symbol '__pthread_key_create@@GLIBC_2.2.5'`
`/opt/apps/gcc/5.4.0/bin/ld: final link failed: Nonrepresentable section on output`
`co

[2017-08-31 16:28] klannon opened #1729 "Add Ability to Pass Environmental Variables Into the Worker From the Factory"
See https://github.com/matz-e/lobster/issues/600, in particular @matz-e's last comment.

It would be nice to have some way to pass a list of environmental variables into the worker environment from the factory.  Here is one example use case:  Suppose the task uses an environmental variable to determine the squid proxy location.  If you could tell each factory to set the environmental variable to t

[2017-08-31 16:35] dthain commented on #1729
Should be pretty straightfoward, since the batch job interface has an explicit place to pass environment variables along to the underlying job.

[2017-09-13 17:41] btovar opened #1732 "Large UDP Updates Sometimes Lost"

[2017-09-13 17:46] dthain commented on #1732
It's not yet clear from observations whether makeflow is *sending* port zero or something is lost in transmission and the catalog *receives* port zero.  (Does port zero even have a useful meaning?)

[2017-09-13 17:55] btovar commented on #1732
I think it is a red-herring.

Specifying  a project name with -M, but not using -Twq, causes makeflow to report to the catalog using port 0.

During virtualclusters testing, I indeed forgot -Twq more than twice.

[2017-09-13 17:58] btovar commented on #1732
Nevermind. port 0 also appears with -Twq.

[2017-09-13 20:25] dthain commented on #1732
Keep in mind that with `-Twq`, makeflow will send two updates: a makeflow-level report, which will have port 0, and also a workqueue level report, which will have port not zero.  Does that explain the behavior?

[2017-09-13 20:30] dthain commented on #1732
@nhazekam is looking at this too

[2017-09-14 11:53] btovar commented on #1732
I think it does, yes.

[2017-09-14 12:21] dthain commented on #1732
Ok, so let me summarize my understanding so far:

- Receiving a message with port=0 at the makeflow level is not a problem per se.  That's just the high-level status message available via makeflow_status.
- When `-T wq` is given, the catalog should *also* receive a message from the work queue layer, with a valid port number in the JX document.
- The port number in the JX document may not necessari

[2017-09-14 12:49] nhazekam commented on #1732
This is correct.

As mentioned above the port is not determined by where the message is located, but by what the message indicates the port is in the JX. The Makeflow message does not provide a port, so the port is 0 by default.

After running a small test last night (and after a suggestion from @nkremerh and @trshaffer), we found that if we replace the larger work queue message with a small test

[2017-09-14 12:52] dthain commented on #1732
That's certainly possible.  Try using the `catalog_update` tool to send JX of larger sizes, and see if that gets dropped as well.  If that's the case, then we should look into paring down the WQ message.

(For a variety of reasons, it's also probably time that we allow for TCP updates to the catalog)

[2017-09-14 12:57] nhazekam commented on #1732
Will do. I'll test from both Jetstream machines to see if there is anything variable about which machine you land on and luck of the draw.

I am not sure if this totally explains the issue unfortunately because Work Queue applications send updates consistently, whereas the makeflow->wq combo does not.

[2017-09-14 13:20] nhazekam commented on #1732
Using a basic WQ message from the catalog, the length was 1400. I cut it down to several different sizes.

Messages of size 256, 512, 1024, 1028, 1280, 1300 do update.
Messages of size 1320, 1350, 1400 do NOT update.

This was consistent between both of my Jetstream machines.

[2017-09-14 13:33] dthain commented on #1732
Ok, so please post the JX text of the full update here, and let's discuss if anything can be pruned.

[2017-09-14 13:38] dthain opened #1733 "Allow TCP Updates to the Catalog"
Currently, the catalog accepts updates via small UDP packets.  This has the advantage that updates are non-blocking and stateless.  However, it doesn't work for several increasing number of cases:

1 - Some facility networks block unusual traffic by default, so UDP doesn't get through.
2 - Our UDP update messages are getting larger and more likely to be lost.

So, we should update the catalog with

[2017-09-14 16:23] nhazekam commented on #1732
{
"name":"js-169-57.jetstream-cloud.org",
"lastheardfrom":1505405709,
"address":"149.165.169.57",
"tasks_total_disk":0, "tasks_total_memory":0, "tasks_total_cores":0,
"categories":[{"max_allocation_count":1,"first_allocation_count":0,"workers_able":0,"tasks_cancelled":0,"tasks_failed":0,"tasks_done":0,"tasks_dispatched":0,"tasks_running":0,"tasks_waiting":1,"category":"default"}],
"network_interfa

[2017-09-14 18:01] dthain commented on #1732
Ok, here is the plan:

@btovar please go through the worker update code and eliminate any unneeded fields.
@nhazekam please update the catalog client update code and compress the datagram with zlib before sending.  Prefix it with a letter `Z` so that the catalog knows what it is.
@dthain will add a bit to the catalog code to decompress datagrams as needed.

Long term, we need to add support for TC

[2017-09-14 18:40] dthain commented on #1732
Slight change: the first character of the update should be 0x1A (Control-Z) to indicate a compressed packet.

[2017-09-14 18:45] btovar commented on #1732
One issue to consider is that we use the result of queue_to_jx as the catalog update. Most stats of the queue, such as the category information are accessed only by work_queue_status -A, but work_queue_status contacts the master directly for that.

I propose to add another function, queue_update_to_jx, with information to find the master, and the information that the factory and work_queue_status

[2017-09-14 18:59] dthain commented on #1732
That sounds like a good approach.

[2017-09-15 16:13] khurtado opened #1737 "Parrot lock file issue while trying to use cvmfs at NERSC"
Using parrot at NERSC by setting up the lock dir somewhere inside the user's home area (e.g the default for the builder running from bosco), it fails

I can reproduce this with the options below at NERSC, inside a RH6 shifter image:

[code]

The error given is below. Setting -t /tmp/xxx instead works.
[code]

For Ben:
This can be reproduced in your NERSC home area: ` cd ~/parrot_test ; sbatch run.

[2017-09-15 16:15] dthain commented on #1737
Hypothesis: The NERSC $HOME filesystem is a distributed filesystem that doesn't support POSIX locking.

Could you send us the output of `df $HOME` to check?

[2017-09-15 16:16] khurtado commented on #1737
@dthain

[code]

[2017-09-15 16:29] dthain commented on #1737
A quick browse of the CVMFS source suggests that it is using `flock` internally.  I have done a quick search to understand whether GPFS supports flock, but I haven't found anything authoritative yet.

@khurtado could you try running the  command line `flock $HOME/test true` as a quick test to see if the filesystem supports that kind of lock?

(if it doesn't, I'm not sure that there is much we can

[2017-09-15 16:44] khurtado commented on #1737
This is what I get

[code]

[2017-09-15 16:47] dthain commented on #1737
@jblomer Can you help us out with this one?
What might cause CVMFS to emit this when the lock dir is in GPFS?

[code]

[2017-09-15 17:35] jblomer commented on #1737
This use of `flock` is a remnant from the Fuse module, which is picky about the concurrent use of the cache.  If alien caches are used, the "lock directory" can safely point to a different, local directory, such as /tmp. The 524 error code means "not supported".

That reminds me, the option setting and mounting got saner with the 2.4 release.  Much of the code for libcvmfs and the Fuse module is t

[2017-09-15 18:17] khurtado commented on #1737
@dthain @jblomer
I realized I should have tried `flock` inside shifter, since that's where I noticed the issue. The error 524 is indeed showing up like that

[code]

[2017-09-15 18:40] dthain commented on #1737
I see, so something in the shifter->gpfs stack is not supporting file locks..
This is looking like not our bug, but is there something we can do better to detect/display it?

[2017-09-15 19:01] dthain commented on #1725
Closing unclear question.

[2017-09-15 19:01] #1725 closed

[2017-09-15 19:05] dthain commented on #1733
PR #1739

[2017-09-15 22:14] khurtado commented on #1737
From the user's perspective, it took me a while to figure out why this wan't working. When I ran this inside shifter as a vanilla slurm job and no `-t` option added, everything was working (because it was using `/tmp` by default), but when I tried through the builder doing the exact same thing, no `-t`, it didn't (because it tried the gpfs fs).

There were no warnings or errors at all, so it wasn'

[2017-09-18 13:41] dthain commented on #1737
Hmm, it appears we have had this discussion before, and Parrot *does* emit a message if a `flock` on
this directory fails:
https://github.com/cooperative-computing-lab/cctools/blob/master/parrot/src/pfs_service_cvmfs.cc#L473

However, perhaps we are checking the wrong directory.

@trshaffer please take a look at this and make sure that parrot is synchronized with the latest cvmfs, looking in the a

[2017-09-18 16:34] dthain commented on #1732
Ok, so we decided to solve the problem on all fronts at once:
1 - Send less data to the catalog.  PR #1736
2 - Compress updates sent and received.  PR #1734 #1735
3 - Modify the catalog to accept TCP updates in a pinch.  PR #1739  (not merged yet)

Do we need any additional steps to get this deployed?

[2017-09-18 16:39] nhazekam commented on #1732
PR #1735 should not be merged until the catalog is running the most up-to-date version so that anyone that uses bleeding edge master won't send compressed information to an older catalog. @btovar also suggested that maybe compression is off by default and you use the environment variable to enable it instead.

[2017-09-18 16:45] dthain commented on #1732
Ok, why don't you change #1735 to be uncompressed-by-default, then you can merge safely.
Do we need to then deploy a new catalog immediately, or is the "lean update" sufficient to solve the problem for the moment?
If so, then I can spend a little time getting the tcp updates merged as well.

[2017-09-18 16:47] nhazekam commented on #1732
Will update #1735. Lean updates should be sufficient, but I will let you know if the problem persists.

[2017-09-18 19:44] trshaffer commented on #1737
@khurtado as of #1741 there's an error message regardless of debug mode when CVMFS initialization fails. This should make it easier to track down issues.

[2017-09-18 19:47] dthain commented on #1732
I updated the master catalog server, please give it a try with compressed updates.

[2017-09-18 19:51] dthain commented on #1732
The backup server is also running with compression support now.

[2017-09-18 19:51] dthain commented on #1737
@khurtado is out for a while now, and I'm pretty sure this solves the issue, so closing..

[2017-09-18 19:51] #1737 closed

[2017-09-18 19:54] dthain commented on #1727
I believe we decided to address this by using `vc3-builder` to deliver the appropriate dependencies.
Is that correct?

[2017-09-18 19:56] nhazekam commented on #1732
It hit both and they recognized the master.

[2017-09-18 19:58] dthain commented on #1732
Whew

[2017-09-18 20:01] dthain commented on #1729
@nkremerh Please implement this one.  Suggest that you allow the factory to have multiple arguments of the form `--env X=Y` that just add elements to JX dictionary, and then pass that through to `batch_job_submit`.  (@btovar has plenty to do right now.)

[2017-09-22 15:31] nkremerh opened #1744 "Catalog Update Changes Leaves Out Master Time Stats"
The message compression we have been working on for WQ talking to the catalog server has led to the catalog not receiving stats on how the master is spending its time. This in turn makes a portion of our WQ status visualization not all that useful. Stats used by the visualization (which reads from the catalog server) are:

time_send
total_send_time
time_receive
total_receive_time
time_polling
time

[2017-09-22 15:31] nkremerh commented on #1744
@btovar @nhazekam Thoughts?

[2017-09-22 16:49] pivie opened #1745 "Error importing Work Queue in Python"
I get the following error when trying to import work_queue in python with the latest master (9d055f67900d368b1bde16cd939ef7dc280fc3da).

Traceback (most recent call last):
  File "/afs/crc.nd.edu/user/p/pivie/work_queue_example.py", line 12, in <module>
    from work_queue import *
  File "/afs/crc.nd.edu/user/p/pivie/cctools/lib/python2.7/site-packages/work_queue.py", line 28, in <module>
    _wo

[2017-09-22 17:43] pivie opened #1747 "CCTools manual out of date"
The page:
http://ccl.cse.nd.edu/software/manuals/install.html
refers to the file
http://ccl.cse.nd.edu/software/files/cctools-6.0.15-source.tar.gz
but it should probably be
http://ccl.cse.nd.edu/software/files/cctools-6.1.7-source.tar.gz

[2017-09-22 17:49] btovar commented on #1747
6.1.8 now...

changing to just say the latest version.

[2017-09-22 18:38] dthain commented on #1747
I think we want to avoid updating documents everytime the version gets bumped.
Can we either do this automatically, or otherwise word the manula so as to indicate "the current version" ?

[2017-09-22 18:39] btovar commented on #1747
Yes, "the current version" is my current fix.

[2017-09-22 18:51] #1747 closed

[2017-09-25 17:32] dthain opened #1749 "Makeflow: Handle Sub Workflows via JX"
Using JX, we now have the plumbing necessary to invoke sub-workflows.

A sub-workflow invocation should look like this:
[code]

Where `args` is incorporated into the "context" of the sub-workflow specification.

Then, when executing a sub-workflow, we need to create a script along these lines:

[code]

This should happen as part of the job expansion that occurs in `makeflow_node_expand` before the

[2017-09-25 17:33] dthain commented on #1749
We already have some capability for executing sub-workflows (the MAKEFLOW keyword) but that was just a first attempt that didn't pan out.  It's ok to supersede that capability here.

[2017-09-26 16:13] #1745 closed

[2017-09-26 16:14] btovar commented on #1732
Closing, as TCP updates has its own ticket.

[2017-09-26 16:14] #1732 closed

[2017-09-26 16:16] btovar commented on #1685
Fixed by #1710

[2017-09-26 16:16] #1685 closed

[2017-09-26 16:18] btovar commented on #1718
Closing, as there is not a general way to fix this.

[2017-09-26 16:18] #1718 closed

[2017-09-26 16:41] btovar commented on #1463
@nhazekam: is this a wq issue?

[2017-09-26 16:43] btovar commented on #1408
@Nekel-Seyew: is this still an issue?

[2017-09-26 17:25] #1359 closed

[2017-09-26 17:40] btovar commented on #1670
@nhazekam: is this one done?

[2017-09-26 17:50] #1691 closed

[2017-09-27 13:13] #1631 closed

[2017-09-27 20:11] dthain opened #1755 "Project: MPI Worker Array"
Many HPC sites are really only set up to run MPI programs, encouraging the user to submit small numbers of jobs that use a large number of cores.  We can still get Work Queue programs in the environment if they are "wrapped up" inside an MPI program.

So: Design a program called `mpi_worker` which is an MPI program that takes the same arguments as `work_queue_worker` but invokes a multi-core worke

[2017-09-27 20:12] dthain commented on #1721
@AndrewLitteken please take a crack at this one, it's a relatively small patch to the code.

[2017-09-27 20:13] dthain commented on #1709
@AndrewLitteken I beleive you have already done this, can you please issue a pull request with your changes?

[2017-09-28 13:32] btovar opened #1756 "main of jx2json is included in dttools"
jx2json should be only compiled as a program, not as part of SOURCES

[2017-09-28 13:52] nhazekam commented on #1670
Resolved in #1724

[2017-09-28 13:52] #1670 closed

[2017-09-28 14:26] nhazekam commented on #1463
I think that we determined that it was a MAKER/filesystem issue, not wq.

[2017-09-28 14:26] #1463 closed

[2017-09-29 19:01] nhazekam commented on #300
I think this may have been addressed by @trshaffer 's pull request.

[2017-09-29 19:48] #1729 closed

[2017-10-02 16:55] btovar commented on #1714
In #1757,  for task t, you would say:

t.specify_snapshot_file("file")

where "file" would looks:
[code]

The "count" 1 is simply there for efficiency, to stop checking after the first time an event is detected. The default is -1, which means  no limit in the number of times an event may happen.

Note that this changes specify_snapshot_file from the queue to task, and that the file is a json-docum

[2017-10-03 11:34] #1756 closed

[2017-10-04 15:30] btovar opened #1762 "jx_eval memory leaks"
Reproduce with:   echo '{"key" : "value"} ' | valgrind --leak-check=full ./jx2json

There are at least three memory leaks:

1) In jx_check_errors.  I think it is caused by both key and value having JX_ERROR type. The jx_copy for the key is leaked.

2) In jx_eval, if a context was not provided as an argument, the locally created context is not freed.

3) In jx_parse_binary, I am not sure what is le

[2017-10-04 18:04] #1675 closed

[2017-10-04 18:10] #1678 closed

[2017-10-05 17:19] #1714 closed

[2017-10-06 18:47] #1762 closed

[2017-10-09 13:42] btovar opened #1768 "glibc problem between rh6 and rh7"
This came up before, just making a note for it.

Currently, some of my workers fail with:

condor_exec.exe: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by condor_exec.exe)

condor_exec.exe is a work_queue_worker compiled for RH7, but running on RH6.

[2017-10-09 13:50] dthain commented on #1768
Are you suggesting that we attempt to solve this within cctools?
Or do better OS matching within Condor?

[2017-10-09 13:55] btovar commented on #1768
I'm getting this with the wq_factory and condor_submit_workers.

In ND, we could improve the matching on the class ad glibc_version, but this won't solve it in the general. I would say to match on glibc_version, and add to the documentation how we solved it at ND.

[2017-10-09 17:06] nhazekam opened #1769 "JX ceiling and floor operator"
To correctly determine the number of splits or lines per split in jx, we are taking the total lines and dividing by number of splits. If there is a remainder on this division, either an extra split is created or the excess is dropped into the last file. This behavior changes between programs. To address this a ceiling function will help to get the correct number consistently. Add a floor function

[2017-10-18 07:57] isanwong opened #1771 "Incorrect CATEGORY attribute was assigned to the rule"
Use the uploaded all.mf makeflow file, and then run makeflow with -d all option, I got the  debug log saved in the nohup.out file.

I checked the debug output, found that the commands were not assigned with the right category and CORES, MEMORY, and DISK constraints.

[nohup.out.zip](https://github.com/cooperative-computing-lab/cctools/files/1393805/nohup.out.zip)
[all.mf.zip](https://github.com/co

[2017-10-18 12:43] btovar commented on #1771
Thanks for your report, I'm on it.

[2017-10-18 13:23] btovar commented on #1771
The category field is parsed correctly, but not exported correctly during execution. The last category name is always used.

[2017-10-18 13:59] btovar opened #1772 "Makeflow does not correctly parse quotes on .MAKEFLOW CATEGORY "name" directive"

[2017-10-18 14:01] btovar opened #1773 "Makeflow use of set data structure is incorrect"
set works by unique ids, usually pointers. In makeflow, it is used with strings, thus the same string appears several times.

It is used to see which files are input/outputs and which variables to export. Current implementation works, but it is inefficient.

[2017-10-18 14:31] isanwong commented on #1771
Do cores, memory, and disk resources constraints exported correctly?

[2017-10-18 16:26] btovar commented on #1771
They do, yes.  Have you seen a case where they are not exported correctly?

[2017-10-18 19:46] nhazekam opened #1775 "Makeflow Fail-Forward Mode"
Current implementations of Makeflow stop submitting tasks is a failure occurs. This mode with allow failures to occur, and continue operation on tasks that are unrelated to the failed task(s).

[2017-10-18 19:47] nhazekam opened #1776 "JX command line args"
Add option to pass JX arguments to Makeflow JX in conjunction with the existing arg file.

[2017-10-19 14:33] btovar commented on #1772
Fixed by #1778

[2017-10-19 14:33] #1772 closed

[2017-10-19 14:36] btovar commented on #1771
@isanwong :  I included a fix for this in the 6.2.1 release. Please let us know if it works for you.

http://ccl.cse.nd.edu/software/downloadfiles.php

[2017-10-20 00:51] isanwong commented on #1771
Great, I'll test and reply the result ASAP.

[2017-10-20 02:28] isanwong commented on #1771
@btovar Now CATEGORY attribute exported correctly.

[2017-10-23 16:40] #1776 closed

[2017-10-24 11:50] btovar commented on #1771
Great, thanks for letting us know.

[2017-10-24 11:50] #1771 closed

[2017-10-24 17:13] dthain commented on #373
Closing old bugs without a driving use case.

[2017-10-24 17:13] #373 closed

[2017-10-24 17:14] dthain commented on #602
Closing old bugs without a driving use case.

[2017-10-24 17:14] #602 closed

[2017-10-24 17:14] dthain commented on #760
Closing old bugs without a driving use case.

[2017-10-24 17:14] #760 closed

[2017-10-24 17:14] dthain commented on #785
Closing old bugs without a driving use case.

[2017-10-24 17:14] #785 closed

[2017-10-24 17:15] dthain commented on #918
The classic Make format gives us some unsolvable problems.
The new JX format gives precision and will be the way forward for these issues.

[2017-10-24 17:15] #918 closed

[2017-10-24 17:16] dthain commented on #1437
@trshaffer Where did the code for cwl <-> makeflow conversions end up?

[2017-10-24 17:17] dthain commented on #761
Closing old bugs without a driving use case.

[2017-10-25 18:16] trshaffer commented on #1437
I still have it, but I am **not** confident it's suitable for any kind of production use. Getting CWL to behave within Makeflow's model feels really forced, and I ended up partially reimplementing a lot of CWL's logic. It also requires the reference CWL implementation to be installed/built on all workers.

If we're just interested in running CWL through CCTools, it would be much cleaner to connect

[2017-10-25 18:19] dthain commented on #1437
Ok, where is the code located, so we can see?

[2017-10-25 20:24] nhazekam commented on #1769
Addressed in #1780

[2017-10-25 20:24] #1769 closed

[2017-10-29 23:28] isanwong opened #1786 "work_queue_status -lT generate incorrect formatted JSON string"
The `work_queue_status -lT server command` generate incorrect formatted JSON string, there should be brackets [] wrapping the whole array, and there should be commas between {} strings.

[2017-10-29 23:30] isanwong commented on #1786
As a contrast, the `work_queue_status -lC server:port` command can generate JSON in correct format.

[2017-10-30 13:52] btovar commented on #1786
@isanwong, thanks for your report! It should be fixed now.

[2017-10-30 19:20] nhazekam commented on #1671
@Nekel-Seyew Just wanted to touch base on this. Should be a minor change.

[2017-10-30 19:36] nhazekam commented on #1721
Just an update, currently being addressed in #1767

[2017-10-31 13:59] nhazekam commented on #1775
After looking into this, it appears as though I was mistaken about this being an issue. By default Makeflow will complete every task that it is able to prior to exiting. If there are failed tasks in the workflow the workflow fails, but all runable tasks are completed. The only failure case that does not complete all runable tasks is receiving and abort signal.

[2017-10-31 13:59] #1775 closed

[2017-11-01 15:58] nhazekam commented on #1709
This exists in both `makeflow/examples/` and in makeflow-examples with https://github.com/cooperative-computing-lab/makeflow-examples/pull/15.

[2017-11-01 15:58] #1709 closed

[2017-11-01 16:48] #1671 closed

[2017-11-01 18:39] #1721 closed

[2017-11-02 07:24] isanwong opened #1790 "Makeflow can not bring envrionment variables to the computing nodes while running in -Twq mode"

[2017-11-02 11:30] btovar commented on #1790
Thanks for your report!, but I can't reproduce this error. Could you post your makeflow?

[2017-11-03 06:14] isanwong commented on #1790
run command:

`MAKEFLOW_FILE=$1
WORK_DIR=$(dirname $(realpath $MAKEFLOW_FILE))
#WRAPPER="sh $(dirname $0)/wrapper.sh {} > stdout.%% 2> stderr.%%"
echo Makeflow file: $MAKEFLOW_FILE
echo Work directory: $WORK_DIR
#echo Wrapper script: $WRAPPER
makeflow -Tlocal --catalog-server mu02:9097 -M gtest-project --debug all --summary-log ${WORK_DIR}/summarylog --makeflow-log ${WORK_DIR}/makeflowlog --wrappe

[2017-11-03 06:15] isanwong commented on #1790
makeflow file:

`/work/tmp/test.export :
	export > /work/tmp/test.export
/work/tmp/test.path :
	echo $PATH > /work/tmp/test.path
/work/tmp/test.hostname :
	hostname > /work/tmp/test.hostname`

[2017-11-03 16:48] nkremerh opened #1791 "Would be useful for Work Queue master to output where it is running"
It would be useful for a master to write to the debug log where it is running (host and port) rather querying the catalog server for it. This could be useful for applications which are submitted to a batch queue (i.e. submitting a whole makeflow as a job) so we know on which node the master running if problems come up.

After talking with @nhazekam, I figured I would implement this.

[2017-11-06 14:08] btovar commented on #1790
Makeflow only exports explicitly named variables. I suggest adding:

export MAKEFLOW_FILE

at the top of your makeflow file.

[2017-11-07 01:27] isanwong commented on #1790
But then there is non-consistent implementation regarding the environment variables among Work Queue, Local, and other batch types.

[2017-11-07 13:40] btovar commented on #1790
Indeed!, and that's a bug we have been carrying for historical reasons.  We are working in making -Tlocal to work more like the remote execution environments, but we have still some work to do.

One problem, for example, is the variable PATH. It's value will be probably different for the workers and for the node running the master, thus we cannot export it blindly. On the other hand, some current

[2017-11-07 21:50] nhazekam opened #1794 "Work Queue Factory Wrap Workers"
There is some interest in providing a wrapper interface for the Work Queue Factory, such that the factory submits workers and also runs the worker within a wrapper program.

The case of interest is that of using a worker in Singularity, though it should be applicable to other containers and wrappers.

[2017-11-08 23:31] isanwong commented on #1790
There is a -V option in SGE, which tell the schecular bring the whole environment variables set to the job running node. Is there a similar option in Makeflow/WorkQueue?

[2017-11-08 23:36] isanwong opened #1795 "Ability to configure specific docker image for a single rule"
A great demand for using docker to run programs is that to resolve the conflicts (maybe system-lib version conflicts or others), so if there are rules should using different programs that have conflicts, an only option in the command line maybe not enough.

[2017-11-09 12:53] btovar commented on #1790
We certainly can add something similar if that is helpful to you.

[2017-11-09 12:54] btovar opened #1796 "Add option to makeflow to send local environment to workers"
(generated from #1790)

[2017-11-09 12:54] btovar commented on #1790
Moved to #1796

[2017-11-09 12:54] #1790 closed

[2017-11-10 20:33] nkremerh commented on #1791
Fixed by #1793.

[2017-11-10 20:33] #1791 closed

[2017-11-13 13:34] #1796 closed

[2017-11-16 21:31] annawoodard opened #1798 "CCTools CVMFS repo"
As @PerilousApricot pointed out recently, it should be pretty straightforward to get software installed in CVMFS [1]. Would maintaining a CCTools repo in CVMFS be feasible? This would simplify the recipe for sharing my analysis code (which relies on Makeflow+WQ) with non-ND collaborators at CERN.

[1] [http://openhtc.org/docs/data/external-oasis-repos/](http://openhtc.org/docs/data/external-oasis-

[2017-11-17 14:12] dthain commented on #1798
This sounds like a good idea, but I would like to avoid standing up a new service if an existing one will do.

@bbockelm Is there an existing OASIS repo that would be a good place to deploy cctools binaries?  (Or perhaps there is already one out there?)

[2017-11-17 14:15] bbockelm commented on #1798
It would fit neatly into `/cvmfs/oasis.opensciencegrid.org`.  There's a part of that repository maintained by OSG-Software, but it is meant to be reused by multiple groups.

Are you thinking of this as part of a nightly build / CI?  Or just the CCTools release process?  Or maybe as part of the OSG release?  Depend on the rate of updates (and acceptable latency), there might be different solution a

[2017-11-17 15:16] dthain commented on #1798
@annawoodard @PerilousApricot would it be sufficient if we published numbered releases in to the the OASIS repo?

[2017-11-17 15:48] annawoodard commented on #1798
@dthain Numbered releases in the OASIS repo would do nicely, thanks!

[2017-11-17 17:54] dthain commented on #1798
@btovar can you please work with @bbockelm to get the latest cctools into OASIS?
Hopefully there is a streamlined procedure for handling new releases as they occur.

[2017-11-17 19:57] bbockelm commented on #1798
Note that the LIGO guys have put together a nice way to automate the publication into CVMFS as part of their CI process:

https://github.com/ligo-cbc/pycbc/blob/master/tools/docker_build_dist.sh#L87

[2017-11-20 12:45] btovar commented on #1798
Link for future reference:

https://openhtc.org/docs/data/update-oasis/

[2017-11-20 15:02] dthain opened #1799 "parrot-argv[0] failing on RHEL7-Docker"
This single parrot test is hanging on each of our Docker-on-RHEL7 builds, ever since the disc cluster upgraded to RHEL7. @trshaffer please take a look and see if this is reproducible, or juts an oddity in our build system

[2017-11-21 23:05] isanwong opened #1800 "Resubmit task after failure"
Can makeflow add a parameter like --retry = 5, to try to resubmit task to batch/work queue? In the real world using env, we encounter task failures because of insufficient reource and other reasons. But if the failed task is the high-level node in the dag tree, then if we re-submit the whole makeflow after the whole makeflow failed, the total running time will be delayed.

[2017-11-22 00:03] dthain commented on #1800
I think the option you are looking for is already there:
https://ccl.cse.nd.edu/software/manuals/man/makeflow.html

Let us know if it works for you.

[2017-11-22 05:54] isanwong commented on #1800
Sorry, I didn't see that before ...
Will the makeflow try to resubmit the failed job to other agents excluding the failed one? And does there exist a time window among retry actions?

[2017-11-27 13:47] isanwong commented on #1800
After a test, I found that the param --retry does not resolve my problem. What I need is that if a task failed, the makflow will wait for a specific time range (such as 20mins) and then try to rerun the task.

[2017-11-27 17:43] dthain commented on #1800
(Happy Thanksgiving, just catching up after the holiday break.)

Hmm, let me try to understand your problem a little better.

Two questions:
1 - What batch system are you using with Makeflow?
2 - What sort of problem are you experiencing that requires a wait of 20 minutes?

I ask b/c it is usually the batch system's drop to retry failures such as network outages, machine incompatibility, and that

[2017-11-27 18:25] trshaffer commented on #1799
This is not a failure in this particular test, it's Parrot in general. Docker under RHEL7 enables seccomp filtering by default which, among other things, blocks `ptrace`. When a Parrot test runs, the process gets `SIGKILL`ed and it looks like the test script just hangs until timeout. You can turn off syscall filtering by starting the container with

    --security-opt seccomp=unconfined

More info

[2017-11-27 18:30] dthain commented on #1799
Thanks, that is helpful information.
But sounds like a bad future for Parrot!
@btovar please adjust the autobuild system to accommodate.

[2017-11-27 19:41] btovar commented on #1799
Made some changes, waiting to see if they worked.

[2017-11-27 19:41] dthain commented on #1799
While you are at it, can you fix up the reply-to address on autobuild emails?
It is set to ccl-team@nd.edu instead of ccl-team-list@nd.edu.

[2017-11-27 19:53] btovar commented on #1799
Done, I think.

[2017-11-29 18:23] btovar commented on #1799
--security-opt seems to be a flag to 'run' and not to 'build'. The tests are run during a build command. I am investigating how to change that.

[2017-11-29 19:30] btovar commented on #1799
My mistake, --security-opt is applied at the correct time. It does not fix the issue, though.

[2017-11-29 20:29] trshaffer commented on #1799
Are you sure @btovar? I can run Parrot and do the tests successfully iff I pass that option to `docker run`

[2017-11-30 05:17] isanwong commented on #1800
Hi, let me answer your questions first:
1. We use Work Queue as our batch system (because Makeflow does not support resource constraints on Torque);
2. What we are experiencing, is not the submission failure, is the runtime failure, for example, after a 20 minutes running, the job was killed by the system because of the memory overflow;

The problem is, we can rerun the makeflow after the whole ma

[2017-11-30 16:32] dthain opened #1804 "Add CharlieCloud Support for Makeflow"
Try out CharlieCloud [https://github.com/hpc/charliecloud] on the CRC, then add an appropriate Makeflow wrapper and documentation and compare against Docker and Singularity.

[2017-11-30 16:34] dthain commented on #1800
Hmm, it sounds like this problem is more complicated than it first appears, and I'm not sure that adding a simple retry is going to fix it.  Would you be willing to set up a brief telecon with a member of our team, so that we can understand the problem and propose a suitable solution?

[2017-11-30 17:14] dthain commented on #1799
AFAIK, the new option is not reflected in the builds:
For example, the "docker build" command here doesn't have the security
option:
http://ccl.cse.nd.edu/software/autobuild/commit/e16f9fcc/e16f9fcc.x86_64-centos6.log

(I believe autobuild uses some kind of local cached repo of itself, rather
than checking out from master everytime)

On Wed, Nov 29, 2017 at 3:29 PM, Tim Shaffer <notifications@gith

[2017-11-30 17:17] btovar commented on #1799
I am pulling to the production directory, but also, it failed on a local
try.

After talking to Tim, I think we figured out is the way we construct the
dockerfile. Trying to fix it right now.

On Thu, Nov 30, 2017 at 12:14 PM, Douglas Thain <notifications@github.com>
wrote:

[2017-12-01 17:37] AndrewLitteken opened #1805 "Passing resource information to tasks sometimes incorrect"
Makeflow measures the local resources for a job and in some cases, passes the information as a requirement for a rule.  This is incorrect because we are setting the size of the host that runs the master makeflow as the requirement for the subtasks.

[2017-12-01 19:14] btovar commented on #1799
I worked some on this issue. I got this:

- x86_64-centos6 (success) ()
        log: /afs/nd.edu/user34/btovar/portal/src/cctools/autobuild/99220064/99220064.x86_64-centos6.log
        tests: /afs/nd.edu/user34/btovar/portal/src/cctools/autobuild/99220064/99220064.x86_64-centos6.tests.log
        tarball: /afs/nd.edu/user34/btovar/portal/src/cctools/autobuild/99220064/cctools-99220064-x86_64-cento

[2017-12-01 20:38] btovar commented on #1799
It seems to be working now, including the logs.

[2017-12-15 13:30] matz-e opened #1811 "[WorkQueue] Complaints about an output file with the same name as an input file"
I want to provide a default output file that will get overwritten by the task to make post-running processing easier, and when doing so, I get the following error message:

    Error: output file /tmpscratch/users/matze/lobster_test_20171215_0825/ttH/running/0000/0001/report.json conflicts with an input pointing to same remote name (report.json).

Is this really an error? Why can't I provide a def

[2017-12-15 13:38] dthain commented on #1811
@matz-e While I can see why you want to do this, this results in semantics that are very hard to provide in the presence of failures.  What you are defining is effectively a file that is both input and output.  Now, if a task should fail after the output has been written or delivered, then the contents of the original input file would be modified, and the "output" would be delivered as "input".  W

[2017-12-15 14:46] matz-e commented on #1811
Thanks for clarifying! And yes, the renaming step is what I've resulted to doing (as the very first thing the task does). The argument with the caching makes a lot of sense.

[2017-12-15 14:46] #1811 closed

[2018-01-03 16:17] philipjhj opened #1815 "Streaming stdout, stderr from rules running on batch system"
Hi,

When I run my workflow through makeflow on e.g. torque, each rule gets a qsub, but the output and error streams seem to be redirected to /dev/null giving no way to track the output of individual jobs.

Specifically I am thinking of the settings of the -o and -e options.

I have tried to redirect the output of the rule, i.e. 'python myScript.py >> script.log 2>script.error, the files are creat

[2018-01-03 17:20] btovar commented on #1815
Philip,

Redirecting like that should work. Are you adding script.log and
script.error as outputs of the rule? (could you post the exact rule you are
using?)

Are script.log and script.error created at all?

Ben

On Wed, Jan 3, 2018 at 11:17 AM, Philip Joergensen <notifications@github.com

[2018-01-04 17:58] dthain commented on #1815
It would also be helpful to know if your setup involves a distributed filesystem such as NFS, AFS, Lustre, etc.
Those can result in a delay of output being delivered.

Glad you find the software useful.

[2018-01-04 21:22] trshaffer opened #1816 "Makeflow wrappers"
After thinking about the Makeflow wrapper use cases discussed with @nhazekam and @dthain, I've come to the conclusion that there are two separate features here. This is kind of a long issue, and I'm sure there'll be some further discussion as it differs from what @nhazekam and I talked about. The cases we came up with involve some combination of manipulating the inputs/outputs, command line, envir

[2018-01-05 18:18] dthain commented on #1816
@trshaffer thanks for the detailed writeup.
@nhazekam @btovar could you weigh in on this proposal with your thoughts first?

[2018-01-06 14:50] philipjhj commented on #1815
Edited third paragraph of my original question to make it more precise. Sorry for the confusion.

@btovar I did not add the two files as outputs of the rule. The files are created (as soon as the job starts) but the content does not appear until the job is completed. I believe it keeps a local temporary copy on the node of the job and then copies it over.

Previously when I have specified the log

[2018-01-08 13:46] btovar commented on #1815
Philip,

I misunderstood your original question. I misread it as saying that the
files were not created.

I think your intuition is correct. There is a local copy of the file in the
running node which is not immediately updated globally in the shared file
system. When you use the "-o" or "-e" options, it is my understanding that
torque calls "fsync" to make the global updates in the file system. U

[2018-01-08 15:04] dthain commented on #1816
Some quick thoughts -

1 - A wrapper should not be able to change the structure of a DAG.  Rather, think of the DAG as the original source of a job object.  The job object is then copied, modified by the wrappers, and then achieves its final form before submission to the batch system.  To the extent that various features need to run before/after the entire workflow, they should only be manipulatin

[2018-01-10 22:03] philipjhj commented on #1815
Ben,

your description sounds correct. I was not aware of fsync.

Not sure if it provides any help, but I noticed the following today:
ran a workflow with a rule calling a python script using tqdm for a progress bar.  The progress bar output could be seen realtime in the script.error file. (I thought it would be printed to stdout, and not until end of the batch job like the rest)

I would be happy

[2018-01-11 14:00] dthain opened #1817 "Parrot sendmsg/recvmsg warnings"
Parrot generates (harmless) warnings when running the following recipe on crcfe01:
[code]

Fix forthcoming..

[2018-01-11 18:55] #1817 closed

[2018-01-12 14:21] btovar commented on #1815
Philip, could you try something like:

stdbuf -oL -eL python myScript.py >> script.log 2>script.error

or this one:

python -u myScript.py >> script.log 2>script.error

?

[2018-01-15 15:28] btovar opened #1820 "use direct connection to cvmfs repos when proxy is not specified."

[2018-01-15 16:03] dthain opened #1822 "Parrot-CVMFS Multiple Repo Warning?"
The current version of parrot still spits out an error about switching repositories,
but I believe this problem was solved some time ago, yes?

[code]

[2018-01-15 16:06] btovar commented on #1822
Yes.

[2018-01-15 16:26] btovar commented on #1822
Fixed by #1823

[2018-01-15 16:26] #1822 closed

[2018-01-15 16:26] btovar commented on #1820
Fixed by #1821

[2018-01-15 16:26] #1820 closed

[2018-01-23 14:42] btovar opened #1825 "osx is stalling in autobuild"

[2018-01-23 14:43] btovar opened #1826 "chirp tests fail on i386-centos6"

[2018-01-23 17:23] btovar commented on #1826
They fail with autobuild/condor. When ssh-ing to the machine, all tests complete correctly.

[2018-01-24 12:09] btovar opened #1831 "parrot_run error on 6.2.3, but not in 6.0.13"
ctools-6.0.13-x86_64-redhat6/bin/parrot_run
to
cctools-6.2.3-x86_64-redhat6/bin/parrot_run

the same application gets errors like

11:16:41 awk: fatal: could not find groups: Invalid argument
11:16:41 ERROR in cling::CIFactory::createCI(): cannot extract standard library
include paths!
11:16:41 Invoking:
11:16:41   LC_ALL=C g++  -O2 -DNDEBUG -xc++ -E -v /dev/null 2>&1 >/dev/null | aw
k '/^#include

[2018-01-24 13:04] btovar commented on #1831
Hi,
At least all the ask related stuff seems to boil down to

uid=331089(ri32bz2) gid=33665(pr58e)id: failed to get groups for the current process: Invalid argument

and maybe this causes the later errors too.

I hope so because the rest is not pretty, and you need a machine with cvmfs .....

export ATLAS_LOCAL_ROOT_BASE=/cvmfs/atlas.cern.ch/repo/ATLASLocalRootBase;source ${ATLAS_LOCAL_ROOT_BASE}/

[2018-01-24 13:10] btovar commented on #1831
Tim: I can reproduce this on my cclws16 with the latest cctools master:

% parrot_run id
uid=196886(btovar) gid=40(dip)id: failed to get groups for the current process: Invalid argument

[2018-01-24 21:05] trshaffer commented on #1831
Looks like this is a bug in Parrot's handling of the `getgroups` syscall. PR coming up shortly

[2018-01-24 21:26] trshaffer commented on #1831
Should be fixed by cfb4f82

[2018-01-24 21:29] dthain commented on #1831
Thanks Tim, that just happened to fix a similar problem I had encountered on RHEL7 but hadn't narrowed it down to a bug report yet.

[2018-01-25 12:29] #1831 closed

[2018-01-25 12:29] btovar commented on #1831
Thanks Tim.

[2018-01-26 17:59] khurtado opened #1836 "Parrot issues reading some symlinks from oasis.opensciencegrid.org"
Hello,
I'm trying to use  voms  from `oasis.opensciencegrid.org` via parrot and noticed there are some symbolic link files that just couldn't be read (the file the links are pointing to can be accessed though).

For example, from a machine with cvmfs, I can get:

[code]

and this is what I get with parrot:

[code]

Any hint on how to solve this?

[2018-01-26 18:01] dthain commented on #1836
@trshaffer can you please take a look at this?

[2018-01-26 18:07] khurtado commented on #1836
Just to update on this:

There is something weird when reading either the actual files or the symlinks using the absolute PATH, but not when I read them from its parent directory

[code]

[2018-01-26 22:20] trshaffer commented on #1836
This looks like a couple of bugs in Parrot's handling of symlink resolution in path components. Parrot needs to resolve the symlinks in paths by itself before calling into CVMFS. The changes in e19db29 left this feature off for `readlink` only, which I think was a mistake. That commit is from five years ago, but @btovar do you remember anything?

After turning on resolution for symlinks in non-fin

[2018-01-26 22:43] khurtado commented on #1836
@trshaffer
Just to confirm, besides the symlink resolution I also noticed I can stat the regular file, but not open it unless I am in the parent directory. Will the above also solve that issue?

[code]

[2018-01-29 18:21] trshaffer commented on #1836
@khurtado yes this covers `readlink`, `open`, and `getdir`. The `stat`family of syscalls go down a different code path, so they weren't affected. Your examples with `tail` work for me on this branch.

[2018-01-31 21:38] khurtado commented on #1836
@trshaffer Thanks! Could I have a static version of parrot from this branch to test in my actual workflow?

[2018-01-31 21:49] khurtado commented on #1836
@trshaffer Thanks! Can I get a static parrot_run for rh6/rh7 to test?

[2018-02-01 12:07] btovar commented on #1836
Kenyi, I'll work on the static parrot now.

[2018-02-02 14:51] dthain commented on #1799
I think this is fixed, right?
Do we need to a short note to the documentation of parrot?

[2018-02-02 14:52] dthain commented on #1727
@nhazekam did this get fixed or is it still outstanding?

[2018-02-02 14:57] dthain commented on #1528
My understanding is that this information gets filled in as tasks complete.
But it won't be observed while the task is running.
Is this still a problem?

[2018-02-02 14:58] #300 closed

[2018-02-02 15:04] dthain commented on #1099
After chewing on this (for two years!) I have a better and simpler idea.

1 - Modify the work_queue_worker to trap the SIGTERM signal, and in that case, allow current tasks to end, and then exit.
2 - Modify the batch_job interface to have a "gentle remove" method, which uses `condor_vacate_job` instead of `condor_rm` in the HTCondor implementation.  This will cause the worker to receive SIGTERM an

[2018-02-02 15:06] dthain commented on #1149
Added to makeflow examples.

[2018-02-02 15:06] #1149 closed

[2018-02-02 15:28] dthain commented on #1437
After many rounds, we decided this is not the way to go.

[2018-02-02 15:28] #1437 closed

[2018-02-02 15:52] dthain commented on #1798
It looks like someone added some older versions here:

[code]

[2018-02-02 15:53] #1773 closed

[2018-02-02 15:54] dthain commented on #1768
Is the problem that `work_queue_factory` is submitting workers, but the requirements are not specific enough to match a suitably compatible machine?

[2018-02-02 16:13] nhazekam commented on #1816
Currently being worked on in #1830. This pull request sets up the internal workings for creating and pushing a wrapper to a set of nested executables.

[2018-02-02 16:25] nhazekam commented on #1727
I think this may still be outstanding. I will devote some time early next week to investigate. I may have to renew my allocation for this resource.

[2018-02-02 18:12] dthain commented on #1794
Does PR #1783 address this?  That allows you to use runos to run in a singularity container.

[2018-02-02 18:14] btovar commented on #1768
It seems that way. The constraints are the automatic TARGET.Arch, and TARGET.OpSys.  The later is simply "LINUX".

[2018-02-02 18:17] dthain commented on #1744
Ok, so we had to break this in order to fix the immediate problem of *all* data being lost.
Now that we have had some time to think about it, I propose the following general fix:

First, `catalog_send_update` should look at the size of message to be sent:
- If greater than some threshhold (say, 1200 bytes) then send it uncompressed and return success.
- If the compressed data is now less than the

[2018-02-02 18:32] btovar commented on #1744
Makes sense to me.

[2018-02-02 18:41] dthain commented on #1768
I think this is a general problem between HTCondor and Linux, and the solution is usually in the HTCondor installation, to make sure that SUBMIT_EXPRS are set so that the execute machine matches the submit machine.

I think this comes up particularly here b/c we have deliberately set up condor to match to heterogeneous machines...

[2018-02-02 18:54] btovar commented on #1768
Closing, as more related to condor installation than work queue.

[2018-02-02 18:54] #1768 closed

[2018-02-02 18:57] nkremerh commented on #1744
I agree.

[2018-02-02 19:35] nhazekam commented on #1744
Sounds good to me.

On Feb 2, 2018 2:01 PM, "nkremerh" <notifications@github.com> wrote:

[2018-02-02 19:50] dthain commented on #1826
I think this is the issue: the jobs run with uid 108041 (ccl) but that user wasn't on the machine, so unix authentication fails.

[code]
I just added the ccl user to that machine, so let's see if that fixes the problem.

[2018-02-05 21:56] khurtado opened #1847 "Parrot issues when using bash process substitution"
I've been trying to use a bash script that uses bash process substitution in a similar way to this:

[code]
This is what I get when running the script above with and without parrot:

[code]

A simpler way to test this is:
[code]

[2018-02-05 21:59] khurtado commented on #1836
I can confirm #1837 fixed my issue

[2018-02-05 22:00] dthain commented on #1847
@trshaffer plase take a look at this one.  I note that `pfs_table::resolve_name` maps `/dev/fd/%d` into `/proc/%d/fd/%d` so that might be the place to start...

[2018-02-07 15:55] btovar opened #1850 "When using -p, parrot sets the HTTP_PROXY variable"
We use -p to pass the proxy information to libcvmfs. However, we also set HTTP_PROXY.

This may cause issue for programs running inside parrot. For example:

% parrot_run -p ";DIRECT" bash
... run my program ...
[DEBUG] 2018-02-07 10:54:00,592 vc3-glidein.download_tarball(): [Errno url error] invalid proxy for http: ';:DIRECT'

I am inclined not to set the HTTP_PROXY, or to set something like PARR

[2018-02-07 17:48] trshaffer commented on #1847
This seems to be an issue with magic `/proc` symlinks again. If you look at `/proc` inside a redirect (outside Parrot), you can see what's happening.

    $ cat <(ls -l /proc/self/fd)
    total 0
    lrwx------ 1 tshaffe1 dip 64 Feb  7 12:09 0 -> /dev/pts/3
    l-wx------ 1 tshaffe1 dip 64 Feb  7 12:09 1 -> pipe:[11612898]
    lrwx------ 1 tshaffe1 dip 64 Feb  7 12:09 2 -> /dev/pts/3
    lr-x-----

[2018-02-07 18:24] trshaffer commented on #1847
@khurtado this should be fixed by #1851

[2018-02-07 18:51] khurtado commented on #1847
@trshaffer Thanks!
@btovar Can I get a static parrot that has both #1837 and #1851 on it?

[2018-02-07 18:53] btovar commented on #1847
On it.

[2018-02-08 14:23] #1744 closed

[2018-02-08 19:09] #1847 closed

[2018-02-12 20:38] khurtado opened #1855 "Another parrot bug with process substitution and redirection"
Hi, when I try to run script in [1] in a wrapper [2], with parrot and nohup + redirecting the stdout/err as in:

[code]
I get the dump of some SQLite 3 stuff rather than the "Hello" at the end of the script:

[code]
Some notes:
1. Not using nohub+redirection actually makes the script work.
2. Running `bug.sh` without the wrapper, even with nohub+redirection also seems to work.
I tried to isolate t

[2018-02-14 13:28] dthain opened #1857 "Resource Limits for Torque"
@nhazekam please take a break from the makeflow re-write to work on this one:

Mailing list thread:
https://groups.google.com/forum/#!topic/cctools-nd/VfLsGOM_nd4

Please fix up the Makeflow-Torque driver to generate the right options corresponding to the resources specified by a job.  For example, `MEMORY=16 CORES=8` should yield `-l nodes=1:ppn=8;mem=16mb`  Since we know that Torque options can

[2018-02-14 16:57] #1836 closed

[2018-02-14 17:39] trshaffer commented on #1855
This was a tricky bug to track down, as it is only likely to show up when using bash process substitution and CVMFS. Big thanks to @khurtado for finding a case that reliably reproduces the issue!

When using process substitution, bash sends the output of a process through a pipe, and replaces it on the command like with a path like `/dev/fd/63`, where `/dev/fd` is a symlink to `/proc/self/fd`. Par

[2018-02-14 17:52] dthain commented on #1855
If I understood your explanation, Parrot is attempting to address /dev/fd by just following the symlinks naturally.  And we can't catch all of the intermediate-symlink cases.

Could we make this a more targeted solution by simply hard coding a name-mapping from `/dev/fd` to `/proc/[pid]/fd` just like we hard code `/proc/self` -> `/proc/[pid]` ?

[2018-02-14 18:30] trshaffer commented on #1855
We already do that, but it happens *after* following the symlink, so Parrot forgets the original path. I don't think we can get around this unless Parrot resolves intermediate symlinks itself.

[2018-02-14 18:37] dthain commented on #1855
Come on over and let's talk about it.

[2018-02-14 21:15] trshaffer commented on #1855
@khurtado I can get your example to run correctly on #1860

[2018-02-15 12:04] #1850 closed

[2018-02-15 15:15] khurtado commented on #1855
@trshaffer It does work indeed! Thanks!

[2018-02-15 16:30] #1855 closed

[2018-02-18 20:48] btovar opened #1866 "condor_submit_workers ignores manually specified resources"
The command line generated is:

arguments =  -M testcondor --disk 10000 --memory 2000 --cores 1 --cores $$([TARGET.Cpus]) --memory $$([TARGET.Memo
ry]) --disk $$([TARGET.Disk/1024])

The condor defaults overwrite the manually specified ones.

[2018-02-20 01:15] stemangiola commented on #1857
Hello,

currently if I write

[code]

I always get the first (or maybe the last, my makeflow file is long) BATCH_OPTIONS executing all the time.

[2018-02-20 02:39] nhazekam commented on #1857
Hi @stemangiola

I am glad you have given it a try. Can you try it without the export `BATCH_OPTIONS`?  The Memory and cores should be translated into the command without `BATCH_OPTIONS` now.

Also can you run makeflow with debug options?
`makeflow <other options> -d all -o makeflow.debug`
and send this to me at nhazekam@nd.edu

[2018-02-20 02:40] nhazekam commented on #1857
Also, I am making changes now that only specify resources when you are not using BATCH_OPTIONS.

[2018-02-20 03:17] stemangiola commented on #1857
Hello,

I will update the repository and install it again. I will let you know.

Thanks!

Stefano Mangiola

*Data analyst (MSc, MPhil, PhD candidate) @ Melbourne University *

*Hovens lab - Papenfuss lab*
*Royal Melbourne Hospital - WEHI*
*+61 (0)450135954*

2018-02-20 13:40 GMT+11:00 Nick Hazekamp <notifications@github.com>:

[2018-02-20 20:23] #1816 closed

[2018-02-21 01:35] stemangiola commented on #1857
Hello,

I have the same error as before

Here the log file

`2018/02/21 12:30:55.57 makeflow[2837] makeflow: COLON
2018/02/21 12:30:55.57 makeflow[2837] makeflow: LITERAL: benchmark/pure-N52_ARNA_input.RData
2018/02/21 12:30:55.57 makeflow[2837] makeflow: NEWLINE
2018/02/21 12:30:55.58 makeflow[2837] makeflow: COMMAND:
2018/02/21 12:30:55.58 makeflow[2837] makeflow: COMMAND_MOD_END:
2018/02/21 12:

[2018-02-21 15:09] nhazekam commented on #1857
Do you have the logfile as a file and not a screenshot?

[2018-02-21 18:18] nhazekam commented on #1857
Also, something to note about Makeflow resource specifications that may be causing issues for you. Categories are used to specify resources for a group of nodes. When you specify `MEMORY` and `CORES` they are being attributed to the default category. This is also true of `BATCH_OPTIONS`. As your specification is currently written I believe your values for all three are overwritten each time you re

[2018-02-21 22:32] stemangiola commented on #1857
Sorry I should have been more specific,

I got the same error as

[code]

[makeflow.zip](https://github.com/cooperative-computing-lab/cctools/files/1745948/makeflow.zip)

[2018-02-21 23:00] nhazekam commented on #1857
Thank you for the info. I appreciate the debug log. Can you specify what your command to run this makeflow is?

[2018-02-21 23:05] stemangiola commented on #1857
Hello,

here my command and the error

` makeflow -T torque -N sr --max-remote 1 -d all -o makeflow.debug
parsing ./Makeflow...
local resources: 4 cores, 15887 MB memory, 423837048 MB disk
max running remote jobs: 1
max running local jobs: 4
checking ./Makeflow for consistency...
./Makeflow has 5083 rules.
recovering from log file ./Makeflow.makeflowlog...
starting workflow....
submitting job: Rsc

[2018-02-21 23:22] nhazekam commented on #1857
Thanks! I am sorry to continue to ask for stuff, but could you also let me know what the result of

`echo $BATCH_OPTIONS` is?

From looking at your commandline and Makeflow it seems that BATCH_OPTIONS is getting pulled from somewhere else. I also looked into our source and in Makeflow we pull `BATCH_OPTIONS` from the environment.

[2018-02-21 23:37] stemangiola commented on #1857
Hello,

such variable is empty. IT tech says to the question is such variable is set somewhere "I don’t think so. Torque (formerly pbs) seems to use variables that start with PBS_. "

Just to clarify:

-B option work beautifully, however I would like to se a different BATCH_OPTIONS for every command in the Makefile, because I have commands that requite vastly different resources, at the moment I a

[2018-02-21 23:43] nhazekam commented on #1857
If you are able can, run Makeflow using BATCH_OPTIONS and also CATEGORY.

[code]

I agree that the normal options are not specifying what you are looking for at the moment. Unfortunately We don't have access to a Torque cluster at the moment.

Are you able to install your own software? If so you should be able to install CCTools and test it out.

[2018-02-21 23:45] stemangiola commented on #1857
Do I have to specify a different CATEGORY for every job?
For example:

[code]

[2018-02-21 23:48] nhazekam commented on #1857
You should only have to once for each set of similar tasks. This should also be true for the other resources.

You can look at this for an example:
http://ccl.cse.nd.edu/software/manuals/makeflow.html#rescat

[2018-02-22 09:18] stemangiola opened #1872 "fatal: hook Fail Dir:node_fail"
Hello,

I got this error, I cannot understand the cause.

2018/02/22 20:03:13.66 makeflow[15674] fatal: hook Fail Dir:node_fail returned 1
received signal 15 (Terminated), cleaning up remote jobs and files...
Killed

Any suggestion is appreciate.

Here the debug file

[makeflow.zip](https://github.com/cooperative-computing-lab/cctools/files/1747258/makeflow.zip)

[2018-02-22 12:30] nhazekam commented on #1872
The feature that is causing this `Fail Dir` takes the output of a failed node and stores it in a directory so that the user can more easily diagnose the cause. The feature knows how to clean up previous failed nodes and when Makeflow is rerun it will clean them up if needed.

The error message that you got is likely a result of changing the Makeflow and rerunning it without cleaning the previous r

[2018-02-22 12:31] nhazekam commented on #1866
@btovar Does #1867 fix the bug addressed here?

[2018-02-22 12:39] #1866 closed

[2018-02-22 16:30] nhazekam commented on #1857
@stemangiola can you install CCTools in you userspace to test this most recent patch?

You can check out my repo from git or pull the code from #1858 as a zip:
https://github.com/nhazekam/cctools/archive/torque_resources.zip

CCTools does not require permissions to install in you user space.

[2018-02-22 22:36] stemangiola commented on #1872
Thanks,

that is indeed what happened.

Just a further question:

when I get the error "corrupted makeflowlog", maybe because I changed Makeflow file, how can I preserve the already executed commands. I have 5000+ jobs, and starting again each time is a risk I cannot take.

Bw.

[2018-02-22 22:41] stemangiola commented on #1857
I will, I need to finish a big batch of analyses first.

Just a feedback on your comment "_You should only have to once for each set of similar tasks. This should also be true for the other resources_.". Unfortunately didn't fix the problem. There are two cases:

1) I use BATCH_OPTION and no matter what I do, execute just the first exported one
2) I do NOT use BATCH_OPTION, and it does not work, w

[2018-02-22 22:57] stemangiola commented on #1857
@nhazekam : "Unfortunately We don't have access to a Torque cluster at the moment"

As far as I know torque can be installed on just one node, for testing purposes (https://www.discngine.com/blog/2014/6/27/install-torque-on-a-single-node-centos-64)

But I imagine can be harder than it seems

[2018-02-23 15:55] nhazekam commented on #1872
This is not directly answering you question, but is there a reason you need all 5000+ in a single Makeflow. Are they structured as a set of pipelines or as an intricate tree of tasks?

[2018-02-24 05:03] stemangiola commented on #1872
My pipeline is just 3 independent benchmarks with many combination of parameters each, that go to one script for descriptive statistics of all of them.

[2018-02-27 06:52] stemangiola opened #1873 "Allowing edits to the makeflow file "on the go""
Hello,

while enjoying your makeflow, I am thinking more and more to the limitations due to this feature.

For pipeline developing, is often necessary to insert a new algorithm of combination of parameters for an algorithm within the already executed pipeline. In my case for example, I test an algorithm with a combination of parameters:

a = 1:100
b = 1:10
c="mode1", "mode2", "mode3"

100*10*3 com

[2018-02-27 12:34] btovar opened #1874 "parrot memory error with perl"
This works:

% perl -e 'use Cwd'
%

This does not:

% parrot_run perl -e 'use Cwd'
panic: memory wrap at /usr/lib64/perl5/vendor_perl/Cwd.pm line 339.
Compilation failed in require at -e line 1.
BEGIN failed--compilation aborted at -e line 1.

[2018-02-28 15:10] trshaffer commented on #1874
@btovar where are you seeing this? I can't reproduce with `master` on RHEL7

[2018-03-01 06:00] khurtado opened #1875 "parrot and flock bug"
Hi,

I am running a condor glidein that requires cvmfs via parrot. This works fine if I run it interactively, but if I execute it through condor, it hangs when condor_cron makes a  `flock` waiting for a specific file descriptor at some point.

Isolating this case is hard, but I could provide a way to run the whole glidein from earth if that helps.

In the meantime, what I see is the condor execute

[2018-03-01 12:24] btovar commented on #1875
Kenyi, where are you trying this? I am able to launch in the vc3 ND allocation:

(builder with parrot-cvmfs) -> vc3-glidein -> condor

[2018-03-01 12:31] btovar commented on #1874
I tried it in my workstation.

However you got me thinking. If I tried from my workstation with a clean environment (e.g. /usr/bin/env -i USER=btovar HOME=/tmp PATH=/bin:/usr/bin:/sbin sh), then it works fine.

I do set some perl path variables, so maybe it is getting confused between versions.

[2018-03-01 12:51] khurtado commented on #1875
Hi Ben,

I am able to do the same with the vc3-glidein, the one I'm having issues with is the CMS glidein, which executes a bunch of scripts before the actual payload, and updates a bunch of stuff via condor_cron.

[2018-03-01 12:51] btovar commented on #1874
Works with latest master.

[2018-03-01 12:51] #1874 closed

[2018-03-01 12:54] btovar commented on #1875
Can we execute it semi-locally to ease debugging? For example, launch an interactive condor node and then run the CMS glidein manually?

[2018-03-01 14:03] khurtado commented on #1875
Yes, that can be done. Parrot works fine if executed on the worker node interactively, but somehow still fails if executed interactively under a condorSSH session. Let me set things up to send instructions on what to run.

[2018-03-02 15:00] dthain commented on #1873
@stemangiola we had a long discussion about this at our team meeting this week.

There are two underlying issues here:

1 - If the goal is to re-run what "changes" then we need to be careful about the whole definition of the job, including the files, the text of the command, and possibly even the relevant environment variables.  Standard make just looks at the modification times of the files, whic

[2018-03-02 15:01] dthain commented on #1873
@nhazekam @trshaffer would you like to add anything to that?

[2018-03-02 16:13] trshaffer commented on #1873
No, that pretty much covers it. The content-based IDs need to work with JX as well, so that changes to the workflow arguments don't cause this kind of corruption.

[2018-03-02 17:22] nhazekam commented on #1873
This definitely outlines what we were concerned about. The proposed solution seems sufficient and doesn't break the goal of Makeflow's static nature, as the changes are between runs and not during a run.

[2018-03-03 01:26] stemangiola commented on #1873
Thanks for your response,

I think this would be a great step toward the application of makeflow to pipelineing, where in big teams things (e.g., algorithms to test, to compare, parameters to change etc..) change dynamically as the discussion within the team/s proceeds. And changing a parameter in a makefile should be as easy as replacing 2 with 3 in a text file.

I think that the effort of achiev

[2018-03-07 02:10] leeping opened #1877 "Installation of Work Queue module using Python 3"
Hi there,

First off, thank you for providing such a useful library - I haven't been talking much on the mailing list, mainly because the Python module has been working very well in my Python 2 environment. I'm starting to have some issues as I migrate to Python 3.

I've tried a few times to install the Work Queue module into my Python 3 environment.  I get various errors at compile-time and impor

[2018-03-07 12:17] btovar commented on #1877
Lee-Ping,

Thank you for the detailed report!  I don't think you are doing anything out of the ordinary. I will try to reproduce your report in my workstation.

[2018-03-07 12:49] btovar commented on #1877
Lee-Ping,

I was able to reproduce it with miniconda. (It does work with python3 not from anaconda.)

I am making some changes so that it will work with anaconda out of the box.

[2018-03-07 13:44] btovar commented on #1877
The flags to the compiler I have fixed easily.

The linking problem seems like a bug in anaconda. I have filed the following bug report:

https://github.com/conda/conda-build/issues/2738

I am adding a roundabout in the meanwhile. (and in case the conda people determine it really think is not a bug.)

[2018-03-07 14:15] btovar commented on #1877
Well, it was a bug in conda. However print(sysconfig.get_config_vars('LDSHARED')) does not give us all the libraries needed. I'll look for a better way to find the libraries, but it may be that the current roundabout is the way to do it.

[2018-03-07 14:26] btovar commented on #1877
Lee-Ping, can you tell me if commit 98e58a5300afa7bb2bb174249793a808ce58a705 works for you?

Your configure command should look like:

./configure --prefix /home/leeping/opt/cctools/6.2.7 --with-python-path no --with-perl-path no --with-globus-path no --with-python3-path /home/leeping/opt/miniconda3 --with-swig-path /home/leeping/opt/miniconda3

(Assuming you have swig inside miniconda3, as your o

[2018-03-07 18:36] khurtado commented on #1875
Hello @btovar @trshaffer

Here is a simplified case. If I have some flock function [1] and execute it through a wrapper [2] more than once, bash will print something like below, but running it through parrot hangs in the flock part forever.

[code]
[1]
[code]

[2]
[code]

[2018-03-07 19:30] btovar commented on #1874
For what is worth, this issue first appear in b6a0e92f53f084a008182ffa4c6a77ba34dfeb4f
and disappeared in cfb4f82e1264c81c2fc4ab9dc4d4b6b723df1ff6

[2018-03-07 19:49] trshaffer commented on #1874
Huh, looks like cfb4f82 fixed a number of spooky issues. @dthain mentioned in #1831 another problem vanishing after that commit, in addition to the main issue

[2018-03-08 09:27] leeping commented on #1877
Hi Ben,

Thanks a lot - we'll check it over here and I'll let you know!

- Lee-Ping

[2018-03-09 13:32] btovar opened #1880 "parrot with libcvmfs writes checksum files in PWD."
Example:

% rm cvmfschecksum.cms.cern.ch

% parrot_run ls /cvmfs/cms.cern.ch

% cat cvmfschecksum.cms.cern.ch
b9f8a5caacfac603a3a2d75a6a0463f99031bbe5T1520592252

[2018-03-09 13:35] dthain commented on #1880
Where should it go?

[2018-03-09 13:39] btovar commented on #1880
I'm not sure. /tmp/parrot.XXXXX ?
I don't think we had them until we updated libcvmfs.

[2018-03-09 15:43] btovar commented on #1880
But better, why is it there at all?

[2018-03-09 21:22] trshaffer commented on #1875
I haven't been able to reproduce this, but it looks like Parrot's `flock` support is broken. When run on the command line, the `flock` program does the following.
1. Schedule a `SIGALRM` after the timeout specified on the command line.
2. Call `flock(2)`.
3. If woken up by the signal, exit failure.

Parrot doesn't handle `flock(2)` correctly, though. For native FDs, things would work fine as the `

[2018-03-09 23:55] khurtado commented on #1875
@trshaffer Thanks! Will try it. @btovar, could you do the static compilation with that PR to test?

[2018-03-10 01:01] leeping commented on #1877
I'm sure I'm doing something silly, somehow I cannot check out this commit after cloning the repository.  Here is the error I'm seeing:
[code]
Additionally, this commit doesn't show up in the `git log`. The GitHub webpage doesn't show this commit as being on any specific branch or fork. Do you know what might be going on?

[2018-03-10 21:45] yudongqiu commented on #1877
Thanks for the help!

I manually overwrited the `configure` script with the one provided in commit 98e58a5, and tried to compile it with Anaconda Python 3. I got this error message:

```rmonitor_wrap.c:149:21: fatal error: Python.h: No such file or directory```

The configuration command I used was:
```./configure --prefix /home/qyd/opt/cctools-6.2.7 --with-python-path no --with-perl-path no --wit

[2018-03-11 00:04] btovar commented on #1877
I apologize, I gave incomplete instructions. By that commit I should have said the whole branch here:

https://github.com/cooperative-computing-lab/cctools/pull/1878

As you found out, there are other files that needed some changes.

[2018-03-11 00:47] leeping commented on #1877
Thanks Ben, I was able to install WQ successfully from your commit.  On my machine, Python.h was located here: `/home/leeping/opt/miniconda3/include/python3.6m/Python.h`

Here's what's contained in `config.mk`:

`CCTOOLS_PYTHON3_CCFLAGS=-I/home/leeping/opt/miniconda3/include/python3.6m -I/home/leeping/opt/miniconda3/include/python3.6m`

Thanks,

- Lee-Ping

[2018-03-12 12:19] btovar commented on #1880
Doing an strace, the first time that file is tried is at /tmp/parrot.XXXX:

open("/tmp/parrot.196886/cvmfs/cvmfschecksum.cms.cern.ch", O_RDONLY) = -1 ENOENT (No such file or directory)
open("./cvmfschecksum.cms.cern.ch.wObQ37", O_RDWR|O_CREAT|O_EXCL, 0600) = 9
rename("./cvmfschecksum.cms.cern.ch.wObQ37", "./cvmfschecksum.cms.cern.ch") = 0

It would seem the open and rename are using an incorrect p

[2018-03-12 12:53] btovar commented on #1880
https://github.com/cvmfs/cvmfs/pull/2070

[2018-03-13 12:02] btovar commented on #1877
Thanks for letting us know!

[2018-03-13 12:02] #1877 closed

[2018-04-06 19:42] khurtado commented on #1875
So, this is working! @btovar: Is there a version of cctools with this change integrated already? I would like to update the builder cctools recipe.

[2018-04-09 11:38] btovar commented on #1875
It has not been merged yet. I will do that shortly.

[2018-04-09 11:38] #1875 closed

[2018-04-09 16:57] btovar commented on #1875
@khurtado: the builder has been updated accordingly. (--require cctools)

[2018-04-09 16:58] khurtado commented on #1875
@btovar Great! Thanks!

[2018-04-09 19:18] khurtado commented on #1875
@btovar Just do double check, `6.2.10` PR #1860 , #1837 and #1851, correct?

[2018-04-10 11:15] btovar commented on #1875
Yes, they are included.

[2018-04-25 11:40] nhazekam opened #1891 "Makeflow Archive Mode Segfault"
As reported on the forums, using archive mode on torque resource branch causes a segfault.

- Need to see if this is an issue in master (likely).
- If not need to address the changes causing it prior to merging resources.

Command that segfaulted:
$ makeflow -T torque -B "-l nodes=1:ppn=2,mem=4gb" -N bench --max-remote 100 --do-not-save-failed-output --archive=Makeflow_archive Makeflow
parsing Mak

[2018-04-27 15:22] btovar opened #1892 "work queue does not url encodes file names inside a directory"
work queue url encodes the name of single files or directories. However, it does not do the encoding for files inside a directory. If a filename inside a directory contains a space, the file transfer fails, the master blames the worker, and the task is retried indefinitely.

[2018-04-27 16:32] nhazekam commented on #1891
I am currently working on this. I'm glad you're interested. I will link to this issue as soon as it's ready for use. It's currently my highest priority.

[2018-04-30 14:26] dthain commented on #1892
That's a nice targeted solution.
Do we have the same problem on the `work_queue_worker.c` side?

[2018-04-30 14:29] btovar commented on #1892
We don't. The problem is the recursive "file dir/filename", where filename may have spaces.

[2018-04-30 14:35] dthain commented on #1892
What I meant was, we have the same recursive protocol for both worker->master and master->worker transfers.  What happens if the master sends a directory recursively, and one of the files has a space in it?

[2018-04-30 15:03] btovar commented on #1892
Ah, yes. I thought those names were computed on submission time, but they are computed in send time. I'll fix the worker accordingly.

[2018-04-30 15:03] nhazekam opened #1895 "Makeflow/Batch Job never allows retrieval of 0 jobid"
Makeflow allows 0 to be a valid submitted jobid.

`batch_job_submit` allows 0 as well:
"On success, returns a unique identifier for the batch job.  On failure, returns a negative number." from `batch_job.h`.

Makeflow will collect jobids with `batch_job_wait_timeout` but only try to reap the job if the id is greater than 0. If a node is ever actually submitted to 0 the job is added to the jobs tab

[2018-04-30 15:06] dthain commented on #1895
I see what you are saying about the consistency of the API: submit() could potentially return jobid zero, but wait() has no way of returning it.  In any case, I would like to eventually move to a string-based jobid, for a variety of reasons.

But I'm not sure what you mean about the difference between a "submit" and "actual" jobid...?

[2018-04-30 15:13] nhazekam commented on #1895
The reason I said "valid submit" vs "actual jobid" was to say that it used to indicate both the success of submit and the actual jobid if successfully submitted. I didn't mean there were different "submit jobids" vs "actual jobids". Sorry for the unclear wording.

[2018-04-30 15:15] dthain commented on #1895
Do we have an existing batch system that could return zero as a job id?
If so, then this is a problem that needs to be solved.
If not, then just make a note of it in the API, and move on to other things.

[2018-04-30 15:17] nhazekam commented on #1895
I don't believe we do. I can make a note of it in the API. I will leave this issue open to reflect the existing gap in the API.

[2018-05-03 15:36] Nekel-Seyew commented on #1895
When designing the amazon batch subsystem, it was an issue I ran into, since my ids were originally just a counter starting at 0 and increasing from there. I switched to a random id system when I found this bug.

[2018-05-21 07:31] stemangiola commented on #1891
Hello,

I received some notifications about updates on github code, however its not clear to me if the issue has been solved and tested?

Thanks!

[2018-05-21 16:48] nhazekam commented on #1891
Thanks for checking in. The code is working well, but still in testing. We are currently working on the release schedule so that we can have this available to you soon. I will update this both when it is merged with our master branch and when a formal release container the code is created.

[2018-05-29 18:29] trshaffer commented on #1895
I think this is related to poisoned log files I'm getting. I'm debugging submit failures, and rules with jobid 0 are showing up in the log. From there, `batch_job_local_remove` seems to be `SIGTERM`ing the main Makeflow process. Once this starts happening, Makeflow becomes unusable and I have to clean up everything by hand.

[2018-05-29 18:32] dthain commented on #1895
Using what batch system?

[2018-05-29 18:37] trshaffer commented on #1895
SGE, it's the issue from this morning with the Shakespeare example

[2018-06-26 15:32] dthain opened #1915 "Improved JX Documentation"
While we have a nice reference regarding the JX language itself (JSON + operators + comprehensions), we don't have a clear statement of how JX is used to encode a makeflow, in a way that a new user could get going easily.

As a starting point, I would like to just write down a schema for a dag expressed in JX.
Here is a first stab at it, with (illegal) comments. Are we missing anything important?

[2018-06-26 15:33] dthain commented on #1915
@btovar @nhazekam @trshaffer your thoughts?

[2018-06-26 19:09] dthain commented on #1915
See PRs #1916 #1918 #1919

[2018-06-27 16:54] dthain commented on #1915
@btovar can *anything* go in a categories clause, or only environment and resources?

[2018-06-28 11:40] btovar commented on #1915
In Makeflow and Work Queue we allow to set the mode for the first allocation computation (min waste or max throughput), which is part of the category definition.

Thus, not only resources and environments, but do we want to allow everything?

[2018-06-28 13:31] dthain commented on #1915
Right, that is reflected in the quick reference now.

@btovar could you please add a section to the end of the tutorial that explains how to add resources and then categories to the developing example.  Then also double-check the quick and full references regarding the same.  I explained according to my understanding, but my understanding might be wrong.  :)

[2018-06-28 14:51] btovar commented on #1915
On it.

[2018-06-28 15:02] dthain opened #1922 "Improve JX Error Messages"
Right now, if the user has a bug in their  JX workflow, the error messages they get back are rather difficult to understand.  There are really three levels of error handling:

1 - In `dttools/src/jx_parse.c` where we parse text to see if it is valid JX.
2 - In `dttools/src/jx_eval.x` where we evaluate the JX to resolve values.
3 - In `makeflow/src/parser_jx.c` where we examine the valid JX to see

[2018-06-28 19:50] dthain commented on #1880
Looks like this is fixed in cvmfs?

[2018-06-28 19:50] #1826 closed

[2018-06-28 19:51] dthain commented on #1825
Transient issue appears to be gone...

[2018-06-28 19:51] #1825 closed

[2018-06-28 19:52] dthain commented on #1815
@philipjhj Is this still an open problem for you?

[2018-06-28 19:53] dthain commented on #1800
Closing b/c no response after six months.

[2018-06-28 19:53] #1800 closed

[2018-06-29 12:33] #1880 closed

[2018-06-29 12:33] btovar commented on #1880
It is.

On Thu, Jun 28, 2018 at 3:50 PM, Douglas Thain <notifications@github.com>
wrote:

[2018-06-29 18:16] dthain commented on #1564
PR #1905

[2018-06-29 18:16] #1564 closed

[2018-06-29 18:39] dthain commented on #1895
Looking at the code, that occurs when the driver cannot create the initial wrapper files and submit (incorrectly) returns zero, causing confusing.  Solution incoming..

[2018-06-29 18:41] dthain commented on #1895
PR #1927

[2018-06-29 20:04] #1895 closed

[2018-07-02 15:23] dthain commented on #1922
Point 1 is fixed by PR #1929
Point 2 is still outstanding
Point 3 is fixed by PR #1926

(@btovar don't let this hold up the 7.0 release)

@trshaffer when you return, please take a look at point 2.  I see that you built up some rich error objects that return a code and a structure containing the relevant elements, but this is awfully difficult for the end user to grok.  For example, an attempt to p

[2018-07-03 17:19] dthain commented on #1915
The documentation is much improved now.

[2018-07-03 17:19] #1915 closed

[2018-07-17 18:20] #1922 closed

[2018-07-21 02:33] stemangiola commented on #1891
Hello,

this Thursday I will present your Makeflow tool at the meeting for our torque HPC (cluster) infrastructure. I would be glad to talk about the features:

1) tracking of inside changes of pipelines (without the need to rerun the hole makeflow tasks)
2) the ability of makeflow to use locally defined job attributes (e.g., time, memory and cores requrements)

As far as I know none of these two

[2018-07-23 14:50] dthain commented on #1891
@trshaffer can you please work with @stemangiola on this?
@nhazekam is out on an internship this summer.

[2018-07-23 15:43] trshaffer opened #1947 "Support for archives/disk images in Parrot"
There's been occasional discussion for some time about using Parrot to "mount" a tarball or similar file and present it to the user as a directory tree. There seems to be some interest now in the HEP community about using this kind of approach for distributing self-contained software. I'm opening this issue to track discussion on this feature.

An initial question is what format(s) to support. A f

[2018-07-24 11:35] btovar commented on #1947
TIm, as I understand it, SquashFS is now the default in singularity, that is, we should expect most singularity images to use SquashFS.

[2018-07-25 11:20] nhazekam commented on #1947
@jblomer May have more insight into this, but the above suggested formats sound reasonable. The work I am currently doing is targeting both TAR and SquashFS as outputs for the packaged CVMFS repository. If there was Parrot support for these, the combination could be used in a location where you don't have access to CVMFS (possibly due to network) and you are not able to mount.

[2018-07-26 07:06] jblomer commented on #1947
I think that would be a super useful feature, if only for my personal use!  I've always wanted a lightweight way to look in VM images, or at least ext2-4 file system blobs.  I'm not sure if there is a user-land library for ext.  Ext image files are, as far as I understand, used with the Shifter container system.

[2018-07-27 14:41] btovar opened #1951 "API call for work queue and batch interface to mark files as 'no cache'"
The idea is for masters such as makeflow to advise the batch system that a file won't be used anymore.  In the work queue case, this would mark a file as not to be cached, and to delete the file in the workers it exists.

[2018-08-07 06:16] kwwette opened #1953 "Does Makeflow respect MEMORY, CORES, etc.?"
According to

https://ccl.cse.nd.edu/software/manuals/makeflow.html#resources

one can tell Makeflow what e.g. memory is required by setting a directive in the `.makeflow` file:

[code]

However this feature doesn't seem to work if the job is run under Slurm:

[code]

and I think query for what memory was requested

[code]
which shows the job was allocated the default 100Mb instead of the requeste

[2018-08-07 11:59] btovar commented on #1953
Karl,

Thank you for your report, let me check if something strange is going on.

[2018-08-07 12:33] nhazekam commented on #1953
Just to add to this. Currently the batch system behind Makeflow does not support specifying individual resources on a per task basis. This is largely due to the different way that resources can be specified and different requirements of which options need to be specified depending on the batch system and site. This was similarly discussed in #1857.

If you are using the same resource requirement f

[2018-08-07 22:40] kwwette commented on #1953
@btovar Thanks very much!

@nhazekam Thanks. I'm new to Makeflow, so at the moment I'm just trying to get the basic example from the manual working, with just one task.

[2018-08-10 16:01] nhazekam commented on #1953
Apologies to @Nekel-Seyew, but I think for now lets see if standard Makeflow is able to address @kwwette's use case. Between Makeflow and Work Queue we should be able to accommodate most execution models and resources specification needs.

The MPI integration is still under development and very much a bleeding edge feature. If down the road we find that our current master version can not accommoda

[2018-08-14 14:03] dthain commented on #1953
@nhazekam welcome back home, and please make it a priority to work on this one.  Touch base with @Nekel-Seyew for testing since he has been doing some work with SLURM on XSEDE.  @btovar let's get this and #1857 rolled up into a minor release when ready.

Now, there is always some uncertainty about whether adding command-line arguments to `qsub` or its equivalent will cause accidental breakage due

[2018-09-03 19:24] Nekel-Seyew opened #1963 "UMASK setting interfereing with executables when copying to worker's tmp directory"
When running on Stampede2 at TACC, my umask 0077, which is causing problems with my workflows. Every time a file, especially my executable files, are copied from my working directory (where they have 0777) into the job's sandbox, the file's permissions are now 0600+T.

[2018-09-04 12:36] dthain commented on #1963
That +T is interesting, I wonder if there is some unusual filesystem feature getting involved here...

[2018-09-04 12:38] btovar commented on #1963
I thought so too, but I can manually create executables in the /tmp, so... maybe?

[2018-09-04 15:52] dthain commented on #1963
@Nekel-Seyew here is a Unix trivia question worth looking up:
Is  `open(path,flags,mode)` affected by the umask?  (I'm pretty sure yes)
Is `chmod(path,mode)` affected by the umask?  (I have no idea)

[2018-09-05 04:08] poquirion opened #1964 "Fifo not blocking on write with parrot_run"
I have a program that writes to a fifo and blocks until another one reads it.

The fifo is in `/tmp` and I use parrot_run to access some file in `/cvmfs`

Here is what is happening when I am not using parrot_run (expected behaviour)
[code]
When I use parrot_run in a one liner (again, expected behaviour)
[code]

My problem is when I start a bash session with parrot_run,

[code]
In the last case, if

[2018-09-05 13:11] trshaffer commented on #1964
@poquirion thanks for the bug report! I can reproduce this issue, and this is definitely weird behavior. I'll keep this issue updated while I track down the problem.

[2018-09-05 15:14] Nekel-Seyew commented on #1963
@dthain `open` is affected by umask, but so is `chmod` if the symbolic letters are used and no user is specified.

[2018-09-05 17:09] trshaffer commented on #1964
@poquirion Parrot does use `O_NONBLOCK` internally. I just put in a PR to catch this corner case. As of 2d3a6125 your examples appear to work as expected. For the one-liner, the open and redirect are happening in the parent shell (Parrot just sees `echo 33`).

[2018-09-05 18:33] poquirion commented on #1964
Yé!

[2018-09-05 19:33] dthain commented on #1963
Er, I meant the `chmod(2)` system call as opposed to the `chmod(1)` command line tool.

[2018-09-06 17:43] #1964 closed

[2018-09-06 17:45] trshaffer commented on #1964
@poquirion that change is merged. If you'd like to try it out, you can build CCTools from the `master` branch

[2018-09-07 18:43] poquirion commented on #1964
@trshaffer Thank a lot!
I've been building it, but cannot have the cvmfs work properly with my build. `./config && make && make install` runs without errors but fails handle the cvmfs connection where it was running without problems with 7.0.4. Perhaps because I am building in centos container on an ubuntu machine... not sure.
Is the recipe used to build the  redhat 7 release  available somewhere?

[2018-09-07 19:00] trshaffer commented on #1964
@poquirion to build with CVMFS, you need to point the `./configure` script to your libcvmfs installation (`--with-cvmfs-path`). A prebuilt binary package for RHEL7 is available [here](https://ccl.cse.nd.edu/software/autobuild/commit/5b94c693/cctools-5b94c693-x86_64-redhat7.tar.gz) if you wouldn't mind testing things out. If that solves your issue, we can do a point release.

[2018-09-10 18:27] dthain commented on #1953
@nhazekam Any updates on this one?

[2018-09-10 18:27] dthain commented on #1892
This one is merged, right?

[2018-09-10 18:28] dthain commented on #1891
@trshaffer Is this one fixed?

[2018-09-10 18:31] #1892 closed

[2018-09-10 18:33] dthain commented on #1727
@btovar I believe you made some progress on this?

[2018-09-10 18:35] trshaffer commented on #1891
@dthain The archive mode changes are merged in. We never heard back with new problems, so as far as I know this is resolved.

[2018-09-10 18:49] nhazekam commented on #1953
@dthain @kwwette Sorry I didn't update this. This was somewhat recently addressed. SLURM now has support with respect to CORES and MEMORY. This is both in Master and in most recent release.

Using Makeflow each task is specified as 1 node and 1 task per node (-N 1 -n 1). The cores are specified using -c. Memory is specified using -mem.

Disk is not specified for SLURM as a shared filesystem is typ

[2018-09-10 18:52] btovar commented on #1727
Indeed. Fixed with #1957

[2018-09-10 18:52] #1727 closed

[2018-09-13 04:16] poquirion commented on #1964
Mmm, it does solve the bug, but It seems that the software is still hindered by the parrot... I will need to dig a bit more before any new release can help me.

[2018-09-16 20:49] rlmv opened #1967 "Work Queue: double free or corruption"
I'm consistently getting a double free error in my work queue master (using CCTools 7.0.4). This takes a while to manifest - maybe after running for 2 or 3 days.

This is the line that causes it: https://github.com/cooperative-computing-lab/cctools/blob/12d56ed2517be5ef6967205f0f98234a794114e1/work_queue/src/work_queue.c#L1139

Here's the backtrace:

[code]

This is being called by `get_output_fil

[2018-09-16 20:51] rlmv commented on #1967
FYI @matteograsso @amhaun01

[2018-09-17 11:18] btovar commented on #1967
Bo, thank you for your detailed report. I'll work on it right away.

[2018-09-17 12:40] rlmv commented on #1967
Thanks Benjamin. Please let me know if I can help with testing or provide
any more information.

On Mon, Sep 17, 2018 at 07:18 Benjamin Tovar <notifications@github.com>
wrote:

[2018-09-17 12:55] btovar commented on #1967
I think I got it.

The double free appears when a worker fails while in the middle of transferring back multiple files. This is why you don't see it often, as workers don't usually fail there. If I'm right, there is still the issue of why the worker is failing. (This may not be a problem, as it may be simply temporal network connection problems, evictions, resource lease coming to an end, etc.)

[2018-09-17 13:06] btovar commented on #1967
Bo, could you give https://github.com/cooperative-computing-lab/cctools/pull/1968 a try?

I can provide binaries if necessary.

[2018-09-17 18:28] nhazekam commented on #1963
@trshaffer was this addressed in #1966. Meant to ask prior to merging.

[2018-09-17 18:30] trshaffer commented on #1963
I'm fairly sure it is. @Nekel-Seyew says he'll rebase and test tomorrow.

[2018-09-17 18:34] nhazekam commented on #1963
Great. @Nekel-Seyew please update this if it works so this can be closed.

[2018-09-18 11:28] rlmv commented on #1967
I just started a new computation. I'll let you know what the results are!

[2018-10-11 19:08] nhazekam opened #1973 "Specifying Intermediate files in JX"
There is no way to specify files are workflow inputs, intermediates, and outputs. This is possible in make-style Makeflow, but not supported in JX.

Makeflow's default behavior is to label any file that is not created in the workflow as an input, any file that is not used by a rule as an output, and all other files as intermediates. Garbage collection uses these labels when determining if a file c

[2018-10-12 11:45] rlmv commented on #1967
@btovar This seems to have resolved the problem. I checked a computation that I started a couple weeks ago and it terminated normally.

Thanks!

[2018-10-12 11:45] #1967 closed

[2018-10-12 12:51] btovar commented on #1967
Bo, thanks for letting us know!

[2018-10-26 03:32] liyongming1982 opened #1976 "where is the design and protocol documents"
it is a amazing project , as i read the source code
but i dont know how works between workermaster and work , so where could i see the protocol documents . thank you so much

[2018-10-26 11:00] trshaffer commented on #1976
The C API for interacting with a WQ master is available [here](http://ccl.cse.nd.edu/software/manuals/api/html/work__queue_8h.html). Aside from starting them, the user doesn't really interact with workers directly. As such, the actual wire protocol that the master uses to talk to workers isn't published/stable. Do you mind me asking what your application/use case is @liyongming1982 ?

[2018-11-01 13:22] nhazekam opened #1978 "Enable SGE resource specification"
Add support for jobs with resource specification to SGE. This can be done with ::
cores -> -pe smp $CORES
mem -> -l h_vmem=3G | -l mem_free=3G | -l h_rss=3G (possibly)
disk -> assumed sharedfs (Will verify later)

Part of this issue is the need for support, but also the interest in allowing specification of a select memory type and possibly in the future multiple different bounds.

::

This was ed

[2018-11-05 08:32] liyongming1982 commented on #1976
Ths.
I plan to use cctools in router(openwrt) (the worker)

[2018-11-05 15:36] trshaffer commented on #1976
The workers have two ways to find the master. The simple case is that the address and port of the master was given on the command line when starting the worker. We also support using "project names" to advertise masters. The master sends its address and port as well as some statistics to a catalog server (the default one that we operate is at [http://catalog.cse.nd.edu:9097/](http://catalog.cse.nd

[2018-11-05 15:36] trshaffer commented on #1976
Also, @liyongming1982 that sounds like an interesting application! We like to hear about what our users are doing with CCTools, so if you're able, we'd love to get a short overview of what you're doing at [this Google form](https://docs.google.com/forms/d/e/1FAIpQLScYGnnjDW4wMBsv4lo1q-hFqpvNzqrJTBnk9msJqyDaRR8ecg/viewform).

[2018-11-19 20:13] Nekel-Seyew commented on #1755
This was answered by merged pull request #1986

[2018-11-26 20:08] Nekel-Seyew commented on #1408
I think this can be closed. I have no idea where in the documentation it's referring to any more. The reference about stringtools needing -lm is still valid, if you're compiling with it by hand. It really only seems necessary for the "string_metric" function, which also uses log, pow, fmin, fmax". One possibility would be to have local copies of those functions, since it does seem a little odd for

[2018-12-06 18:22] Nekel-Seyew commented on #1617
@btovar Is this being actively looked into? I have a feeling that the idea won't really come to fruition, in which case, this can probably be closed.

[2018-12-06 18:30] Nekel-Seyew commented on #1815
@btovar Given that the last comment on this was from Jan, I think we can close this.

[2018-12-06 18:32] Nekel-Seyew commented on #1795
@btovar I think we can close this, as there are many ways to include Docker and Singularity with Makeflow and subsequent batch systems.

[2018-12-06 18:32] Nekel-Seyew commented on #1755
@btovar we can close this one.

[2018-12-06 18:32] Nekel-Seyew commented on #1749
@btovar we can close this one, right @trshaffer ?

[2018-12-06 18:35] nhazekam commented on #1749
I think this is work that was/is in progress related to #1808.

[2018-12-06 18:37] nhazekam commented on #1857
I think this was addressed in #1858. Please respond to this issue if that is not the case.

[2018-12-06 18:37] #1857 closed

[2018-12-06 18:39] nhazekam commented on #1953
Resources are now specified (respect depends on batch system) in each batch specific job submission.
Torque support #1858
SLURM #1858
SGE #1981

If there are cases where resources are incorrectly specified, please open a new issue with specific details.

[2018-12-06 18:39] #1953 closed

[2018-12-06 19:08] trshaffer commented on #1873
That's an option. This sort of got away from me when the focus shifted to archive mode.

[2018-12-06 19:11] #1815 closed

[2018-12-06 19:11] #1795 closed

[2018-12-06 19:11] #1755 closed

[2018-12-06 20:37] Nekel-Seyew commented on #145
@btovar I don't know if I would recommend closing this issue from 4 years ago. It's a good idea that someone hopefully should get around to doing, but if I'm not mistaken, this is going to be covered in WorkQueue 2 no?

[2018-12-06 20:39] Nekel-Seyew commented on #146
@btovar I think the primary requested functionality of this is handled by the request of #145 and a shared file system. This can probably be closed.

[2018-12-06 20:41] Nekel-Seyew commented on #183
@btovar this can be closed. It seems that  it would cause too much of a change to WQ to effectively do. Maybe it's something for WQ2?

[2018-12-06 20:41] Nekel-Seyew commented on #1408
@btovar this can be closed.

[2018-12-06 20:41] #1408 closed

[2018-12-06 20:44] Nekel-Seyew commented on #236
@btovar @trshaffer Is this still a pressing issue? wouldn't increasing the timeout value do something similar?

[2018-12-06 20:46] Nekel-Seyew commented on #500
@trshaffer This still necessary, or has it been addressed?

[2018-12-06 20:56] Nekel-Seyew commented on #1392
@btovar @nhazekam Is this still an idea we should keep, or has it been addressed? It seems like it's mostly solved via training and documentation.

[2018-12-06 21:01] klannon commented on #1392
If by "solved" you mean my problem instead of yours, then I suppose that's true, but this remains probably the biggest struggle for new users who are not used to the worker-task model as opposed to just submitting batch jobs.  They struggle to understand the distinction between worker and task resource specifications and don't understand why they should be different (or maybe I should say, when th

[2018-12-06 21:10] dthain commented on #1392
Definitely still an open problem.  It's not only about the relationship between tasks and workers, but also between workers and the batch system that they run on.  (e.g. Will I get better service asking for 20 4-core workers, or 10 8-core workers)

[2018-12-06 21:14] dthain commented on #236
Still a problem.  Disconnections can occur even with the timeout set high.

[2018-12-06 21:43] Nekel-Seyew commented on #1392
Oh, sorry! I didn't think about it from a more worker+task level. I was thinking more of a fit-from-largest-task perspective. But that does seem to be an open question then, comparing service performance from differently sized worker partitions.

It could be interesting to try and tie in the capacity feature on the factory as well. That way the factory and the master could communicate with one ano

[2018-12-11 19:07] trshaffer commented on #500
This could potentially improve Parrot's performance. Enough time has passed that the necessary kernel features should be available. Investigating this feature might make for an interesting student project or something. No reason to close this issue now.

[2018-12-13 10:49] AssassinJY opened #1992 "Some tasks in running status permanently"
We use makeflow with sge mode to handle a huge workflow of more than 15000 tasks.

As I known, makelfow in sge mode monitor files sge.status.[job_id] to observe  task status. When task complete, makeflow delete files sge.status.[job_id].

When the stroage ( we use a shared parallel stroage ) is overload, getting the status and content of the files is delayed a few second, and makeflow keeps some t

[2018-12-13 12:56] btovar commented on #1992
Thank you for your report!

Could you make a run with debugging enabled (-dall -odebug.log), and send us the resulting debug.log, your makeflow file and the  *.makeflowlog file?

[2018-12-14 15:14] dthain opened #1993 "Backup Catalog Handling"
@btovar please investigate two things:

1 - The backup catalog server appears to be down.
2 - If the catalog server is down, work_queue_status busy-waits:

[code]

[2018-12-19 16:34] nkremerh opened #1995 "Work Queue Sends Same Attribute to Catalog Twice per Update"
The Work Queue master sends the "workers_able" attribute twice when sending JSON updates to the catalog server.

[2018-12-19 16:58] #1993 closed

[2018-12-19 19:56] #1995 closed

[2018-12-22 23:47] yudongqiu opened #1998 "Installation of work queue on Mac OS 10.14"
Dear Developers,

I was trying to install the work queue program on Mac OS 10.14 but encountering some issues during compilation. I used python 3.6 installed with anaconda. I have also installed the command line tools via `xcode-select --install`

The source code I used was `http://www3.nd.edu/~ccl/software/files/cctools-6.2.10-source.tar.gz`

Once downloaded and decompressed, I used this command

[2018-12-24 15:45] dthain commented on #1998
Hello Yudong -

Thanks for your interest, but you caught us just as the Christmas holiday
begin.
We'll have a chance to look at this early in the new year.

(The error message suggests some problem with linking basic system
libraries,
are you able to build a simple C program outside of cctools?)

Best wishes -
Prof. Thain

On Sat, Dec 22, 2018 at 6:47 PM Yudong Qiu <notifications@github.com> wrote

[2018-12-24 17:49] yudongqiu commented on #1998
Dear Professor Thain,

Thanks a lot for the reply! I completely understand that it's Christmas time.

Yes I am able to compile and build other programs.

The error message that the building process stopped at seems to be

[code]

Here is some additional information about the `ld` program I have:

[code]

Thanks,

Yudong

[2018-12-25 06:16] AssassinJY commented on #1992
Sorry for the late reply and thank you for your help.  We finally found out that the makeflow is actually going to be completed normally when we reduce the storage load. So we think the problem is just the slow IO. The makeflow just become slow, but not hanging up.
I will close this issue and thank you again.

[2018-12-25 06:16] #1992 closed

[2018-12-25 17:30] btovar commented on #1998
Yudong,

Could you try compiling a more recent version? E.g., http://ccl.cse.nd.edu/software/files/cctools-7.0.9-source.tar.gz

That way we would know if you encountered a bug we already fixed.

[2018-12-25 18:44] yudongqiu commented on #1998
@btovar Thanks for the suggestion! I just tried the newer version from your link and it has the same issue.

[2018-12-31 19:06] dthain commented on #1992
Glad it's working for you.
When you get a chance, we would be interested to hear a little more about your application:
https://docs.google.com/forms/d/e/1FAIpQLScYGnnjDW4wMBsv4lo1q-hFqpvNzqrJTBnk9msJqyDaRR8ecg/viewform

[2019-01-03 16:42] btovar commented on #1998
I was not able to reproduce your issue. This is what I did:

Install anaconda3.
Re-login so that swig installation recognizes anaconda's paths.
Install swig.
./configure --with-python3-path path/to/anaconda  --with-swig-path path/to/swig

How did you install anaconda, swig, and how did you create your envs?

[2019-01-03 17:31] yudongqiu commented on #1998
@btovar Thanks for following up on this. I just repeated the process in a new conda environment to reproduce the above issue.
I installed anaconda 3 (python 3 version) using the command line installer.
I created a conda environment by `conda create -n cctools`, then activated that by `conda activate cctools`
Then I installed python 3.6.7 and swig by `conda install python=3.6.7 swig`
Then I cd into

[2019-01-03 17:45] btovar opened #2000 "cctools does not configure correctly with OSX Mojave 10.14"
OSX moved  /usr/include to /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include and we have a bunch of hardcoded /usr/include's in ./configure.

Unfortunately it won't be as easy as adding -I/Library/etc... as the getopt.h used changes if compiling with linux or osx.  Some ifdefs etc. in the getopt.h cctools we provide may be needed.

[2019-01-03 18:06] btovar commented on #1998
Both of these work for me.  Also, both errors are different from your original error message, which makes me wonder if there is something going on with your environment.

Could you try something like:

[code]

[2019-01-03 18:38] yudongqiu commented on #1998
Sure. The first three commands did not have any output

Then I did the next two:
[code]
In the new environment, python and swig are not installed yet, so if I directly run the next command, the configure fails with error `I couldn't find the Python3 >= 3.0 libraries`
Then I ran one more command `conda install python=3.6 swig`, then the configuration finishes successfully, but when I try to compile

[2019-01-03 18:47] btovar commented on #1998
Oh yes, I forgot the installation step, sorry about that.

I think I got it. I can reproduce it when I disable python2, as:  --with-python-path no

I assume you have a pure python3 installation then?

Let me see how can I fix it.

[2019-01-03 18:49] yudongqiu commented on #1998
Yes I have pure python3 installation. Thanks!

[2019-01-04 14:36] btovar commented on #1998
Could you give #2002 a try? It worked for me with python 3.6.

[2019-01-07 14:01] btovar commented on #1998
Excellent, thanks for letting us know!

[2019-01-07 14:01] #1998 closed

[2019-01-21 13:27] btovar opened #2007 "jx parses +number, -number as jx_operator instead of jx_NUMBER"
This could be observed with jx_constant, where all jx_operator were marked as not constant.
Hot fix #2006 fixes jx_constant for these cases, but the correct solution is to change the parser.

[2019-01-29 15:50] #1733 closed

[2019-01-29 15:51] #1891 closed

[2019-01-29 15:51] #1947 closed

[2019-01-29 15:54] trshaffer commented on #1978
@nhazekam, OK to close this issue?

[2019-01-29 15:58] #1978 closed

[2019-01-29 16:27] btovar commented on #1794
--wrapper and --runos seem to  cover this one.

[2019-01-29 16:27] #1794 closed

[2019-01-29 16:38] dthain opened #2010 "Service Monitoring"
We need a simple service monitor cronjob that runs periodically and checks the status of our various services  so that we can see what's up and down from a single place, for example:

- ccl web site
- condor central manager
- catalog server
- backup server
- ccl database
- bxgrid chirp servers

While I'm sure we could hack something up, I wonder if there is an existing solution out there that we c

[2019-01-30 12:02] #2007 closed

[2019-02-05 16:35] nhazekam opened #2015 "Parrot CVMFS use Web Proxy Auto-Discovery"
Check what the status and distance is needed from current Parrot configuration.

The goal is to allow for users of CVMFS via Parrot to use the WPAD to configure proxies automatically, which is supported for CVMFS and libcvmfs.

[2019-02-05 16:36] nhazekam commented on #2015
@jblomer @DrDaveD Just linking the issue so that you can follow this.

[2019-02-05 17:43] dthain opened #2016 "Catalog: Split History by Type?"
Historical queries of the catalog are often expensive b/c of the need to scan data irrelevant to the current query.  e.g. There are lots of chirp loadavg/storage updates that dominate the wq_master updates by an order of magnitude.

One solution to this is to partition data by the static "type" field of the advertisement, and then store these in separate instances of `jx_database`, so the director

[2019-02-06 21:23] trshaffer commented on #2015
@DrDaveD I fiddled with the option passing for a while, and I think this should work as is. I only tested with a local PAC file, but CVMFS was correctly picking up proxy config. I set the `CVMFS_PAC_URLS` environment variable, and used the Parrot option `--cvmfs-option CVMFS_HTTP_PROXY=auto`. Under that configuration, libcvmfs successfully read in the config and set up proxies. Since libcvmfs does

[2019-02-06 22:37] DrDaveD commented on #2015
Thanks.  That's kind of an odd combination, requiring one to be an option and one an environment variable, but it's probably good enough, don't you think?

[2019-02-07 18:07] trshaffer commented on #2015
This should definitely be enough to get proxy autoconfig working. If you prefer to stick to environment variables only, Parrot recently started checking the `HTTP_PROXY` environment variable for this. `CVMFS_PAC_URLS` would appear to only work as an environment variable ([per libcvmfs](https://github.com/cvmfs/cvmfs/blob/devel/cvmfs/wpad.cc#L163)). @jblomer might have an opinion on supporting that

[2019-02-11 20:57] dthain commented on #1805
@AndrewLitteken I didn't quite understand this report when you submitted it.
Do you want to clarify, or has the moment past?

[2019-02-11 21:04] dthain commented on #1726
Technically, this is just a matter of changing `manual_cores_option` in `work_queue_worker.c` to a value of zero (meaning automatic) instead of one (meaning one).

Although I was initially very cautious about making the worker use multiple cores by default, I more inclined to move this direction now, since multiple tasks per worker is a selling point of WQ, and users tend to miss out on it...

[2019-02-11 21:04] dthain commented on #1597
Closing a stale issue: interesting but not a hot priority.

[2019-02-11 21:04] #1597 closed

[2019-02-11 21:05] dthain commented on #1528
@btovar I believe that resource reporting works as intended now, yes?

[2019-02-11 21:12] AndrewLitteken commented on #1805
I think the moment as passed. I'm cannot really remember what the issue was here, and it may have been rectified when actually implementing the feature.