[2021-08-09 11:26] #2640 closed

[2021-08-11 18:03] btovar opened #2645 "workers should report the protocol version they are using"
Currently we check that manager and worker use the same cctools version. When an incompatibility is found, then a warning is printed, but the worker remains connected to the worker. This could end up with a worker that never gets a task, and a manager that silently never makes any progress but reports workers connected.

Instead, the worker could report its wq protocol version. If there is a misma

[2021-08-12 18:17] btovar commented on #2645
Fixed by #2648

[2021-08-12 18:17] #2645 closed

[2021-08-13 18:56] btovar opened #2650 "Replace python_environments with poncho"
Note that python_package_run and poncho_package_run may be slightly out of sync.

[2021-08-16 13:23] dthain commented on #2650
Perhaps I was too soon to merge.  What's changed between the two?

[2021-08-16 13:40] btovar commented on #2650
At least https://github.com/cooperative-computing-lab/cctools/pull/2644
But it is nothing fundamental, only messages to help me better debug the expansion issue.

[2021-08-16 14:59] dthain opened #2651 "PONCHO: Analyze Uses Old Format?"
Using the current master, `poncho_package_analyze` gives the following output:

[code]

But this isn't the format expected by `poncho_package_create`.
https://cctools.readthedocs.io/en/latest/poncho/

Is something out of sync?

[2021-08-16 17:33] btovar opened #2653 "Use JX expressions in the factory configuration file."
E.g., if I want to define 4GB of memory per worker core, it would be great if we can simply say `cores*4000` or something like that.

[2021-08-18 01:45] dthain commented on #2651
Per our discussion just now, Barry is going to update the new format to embed the old format in the `conda` section.  (And also update the spec

[2021-08-24 13:34] dthain commented on #2651
fixed by #2655

[2021-08-24 13:34] #2651 closed

[2021-08-24 13:35] dthain commented on #2650
@btovar is there anywhere else where `poncho` needs to replace `python_package_run`?

[2021-08-24 13:35] #2607 closed

[2021-08-24 13:38] dthain commented on #2294
I think that this long thread has developed suitably into the `poncho` toolkit, which can share unpacked packages between tasks, or do packing at the worker level.

[2021-08-24 13:38] #2294 closed

[2021-08-24 13:38] #2100 closed

[2021-08-24 13:39] dthain commented on #2024
Issue has gone stale: future language bindings will come through JSON.

[2021-08-24 13:39] #2024 closed

[2021-08-24 13:40] btovar commented on #2650
We need to check that poncho_create_package and analyze work with "source" in parsl.

Other than that, we need to create a symlink python_package_run to poncho_package_run so that previous versions of coffea work correctly.

[2021-08-31 12:55] dthain commented on #2653
@jmrundle here is a good place to start.  Please look at `work_queue_factory.c` (which is in the `batch_job`) module and start by evaluating the values in the configuration file as JX expressions.

[2021-08-31 12:58] dthain commented on #2643
@jmrundle this would be a good second one to work on.  For an example of a query to clean up, check out page 120 in Nate's recent dissertation:
http://ccl.cse.nd.edu/research/papers/nkremerh-dissertation.pdf

[2021-08-31 14:14] David-Simonetti-ND opened #2661 "poncho functions not included in PATH"
When manually installing cctools, poncho_package_analyze, poncho_package_create, and poncho_package_run are not included in the system PATH.

[2021-08-31 14:17] David-Simonetti-ND opened #2662 "PONCHO: Poncho_package_analyze freezing without second argument"
When running poncho_package_analyze without a second argument (not specifying an output .json file), the program never finishes executing

[2021-08-31 14:29] David-Simonetti-ND commented on #2662
poncho_package_analyze also seems to delete the contents of the input file if a second argument is not provided and the user control+C's to kill the program.
ex. running "poncho_package_analyze a.py" will erase the contents of a.py once quitting out of the infinite loop.

[2021-08-31 15:22] David-Simonetti-ND opened #2663 "Poncho docs xkcd"
Following the readthedocs example for poncho_package_analyze causes an intrusive error in learning how to use the program. Having "import antigravity" in the example causes the xkcd console program to activate after running poncho_package_analyze which was extremely confusing. I recommend removing it or replacing it with another package.

[2021-08-31 21:31] jmrundle commented on #2653
@dthain Just want to make sure I'm understanding the idea correctly first...  So, ideally, the config file could include lines like this:
[code]
In this case, it seems like the main approach is to parse the config into a JX object (which we do already), then try to evaluate each of the attributes as JX expressions, using the entire object as context to resolve symbols.

The only issue I can think

[2021-08-31 22:38] bdw2292 opened #2665 "Installation question for Windows"
Hello,

I can install for linux and I see there is way to install for Mac OS, is windows supported? The conda command only works on my linux machine not from conda within windows however.

Thanks for your time

[2021-09-01 11:26] btovar commented on #2665
Brandon, we are sorry, but we only provide support for linux and OSX.  Some people have had some luck compiling from source using cygwin in Windows, but it is not something we have a lot of experience, or officially support.

[2021-09-01 14:31] #2665 closed

[2021-09-01 15:25] dthain commented on #2653
Yes, you have the right idea.  I think @btovar also had the idea that there could be some external parameter(s) that could be used in the values.

And I'm glad you are thinking about the circular evaluation problem.  I think that's a separate issue, but it's a good one for your to look at and solve.

[2021-09-01 17:32] bdw2292 opened #2666 "One GPU per job"
Hello,

With work_queue and work_queue_worker is it possible to force GPU only allocated to one task that needs gpu at a time? Multiple tasks that need gpus cannot use same gpu. I have used the --gpus on work_queue_worker and assign the task to need 1 gpu however it seems many tasks can use the same gpu.

Thanks for your time

[2021-09-01 17:57] dthain commented on #2666
Hello @bdw2292, he short story is that his should work, as long as your tasks are using CUDA and are reasonably well behaved.

Longer story:

1 - If you start a worker normally with no options, it should observe the number of cuda-capable devices on the machine, and report that back to the manager.  (You can check that the worker is doing the right thing by looking at its output immediately after

[2021-09-01 17:57] btovar commented on #2666
Brandon,

You should get the expected behaviour with the steps have you have described. That is, use `--gpus 1` for the work_queue_worker and then `t.specify_gpus(1)` for the tasks. Let me do a quick check to make sure a new bug was not introduced recently.

That said, the worker can only keep an internal count, but cannot prevent tasks of other workers running on a machine from using the gpu.

[2021-09-01 18:08] bdw2292 commented on #2666
Thanks! It works now, this essentially amounted to a bug I introduced into my wrapper where I thought I was calling task.specify_gpus(1) but in fact I was not.

Thanks again :)

[2021-09-01 18:08] #2666 closed

[2021-09-01 18:09] dthain commented on #2666
Maybe we should have a bit in the manual that specifically highlights what to do with GPUs?

[2021-09-01 18:10] btovar commented on #2666
@bdw2292 Excellent, thanks for letting us know.

[2021-09-01 18:10] bdw2292 commented on #2666
The manual is super clear, it was my fault for not realizing bug in my wrapper for work_queue.

I am gonna start messing around with cygwin and installing from source later, curious to see if can work with windows.

[2021-09-02 17:05] bdw2292 opened #2669 "Setting gpus=0 not working?"
Hello, quick question. I tagged my gpu jobs with needing 1 gpu, but on the nodes that I dont want gpu jobs on (cause old GPU card), I told work_queue_worker --gpus 0 (see below), but it seems to still send gpu jobs to that node. I am wondering if I have missed something in the correct procedure. I still want to use this node for cpu jobs.

2021-09-02 11:21:54,642 INFO Calling: ssh node59 "source /

[2021-09-02 17:10] bdw2292 commented on #2669
On a side note, I just realized -M should be ---M according to the docs. I am not sure how this would affect reading inputs.

[2021-09-02 17:13] btovar commented on #2669
It should be `-M`, so that's a bug in the docs.

Let me check why the worker is getting a task it shouldn't...

[2021-09-02 17:15] bdw2292 commented on #2669
Great thanks!!

On Thu, Sep 2, 2021 at 12:14 PM Benjamin Tovar ***@***.***>
wrote:

[2021-09-02 17:16] bdw2292 commented on #2669
https://cctools.readthedocs.io/en/latest/man_pages/work_queue_worker/

this is the page that says ---M

[2021-09-02 17:19] btovar commented on #2669
Thanks for the documentation bug report!

In your worker's log, can you tell me the lines that look like:

[code]

In my test, the worker correctly reports 0 gpus, and the manager does not send any tasks.

[2021-09-02 17:21] bdw2292 commented on #2669
Ah crap sorry I just deleted, I will reproduce the error then find.

On Thu, Sep 2, 2021 at 12:19 PM Benjamin Tovar ***@***.***>
wrote:

[2021-09-02 17:32] bdw2292 commented on #2669
2021/09/02 11:54:48.19 work_queue_worker[3722033] wq:  workers      0 inuse      1 total      1 smallest      1 largest
2021/09/02 11:54:48.19 work_queue_worker[3722033] wq:     disk      0 inuse  38423 total  38423 smallest  38423 largest
2021/09/02 11:54:48.19 work_queue_worker[3722033] wq:   memory      0 inuse  22400 total  22400 smallest  22400 largest
2021/09/02 11:54:48.19 work_queue_worker

[2021-09-02 17:34] btovar commented on #2669
Well, it says 0 in use, but 1 total. Could you paste the command line you are using for the worker?

[2021-09-02 17:34] bdw2292 commented on #2669
It definitly would not be using the gpu since, for this particular card I have not set up the envioronment correctly (so the dynamic_gpu job will immediteately crash due to incorrect libs). However it still appears to send to the node with gpus =0

[2021-09-02 17:35] bdw2292 commented on #2669
ssh node59 "source /home/bdw2292/.allpurpose.bashrc ;work_queue_worker nova 9123 -d all -o worker.debug --cores 12 --memory 185600 --gpus 0 -t 100000000 ---M RenLabCluster --parent-death"

[2021-09-02 17:42] bdw2292 commented on #2669
Another thing I just realize is we have shared file system, so I can imagine worker.debug is overwritten  by many worker.debug files , I think I can add this to the /tmp folder on each node.

[2021-09-02 17:45] bdw2292 commented on #2669
For now, I will just not use work_queue_worker on nodes with old gpu card

[2021-09-02 17:51] btovar commented on #2669
Are you running several workers at the same time?  One way we could test if we are looking at the correct logfile is if you manually ssh the command to some node like:

ssh node59 "source /home/bdw2292/.allpurpose.bashrc ;work_queue_worker nova 9123 -d all -o worker.debug.ZERO --cores 12 --memory 185600 --gpus 0 -t 100000000 ---M RenLabCluster --parent-death"

Then we can see if tasks in the log w

[2021-09-02 17:57] bdw2292 commented on #2669
Oh cool, I didnt know about -W option for work_queue_status. Ummm, if you want I can try another indepdent test. This time I will just isolate that one old gpu node with a work_queue_worker and only submit one job to queue for that node only. Do you need anymore information or would you want log files from that sort of test?

[2021-09-02 17:58] bdw2292 commented on #2669
I think you can have two seperate managers at same time (different projectnames) and they will not interefere if I recall the docs right

[2021-09-02 18:00] btovar commented on #2669
The log worker.debug.ZERO would be very helpful, thanks!

[2021-09-02 18:01] bdw2292 commented on #2669
To answer your earlier, question, no I am not running multiple at same time. I typically have to kill the python manager script (which for some reason the workers dont die after that with the --parent-death, maybe cause the queue is seperate process underneath), then I ssh to all nodes kill all processes before restarting manager (which ssh to each node and call work_queue_worker)

[2021-09-02 18:02] btovar commented on #2669
For the workers, I think you want  --single-shot instead of --parent-death.   --parent-death  means the parent process of the worker (e.g., the teminal shell) rather than the manager.

[2021-09-02 18:03] bdw2292 commented on #2669
Ah okay thanks! that will be very useful

[2021-09-02 18:21] bdw2292 commented on #2669
Curiously, it seems to work as expected when I test on single node case and say gpus=0

[2021-09-02 18:21] bdw2292 commented on #2669
In other words just waits in queue forever. I will have to do some more testing later when I have more time, thanks :)

[2021-09-02 18:29] btovar commented on #2669
Actually, if you are using nvidia gpus I found a case where --gpus=0  launches the automatic discovery of gpus. It could be that the discovery failed for the node that you were trying in isolation.

Anyway, I'll should have a fix soon. It may be that it fixes your observations.

[2021-09-02 18:31] bdw2292 commented on #2669
Interesting, thanks so much!

[2021-09-02 18:34] btovar opened #2671 "Move the script cctools_gpu_autodetect to gpu_info.c"
The script is simple and does not need its own file. Further, we wouldn't have to worry to send it together with the worker.

[2021-09-02 20:31] bcdarwin commented on #2353
I didn't manage to discover the cause of this, but it's resolved in Nixpkgs-unstable, so closing for now.

[2021-09-02 20:31] #2353 closed

[2021-09-03 14:14] btovar commented on #2669
The issue I saw should be closed with #2672.  It is included in the most recent stable release 7.3.2.

[2021-09-03 14:18] #2669 closed

[2021-09-03 14:19] bdw2292 commented on #2669
Great! can I grab with conda, or is this only on github?

On Fri, Sep 3, 2021 at 9:14 AM Benjamin Tovar ***@***.***>
wrote:

[2021-09-03 14:21] btovar commented on #2669
It is submitted to conda, but there is some delay until it becomes publicly available. I should be available soon with:

[code]

Thanks for your report. Please so not hesitate to contact us if you have any other issues, or questions!

[2021-09-03 14:25] bdw2292 commented on #2669
Okay no worries, I can install from source :) . Is there a way to track
conda updates, then I could compare with github commits?

On Fri, Sep 3, 2021 at 9:21 AM Benjamin Tovar ***@***.***>
wrote:

[2021-09-03 14:31] btovar commented on #2669
The tag `stable` always corresponds to the latest version submitted to conda.  The commits tagged with `stable` usually look like "Bump to X.Y.Z FINAL", where X.Y.Z is the version shown also in conda.  You can then check the history of the commits before the tag `stable` to see what changes have been included.

I add a summary of the changes to the release page in github here:
 https://github.com/

[2021-09-03 14:39] bdw2292 commented on #2669
Great thanks!

On Fri, Sep 3, 2021 at 9:31 AM Benjamin Tovar ***@***.***>
wrote:

[2021-09-03 16:26] btovar opened #2674 "wq: warn user that a task does not fit in any of the currently connected workers"
A task resource specification may preclude it to run on any of the connected workers. (E.g., task wants 2GB of memory, but workers have only 1GB). Currently the task waits forever in the queue, and a user has to investigate with `work_queue_status -A` to notice that there are tasks without workers able to run them.

It would be helpful to check, say, every 3 minutes, whether there are tasks that c

[2021-09-03 17:36] btovar opened #2676 "wq status: -T does not show resources used by the task set by its category"
`work_queue_status -T` only shows the cores, memory, gpus, and disk used by the task if they were set with `t.specify_*`.  If the resources of the task were set from its category, they are shown as -1.

[2021-09-06 15:19] jmrundle commented on #2653
PR [here](https://github.com/cooperative-computing-lab/cctools/pull/2679).

Was thinking it could also be useful to provide more flexibility with the types provided in the input file.  Currently, each parameter must match a certain JX type, otherwise an error is thrown.  However, with the new ability of expressing values as JX expressions, we may run into unavoidable type conflicts that likely sho

[2021-09-06 20:53] dthain commented on #2674
@cpreciad this would a good problem to start working on.  If a user sets up an application where the task doesn't match any workers, they need some good feedback to know what's happening.  (But of course, they should not get a premature or repeated alarm.)

[2021-09-06 20:54] dthain commented on #2671
@Cpreciad another good starter one.  This one is simple but surprisingly important: just invoke `nvidia-smi` directly instead of through `cctools_gpu_autodetect`

[2021-09-07 11:27] btovar commented on #2653
@jmrundle With the current implementation, cores, memory, and disk can be read as JX_DOUBLE.
workers min and max still need to be integers at the end, but we can read them as integers and then do a ceil() on them.

[2021-09-07 13:12] #2676 closed

[2021-09-07 20:18] bdw2292 opened #2682 "Question regarding behaviour of specify_cores(0)"
I have noticed that when I use task.specify_cores(0) that then the queue will assign the total allowed cores on that worker to this task. Was this the intended behaviour? The reason I am doing this is I have these wrappers that will submit their own quantum/molecular dynamics jobs, then they will eventually get to a point where they are just waiting for file outputs (jobs to finish) and takes up n

[2021-09-07 22:11] btovar commented on #2682
@bdw2292, yes, this is the intended behavior.  If none of cores, gpus, memory, or disk are specified or larger than zero, then a task will use the whole worker. This is to protect against the case of sending all tasks to a single worker. (Otherwise, tasks would have no "volume", and an infinity number of tasks could run in a single worker, which can't be true.)

If you specify some resources, but

[2021-09-07 22:14] btovar commented on #2682
Also, another case that may be relevant to you. If you specify gpus, but do not specify cores, then cores are set to zero. And as described above, gpus are always zero if unspecified.

[2021-09-07 22:43] bdw2292 commented on #2682
Okay so it sounds like no matter what, I have to have at least 1 cpu core
assigned (when gpus needed are 0). Do you think there would be a way to
distinguish between user forcing cores=0 and just user not specifying
cores? This would be helpful in my case as I ran into cases where I cannot
run GPU job since all CPU cores are taken up, but sometimes they cpu cores
being taken up are just these wrap

[2021-09-08 01:19] btovar commented on #2682
Sorry, what I meant was that you need one resource specified larger than zero, say one of disk or memory, and the rest specified as zero.  E.g., if workers report that they have 10000MB, if you t.specify_memory(50), and specify_{cores,disk,gpus}(0), you can have 200 tasks in a worker, regardless of the number of cores. However,  be cautious when doing such arrangements, as you don't want hundreds

[2021-09-08 01:35] #2682 closed

[2021-09-08 11:17] btovar commented on #2682
Sounds good! Do let us know if things are working for you!

[2021-09-08 14:05] bdw2292 commented on #2682
I'm sure they will :)

Also, this may be of interest to put on your website. I did not have luck with cygwin, there are many packages like this that have basically in complete Linux packages needed. However, its entirely possible to run an Ubuntu via docker container through windows powershell. It can even be run in background (don't have to directly interact with ubuntu) and can send commands suc

[2021-09-08 14:23] btovar commented on #2682
Thanks for the info! We will keep it in mind if somebody asks in the future.

[2021-09-08 18:34] Cpreciad commented on #2674
Possible work_queue.c functions to implement within:
ask_for_workers() : line 4156
work_queue_wait_internal: line 6261

Codebase Notes:
- a work queue task is defined in work_queue_task_create
- review in docs how a user specifies resources for a task, will help locate where I should check on worker status

[2021-09-08 21:12] bdw2292 opened #2684 "Manager submits to worker with --gpus 1 even if gpu card suddenly dies"
Hey,

I have noticed that the manger will submit gpu job to node with --gpus 1 even if the card suddenly dies. Is this something that could be patched?

- Brandon

[2021-09-09 11:31] btovar commented on #2684
How do you notice that gpu has failed?

The easy case would be if you can detect it when a task returns. In such case, you can block the worker, which means it is released by the manager, and since you are using --single-shot, it  will terminate. Say for example that the tasks that failed because of the gpu have exit code 123, then the main idea is to do something like this:

[code]

[2021-09-09 14:47] #2684 closed

[2021-09-09 14:47] bdw2292 commented on #2684
Ah that is very clever, is there a page that lists all possible error
codes? I will have to start printing them out when job fails. I typically
run "nvidia-smi" on the node and if that command fails (but I know there is
a GPU card), then I know that card has failed.

I see I have never tried resubmitting if job fails, although I did set max
retries=2, would that also give a new task id?

On Thu, S

[2021-09-09 14:56] dthain commented on #2684
@bdw2292 can you elaborate a bit on exactly what sort of failure mode you are contemplating/observing here?

- The GPU card is present in the system but has intermittent problems, causing tasks to fail when they run.
- The GPU card fails and "disappears" from the system, so that it it was there recently, but cannot be used now.
- The GPU card burned out some long time ago but remains physically in

[2021-09-09 15:03] bdw2292 commented on #2684
Ah I see error code is printed in worker.debug, I will have to look for
which one occurred.

I believe this would fall under "The GPU card fails and "disappears" from
the system, so that it it was there recently, but cannot be used now" .
After rebooting the node, the card comes back fine.

On Thu, Sep 9, 2021 at 9:56 AM Douglas Thain ***@***.***>
wrote:

[2021-09-10 18:04] Cpreciad commented on #2674
line 6261: work_queue_wait_internal
- this function waits, but what does it wait for. does it assign tasks?

Relevant Structs:

struct work_queue:
- contains two key members:
hash_table *worker_table  --> table of workers;
itable *tasks                        --> maps a taskid to a task
itable *task_state_map       --> maps taskid to state
list *ready_list                     --> tasks ready to be

[2021-09-10 18:18] dthain commented on #2674
Taking notes on what you discover is a good strategy, and also helps the rest of us to point you in the right direction.
It may be helpful to draw out a "tree" of function calls to note what calls what.

For example `work_queue_wait_internal` calls `send_one_task` in order to identify the next ready task and send it to a worker.  Have a good look at that function.

[2021-09-13 20:35] dthain opened #2685 "WQ+Python: Higher Level Abstractions"
Add several higher level abstractions to the Work Queue Python interface, something like the follows:

[code]

These should work by generating functions in the `PythonTask` interface, and then submitting and waiting as needed.
For the first implementation, each element of the array should be a single task, which should be pretty straightforward.
Make that a PR with a nice writeup in the manual.

T

[2021-09-17 12:29] btovar opened #2689 "poncho_package_run should fail when UNPACK_TO directory cannot be created"
Currently the call to mkdir $UNPACK_TO fails silently and the script keeps going.  The script should fail with an appropriate errmsg if the mkdir fails.

This bug can be reproduced with:
[code]

[2021-09-17 13:47] btovar opened #2691 "wq: delayed-wait tune parameter"
Add the tune parameter "delayed-wait" to `work_queue_tune` and `struct work_queue` `delayed_wait`, which is a boolean (int).

If 0 (the default), then work queue works as it currently does. As soon as a task changes state to `WORK_QUEUE_TASK_DONE`, we break out of the wait loop.

If not 0, then we do not break out of the loop, but do so only if the result of `send_one_task` and `receive_one_task`

[2021-09-17 14:06] btovar opened #2692 "work_queue_status HOST PORT is not very responsive"
When using `work_queue_status` to connect directly to a manager, the connection is treated as a `work_queue_worker`.  The issue with this approach is that `work_queue_wait` give priority to retrieving and sending tasks. If a task can be returned to the user, `work_queue_wait` immediately returns, regardless of any pending worker connections.  If a manager is busy sending and retrieving tasks, then

[2021-09-17 17:07] Cpreciad commented on #2674
TODO:
- figure out whether the work queue holds all workers(regardless of business or not) or if it holds only available workers
- add a flag to the work_queue_task struct
- figure out if a task has a time stamp attached to it
- find where work_queue_task struct exists
- implement notification within send_one_task

[2021-09-20 12:53] btovar opened #2696 "wq: over-commitment does not play nicely with fast terminate workers"
Fast abort disconnects a worker when **any** of the tasks assigned to the worker has been "running" for longer than (factor x average). The running time is computed since the task is committed to the worker. This does not work too well when tasks are sent to the worker, but they are not immediately executed (e.g., with the `asynchrony-multiplier`, `resource-submit-multiplier`), as tasks may not im

[2021-09-21 19:03] btovar opened #2699 "functions in dttools/src/copy_stream.c assume that total==0 is always an error"
The functions in copy_stream.c check whether the total bytes read are zero when deciding to return an error.  This is an issue for files that have zero length as the correct number of bytes to read is zero.

(I found this while debugging an error when copying files to the scratch directory of the work_queue_factory. One of the files has zero length, which was a bug in itself, but it got confusing

[2021-09-24 11:36] btovar commented on #2637
Present in coffea 0.7.7.

[2021-09-24 11:36] #2637 closed

[2021-09-24 11:37] btovar commented on #2638
Present in coffea 0.7.7.

[2021-09-24 11:37] #2638 closed

[2021-09-24 15:20] dthain opened #2701 "Makeflow: Don't redirect to stdout"
Matt Hayman reports:

"NCAR has recently imposed a new rule that jobs submitted to the Cheyenne cluster cannot direct output to /dev/null.  The job is killed as soon as the event is detected.  In investigating our software, my colleague and I have determined that makeflow appears to be redirecting some output to /dev/null.  Is there some way that we can redirect the output that makeflow is sending

[2021-09-24 15:24] dthain commented on #2701
The /dev/null comes from the wrapper script.  It's not really a problem b/c the user that wants to capture stdout of a makeflow task does so by redirecting the output in the command line itself.

We can hack this into place, but then the problem is that each job ends up creating a new output file that has to be cleaned up.   Thoughts?

https://github.com/cooperative-computing-lab/cctools/blob/40e3

[2021-09-24 15:41] btovar commented on #2701
We can add a:

batch_queue_option_is_yes(q, "verbose-batch-commands");   // makeflow --verbose-batch-commands

so that any -o and -e specification is not redirected to /dev/null

[2021-09-24 15:46] btovar commented on #2701
The drawback of not redirecting it to /dev/null is that each job will get a job_name.ojob_id and a job_name.ejob_id.  We could also always  write to  some `snprintf(stdouterr, PATH_MAX, "%s.stdouterr", sysname);` file, as we do for the wrapper, and clean the file when closing the queues, etc.

[2021-09-24 15:47] dthain commented on #2701
Ok, I'm drafting a bit of code right now, then will pass it off to you...

[2021-09-24 15:59] dthain commented on #2701
See #2702 for a first crack at it -- please go ahead and take it over the finish line.

[2021-09-24 18:53] Cpreciad commented on #2674
Notes from week 4:
- Creating function that checks for task comparability. uses check_hand_against_task to iterate a task through all workers and return if a task can fit any workers at all. Should verify that this is a correct way to achieve task comparability
- now know that I can call work_queue_fill_stats to get information on the workers in the queue.
--- Most importantly, I can use this info

[2021-09-28 12:30] btovar opened #2705 "wq: diagnose/remove bad workers from the work queue factory"
Sometimes the work queue factory has workers in the "waiting for connection" status for a very long time. Such workers do run as batch jobs, but never connect to the manager, and eventually time-out.  It would be nice to have a tool that at least detects the hostnames of such workers so that they can be debugged, terminated, or added to a block list.

For example, with condor, we can obtain the ho

[2021-09-28 14:39] trshaffer opened #2706 "JX: Add internal marker for JX functions with side effects"
Most JX functions are pure, i.e. their operation depends solely on their input arguments. (One of our string formatting functions does implicitly capture locals, need to be careful if there's ever a memoization feature.) Some functions, however, can interact with the outside world to e.g. fetch a URL or list a directory. These are useful in certain cases, but present a problem if we want to handle

[2021-09-30 14:33] dthain commented on #2701
Is there something more to do on this one?

[2021-09-30 14:33] dthain commented on #2685
@bwiseman77 you gave us a nice demo of this the other today.  Ready to make a PR?

[2021-09-30 14:34] btovar commented on #2701
No, Matt has confirmed --keep-wrapper-stdout works for them, and the fix is included in cctools version 7.3.3.

[2021-09-30 14:38] dthain commented on #2653
Completed by #2679

[2021-09-30 14:38] #2653 closed

[2021-09-30 14:39] dthain commented on #2643
@jmrundle you gave us a nice demo of this the other day, ready to make a PR?

[2021-09-30 14:40] dthain commented on #2663
@BarrySlyDelgado if this one is fixed, please link to the PR and close.

[2021-09-30 14:41] dthain commented on #2662
@BarrySlyDelgado if this one is fixed, please link to the PR and close.

[2021-09-30 14:42] dthain commented on #2661
@BarrySlyDelgado if this one is fixed, please link to the PR and close.

[2021-09-30 15:07] BarrySlyDelgado commented on #2662
This was fixed #2664

[2021-09-30 15:07] #2662 closed

[2021-10-01 03:56] bwiseman77 commented on #2685
@dthain I still just have to do treereduce. After I do that though, How would you like me to make a PR/write-up?

[2021-10-01 14:49] dthain commented on #2685
Commit your changes to a branch, push to your private repository, and then make a pull request.  Then, I'm sure we will have some comments and suggestions when the code is visible..

[2021-10-01 18:19] Cpreciad commented on #2674
Progress week 6:
- task resource requests are stored in task->resources_requested
- currently calling check_task_compatibility within send_one_task if a particular task fails to find a worker to claim
- check_task_compatibility calls a helper function to actually determine if a task can **ever** fit to a worker. this can and probably will be fleshed out more to more accurately determine if a task

[2021-10-07 17:08] btovar opened #2713 "wq: Public addresses are not reported to the catalog when using NAT"
As reported by  Sean Davey.

In particular, an amazon vm instance gets two ips. One private associated with an interface in the instance, and one public that gets resolved to the private using NAT. The issue is that the public ip is not paired with an interface in the instance, and therefore is never reported to the catalog.  (A wq manager reports all its interfaces and addresses to the catalog.)

[2021-10-07 18:12] btovar commented on #2713
A possible solution is that when the catalog updates the `address` attribute, it should also add it as an 'interface' to the `network_interfaces` list if none of the interfaces already have that address value. This allows us to simply update the catalog without forcing users to update their cctools version.

[2021-10-07 18:27] dthain commented on #2713
(Because the attempt to connect to the manager via an unreachable IP address could fail quickly, or it could fail very slowly.)

[2021-10-08 16:12] tphung3 opened #2714 "Workers default to 0 second timeout"
Below is the log file for a worker

[code]
Reason is unclear, but it seems that if we put a hostname and port or the project name as an option for the factory, the timeout of a work queue worker managed by that factory is set to 0.

[2021-10-22 23:19] walkerbdev opened #2718 "--gpus=0 still doesnt work"
Hello on version 7.3.4 (latest on conda), setting gpu=0 does not tell worker to not use any gpu, it still tries to use gpu.

[2021-10-25 14:28] #2718 closed, assigned to nobody

[2021-10-27 13:01] btovar opened #2719 "wq factory: not all workers are terminated when factory exits"
Observed with -Tcondor. After terminating the factory (C-c) sometimes some workers are not terminated. I have not been able to reproduce it with -Tsge.

[2021-10-27 21:09] #2713 closed, assigned to btovar

[2021-11-01 14:41] btovar opened #2723 "wq: resource summary files not cleaned up on early termination"
When using `q.enable_monitoring()`, if the queue is terminated after some tasks have been retrieved, but before they have returned to via `q.wait()`, the temporary summary files are left in the working directory.

We can't do much if the queue is terminated with a sigkill, but it would be cleaner to put all these files in a single temporary directory.

[2021-11-02 18:03] dthain commented on #2608
#2726

[2021-11-02 18:07] dthain opened #2730 "SHADHO: Check Task Resources"
@BarrySlyDelgado please take a look at the SHADHO source and determine where the WQ tasks are constructed, and what resources are being assigned.  It appears at the moment that every task is using eight cores, and I want to understand if that is being done deliberately or by accident.

[2021-11-02 18:08] dthain commented on #2544
Status?

[2021-11-02 18:27] dthain opened #2731 "WQ Allocations Test"
This test seems to periodically fail on Mac OS.

When running on Linux, it has the following problem:
[code]

After fixing that, I get this, indicating that the allocated number of gpus is not equal to the number of requested gpus:

[code]

[2021-11-03 21:23] tphung3 commented on #2544
[PR made.](https://github.com/cooperative-computing-lab/cctools-packaging-test/pull/3) Not done however.

[2021-11-09 15:34] #2544 closed

[2021-11-09 18:11] dthain commented on #2336
@jmrundle perhaps you want to take a look at this one?

[2021-11-10 17:23] btovar opened #2734 "makeflow_monitor: tasks_total is defined both as an attribute and a method decorated with @property"
At least with python 3.7.5 (as reported by Willem Marais) this causes an exception when we try to set `self.tasks_total = 0`, as it is interpreted as the @property, not the attribute.

[2021-11-11 14:00] #2734 closed

[2021-11-11 14:00] btovar commented on #2734
Willem confirmed it now works for him.

[2021-11-11 14:01] dthain commented on #2734
Great!

[2021-11-11 14:02] btovar commented on #2731
Taking this one over to speed the release of 7.3.6

[2021-11-11 14:21] btovar opened #2736 "coffea: wq executor hits AFS limit of files per directory"
Currently the filenames the wq executor uses per task are all written to the same directory. Further, the names are longer than 16 characters long, which means we can only write about 32000 files to an AFS directory. Since each task needs at least three files, and we keep all the files during retries and accumulations, Kelci has found the error "File too large", but only when using AFS.  Using the

[2021-11-11 14:24] dthain commented on #2736
A couple of considerations -
- Do we need to keep all these files for the lifetime of the run?  e.g. would it make sense to delete successful output as we go?
- Can the executor easily detect when the directory is full, so at least to offer a more specific error message?
-

[2021-11-11 14:26] btovar opened #2737 "wq: add wait_for_tag"
Add a `work_queue_wait_for_tag(q, tag)` call when only done tasks with the desired tasks are returned. It should work in conjunction with `work_queue_wait`, so that done tasks with the incorrect tag are not lost.

The use case is #2708, where only tasks of the corresponding calls are included in the results.

[2021-11-11 14:33] btovar commented on #2736
We do delete outputs as we go for successful tasks. The issue here seems to be that a retry keeps a reference to the original task (this to ease debugging). So, if xrootd is acting up and all tasks are going into the fifth retry, the number of files quickly adds up. The files themselves are less than 1k, so it is just the number of them. Deleting the original tasks does help, but we may hit the li

[2021-11-11 15:06] btovar opened #2738 "wq: worker workspace fails to complete cleanup"
This issue occurs rarely, and only has been observed with coffea when tasks share a python environment. When a worker disconnects from the manager, the workspace created is removed. However, if any executable file in the workspace is still in use (e.g., by a process that went out of the worker's control), the removal silently fails. If the worker is reused, then there is a chance that newer task w

[2021-11-11 16:38] dthain commented on #2738
Let me make a slightly more narrow suggestion:
- The workspace should have a "trash" directory in addition to tasks and cache.
- Replace instances of "delete_dir" with move-to-trash and then delete everything in the trash.
- Make sure that delete_dir actually checks for errors in remove and propagates them up.

[2021-11-11 16:38] dthain commented on #2730
@BarrySlyDelgado what's the status on this?

[2021-11-11 16:39] dthain commented on #2723
Is this really specific to resource summary files, or to output files of the task in general?

[2021-11-11 16:40] dthain commented on #2714
@tphung3 can you confirm whether this is a problem or not?

[2021-11-11 16:43] dthain commented on #2706
@jmrundle this would be a good smaller task to work on while you are ruminating on DeltaDB.

[2021-11-11 17:16] BarrySlyDelgado commented on #2730
@dthain I've traced backward from the task submission. There is a class called ComputeClass that has an instance variable named value. value will then be set as the input for task.specify_cores(). It seems when something uses Shadho it is able to specify a ComputeClass. If the ComputeClass is not created by the user the value for ComputeClass.value is set to None. Thus, for Sophia's case, I would

[2021-11-11 17:39] dthain commented on #2730
Can you paste a link to the relevant point?

[2021-11-11 17:39] btovar commented on #2723
Only resource summary files, as those are output files that CCTools adds to the task. We never cleanup output files declared by the user.

[2021-11-11 17:51] BarrySlyDelgado commented on #2730
Here is where cores are specified:
https://github.com/jeffkinnison/shadho/blob/bc530fb7034bff30a0bfef55a3983862dd3c37f4/shadho/managers/workqueue.py#L146

This is called from add_task here:
https://github.com/jeffkinnison/shadho/blob/f4d4c9fbf019203b1f984dbe13e0a8e2062f1fa0/shadho/shadho.py#L326
value = cc.value

cc is an instance of ComputeClass created here:
https://github.com/jeffkinnison/shadh

[2021-11-11 17:56] dthain commented on #2730
The deafult behavior of WQ is tha, if you do not specify the number of cores, the task will use all the cores available on the worker.  So, what (I think) we want her to do is specify 1 core per task, and then continue to run a factory creating 8-core workers. Please reach out to Sophia and help her to move in the right direction...

[2021-11-11 17:57] dthain commented on #2723
I think I'm ok with this behavior.  There are a variety of cleanup issues that need to be handled if a queue is prematurely terminated, and I think the right way to go is to run the whole application in a subdirectory, not just some of its files.

[2021-11-11 17:59] dthain commented on #2738
I'll take this one and do some hacking...

[2021-11-11 18:02] btovar commented on #2723
One thing I don't like is that the summary files is our mess, not the user's mess. A user may not know whether it is safe to rm the files, and when it is safe to do so. Further, they may be tempted to do a 'rm wq-*' to get rid of them, and that's just asking for trouble.

[2021-11-11 18:13] dthain commented on #2723
Well, this points to a need to have "transparent" data returned from a task.  It might be interesting to pull back an output file into a memory buffer, and then just hang that off the task until requested.  The opposite of an input buffer...

[2021-11-11 18:15] btovar commented on #2723
Yes, I like this idea. The resource summaries know how to parse themselves from a string already.

[2021-11-11 20:34] dthain commented on #2671
Just looked at gpu_info and observed that gpu_name_get() does approximately the right thing, but gpu_info_get is far too complex.

[2021-11-12 04:34] tphung3 commented on #2714
It is, the problem is reproducible in the Colmena-XTB workflow by the following steps:

- run a program that creates the wq manager by `make xtb`. I ran the manager on `condorfe.crc.nd.edu`
- on another terminal, spawn workers with wq factory like this:
`work_queue_factory -T condor -M colmena-xtb --condor-requirements='(has_scratch365)' -w 30 --workers-per-cycle=20 --python-package="env.tar.gz" -

[2021-11-12 04:39] tphung3 commented on #2714
Turning on debug mode in wq factory shows that the factory is indeed sending workers with timeout `-t 0`:
`2021/11/11 23:36:33.53 work_queue_factory[20122] batch: cleared option 'workers-blocked'
2021/11/11 23:36:33.53 work_queue_factory[20122] wq: submitting 20 new workers to reach target
2021/11/11 23:36:33.53 work_queue_factory[20122] wq: submitting worker: ./poncho_package_run -e env.tar.gz  .

[2021-11-12 13:22] dthain commented on #2738
#2740

[2021-11-12 13:38] dthain commented on #2714
Ok, you almost have it surrounded.  Try running it through the debugger to see where the variable worker_timeout gets changed.

Or consider using valgrind on work_queue_factory to see if it is due to some illegal memory access or similar.

[2021-11-12 19:26] btovar opened #2742 "TR_parrot_time_stop.sh fails on debian10 because of different date format"
======== TR_parrot_time_stop.sh PREPARE ========
======== TR_parrot_time_stop.sh RUN ========
Comparing output output.actual and output.expected
1c1
< Mon 01 Jan 2001 12:00:00 AM UTC
---

ERROR: output.actual and output.expected differ!
======== TR_parrot_time_stop.sh CLEAN ========
+ exit 1
+ finish

The date output should be standardized using the +FORMAT option.

[2021-11-12 20:22] dthain commented on #2742
Well, at least someone has the sense to recognize that 00:00:00 is neither AM nor PM!

[2021-11-15 19:19] dthain commented on #2685
PR #2744

[2021-11-16 15:01] btovar opened #2747 "makeflow: add wq openssl support"
pr  #2733 adds openssl support to wq.  We need to add --ssl_key and --ssl_cert options to makeflow to create wq queues with SSL support.

[2021-11-16 15:02] #2635 closed

[2021-11-17 14:53] bbockelm commented on #2635
@btovar -- Excited to hear about the TLS support?  In the current implementation, are you using SNI to indicate the desired hostname to the server?

This is the key trick we use in Coffea-Casa to run 100 users behind the same IP address.

[2021-11-17 14:56] btovar commented on #2635
@bbockelm We are! The workers use the `SSL_set_tlsext_host_name(ssl, hostname)`, so that information should be available before any handshake happens.

[2021-11-23 16:19] dthain opened #2760 "WQ+Coffea: Sync Examples and Tests"
@David-Simonetti-ND pointed out that he had some difficulty getting the Coffea+WQ example working correctly, and some changes were needed to the code.  Please have a look at the current example, and compare to our daily test, which does seem to be working correctly.  Make a PR to the Coffea documentation as needed to fix it.

Coffea instructions:
https://coffeateam.github.io/coffea/wq.html

Coffea

[2021-11-23 16:20] #2671 closed

[2021-11-23 16:26] dthain opened #2761 "Catalog: Add SSL Support"
Evaluate adding support for HTTPS to the catalog server.  It might be this simple:
- Add options for ssl cert and key to the main program.
- Listen on the SSL port.
- Accept connections, wrap the link with the (new) SSL features.
- Continue to handle the request as normal.

If it is that easy, then we can request a proper certificate for the server and deploy it.

The presenting issue is this:  Th

[2021-11-23 20:06] dthain commented on #2761
#2763

[2021-11-29 14:13] dthain commented on #2639
I believe we have decided this is just another symptom of #2738, correct?

[2021-11-29 14:14] btovar commented on #2639
Correct.

[2021-11-29 14:14] #2639 closed

[2021-12-07 15:20] dthain commented on #2760
@David-Simonetti-ND what's the status on this?

[2021-12-07 15:21] dthain commented on #2730
@BarrySlyDelgado what's the status on this?

[2021-12-07 15:22] dthain commented on #2691
#2746

[2021-12-07 15:23] #2691 closed

[2021-12-07 15:29] dthain commented on #2643
@jmrundle the running catalog server now has this feature deployed; please make a quick update to the work queue status page to use `like` correctly...
/afs/crc.nd.edu/group/ccl/web/ccl/software/workqueue/status.v4

[2021-12-07 15:55] BarrySlyDelgado commented on #2730
I have to review Sophia's code to find where the issue is arising.

[2021-12-07 17:18] jmrundle commented on #2643
Done.  Here's an example:
http://ccl.cse.nd.edu/software/workqueue/status.v4/?owner=^e.+$

[2021-12-07 17:32] dthain commented on #2643
Looks great, you can update the `status` symlink to v4 and call it done.

[2021-12-07 18:11] tphung3 commented on #2714
It's an error on the arguments for `work_queue_factory`. It should be `--tasks-per-worker=1` instead of `-tasks-per-worker=1`. In the latter the factory consumes `-t` from `-tasks-per-worker` which results in timeout of 0 seconds. In short, the factory is working as intended, no further actions are required.

[2021-12-07 18:12] #2714 closed

[2021-12-07 18:23] #2643 closed

[2021-12-07 19:10] btovar commented on #2714
Nice catch!

[2021-12-08 16:30] btovar opened #2770 "poncho_package_create: local pip --editable ignored if package has a version in the spec."
Example: with an spec that includes

[code]
if coffea is locally installed (e.g. --editable), then the local version is added to the final package, otherwise the latest stable version from pip is installed. However, with:

[code]

the local version is not found, and the stated version is installed. Since --editable packages takes precedence over any explicit stated version (e.g., because we are de

[2021-12-09 18:55] btovar commented on #2747
It is a little bit more complicated than I expected.  The issue is that `q=batch_queue_create(type)` only takes one argument (the type of batch), but we need to pass the key and cert when the queue is created. I'm thinking on how to this cleanly with minimal changes.

[2021-12-09 19:01] dthain commented on #2747
Perhaps we need a pattern along these lines?
[code]

[2021-12-09 19:05] btovar commented on #2747
Yes, perhaps something like that. I wanted to avoid the separation as I did not want to have wq as a special case in the wq factory and makeflow, but maybe that is the cleanest way.

[2021-12-10 17:53] #2731 closed

[2021-12-10 17:53] #2650 closed

[2021-12-10 17:53] #2608 closed

[2021-12-10 17:56] btovar commented on #2326
Compilation is now confirmed to work with gcc 11.2.0.

[2021-12-10 17:56] btovar commented on #2288
Not needed, they are converted automatically.

[2021-12-10 17:56] #2288 closed

[2021-12-10 17:57] btovar commented on #2016
@dthain, was this implemented in #2093?

[2021-12-10 17:59] btovar commented on #1052
See #2771

[2021-12-10 17:59] #1052 closed

[2021-12-10 18:03] dthain commented on #2016
Yes, however, #2093 still needs a conversion routine from old to new before I'm prepared to merge it.

[2021-12-12 20:11] bcdarwin commented on #2326
This inlining error still occurs for me with GCC 8 and above when compiling 7.4.1 or trunk (currently b1829604).

[2021-12-13 14:57] btovar commented on #2326
@bcdarwin thanks again for your report, and I'm sorry I closed this issue prematurely. Our compilation tests with conda (now the preferred delivery method) did not show any issues with the most recent compilers. I've just submitted a pr that seems to fix most issues with nix. The only thing missing is the recently added openssl support.

[2022-01-12 15:38] dthain opened #2781 "WQ: Add gpus to work_queue_status"
The display for `work_queue_status -R` shows cores, memory, and disk, but not GPUs.  Since the display is already pretty crowded, suggest dropping the disk columns and replacing with GPUs.

(Good starter issue for new student to work on.)

Current output:
[code]

[2022-01-13 18:02] btovar opened #2783 "wq: low disk space keeps manager running forever"
Before the manager transfers back an output file from a worker, it first checks that there is enough local disk space. If there is not, the transfer fails, the task fails, and it is reported as a worker error, which means that the worker is disconnected. If using the work queue factory, then this means that workers are replenished, and tasks are retried, but no progress is ever made. If not using

[2022-01-13 18:10] dthain commented on #2783
Or an even simpler placeholder:
- Emit a big warning message stating (disk is full) -- and block in that state until the user fixes it...

[2022-01-13 18:12] btovar opened #2784 "wq: low space on AFS seems to confuse transfer of output files"
Seen with topEFT. When there is low free space in the AFS volume to which the manager writes output files, the transfer of output files seems to occur correctly: the manager checks that there is enough space, and then reports that all expected bytes were written. However, the output files do not contain any bytes.  This was observed in a volume filled at 98%.

I tried to reproduce the error using

[2022-01-13 18:14] dthain commented on #2784
The AFS quirk here is that the file is not transmitted from the client to the server until close().
And so a file write looks successful all the way until you attempt to close(), and then the close() fails with an error.
Turns out that we have to check the error message from close!

[2022-01-13 18:18] btovar commented on #2784
Oh yes, we do not check the close exit status. Let me do a pr on that. For now I will make it a worker error to be consistent with other transfer failures, but we may want to change that later.

[2022-01-13 18:26] btovar commented on #2784
From the close man page:

       that errors on a previous write(2) operation are first reported at the final close().  Not checking the return value  when
       closing the file may lead to silent loss of data.  This can especially be observed with NFS and with disk quota.

That's us!

[2022-01-14 14:47] btovar commented on #2783
One of the issues about blocking the state is that it is not clear when to unblock. Should we unblock as soon as there is space for the transfer that just failed?

On top of that, like for AFS, the filesystem does seem to have space, but if fails until the close, so it is not exactly clear how much free space is really needed. Because of these, I'm partial to simply fail with an APP_FAILURE.

[2022-01-14 14:58] dthain commented on #2783
Right: `df /afs` (statfs) doesn't produce useful information about space.  `fs quota` does though...

[2022-01-14 15:11] btovar commented on #2783
That's was also a confusing aspect. For the topEFT workflow  fs quota gave a 98% utilization, with about 5GB free. Files we were trying to transfer were as small as 40MB, but they all failed. They were definitely some larger than that, but it seemed that those last GB were not available to us.

But say that `fs quota` does give a number we can use. Do you propose to call `fs quota` if we detect we

[2022-01-18 14:45] btovar commented on #2783
Studying the code more closely, the error reported is APP_FAILURE, but the task simply fails with OUTPUT_MISSING. As discussed in our meeting, I'll add a MANAGER_FAILURE that will terminate the workflow immediately. We may want to think of a more refined error handling in the future.

[2022-01-18 17:35] #2738 closed

[2022-01-22 17:59] dthain opened #2792 "WQ: PythonTask Compatibility Regression"
(moving discussion over from closed PR)

@RyanGutenkunst reports:

The behavior of PythonTask has changed recently (breaking our code), and my guess is that [this commit](https://github.com/cooperative-computing-lab/cctools/pull/2776#issuecomment-1018921846) did it.

As a quick example, the manager.py code here: https://cctools.readthedocs.io/en/latest/work_queue/ now fails with a
[code]
Was this

[2022-01-22 18:01] dthain commented on #2792
Yikes, this is a big problem, but I'm not encountering it.
Can you share your installation setup (e.g. sequence of Conda commands) so we can  see how you got there?

[2022-01-22 18:02] dthain commented on #2792
@btovar Can you please look at this on Monday morning?
@David-Simonetti-ND this is a perfect example of why we want to "test the documentation".\

[2022-01-24 15:36] #2792 closed

[2022-01-24 17:33] btovar commented on #2792
@RyanGutenkunst, could you give the current master branch a try to see if it works for you?

[2022-01-24 20:34] RyanGutenkunst commented on #2792
@btovar This seems to have fixed our issue. Thank you for the quick fix!

[2022-01-25 17:43] btovar opened #2795 "update conda instructions to use strict channel"
As observed in the packaging tests, the dependencies are resolved much faster. This will be the default in the upcoming major version of conda.

- [x] ccl web for developers
- [x] topeft
- [ ] coffea
- [x] packaging test
- [x] cctools readthedocs
- [ ] [parsl](https://parsl.readthedocs.io/en/stable/userguide/configuring.html?highlight=work%20queue#ccl-notre-dame-with-work-queue)

[2022-01-25 18:34] dthain commented on #2795
Also:
[ ] [Parsl-WQ installation instructions](https://parsl.readthedocs.io/en/stable/userguide/configuring.html?highlight=work%20queue#ccl-notre-dame-with-work-queue)

[2022-01-25 22:50] nicklocascio commented on #2781
Fixed in #2789

[2022-01-25 22:50] #2781 closed

[2022-01-27 13:11] btovar opened #2796 "incorrect slurm batch interface command line"
As reported in https://github.com/cooperative-computing-lab/makeflow-examples/issues/44, the cluster command lines are incorrectly constructed. We are adding a space between a resource value and its units, which confuses the sbatch commands. (The units are taken as a name of a file.)

[2022-01-28 19:48] dthain opened #2799 "Project: Characterize Madgraph"
The Madgraph application imposes a high metadata load on the filesystem.  Measure this monster with strace and characterize the number of files, directory traverals, etc performed in each stage of the application.

Instructions on a sample run from Kenyi here:

[code]

Note that this has to run on a machine with cvmfs, like earth.crc.nd.edu

[2022-01-28 20:05] dthain commented on #2737
Done?

[2022-01-28 20:10] dthain opened #2800 "Catalog:"
@jmrundle, collecting together a variety of things we have discussed.

- [ ] Front page of catalog should summarize number of records of each type.
- [ ] Drill down into records should show relevant details for that type.
- [ ] Should be possible to view current state, snapshot at a given Unix time, or grab history stream from time X to Y
- [ ] When ready, should use deltadb multiple tables to seg

[2022-01-28 20:12] dthain commented on #2800
Another element that would be nice:
- [ ] Allow a DELETE verb to remove a record from the catalog (if from the same host/ip addr).  This makes it possible for a cleanly shutdown service to remove itself when desired.
- [ ]

[2022-01-28 20:20] dthain opened #2801 "WQ: Prototype Serverless"
@nicklocascio here is a summary of what we discussed today on how to prototype a serverless feature in WQ:

- [X] Measure the latency of executing a full PythonTask in WQ.  (you already did this)
- [x] Measure the latency of doing a bare executable (e.g. /usr/bin/true) in WQ.
- [x] Take a look at the code for the worker in work_queue_worker.c (main program) and work_queue_process.c (part that actu

[2022-01-28 20:22] dthain commented on #2674
Fixed in #2771

[2022-01-28 20:22] #2674 closed

[2022-01-28 20:23] dthain commented on #2685
PR #2774

[2022-01-28 20:25] dthain commented on #2685
Next step on this one:

Measure the performance of an AllPairs execution on a relatively simple function for a large matrix that takes, say, one minute to run on ten workers.  Then, very the chunksize from too-small to too-large, so you can see a dramatic change in the performance at either end.

Once you have that, let's talk, and evaluate how to select the chunksize more dynamically.

[2022-01-31 12:35] #2737 closed

[2022-02-01 16:51] #2796 closed

[2022-02-01 18:13] btovar commented on #2795
In parsl there is not an issue, because the first thing they recommend is to modify the user's configuration with:

[code]

after which they create a new environment. Since the python they install comes from conda-forge, the dependencies are resolved quicker, as if using `--strict-channel-priority`.

I suppose this is something we could copy, but this changes the python's a user gets from defaults

[2022-02-01 20:02] dthain commented on #2795
No need to rework their instructions, as long as we are fitting inside them nicely.

[2022-02-07 15:31] tphung3 opened #2813 "WQ+Parsl+Colmena+xTB lost tasks' identities"
Issue: Tasks/Functions from xTB application lose their identities through many layers of function wrappers in Colmena and Parsl.
Details:
- For Colmena: Colmena creates a [ParslTaskServer](https://github.com/exalearn/colmena/blob/b3cd0d1bf9c6363999088860a9c735fd4d3f4c0b/colmena/task_server/parsl.py#L20) that handles task submissions and retrievals. This server [wraps functions](https://github.com/

[2022-02-07 18:00] tphung3 commented on #2813
@WardLT @kylechard

[2022-02-07 18:26] benclifford commented on #2813
ignoring the first issue in favour of colmena people commenting on it first.

The two parsl issues:

1) I think the behaviour you are experiencing is constrained to using the python app decorator against nameless callables.

I'm not sure what you mean then by this:

Are you expecting parsl to create some other name for this? or do you want the ability to specify a "name" that comes from a source t

[2022-02-07 18:40] WardLT commented on #2813
A note about the Colmena side: I've recently changed Colmena (commit on [Jan 4](https://github.com/exalearn/colmena/commit/9d3691059fbe4885bd25f0ffa7444d96153032f8)) to give different `__name__`s to different functions. Have you be able to test with this change?

I'll push a version of Colmena to pypi with this change by later this week, and can do earlier if you need.

[2022-02-07 18:53] tphung3 commented on #2813
@benclifford I agree that adding another field to the resource specs will work with minimum changes to other codes. Is there any other way to specify a task's type without using the resource specs dictionary, as a task's type is of its own and not a type of resource? For the second problem, it sounds like turning off monitoring will work. A @wrap decorator somewhere around [here](https://github.co

[2022-02-07 19:01] benclifford commented on #2813
@tphung3 the WQ task type is definitely the sort of attribute that I think belongs in the resource specifications dictionary, I think.

"resource" is a pretty loose term here, and includes things like "priority" which is similarly not a resource request in the sense of "I need this much RAM".

I agree that a wrap decorator in the right place is probably the right thing for monitoring - if you fix

[2022-02-07 19:59] WardLT commented on #2813
Could you post an example stack trace with the "run_and_record_timing() missing 1 required positional argument: 'result'"? I haven't seen that error before.

[2022-02-08 05:40] tphung3 commented on #2813
@WardLT The problem is on my end. I evaluated the function and logged it to see what it was, causing the above issue. Without my debugging code, the wrapped function is never evaluated until it has enough arguments, so your code runs fine. My apologies. Thanks for the pointer to `update_wrapper`. I already put it in my colmena so you don't have to push a new version yet.

[2022-02-08 11:09] WardLT commented on #2813
Glad you got it figured out and working!

On Tue, Feb 8, 2022, 12:40 AM Thanh Son Phung ***@***.***>
wrote:

[2022-02-08 14:05] benclifford commented on #2813
I think there's still a problem in parsl monitoring passing the name through, right?

[2022-02-08 15:15] tphung3 commented on #2813
The fix with wraps decorator is looking good now. I'm waiting for the experiment to complete to confirm.

[2022-02-08 15:59] benclifford commented on #2813
OK, cool, your PR is merged into parsl `master` branch now which I think resolves your 2nd parsl issue. Thanks for the PR!

[2022-02-09 17:55] tphung3 opened #2816 "WQ: work_queue_factory doesn't output debug info to file"
I ran work queue factory as follows:
`work_queue_factory -T condor -N colmena-xtb-v2 -w 20 -W 50 --workers-per-cycle 10 --tasks-per-worker=1 --cores 16 --memory=32000 --python-package env.tar.gz --debug-file=debug.log`
WQ factory ran as usual. It created `debug.log` but no information was written to that file, so `debug.log` was always empty. Running `work_queue_factory --help` returns the option

[2022-02-09 17:57] dthain commented on #2816
Enable debugging output with `-d all`

[2022-02-09 18:28] tphung3 commented on #2813
Conclusion: No problem with Colmena. 2nd problem of Parsl is resolved (check this [commit](https://github.com/Parsl/parsl/commit/ca1cfcb230d35925b86baf1201f67868249fcade)). 1st problem of Parsl is resolved in [this PR](https://github.com/Parsl/parsl/pull/2226).

[2022-02-09 18:28] #2813 closed

[2022-02-09 18:30] tphung3 commented on #2816
Issue resolved [here](https://github.com/cooperative-computing-lab/cctools/issues/2816#issuecomment-1034040283).

[2022-02-09 19:19] btovar commented on #2816
Perhaps  `--debug-file`  should imply `-dall` if no other `-d` is given?
At least a warning that a `-d` is needed would be helpful.

[2022-02-11 16:10] David-Simonetti-ND opened #2819 "work_queue_factory does not properly wait for children to finish before it returns"
work_queue_factory does not properly wait for all children to return before itself quits. An example of the problem is given below
<img width="1434" alt="Screen Shot 2022-02-04 at 10 34 03 AM" src="https://user-images.githubusercontent.com/31227025/153625094-aa5d36c1-846a-4daa-83d2-8ada39c9e456.png">
In this picture, the process tree for before and after sending SIGTERM to the work_queue_factory p

[2022-02-11 16:14] David-Simonetti-ND opened #2820 "cctools-monitor does not properly wait for child processes to return before itself exiting"
<img width="1432" alt="Screen Shot 2022-02-11 at 9 58 10 AM" src="https://user-images.githubusercontent.com/31227025/153627267-466d7932-ed3a-47e8-bfb5-1792aaf423ad.png">
The image is pictured above. The cctools-monitor process spawns a shell process that executes a python program on fn_wrapper, but in certain cases the cctools-monitor does not wait for child shell process and its python child proc

[2022-02-11 16:46] dthain commented on #2819
@David-Simonetti-ND great detective work, appreciate all of the detail.

While this fixes the immediate problem, I want to make sure that this doesn't break some other case where the `process` module is used.  The reasons for this module are described here:

https://github.com/cooperative-computing-lab/cctools/blob/master/dttools/src/process.h

Can you make a good argument that the proposed change

[2022-02-11 16:47] dthain commented on #2820
@btovar does the resource monitor use the `process` module to detect completion, or something else?  (Trying to decide if this is a duplicate of #2819 )

[2022-02-11 16:59] btovar commented on #2820
It does not. We do send a sigterm, wait at most 5s, and then send a sigkill for all the processes that we know, so this is interesting.

[2022-02-15 15:35] #2795 closed

[2022-02-17 05:12] David-Simonetti-ND opened #2823 "poncho_package_run does not properly wait for all children to finish before exiting"
When poncho_package_run enters its cleanup function which it calls on EXIT, it does not terminate any of its children or wait for them to exit before returning.
<img width="852" alt="Screen Shot 2022-02-16 at 9 45 48 PM" src="https://user-images.githubusercontent.com/31227025/154409417-30adab85-cefa-447a-8b47-27641873a7bf.png">
The problem is pictured above. poncho_package_run receives a SIGTERM f

[2022-02-18 20:17] nicklocascio commented on #2801
PR #2824 has the progress so far for the serverless prototype

[2022-02-18 20:18] nicklocascio commented on #2801
Here are the results for the tasks listed in this issue:

<img width="726" alt="Screen Shot 2022-02-18 at 3 18 05 PM" src="https://user-images.githubusercontent.com/21242960/154755442-780804f0-f744-4c11-b0ac-82d8429ab2d0.png">

[2022-02-21 14:22] btovar commented on #2823
@David-Simonetti-ND Is this helpful?

https://linuxconfig.org/how-to-propagate-a-signal-to-child-processes-from-a-bash-script

[2022-02-21 20:52] dthain opened #2825 "WQ: Coprocess Option"
@David-Simonetti-ND please work on this one, it will provide a clean setup and teardown step for #2824 and perhaps other facilities we may invent.

Add to `work_queue_worker` an option called `--coprocess` that will start an arbitrary process when the worker starts up.  (And also kill it when the worker shuts down.)

Then, that will allow @nicklocascio to couple a network function to a worker like

[2022-02-23 20:45] dthain commented on #2825
Let's make it a feature that is separate from tasks for now.

[2022-02-24 20:34] dthain commented on #2825
Sure, you could put it in `dttools/src/process.c` and call it `process_really_kill` or something to that end,
and then call it from both modules.

[2022-02-25 03:34] David-Simonetti-ND commented on #2823
@btovar it is helpful in the case where child processes are compliant and return but it doesn't address the problem of how to  SIGKILL a rebel child processes which doesn't return after a timeout is reached.
If poncho_package_run is used to run work_queue_workers, we can count on good behavior from the children and assume they will eventually terminate when sent SIGTERM? And even in the worst case

[2022-04-08 11:10] #2770 closed

[2022-04-14 14:43] benclifford opened #2843 "WQ worker hangs at/after dns: looking up name nid002025"
I've had several users encounter this a few times and I haven't figured out a solution and am a bit lost at how to debug further.

Sometimes we see WQ workers start up enough to make this much debug log, but then nothing more.

[code]

and then nothing else happens.

Here is stderr and stdout. (the time 21:59 is when we hit ctrl-c):

[code]

This does not always happen, but happens enough to be an

[2022-04-14 19:34] dthain commented on #2843
Yes, those debug statements wrap gethostbyname() and similar calls.
So, I think the most likely explanation is some sort of hang in name lookups on the node.

[2022-04-30 05:52] bwiseman77 opened #2850 "WQ: UTF-8 - surrogates not allowed"
Results from a remote pair abstraction successfully get computed in network_function.py, but when it gets sent over to the worker and is getting collected and printed in work_queue.py, the following error occurs:

<img width="1115" alt="Screen Shot 2022-04-30 at 1 45 45 AM" src="https://user-images.githubusercontent.com/72280180/166093213-cd4cf646-cacf-47ce-86b5-698ab16b7a37.png">

The top image c

[2022-05-06 14:09] tphung3 opened #2851 "C API documentation out of date"
The C APIs are out of date (I think) on the [ccl webpage](http://ccl.cse.nd.edu/software/manuals/api/html/work__queue_8h.html#a6b194f7d62af5310e5abc02b1d88f007).

[2022-05-06 14:10] btovar commented on #2851
Could you be more specific so I can check?

[2022-05-06 14:11] tphung3 commented on #2851
The `enum [work_queue_category_mode_t](http://ccl.cse.nd.edu/software/manuals/api/html/work__queue_8h.html#a6b194f7d62af5310e5abc02b1d88f007)` only has three types of allocation strategies, it should be 4 instead as max throughput is missing.

[2022-05-06 14:21] btovar commented on #2851
Got it. I think something went wrong with the formatting there.

[2022-05-06 14:56] btovar commented on #2851
Does it look good to you now?

[2022-05-06 15:19] tphung3 commented on #2851
It's good for me.

[2022-05-06 15:20] dthain commented on #2851
Ben, is there an automated process by which the ccl website gets updated with the latest API?  Or is this a manual process?

[2022-05-06 15:23] btovar commented on #2851
It updates automatically when deploying the new binaries to ND and the downloads webpage. Just in this particular case I updated that page manually, as it is just a small change.

[2022-05-06 15:26] dthain commented on #2851
I'm thinking a little bit about upgrading our web infrastructure, and this requires carefully separating our dynamically-generated content from our static pages.

(One possibility is github pages for the static part, and readthedocs for the dynamic part.)

Do you know if we can host doxygen-generated pages as part of readthedocs, or does that require a different kind of service?

[2022-05-06 15:30] #2851 closed

[2022-05-12 19:04] btovar opened #2855 "poncho_package_create: --use-feature=in-tree-build is not valid anymore in pip"
In newer versions of pip, `--use-feature=in-tree-build ` generates an error.  poncho should check the version of pip and only add this option for older versions. (The change seems to be in pip version 22.1)

[2022-05-12 19:10] klannon opened #2856 "Poncho Incompatible with Latest Version of Pip"
Pip has dropped the `in-tree-build` flag:
https://github.com/pypa/pip/commit/428e886ad6311faa20a36cf0d775bd5a9f7fb4f7

This is referenced here:
https://github.com/cooperative-computing-lab/cctools/blob/60bc42faba81c14856bff8b39fc4f53e700615ea/poncho/src/poncho_package_create#L128

Starting with `pip` version 22.1, `poncho_package_create` fails with the following error:
[code]

I believe that just

[2022-05-13 12:50] btovar commented on #2855
same as #2856

[2022-05-13 12:50] #2855 closed

[2022-05-18 15:41] dthain commented on #2823
@BarrySlyDelgado please update this with status and recommendation.  Is it fixed?  Does it need to be fixed?

[2022-05-18 15:43] #2816 closed

[2022-05-18 15:44] dthain commented on #2689
@BarrySlyDelgado ping?

[2022-05-18 15:44] dthain commented on #2819
@David-Simonetti-ND is there work to be done here?

[2022-05-18 15:45] dthain commented on #2820
@btovar is this fixed?

[2022-05-18 15:48] dthain commented on #2800
Thank you @jmrundle for the next work on the catalog and deltadb to get the historical view exposed and working.

Next piece for another student to work on is an improved landing page that summarizes records by type.

[2022-05-18 15:49] dthain commented on #2783
I think this issue has been addressed as far is it can be, yes?

[2022-05-18 15:50] btovar commented on #2820
Fixed #2821

[2022-05-18 15:50] #2820 closed

[2022-05-18 15:51] btovar commented on #2783
Correct.

[2022-05-18 15:51] #2783 closed

[2022-05-18 16:03] dthain commented on #2442
Closing inactive issue, please let us know if there is more to discuss.

[2022-05-18 16:03] #2442 closed

[2022-05-18 16:04] #2326 closed

[2022-05-18 16:10] dthain commented on #1749
This one is working.

[2022-05-18 16:15] benclifford commented on #2843
still investigating with the relevant site admins.

[2022-05-20 18:30] #2699 closed

[2022-05-23 15:01] David-Simonetti-ND commented on #2801
This issue will be the central hub for the improvements to the serverless feature. The bite sized list of tasks to be completed are below. The tasks are listed roughly in the order in which they should be completed.
- [] Get Brett's final PR Remote Python Function #2831 finalized and merged
- [] Measure the latency of executing a c function, running a basic PythonTask, and a basic serverless task

[2022-05-23 15:04] btovar commented on #2801
@David-Simonetti-ND Right now I'm adding a wq protocol message so that the worker knows whether the command should be executed in a coprocess. Should be done shortly, after that it is all yours...

[2022-05-23 17:59] David-Simonetti-ND commented on #2819
The problem was with batch_job_local_remove and should be fixed with #2822

[2022-05-23 19:48] sghuang19 opened #2861 "Add module dill into the conda dependency list"
Python module `dill` used by `PythonTask` in `work_queue` cannot be resolved automatically by `conda`.

Steps to reproduce:
1. Go through the example of `work_queue` at https://cctools.readthedocs.io/en/stable/work_queue/#quick-start-in-python.
2. After installing `ndccltools` via `conda`, try running `python3 manager.py`, which would fail.
[code]
3. Install `dill` via `conda`, then run `python3 m

[2022-05-24 12:10] btovar commented on #2861
Got it, thanks. dill is an optional module, but given that we use PythonTask in the quickstart example, I think it should be installed automatically along ndcctools. I'm updating the conda spec.

[2022-05-24 12:18] btovar commented on #2861
And of course... we should add that manager.py example to cctools-packages-test.

[2022-05-24 17:21] #2850 closed

[2022-05-24 17:28] sghuang19 opened #2863 "Support specifying path to gnuplot in makeflow_graph_log"
`makeflow_graph_log` and `work_queue_graph_log` both plots the log with `gnuplot`. `makeflow` only checks `gnuplot` in `PATH`, while `work_queue` only accepts the path to `gnuplot` with `-c` option.

Use `gnuplot` in `PATH` by default, use others if specified could be better.

[2022-05-24 19:00] sghuang19 commented on #2863
#2864

[2022-05-25 13:28] #2819 closed

[2022-05-25 18:29] btovar opened #2868 "wq: add input and output file transfers to the transactions log"
We need to record to the transactions log when a file is transferred to and from a worker. The transactions should have the following format:

[code]

The function `write_transaction` already takes care of timestamp and manager-pid, so it should be called as:
[code]

In these records, taskid is the id of the task the needs the input (e.g. t->taskid), or that produced the output, and workerid (e.g.

[2022-05-26 15:28] btovar opened #2869 "wq: plot the lifetime of tasks as reported by the transactions log"
Create a tool that reads the contents of the transactions log generated by wq and that graphs the lifetime of tasks, similar to a Gantt chart.

In the log, the most relevant lines are:

[code]

The tool should take into account that it may be run as the log are generated, thus not all task with a RUNNING state will have a DONE state before the MANAGER END transaction is reached. In such cases, the

[2022-05-26 15:41] btovar opened #2870 "topeft: plot the tasks' graph from the tasks_accum_log"
Create a tool that generates a dot file that encodes the dependencies of a topeft workflow. Each vertex represents a task, and there should be a direct edge from task A to task B if task B accumulated the results of A (i.e., the id of B appears as the `accum_parent` of A).

For now, ignore the preprocessing tasks (see category column), and tasks that do not have `accumulated` as their status.

Not

[2022-05-26 18:19] #2863 closed

[2022-05-26 18:19] #2823 closed

[2022-05-26 18:19] #2760 closed

[2022-05-31 12:44] dthain opened #2876 "JX: Short Circuit Evaluation"
JX boolean expressions do not currently implement short-circuit evaluation.  This leads to some unexpected errors when doing things like this:

[code]

Because `tasks_running` is evaluated for all objects, not just those satisfying `type=="wq_master"`.  The workaround is this:

[code]

But short-circuit evaluation would result in less confusion...

[2022-05-31 15:27] #2876 closed

[2022-05-31 18:48] andrewhennessee commented on #2870
I've generated an initial TopEFT workflow visualization that links processing functions to accumulation functions:
[tasks.log.wf.pdf](https://github.com/cooperative-computing-lab/cctools/files/8808415/tasks.log.wf.pdf)

We'd like for the visualization to include nodes for the output file size of each function. The tasks log for TopEFT does not yet track the size of the output files, so I'd like to

[2022-05-31 19:45] sghuang19 commented on #2868
#2879

[2022-06-06 13:01] dthain opened #2884 "Build: Add viz tools to dependencies."
Our various visualization tools assume the presence of gnuplot, convert, and perhaps some other tools in order to work correctly.  We used to assume these were universally available in /usr/bin, but that seems no longer to be the case.  @btovar please add these as proper dependencies in conda.

[2022-06-06 16:57] btovar commented on #2884
Since `ndcctools` may be included in the poncho packages, this increase in size will be noticeable at runtime (e.g. topEFT or coffea CI) with no upside, as those poncho packages don't use the graphing tools. I'd rather look for another solution.

[2022-06-06 16:58] dthain commented on #2884
Out of curiosity, what about (ndcctools+python+imagemagick)?

[2022-06-06 17:08] btovar commented on #2884
[code]

[2022-06-06 18:12] dthain commented on #2884
Ok, some potential solutions:

1 - Add all of our viz dependencies to cctools.  As you note above, that's going to be expensive, for those who don't need them.

2 - Modify our scripts to check for the proper dependencies, and then emit a message to "conda install x" if they are missing.  That's not bad, but does make a bit of an inside-out maintenance problem, esp if the user installed by a path o

[2022-06-07 17:46] btovar commented on #2884
- Option 1 is too expensive, and creates hassles to other tools that have a wq dependency (parsl, coffea).
- Option 2 may be ok. We don't need to tailor the instructions for every case. Just print the conda message if we see $CONDA_PREFIX.
- Option 3 will get confusing after a while. Also I'm afraid users may cctools-viz for every case just to be sure.
- Option 4 I like the best.

I propose to do

[2022-06-07 19:04] dthain commented on #2884
Quick check on impact of adding matplotlib to dependencies?

[2022-06-07 19:19] btovar commented on #2884
Oh dear, never mind. 1247MB.

What about option 2b:
- We print a warning when we can't find gnuplot, or convert.
- We add `conda install gnuplot etc.` to the official instructions.

[2022-06-08 13:36] sghuang19 commented on #2868
- Log format synopsis at the top of log file should also be updated.
- Worker ID or Worker IP Address? the latter one seems more intuitive and handy for following data processing

[2022-06-08 13:39] dthain commented on #2884
Ok, I think this is the best approach all around.

[2022-06-08 13:56] sghuang19 commented on #2868
[code]

[2022-06-08 18:39] #2706 closed

[2022-06-08 18:40] dthain commented on #2457
#2873 separates the expression language from the workflow language.  However, some more discussion of the expression language is needed to flesh things out.

[2022-06-09 17:46] btovar opened #2892 "include cache information in the transfer transaction"
Like:
[code]

where `cache_flag` is the integer from `f->flags & WORK_QUEUE_CACHE`.  I suggest changing `write_transaction_transfer` such that it receives the `work_queue_file *f` as an argument, rather than just its remote name.

[2022-06-10 15:00] #2868 closed

[2022-06-13 14:26] sghuang19 opened #2893 "wq: Inconsistency in worker RESOURCE log entries"
The current log entries for worker status is as follows:

[code]

Where the format of the `RESOURCES` entry is inconsistent with that of the connection and disconnection. Besides, a right parenthesis is missing from the second line.

Suggested changes:

[code]

So that they have a common format of

[code]

[2022-06-13 14:39] #2893 closed

[2022-06-13 15:11] #2869 closed

[2022-06-13 15:15] sghuang19 opened #2894 "wq: Plot the lifetime of workers"
Plot when do workers arrive, start to work, and leave. This might provide more insights for the system performance.

- Do workers arrive late?
- Or, the workers arrived in time, it was the manager who failed to make the workers occupied?

[2022-06-20 19:42] sghuang19 opened #2898 "wq: Documentation for transaction log visualizer"
We could add a brief usage explanation of the visualizer under this section:

https://github.com/cooperative-computing-lab/cctools/blob/master/doc/manuals/work_queue/index.md#transactions-log

Besides, `work_queue_gantt` is not quite self-explanatory considering we are not only generating "Gantt Chart"? Maybe we should use another file name.

@btovar

[2022-06-21 11:39] btovar commented on #2898
@sghuang19 I agree on the name. `work_queue_graph_workers_lifetime`, `work_queue_graph_workers`?

[2022-06-21 14:45] sghuang19 commented on #2898
I suggest `work_queue_graph_lifetime`, as the script plots the life time of the tasks and workers, and it conforms with the existing `work_queue_graph_log`.

[2022-06-21 14:50] sghuang19 commented on #2898
Docs could be in

https://github.com/cooperative-computing-lab/cctools/tree/master/doc/man/m4

and

https://github.com/cooperative-computing-lab/cctools/tree/master/doc/man/md

And add a section in

https://github.com/cooperative-computing-lab/cctools/blob/master/doc/manuals/work_queue/index.md#transactions-log

to briefly address the existence of the visualization tool.

[2022-06-21 14:50] btovar commented on #2898
`work_queue_graph_workers_usage`?  Lifetime may not work, as the graph does not really show the complete lifetime of the managers, the workers, or all the tasks states.

[2022-06-21 14:51] btovar commented on #2898
re: docs. You don't need to modify the .md file. It gets generated from the .m4 file.

[2022-06-21 15:03] sghuang19 commented on #2898
Maybe simply `work_queue_graph_workers`?

[2022-06-21 15:05] btovar commented on #2898
Sounds good.

[2022-06-21 15:44] David-Simonetti-ND opened #2899 "work_queue coprocess concurrency"
Currently, there is a one to one correspondence of workers to coprocesses (every worker spawns only one coprocess which remains for the life of the worker). Each coprocess is only able to run one task at a time, so an individual worker running a coprocess, no matter how many resources it has, is only able to work on one coprocess task at a given time. This presents a problem as a coprocess running

[2022-06-21 15:49] David-Simonetti-ND commented on #2899
To-do list
- [ ] Add an option to work_queue_worker allowing the specification of how many coprocesses to start
- [ ] Add resource specification to each coprocess (ex. one coprocess will get 2 cores, 2gb ram, etc)
     - [ ]  Add default option that will split the resources of the worker evenly between cores
- [ ] Allow the worker to report back to the manager how many coprocesses it is running so

[2022-06-21 16:15] dthain commented on #2899
This is a good description of the problem, thank you.
But let's work out some more details to be sure.

Under this scheme, do tasks require a resource specification?  And do they report resource usage when returned?

[2022-06-21 16:56] David-Simonetti-ND opened #2901 "work_queue coprocess resource management"
Any coprocess running on a worker will consume resources, so the resources it consumes should be monitored and reported. If a coprocess is only allocated so many resources and it exceeds that limit, the offending coprocess should be terminated and the job should retry/fail. The complication occurs in that the coprocess incurs an amount of resources when it is ran, and the function call incurs anot

[2022-06-21 16:58] David-Simonetti-ND commented on #2901
- [ ] Allow command line arguments to specify the resource usage limits for a coprocess (or how to divide up the resources on a worker)
- [ ] Have each coprocess running on one worker be ran through the resource monitor
    - [ ] Gather the resource usage data and kill the offending coprocess(s) if they exceed the limits
- [ ] Run each task through the resource monitor to measure the resource usag

[2022-06-27 14:21] sghuang19 opened #2904 "Copyright not updated for year 2022"
The documentation generated through m4 processor still has a copyright info of "2005 - 2021".

<img width="814" alt="image" src="https://user-images.githubusercontent.com/58419736/175963693-7aa8236b-7794-4ac7-b088-ee6e389a7617.png">

[2022-06-27 14:23] sghuang19 commented on #2904
This could be easily solved by modifying `manual.h`, should I do that? @btovar

[2022-06-27 17:23] btovar commented on #2904
Yes, please do!

[2022-06-28 12:51] #2904 closed

[2022-06-28 14:54] dthain opened #2907 "Cache Preprocessing Tasks in Coffea"
A non-trivial startup cost of TopEFT/Coffea applications is preprocessing.

In the pre-processing stage, a task is generated for each file in the dataset. The sole goal of each preprocessing task is to measure the size of the file, in terms of the number of events in the ROOT file.  This is not as simple as measuring the number of bytes: the task must open the root file and at least examine the in

[2022-06-28 15:00] sghuang19 opened #2908 "Refactor README in Markdown"
Our README file was written in plain text. Maybe rewriting it in Markdown makes some sense in 2022?

[2022-06-28 16:11] sghuang19 commented on #2908
@btovar What do you think?

[2022-06-28 16:30] btovar commented on #2908
Good idea, I'll take this one myself...

[2022-06-28 19:53] #2898 closed

[2022-06-28 19:54] #2870 closed

[2022-06-29 13:49] sghuang19 opened #2909 "wq: More accurate worker life time display in work_queue_graph_workers"
- Legends are missing from the gantt view.
- Modify the workers lifetime view, so that we could see if a worker is really working, not just if it has started to work or not.

[2022-06-29 14:31] David-Simonetti-ND commented on #2899
Diagram laying out the structure of how coprocess will execute
<img width="774" alt="image" src="https://user-images.githubusercontent.com/31227025/176456975-a8787aec-4ff5-4e92-8142-04017c0fd6aa.png">
Terminology/components:
The components that will be used to execute a RemoteTask are the coprocess controller, coprocess invoker, and function. The combination of invoker and function will be referre

[2022-06-29 14:47] David-Simonetti-ND commented on #2899
Coprocess instance (invoker/function)
This can behave almost identically to how the current network function works for executing RemoteTasks, except instead of receiving tasks directly from the worker, it will be receiving tasks from the coprocess invoker. Communication between the controller and invoker can be done via tcp as it is currently for the network function, but this can be replaced by p

[2022-06-29 14:52] David-Simonetti-ND commented on #2899
Resource usage:
There are two separate specifications for resource usage-task level and worker level.
Worker level resource usage will be defined as such
`work_queue_worker –cores A –memory B –disk C –gpus D –coprocess_cores E –coprocess_memory F –coprocess_disk G –copcrocess_gpus H`
The worker's resources will be partitioned such that the coprocess has the amount of resources guaranteed as specif

[2022-06-29 14:59] David-Simonetti-ND commented on #2899
Some other considerations:
The worker will need a way to report the split of its resources between coprocess and regular task to the manager. In addition, when the manager is dispatching coprocess tasks, it must check that the worker has enough coprocess resources left to send out the task.
Right now the resource monitors are monitoring the coprocess instances purely by PID but it might work out s

[2022-06-30 17:27] #2909 closed

[2022-07-01 13:59] David-Simonetti-ND commented on #2899
Per discussion on 7/1, the coprocess controller will be a module of work_queue_worker
Things to be done
- [ ] Enable the worker to start N number of coprocess, where N is passed at the command line, and keep track of the state of each coprocess
- [ ] Enable the worker to start multiple RemoteTasks at once instead of blocking for each one to complete
- [ ] Enable the worker to send a message to the

[2022-07-06 17:36] dthain opened #2917 "WQ Worker-Only Cache Notes"
Capturing some notes from our discussion today.

WQ ordinarily brings back all of the outputs of a task from the worker back to the manager, under the assumption that the end user will consume them, or they will be fed to another task which might execute at another location.

For large outputs that are to be consumed by a successive job, it may be desirable to leave those outputs in the worker's s

[2022-07-12 17:38] sghuang19 opened #2923 "JX documentation broken table"
https://cctools.readthedocs.io/en/stable/jx/jx/

A table in this doc is broken.

<img width="710" alt="image" src="https://user-images.githubusercontent.com/58419736/178557120-b9638c33-e1cd-47cb-8fe0-c4b37f8ac4f8.png">

[2022-07-13 12:04] #2923 closed

[2022-07-13 18:27] sghuang19 opened #2925 "Refactor process_info() with case statement."
![image](https://user-images.githubusercontent.com/58419736/178804659-818bbfe7-5052-4212-91dc-a9fd20300661.png)

These if elif statements are annoying, let's refactor them all with a case statement.

[2022-07-13 18:29] sghuang19 commented on #2925
@btovar What do you think?

[2022-07-14 03:24] sghuang19 commented on #2925
Just realized that it's different from switch case.

[2022-07-14 03:24] #2925 closed

[2022-07-14 11:40] #2843 closed

[2022-07-19 16:06] btovar opened #2926 "update from source install instructions in readthedocs to include conda env"
We should replace
http://ccl.cse.nd.edu/community/developers

with a proper link in
https://cctools.readthedocs.io/en/stable/install/from-source

Currently the readthedocs site does not have information on how to set the development environment with conda.

[2022-07-22 18:33] sghuang19 opened #2929 "Doc: WQ Manager Compiler Instructions"
https://cctools.readthedocs.io/en/stable/work_queue/

This piece of command in the documentation of work queue does not compile the example manager correctly, as it assumes the installation prefix to be home directory and does not include ssl.

<img width="721" alt="image" src="https://user-images.githubusercontent.com/58419736/180501893-6a7fca04-abca-46e5-bc72-d30c1b36a454.png">

Replace it with:

[2022-07-22 18:36] btovar commented on #2929
We should add a note that the -I and -L arguments depend on the installation.  If installing from conda, the command in the issue description will work. However, it won't work if using the default --prefix in ./configure, and if ${CC} is not set.

[2022-07-25 20:23] sghuang19 opened #2930 "WQ: Memory leak in queue_to_jx()"
<img width="807" alt="image" src="https://user-images.githubusercontent.com/58419736/181014251-8220f138-30eb-4f69-bef6-2131a1840790.png">

https://github.com/cooperative-computing-lab/cctools/blob/cb86e81350cb28ca3bb24740acd8b21fb6abb59b/work_queue/src/work_queue.c#L2626

`total` is not deleted.

[2022-07-25 21:30] sghuang19 opened #2931 "Catalog: Deep copy filter expression in catalog_query_create()"
<img width="473" alt="image" src="https://user-images.githubusercontent.com/58419736/180877117-e942b0ca-6853-4636-a2b8-6a85b59dac19.png">

We should deep copy `filter_expr` here.

[2022-07-26 11:15] btovar commented on #2931
Could you add a small explanation why?

[2022-07-26 11:23] btovar commented on #2931
One issue I see is that a deep copy is going to create a bunch of mem leaks in deltadb.

[2022-07-26 13:15] sghuang19 commented on #2931
Typically, once we have used an `filter_expr` to create this query, we will attempt to immediately free it. However, as the query takes ownership of this expression and will free it when the query is deleted, this will lead to double free.

[2022-07-26 14:18] dthain opened #2934 "RM: Dangling pointer to argv_sh"
gcc-8.5.0 discovers the following dangling pointer issue in the resource monitor setup b/c argv_sh goes out of scope.
@btovar can you look at this?  It wasn't immediately clear to me how to untangle it.

[code]

[2022-07-26 14:59] #2934 closed

[2022-07-26 18:10] btovar commented on #2930
Taking this one over to speed a release.

[2022-07-26 18:36] #2930 closed

[2022-08-01 16:58] dthain opened #2943 "Doc: Add section for visualization tools."
Add a section to the WQ documentation listing each of the WQ graphing and visualization tools, along with an example image for each one.  (We have quite a number of these, and they aren't obvious to new users.)

[2022-08-01 20:02] dthain commented on #2825
Complete.

[2022-08-01 20:03] #2856 closed

[2022-08-01 20:11] #2685 closed

[2022-08-01 20:13] #2457 closed

[2022-08-01 20:15] dthain commented on #2051
Or we may consider the problem the other way around.  The JX implementation relies substantially on dynamica memory allocaiton to build trees and linked lists, which likely has poor memory locality on modern architectures.  It might be a substantial improvement to convert dictionaries and lists into resizable arrays instead.

[2022-08-02 16:06] dthain commented on #2917
Attempting to prototype out this idea in #2944

[2022-08-02 16:22] dthain commented on #2917
API matters:
- Both input and output files must be declared as REMOTE_ONLY.
- The "local name" of the file ends up being the key for identifying the file.  It not longer corresponds to a physical file, but must be the same for the input and output task.  Should the user generate this key, or rely upon WQ to generate it.
- The REMOTE_ONLY flag implies CACHE, since the file lives beyond the completi

[2022-08-15 14:34] btovar opened #2949 "poncho_package_analyse: packages vs dependencies"
poncho_package_analyse and other tools should respect the conda specification for ease of use. This means that any occurrence of "packages" should be renamed to "dependencies".  Currently, the documentation also uses "packages".

[2022-08-16 16:34] btovar opened #2951 "wq python: _python_function_command may use incorrect python executable"
When using `PythonTask`, we wrap the function calls with:

[code]

That `python` executable comes from the $PATH, and may be a different executable version from the one running the wq manager. If both manger and task have the same environment (say from the same conda tarball), this not an issue. This issue appeared in tests with centos7, where a wq manager runs with python3, but the tasks wrappers

[2022-08-16 16:55] dthain commented on #2951
Advice from Python seems not to help...
https://peps.python.org/pep-0394/

[2022-08-16 16:57] dthain commented on #2951
It seems like we have two different ways to address this:
- Use `python3` explicitly, and revisit the issue when python moves to 4.0.
- Continue using `python` and take additional steps to make sure that the the worker is running in an appropriate environment.
- Something else?

[2022-08-16 17:07] btovar commented on #2951
Ensuring the appropriate environment would be an opportunity to use poncho. However, it takes minutes to build an environment and I don't know if we want to slow the tests for that.

If we use `python3`, then we would need to disable `PythonTask` for python2. But I'm fine with that, as any application still using python2 is not using the newer `PythonTask`.

We could append the 2 or 3 to the pytho

[2022-08-16 17:14] dthain commented on #2951
Oh, I see, this command line is constructed by Python code, right?  Why not just sense the python version on the manager side, and use that to construct the right command line?

[2022-08-22 16:56] btovar opened #2957 "makeflow: running in a directory that does not contain the dag file"
As reported in https://github.com/cooperative-computing-lab/makeflow-examples/issues/52, `makeflow -Tslurm` (or any of the systems in batch_job_cluster) does not work correctly when the dag file is not in the working directory. This is because makeflow can't find the slurm wrappers created. The quickest way to fix this is at least to print a warning advising the user to run makeflow in the same di

[2022-08-23 02:41] Kirito-Ma commented on #2957
Hi botvar,

I have another question. After I ran the makeflow, I find many core files created in my R script directory. I didn't know what they were. And if I deleted them, my make flow was deleted as well.
<img width="593" alt="截屏2022-08-23 10 40 07" src="https://user-images.githubusercontent.com/87351697/186057453-2e95f552-d0bd-4ff1-a153-beecca41fd79.png">

[2022-08-23 11:26] btovar commented on #2957
That indicates that there is a problem with your R script that is causing a memory error. The `core` files are copies of whatever was in memory when running your R script so you can debug it. These files are generated by R itself, though, not by makeflow. Given that your R scripts are failing with a memory error, my guess is that you are not getting the results that you want.

[2022-08-24 03:35] Kirito-Ma commented on #2957
Alright, thanks a lot for that.

[2022-08-30 18:18] btovar opened #2959 "wq factory: direct query to managers does not use ssl when needed"
When not using the catalog server, the factory contacts directly the managers for status updates. If the manager is using ssl, the factory fails to connect.

[2022-09-02 16:19] dthain opened #2962 "Vine: Pick New Project Name"
Thinking about a new software name for the evolution of Work Queue.
We had previously chosen DataSwarm as the replacement name, and used that in an NSF proposal.
But now that name is taken by some system at Facebook.
So we need some new ideas.

A good name should be:
- Descriptive of the actual system.
- Unique and not easily confused with something related.
- Easy to say and remember.

In retrosp

[2022-09-02 16:30] dthain commented on #2962
Some names from prior discussion with Ben:

- DataSwamp?
- dataspout, datatorrent, datacluster, all taken already.
- Even DataNozzle: https://irp-cdn.multiscreensite.com/d6d035b2/files/uploaded/Fuelling%20Tech%20DATANOZZLE%20Product%20Sheet%20Mar20_v3.pdf
- DataShower
- DataFlower

- datachatter
- datachirp
- datawhisk
- datawisp (taken)
- dataswirl?
- datamasher

- datadart
- datadash
- datasprin

[2022-09-02 16:31] dthain commented on #2962
Ben: I like dataclack!

- dataclaq
- dataclak

I'm liking it too, but there are a number of things with a short hamming distance:
- [datacloak.com](http://datacloak.com/)
- [dataclick.co.za](http://dataclick.co.za/)
- dataquack?
- dataquake is taken

[2022-09-02 16:31] dthain commented on #2962
- dataclack (no hits)
- dataclak (no hits, but google thinks its like datacloak)
- datacliq (no direct hits, but several names containing cliq)
- dataclique is taken

[2022-09-02 16:34] dthain opened #2963 "Inputs: Worker Listens on Port for Transfer Requests"

[2022-09-02 16:40] dthain commented on #2963
There are a lot of pieces to this one, it would be wise to make a PR for each checkbox and get it into the code piecemeal.

[2022-09-02 16:49] dthain opened #2964 "Vine: Handle Intermediate Files on Worker"
In Work Queue, a significant bottleneck occurs when tasks produce large outputs that must be consumed by later tasks.  (Let's call these intermediate files). Each output task is sent back to the manager, and then sent out again to the next worker.  This maximizes flexibility and fault tolerance, but results in an I/O bottleneck.

To address this, create a new feature specifically to handle interme

[2022-09-02 16:51] dthain opened #2965 "Add Persistent Cache Mode"

[2022-09-02 18:15] dthain opened #2966 "SHADHO: Update Build Procedure"
Take a look at the SHADHO app used periodically by the ND CVRL:
https://github.com/jeffkinnison/shadho

It makes use of a peculiar build configuration, perhaps due to some historical reasons:
[code]

The underlying reasons for this seem to be some strangeness with python2 needed for the SWIG build, which I think is no longer the case.  See if it can be made to work something like the following:

[

[2022-09-02 18:16] #2917 closed

[2022-09-02 18:18] dthain commented on #2964
Some notes from a prior discussion:

API matters:

- Both input and output files must be declared as TRANSIENT.
- The "local name" of the file ends up being the key for identifying the file. It not longer corresponds to a physical file, but must be the same for the input and output task. Should the user generate this key, or rely upon WQ to generate it.
- The TRANSIENT flag implies CACHE, since th

[2022-09-02 18:18] dthain opened #2967 "DS: Adapt Factory to DS Worker"
The `work_queue_factory` has encoded a lot of knowledge about how to submit, remove, and maintain a large number of processes that just happen to be a `work_queue_worker`.  We don't have to change much to make it functional for DS instead.  So, adapt the makefile to build two identical executables named `work_queue_factory` and `ds_factory`.  Use the `argv[0]` name of the executable to determine t

[2022-09-02 18:35] dthain opened #2968 "Vine: Port Documentation"
DS will needs its own distinctive documentation on readthedocs.  Use the WQ pages as a prototype, and copy them over and do a global search and replace as needed.  Then update the disctinctive parts as needed;
- [x] Introduction: focus on data management.
- [x] API changes: no direct access to task structures.
- [x] Metrics changes: query task and queue metrics by name.
- [x] New flags for transie

[2022-09-02 19:01] dthain opened #2969 "DS: Factoring: Separate Task Definition / State / Metrics"
The ds_task definition has become a monster, combining several distinct types of data:
1 - The definition of the task, its data, and requirements.  This should be immutable once created, and should be duplicated verbatim when a task is copied.
2 - The current state of the task in its execution: is it running, where is it running, how many times has it been attempted, etc.  This should be reset whe

[2022-09-02 19:49] BarrySlyDelgado commented on #2962
- datacamp
- datafusion
- datafuse
- datacollider
- datacolision
- datsandwich
- datasoup
- closecompute
- datatouie
- DataStorm

[2022-09-02 23:33] David-Simonetti-ND commented on #2962
datacyclone
datahurricane
datatwister
datatsunami
datamonsoon
datatyphon
databarrage
datablast
datatempest
datarush

[2022-09-05 18:09] dthain opened #2971 "DS Factoring: Separate Manager into Smaller Components"
The DS manager code is one monster C source file `ds_manager.c`,
Now that the public API has been separated out into `dataswarm.h`,
we can break the manager into more reasonable components.
- [x] Move the manager structures into `ds_manager.h`
- [x] Move auxiliary data types in `ds_manager.c` into their own datatypes with proper `create` and `delete` methods.
- [x] Separate manager into separate s

[2022-09-07 15:13] btovar opened #2973 "Generalize Handling of /tmp in CCTools"
See https://github.com/CoffeaTeam/coffea/issues/721

In particular, condor_submit_workers uses /tmp explicitly with no way to change it.

[2022-09-07 15:58] dthain commented on #2973
@btovar I'm not sure what the meaning of "isn't available" is here.
I do see from the HTCondor error messages that the job isn't finding its files at runtime.
But beyond that, I'm not sure what the diagnosis is.  Do you have a clear picture of the problem?

[2022-09-07 16:00] btovar commented on #2973
@patrickbryant  -E "-s .."  changes the directory of the worker itself at the remote site, not of the script.

@dthain Different processes see different /tmp.

[2022-09-07 16:06] dthain commented on #2973
Hmm, does that mean each process sees a different `/tmp`, or each user, or each session...?

In any case, it's likely we need to canvass the code base and deal with a number of `/tmp` references in a systematic way.

[2022-09-07 16:12] btovar commented on #2973
I'm not sure about that. For sure the schedd does not see the /tmp that the factory of the submit scripts create. So it could be per user, or per tree process.

[2022-09-08 15:57] painswor28 commented on #2962
DataMingle
DataGate
DataWirl
DataYard
DataJunction
DataStation
DataShed
DataBlend

[2022-09-08 16:33] dthain opened #2974 "PONCHO w/Mamba"
Investigate the use of Mamba within PONCHO natively.  Should we install Mamba via Condo, or bootrap with MicroMamba from the beginning?  Or is there some big downside to doing this, and we should stick with Conda?

[2022-09-08 20:06] dthain commented on #2963
PR #2972 sets up the initial pieces of this work.
Reworked the worker-manager transfer protocols to be symmetric, so they can be used for P2P transfer.
Added the `ds_transfer_server` to the worker to provide read-only access to the cache.
Now someone else can pick it up and add the `worker:` URL type to the worker.

[2022-09-09 16:49] colinthomas-z80 commented on #2962
DataFlash
TeleData
DataTrain
DataFreight
DataShip
DataVoyage
DataSpark
DataArc
DataMouse
DataCat

[2022-09-09 17:16] btovar commented on #2962
datattle

[2022-09-09 17:24] dthain commented on #2973
@colinthomas-z80 here is a good first issue to work on.  In short, we have a number of places in cctools that hard-code /tmp as a location for temporary files.  This (apparently) doesn't work at Fermilab, where different services run with private /tmp namespaces.  It will probably happen in other places as well.

So, first we need a strategy for choosing /tmp location, something like this.  (@btov

[2022-09-09 17:26] dthain commented on #2963
@colinthomas-z80 this will be a good next issue to work on, I think it's easy to get started on, but then builds up into some interesting scheduling issues.

[2022-09-09 17:31] dthain commented on #2962
Thinking about the system as a way of pulling data out of the FS and distributing it around the cluster:
- dataflood
- dataflooder
- datasponge
- datachamois ("datashammy")

[2022-09-09 17:37] #2951 closed

[2022-09-09 17:39] btovar commented on #2973
TMPDIR is the canonical name.

[2022-09-09 17:53] dthain commented on #2965
I think you want to apply it just to specific files, in the same way that the ordinary cache flag is done.
The typical use case in e.g. bioinformatics is that you have a small number of very large unchanging files that can re-used by many different applications.

[2022-09-09 18:32] BarrySlyDelgado commented on #2962
DataJet
DataFlash
DataFuse
DataStar
DataNova
DataQuark
DataSwirl
DataSeed
DataStem
DataTide
DataKnight
DataMass
DataField
DataRing
DataVector
DataStrap
DataScreen

[2022-09-09 19:25] leeping opened #2976 "Failed task causes core dump"
Hi there,

I was working on some unit tests for one of my packages that uses Work Queue.  For one of my tests, I have a task that intentionally fails by specifying an output file that is not produced.  My function that wraps around `work_queue.wait` has a feature that automatically resubmits the task in case of a failure (the reason is that such failures are often correctable by changing the envir

[2022-09-09 19:43] painswor28 commented on #2962
datanest
datafungus
dataspore
spore
datastump

[2022-09-09 19:46] painswor28 commented on #2962
datameoba

[2022-09-09 19:47] painswor28 commented on #2962
datamag
datacatamari
datacalamari

[2022-09-09 20:11] btovar commented on #2976
Hi @leeping, good to hear from you!

I'll check the code more carefully, but I wonder if it this line:
[code]
wq tasks free themselves in the python API when they go out of scope.

[2022-09-09 22:05] leeping commented on #2976
Thanks, Ben!  I removed the `del task` line and the error is still there.  That if block does not get called if the task fails.
 This time, the (intentionally) failed task was resubmitted twice before the core dump happened.

[code]

[2022-09-10 16:18] btovar commented on #2976
I could reproduce with this example:

[code]

[2022-09-10 16:23] btovar commented on #2976
@leeping, in the meanwhile you can clone the task before resubmitting, e.g.:

[code]

[2022-09-10 16:31] btovar commented on #2973
@colinthomas-z80 As part of this issue, let's change the staging directory in work_queue.binding.py so that there is one per queue, and that the location can be chosen from the WorkQueue constructor. Right now all such directories are created in /tmp

[2022-09-12 02:01] dthain commented on #2976
@btovar please translate this fix to the data swarm code as well.
Should still be be `ds_manager.c:clean_task_state`.

[2022-09-12 14:23] btovar commented on #2976
@leeping Could you give version 7.4.14 a try? It should be available with conda : `conda update -c conda-forge ndcctools`

[2022-09-15 15:36] dthain commented on #2971
PRs #2972 #2975 #2978 #2979

[2022-09-15 15:36] #2971 closed

[2022-09-20 12:41] dthain opened #2988 "Vine: PONCHO Integration"
I think we now have a way to cleanly integrate Python environments via PONCHO in the TaskVine framework.

Here is the problem:

`poncho_package_run package.tgz command` really does three things:
1 - untar a package
2 - specialize the package to the local host
3 - run the command in the package environment

If two instances want to run concurrently, then either they must unpack the package in separ

[2022-09-20 14:16] dthain opened #2991 "DS: Compose New Example Applications"
We need a set of new example applications that have substantial data requirements, so that they will benefit from the key new capabilities of data swarm, including remote data access, data sharing within the cluster, super-caching of persistent data, etc.

[2022-09-20 19:00] dthain opened #2993 "DS Task Ordering"
If you run one of the example DS applications, you will see that, by default, DS tasks are selected to run in the opposite order of how they are submitted.  This isn't exactly *wrong*, because tasks run concurrently and can complete in *any* order.  But it does seem unexpected.  Modify `ds_submit` so that freshly submitted tasks go to the back of the ready queue, instead of the front.

Easy first

[2022-09-20 19:05] dthain opened #2994 "Infra: Integrate Doxygen into ReadTheDocs"
Our technical API documentation is generated automatically by Doxygen from the code, and it serves as a good reference guide to everything that can be done with Chirp, Work Queue, Dataswarm, and other things:
http://ccl.cse.nd.edu/software/manuals/api/html/index.html

However, it is built by a separate process than both the code itself and our manuals in readthedocs, and so is hard to find and oft

[2022-09-20 19:16] dthain commented on #2991
PR #2987 #2990 show some straightforward behavior which works now,
but will benefit substantially from better data handling.

[2022-09-20 19:16] #2991 closed

[2022-09-21 15:48] dthain commented on #2969
Task properties are now grouped and documented nicely and the create/copy/delete methods deal with them appropriately in a consistent order.

[2022-09-21 15:48] #2969 closed

[2022-09-21 18:06] dthain commented on #2962
So, collecting together a number of themes and ideas...
And then eliminating things that already exist in google.

DataClack
DataSwizzle
DataPaver

TaskCyclone
TaskFlood
TaskFount

[2022-09-22 18:03] dthain commented on #2993
@JosephDuggan7 I think this would be a good first issue for you to work on.

Make sure you that pull the latest version of cctools from git (it's changing frequently) and then figure out how to run one of the examples in `dataswarm/src/examples` with a local worker.  You should see that tasks often complete in reverse order.

Then, look for `ds_submit` in `dataswarm/src/manager` and figure out whe

[2022-09-22 23:09] leeping commented on #2976
Hi @btovar , I will give this a test right now and let you know.  Thanks a lot!

[2022-09-23 01:11] leeping commented on #2976
The updated version resolves my issue. Thanks again for the rapid fix! :)

[2022-09-23 12:25] dthain commented on #2976
Glad to hear it, and thanks for letting us know.
Anything else we can tune up for you?

[2022-09-23 12:25] #2976 closed

[2022-09-23 15:28] leeping commented on #2976
At the moment, Work Queue is performing well, and my group members and I haven't had problems with it. :)

I think the conda package is great because it (probably) means I don't need to use our custom install script anymore.

A minor note is that my install script had been replacing some hard-coded timeout values in the source code due to some issues I experienced as a postdoc around 7-8 years ago

[2022-09-23 16:05] dthain commented on #2976
Indeed, this is fixable, let me start a new issue shortly...

[2022-09-23 16:06] dthain opened #2997 "WQ: Make Timeouts Tunable"
@leeping says:

A minor note is that my install script had been replacing some hard-coded timeout values in the source code due to some issues I experienced as a postdoc around 7-8 years ago (back then I was running some jobs that took longer than 1 day, and I think there were intermittent connection issues that led to jobs being dropped that didn't need to be dropped). I haven't had these issues

[2022-09-23 16:08] dthain commented on #2997
This is an easy one to fix, all we need to do is make `q->short_timeout` and `q->long_timeout` tunable via the `work_queue_tune` interface, so you can just call `q.tune("long-timeout",86400)` in your application.

(I don't recommend changing the `short_timeout`, since that is only used in a few specific cases where you want the manager to make a quick decision, such as dealing with a client that c

[2022-09-23 16:10] dthain commented on #2997
Oh, in fact those parameters are already in place!

@leeping just add `q.tune("long-timeout",86400)` and you should have the desired effect.

[2022-09-26 11:35] btovar commented on #2993
Also, tasks can't be added blindly to the beginning/start of the queue, as the priority of the task should be taken into account.

[2022-09-26 12:31] btovar commented on #2962
+1 DataClack, DataPaver

DataSwizzle is hard to spell and pronounce.

[2022-09-27 17:49] #2997 closed

[2022-09-27 18:01] #2967 closed

[2022-09-27 19:05] dthain opened #3003 "Test Issue"
Attempting to connect this project to a repository...

[2022-09-27 19:06] #3003 closed

[2022-09-27 20:08] dthain opened #3004 "Vine: API Renaming"
A number of the API names are clunky, or at least inconsistent with outside use of terms.  Our use of `specify` throughout is a bit of a mouthful.  I don't know of any other APIs that look like that.

Considering renaming as follows:

`vine_task_set_X` for setting individual properties.  If called multiple times, values are overridden.
`vine_task_get_X` for reading back that property.
`vine_task_a

[2022-09-28 15:53] btovar commented on #3004
One that gives me pause is `ds_task_enable_X`, as currently it is used to enable and configure. As long as all the things we want to enable have at most one char* argument I think it is ok.

[2022-09-28 15:57] dthain commented on #3004
I don't have a strong feeling about that one, what do you propose?

To clarify, I'm just talking about changing function names at this point, not signatures.

[2022-09-28 16:01] btovar commented on #3004
Ah yes, I keep forgetting the name of the property is not argument.

[2022-09-29 18:53] dthain opened #3010 "Build: CI on OSX-M1"
- [x] Code must be compatible with M1 for starters.  Currently, we can git clone; configure; make successful on an M1 laptop with Xcode installed.
- [x] M1 support in CI pipeline.  At the moment, it does not seem that GitHub has native support for M1 hardware.  The [Action Runner](https://github.blog/changelog/2022-08-09-github-actions-self-hosted-runners-now-support-apple-m1-hardware/) can run on

[2022-09-29 18:59] btovar commented on #3010
I'll give the conda matrix a try.

[2022-09-29 19:03] #2993 closed

[2022-09-30 15:59] dthain opened #3012 "Vine: wait_for_taskid"
Add a new top-level method to `dataswarm.h` called `ds_wait_for_taskid(manager,taskid,timeout)` that waits just for the given taskid to finish, and then returns that.

We will put this to good use in the higher level Python abstractions and Futures, where it will be much more efficient than `ds_wait_for_tag` which must scan all tasks in the list.

[2022-09-30 16:31] dthain commented on #3004
I was in there already and made the following API changes:

`ds_task_specify_{file/url/buffer/etc}`

becomes:

[code]

[2022-09-30 16:31] dthain commented on #3004
I'll let you do the big rename of specify->get/add/etc

[2022-09-30 16:45] btovar commented on #3010
The conda build has been merged. It should become available to install shortly.

[2022-09-30 16:48] dthain commented on #2962
Ok, I think this our list of finalists:
- DataClack
- DataPaver
- DataTulip
- TaskTulip
- TaskLily
- TaskVine
- TaskCyclone
- TaskFount

[2022-09-30 18:32] dthain commented on #2962
Following today's discussion, we have two finalists:
- TaskCyclone
- TaskVine

[2022-10-03 18:38] dthain commented on #2962
The verdict is in:

**TaskVine** is the name of the new software, to be used in documentation, papers, and so forth.

`taskvine` should be the top level namespace in any code and documentation:
- `cctools/taskvine/src/manager`
- `cctools/doc/manuals/taskvine`
- `taskvine.h`

The prefix `vine_` will be used as the shorthand namespace qualifier:
- `vine_create()` `vine_submit()` `vine_delete()`
- `v

[2022-10-03 18:41] #2962 closed

[2022-10-05 18:55] #2994 closed

[2022-10-06 12:56] dthain commented on #2988
@BarrySlyDelgado this one is a higher priority than the persistent caching one.

[2022-10-06 16:49] BarrySlyDelgado commented on #2988
Looking at this now, Is there a reason that under the  `VINE_UNPACK` flag when the cache_file suffix is `tgz` we don't unzip the file but when the `suffix` is `tar.gz` we do? That is, using `tar xf` vs `tar xzf`.

[2022-10-06 18:38] dthain opened #3022 "Vine: Complete JSON API to Manager"
SWIG provides an automated way to produce an interface to Python and nearly any other language (Perl, R, Go ... ) on top of our existing C libraries.  However, SWIG does not automatically produce a native look-and-feel, and suffers from a number of portability and complexity problems.  (For example, one must set PYTHONPATH appropriately in order to import the necessary libraries.)

We have a proto

[2022-10-06 18:39] dthain opened #3023 "Vine: Add Support for XRootD Data Fetch"
Add a handler for accessing input data via the xrootd protocol `root://host:port/path`.
This will allow us to pull and manage physics data within the DS cluster.
One likely complication is that the transfer may require some kind of authentication data.
Figure out how to make the auth data file a dependency for the transfer.

[2022-10-07 13:00] dthain commented on #3012
PR #3025

[2022-10-07 13:00] #3012 closed

[2022-10-07 18:15] #2949 closed

[2022-10-07 18:15] BarrySlyDelgado commented on #2949
Merged #2956

[2022-10-13 15:11] dthain opened #3029 "Vine: Translate Examples to Python"
We currently have several examples written in C in the `taskvine/src/examples` directory.  Please translate these examples into Python and add them alongside, so that we have `vine_example_blast.c` and `vine_example_blast.py` together.

This is in part just to build out our examples, but also to give you an opportunity to get familiar with the Python interface.

[2022-10-13 15:15] dthain opened #3030 "Vine: Build Out the Functional Abstractions"
Take a look at the high-level functional abstractions in the Python bindings: `map`, `reduce`, `pairs` and so forth.
- [x] Update the implementation of these abstractions so that they use `vine_wait_for_taskid` instead of relying on tags.
- [x] Add complete example programs using these abstractions to the `examples` directory.
- [x] Add a section to the Taskvine manual that explains how to use the

[2022-10-13 15:16] dthain commented on #2988
@BarrySlyDelgado how is this going?

[2022-10-13 15:45] BarrySlyDelgado commented on #2988
@dthain Writing out a test, had to get familiar with the interface. Though, I have a question regarding the caching. From my perspective, a user specifies the input file `env.tar.gz` with the flag `VINE_PONCHO_UNPACK`. The command is something along the lines of `poncho_package_run -u <unpack-directory> -e env.tar.gz python test.py` what goes into `<unpack-directory>`. With work queue it was somet

[2022-10-13 15:53] dthain commented on #2988
From the user's perspective, it should look like this:

`vine_task_add_input_file(task,"package.tar.gz","package",VINE_PONCHO_UNPACK)`

This means that the package will be unpacked into the cache directory,
then linked into the task sandbox as `package`.  So, the user's command should expect the unpacked directory to be in the current working directory, named `package`.

Does that clarify?

[2022-10-13 15:54] BarrySlyDelgado commented on #2988
Yes, that  makes thins clear.

[2022-10-17 20:04] BarrySlyDelgado commented on #2988
Update from discussion today:

- There is a current issue with local files not being able to be unpacked when added via `vine_task_specify_input_file(file)`

- Quick fix: use `vine_task_specify_input_url(''file:///<ABSOLUTE_PATH>)` instead

- There was an issue with the worker using the incorrect version of `poncho_package_run` thus `poncho_package_run` had to be added to the worker's path

[2022-10-18 14:07] btovar opened #3034 "Vine: set resources only through the API for categories"
Instead of:

[code]

we would have, for the "default" category:

[code]

Also:
[code]

becomes:

[code]

The way resources_max is set should be changed so that the following are equivalent:

[code]
(Currently, `set_category_resources_max` erases previous values when unspecified. `set_resource_max` would work as a union.)

@dthain

[2022-10-18 14:09] dthain commented on #3034
I'm not keen on using JSON in the native C interface.

[2022-10-18 14:14] btovar commented on #3034
In the C interface it is a struct rmsummary, as currently is with `vine_set_category_resources_max`. The python bindings transform the dictionary into a rmsummary, which catches undefined resources.

[2022-10-18 14:40] dthain commented on #3034
I'm concerned about using `rmsummary` as a primary element of the API.  It's quite a rich structure and tracks many more things than we actually manage or encourage the user to access.

What I do like about the existing task resource interface is that it is easy to incrementally specify what is known:

[code]

Is there a way to take a similar approach with categories, so that the API clearly refle

[2022-10-18 14:57] btovar commented on #3034
The problem with
[code]
is that it only applies to the maximum values. There is also a specification for minimum values, and starting first allocation. I don't like the idea that when we want to manage one more resource, we would need to add two or three more calls to the API, which means correctly updating the C code, the bindings, and the proxy.

However, if we really want to have the resource n

[2022-10-18 15:53] dthain commented on #3034
That's a good point, there are a lot of permutations here.
The most verbose (like OpenGL) would be:
[code]
Or you could put one axis as a parameter:
[code]
Or both:
[code]
Or finally:
[code]

I'm not sure, what's the right place to inhabit?

[2022-10-18 16:02] btovar commented on #3034
In C, I think this one makes the more sense:

[code]

In python, those constants look antipythonic,  so probably we want to map them to strings, and have some code (even some swig magic) to do the conversion.

[code]

A minor point, but maybe we want to put the category as the last argument:
[code]
In that way, the default category is simply:
[code]

[2022-10-18 16:05] dthain commented on #3034
For the sake of simplicity, I wouldn't object to strings in the C interface:
[code]

That makes it similar to `vine_tune` and avoids a bunch of SWIG craziness.

[2022-10-18 22:47] BarrySlyDelgado opened #3035 "Vine: Send Final Update on Delete"
An issue came up when testing poncho + vine that I'll detail here:

When starting a work_queue/vine factory with N number of  workers the factory will submit N workers in some fashion.
Once the manager connects to the workers the catalog server will be updated that that manager has N workers.
Upon exit of the manager the catalog entry for that manager remains with N workers connected.
If a user ex

[2022-10-19 13:50] btovar commented on #3035
@BarrySlyDelgado Here is something you can try. Use q.tune("wait-for-workers", n), in which wq/tv won't submit tasks until n workers connect. You would then have to look at the logs and trim the time before the n workers connect.

For performance tests this is something you always want to do, even when not using the factory, as you want to make sure that all your runs have the desired number of wo

[2022-10-19 13:51] BarrySlyDelgado commented on #3035
Thanks Ben!

[2022-10-21 20:04] colinthomas-z80 opened #3040 "TaskVine Python link is broken in API Documentation"
https://cctools.readthedocs.io/en/latest/api/html/

Also missing from Namespaces
https://cctools.readthedocs.io/en/latest/api/html/namespaces.html

[2022-10-24 13:27] btovar commented on #3040
@colinthomas-z80 I do see it at: https://cctools.readthedocs.io/en/latest/api/html/namespaces.html  Perhaps you are looking at a cached version?

I'll fix the other one.

[2022-10-31 18:49] btovar opened #3045 "Vine: change python bindings to use some_flag=True"
Right now we have things like:  `add_input_file(..., flags=VINE_UNPACK|VINE_CACHE, ...`, which is rather ugly in python. Instead, let's make each flag part of the api of the function:  `add_input_file(..., cache=True, unpack=True)`.

[2022-11-01 18:18] #3040 closed

[2022-11-09 19:24] #3029 closed

[2022-11-09 19:25] btovar commented on #3029
completed

[2022-11-09 19:32] btovar opened #3051 "Vine: truncate watched files on submission"
Currently, an output file marked with VINE_WATCH is not opened and truncated at the manager until the task that generates it runs.
On repeated runs, this means that one cannot trust that the file contains information from a current run (e.g. when watching log files).

One way to solve this is to truncate or remove a watched file when a task that produces it is submitted.

[2022-11-10 14:36] btovar opened #3052 "consolidate python bindings"
There are two main issues with the current generation of python bindings:

- Per cctool package (e.g. work_queue) there are two files copied to lib/pythonN.Y/site-packages: _package.so and package.py. Current practice is not to pollute site-packages, and to put all the needed dependencies inside a directory.
- The resource_monitor bindings are generated three times. Once to include them in the .so

[2022-11-10 16:56] btovar opened #3053 "chirp python bindings don't communicate nature of errors"
For example, if a client.get() fails, we don't know if it was because the file did not exist, of if there was a problem with the connection.

In C, I think we can check the value of errno. Ideally we could put that value in the exception object,

[2022-11-21 21:50] dthain opened #3057 "Vine: Poncho to MiniTask"
@BarrySlyDelgado please take a look at the new mini-task feature, and re-work the poncho handling so that we have `vine_file_unponcho(file)` in C, and also `taskvine.FileUnPoncho` in Python.  Once that's working, you can remove the special cases for Poncho in the manager and worker.

[2022-11-21 21:51] dthain commented on #3023
This should be quite easy to do now that we have Mini-Tasks #3046 !

`f = vine_file_xrootd(url,creds)`

[2022-11-22 12:24] btovar commented on #3023
Some parameters may be helpful, like:

[code]
where the `...` are columns.

[2022-11-22 13:56] dthain commented on #3023
Yes!  This will allow us to implement a kind of query caching of physics data.